.empty-symbol {
  font-size: 0.9em;
  font-style: oblique;
  cursor: default;
  white-space: no-wrap;
  &.not-applicable {
    color: #ccc;
    font-weight: 500;
  }
  &.unspecified {
    display: inline-block;
    color: #ccc;
    font-weight: bold;
    padding: 0 3px;
  }
  &.invalid {
    display: inline-block;
    color: #FF4D4F;
    font-weight: 700;
  }
}
