<nz-row id="section-tabs">
  <nz-col nzSpan="24">
    <nz-tabset nzLinkRouter nzType="card" nzSize="small" [nzSelectedIndex]="selectedTabIndex"
      [nzTabBarExtraContent]="extraTpl">
      <ng-template #extraTpl>
        <ng-container [ngTemplateOutlet]="tabBarExtraContent || null">
        </ng-container>
      </ng-template>
      <nz-tab *ngFor="let tab of tabs">
        <a *nzTabLink nz-tab-link [routerLink]="tab.routeName">
          <i nz-icon [nzType]="tab.iconName"></i>
          {{tab.tabLabel}}
        </a>
      </nz-tab>
    </nz-tabset>
  </nz-col>
</nz-row>