@if (display().showSpinner) {
  <span
    nz-icon
    nzType="loading"></span>
}
&nbsp;
<span>{{ display().message }}</span>

<cvc-form-submission-status-display
  entityType="Source"
  [mutationState]="mutationState"
  [successMessage]="success">
  <ng-template #success>{{ successMessage }}</ng-template>
  <form
    nz-form
    nzLayout="horizontal"
    [formGroup]="form"
    (ngSubmit)="onSubmit$.next(model)">
    <nz-row [nzGutter]="[0, 0]">
      <nz-col nzSpan="24">
        <formly-form
          [form]="form"
          [fields]="fields"
          [model]="model"
          [options]="options"
          (modelChange)="model = $event">
        </formly-form>
      </nz-col>
      <nz-col nzSpan="24">
        @if (checkResult(); as result) {
          <button
            nz-button
            nzType="primary"
            nzBlock
            [disabled]="result.citation === null">
            Add Source
          </button>
        }
      </nz-col>
    </nz-row>
  </form>
</cvc-form-submission-status-display>
