<ng-container *ngIf="(molecularProfile$ | ngrxPush) as mp">
  <nz-row [nzGutter]="[8,16]">
    <nz-col [nzSpan]="24">
      <nz-descriptions nzSize="small" nzBordered="true" [nzColumn]="1" nzLayout="vertical">
        <nz-descriptions-item nzTitle="MP Expression">
          <cvc-mp-tag-name [nameSegments]="mp.parsedName"></cvc-mp-tag-name>
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-col>
  </nz-row>
  <nz-row [nzGutter]="[8,16]">
    <!-- LEFT COL -->
    <nz-col [nzSpan]="12">
      <!-- left col layout row -->
      <nz-row [nzGutter]="[8,8]">
        <!-- variant description block-->
        <nz-col nzSpan="24">
          <nz-descriptions nzLayout="vertical"
            nzSize="small"
            nzBordered="true"
            [nzColumn]="1">

            <nz-descriptions-item nzTitle="Description">
              <p *ngIf="mp.description; else noDescription"
                nz-typography
                nzEllipsis
                nzExpandable
                [nzEllipsisRows]="14">{{ mp.description }}</p>

              <ng-template #noDescription>
                <cvc-empty-revisable notification="No description provided"> </cvc-empty-revisable>
              </ng-template>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="Sources">
              <ng-container *ngIf="mp.sources.length > 0; else noSources">
                <cvc-tag-list>
                  <cvc-source-tag *ngFor="let source of mp.sources"
                    [source]="source">
                  </cvc-source-tag>
                </cvc-tag-list>
              </ng-container>
              <ng-template #noSources>
                <span nz-typography
                  nzType="secondary">None specified</span>
              </ng-template>
            </nz-descriptions-item>

          </nz-descriptions>
        </nz-col>

        <!-- gene attributes block -->
        <nz-col nzSpan="24">
        </nz-col>
      </nz-row>

    </nz-col>

    <!-- RIGHT COLUMN -->
    <nz-col nzSpan="12">
      <!-- right col layout row -->
      <nz-row [nzGutter]="[8,8]">
        <!-- variant related entities, attributes -->
        <nz-col [nzSpan]="24">
          <cvc-mp-variant-card *ngFor="let v of mp.variants" [variant]="v"></cvc-mp-variant-card>
        </nz-col>
      </nz-row>
    </nz-col>
    <!-- END RIGHT COL -->

    <!-- evidence table -->
    <nz-col nzSpan="24">
      <cvc-evidence-table [molecularProfileId]="mp.id"
        [displayGeneAndVariant]="false"
        cvcHeight="300px"
        cvcTitle="Evidence">
      </cvc-evidence-table>
    </nz-col>

    <!-- assertions table -->

    <nz-col nzSpan="24">
      <cvc-assertions-table [molecularProfileId]="mp.id"
        cvcHeight="200px"
        cvcTitle="{{mp.name}} Assertions">
      </cvc-assertions-table>
    </nz-col>
  </nz-row>
</ng-container>