<ng-container *ngIf="!formControl.value?.id; else therapyListItem">
  <nz-select nzShowSearch
    nzServerSearch
    autofocus="click"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [nzPlaceHolder]="!to.placeholder ? null : to.placeholder"
    [nzNotFoundContent]="sourceLoader"
    [nzDropdownRender]="to.allowCreate ? addTherapyTmpl : null"
    [nzShowArrow]="to.showArrow"
    [nzFilterOption]="to.filterOption"
    (nzOnSearch)="to.onSearch($event)">
    <ng-container *ngrxLet="this.therapies$ as therapies">
      <nz-option *ngFor="let opt of therapies"
        nzCustomContent
        [nzLabel]="opt.tooltip"
        [nzValue]="opt.therapy">
        <nz-space>
          <span *nzSpaceItem [innerHtml]=" opt.label | highlightTypeahead: this.to.searchString">
          </span>
          <ng-container *ngIf="opt.therapy.therapyAliases.length > 0">
            <div *nzSpaceItem>
              <span 
              nz-typography 
              nzType="secondary"
              [innerHtml]="opt.therapy.therapyAliases.join(', ') | highlightTypeahead: this.to.searchString" >
              </span>
            </div>
          </ng-container>
        </nz-space>
      </nz-option>
    </ng-container>
  </nz-select>
  <ng-template #sourceLoader>
    No Therapy found in CIViC that matches the string provided.
  </ng-template>
</ng-container>
<ng-template #therapyListItem>
  <cvc-therapy-tag [therapy]="formControl.value"></cvc-therapy-tag>
</ng-template>

<ng-template #addTherapyTmpl>
  <ng-container *ngIf="this.displayAdd$ | ngrxPush">
    <ng-container *ngIf="this.to.searchString !== '' && this.to.searchString.length >= 5">
        <cvc-form-errors-alert *ngIf="this.errorMessages.length > 0" [errors]="errorMessages"> </cvc-form-errors-alert>
        <button *ngIf="this.errorMessages.length == 0" nz-button nzSize="small" [nzLoading]="this.loading" (click)="addTherapy(to.searchString)">
          <i nz-icon nzType="plus" nzTheme="outline"></i>No Existing CIViC Therapy&nbsp;<strong>{{ to.searchString }}</strong>&nbsp;found. Create A New Therapy?
        </button>
    </ng-container>
  </ng-container>
</ng-template>
