<nz-alert
  nzType="warning"
  [nzMessage]="endorsementMessageTemplate"
  nzShowIcon
  [nzIcon]="endorsementIconTemplate"
  [nzAction]="
    endorsement().status === 'REQUIRES_REVIEW' ? underReviewNotice : null
  "></nz-alert>
<ng-template #endorsementIconTemplate>
  <span style="color: #efbf04; font-size: 24px">
    <i
      nz-icon
      nzType="safety-certificate"
      nzTheme="fill">
    </i>
  </span>
</ng-template>
<ng-template #endorsementMessageTemplate>
  endorsed by
  <cvc-organization-tag
    [org]="endorsement().organization"></cvc-organization-tag>
</ng-template>
<ng-template #endorsementActionTemplate>
  <span
    nz-typography
    nzType="secondary">
    ({{ endorsement().lastReviewed | timeAgo }})
  </span>
</ng-template>
<ng-template #underReviewNotice>
  <nz-tag nzColor="blue">
    <i
      nz-icon
      nzType="info-circle"
      nzTheme="fill">
    </i>
    Under review
  </nz-tag>
</ng-template>
