<!-- container card components w/ inner tabs -->
<!-- each tab contains a subset of leaderboard lists -->
<!-- tab 1, "Editor Leaderboards":  accepted evidence items, accepted assertions, applied revisions  -->
<!-- tab 2, "Curator Leaderboards":  submitted evidence, submitted assertions, suggested sources -->
<!-- tab 3, "Contributor Leaderboards":  comments, revisions -->

<nz-card
  nzSize="small"
  [nzTitle]="cardTitle"
  [nzExtra]="cardExtra">
  <nz-row [nzGutter]="0">
    <nz-col nzSpan="6">
      <h4 class="leaderboard-title">Comments Added</h4>
      <ol class="leaderboard-list">
        <li *ngFor="let user of commentsLeaderboard$ | ngrxPush; let i = index">
          <cvc-user-tag [user]="user"></cvc-user-tag><br />
        </li>
      </ol>
    </nz-col>
    <nz-col nzSpan="6">
      <h4 class="leaderboard-title">Moderations Performed</h4>
      <ol class="leaderboard-list">
        <li
          *ngFor="
            let user of moderationsLeaderboard$ | ngrxPush;
            let i = index
          ">
          <cvc-user-tag [user]="user"></cvc-user-tag><br />
        </li>
      </ol>
    </nz-col>
    <nz-col nzSpan="6">
      <h4 class="leaderboard-title">Revisions Performed</h4>
      <ol class="leaderboard-list">
        <li
          *ngFor="let user of revisionsLeaderboard$ | ngrxPush; let i = index">
          <cvc-user-tag [user]="user"></cvc-user-tag><br />
        </li>
      </ol>
    </nz-col>
    <nz-col nzSpan="6">
      <h4 class="leaderboard-title">Submissions Made</h4>
      <ol class="leaderboard-list">
        <li
          *ngFor="
            let user of submissionsLeaderboard$ | ngrxPush;
            let i = index
          ">
          <cvc-user-tag [user]="user"></cvc-user-tag><br />
        </li>
      </ol>
    </nz-col>
  </nz-row>
</nz-card>

<ng-template #cardTitle>Curation Activity Leaderboards </ng-template>
<ng-template #cardExtra>
  <span>Time: </span>
  <nz-select
    nzSize="small"
    [nzDropdownMatchSelectWidth]="false"
    [ngModel]="timeWindow$ | ngrxPush"
    (ngModelChange)="timeWindow$.next($event)">
    <nz-option
      nzLabel="All"
      nzValue="ALL_TIME"></nz-option>
    <nz-option
      nzLabel="Past Week"
      nzValue="LAST_WEEK"></nz-option>
    <nz-option
      nzLabel="Past Month"
      nzValue="LAST_MONTH"></nz-option>
    <nz-option
      nzLabel="Past Year"
      nzValue="LAST_YEAR"></nz-option>
  </nz-select>
</ng-template>
<!--
acceptedAssertions: Int!
acceptedEvidenceItems: Int!
appliedRevisions: Int!
comments: Int!
revisions: Int!
submittedAssertions: Int!
submittedEvidenceItems: Int!
suggestedSources: Int!
-->
