<!-- container card components w/ inner tabs -->
<!-- each tab contains a subset of leaderboard lists -->
<!-- tab 1, "Editor Leaderboards":  accepted evidence items, accepted assertions, applied revisions  -->
<!-- tab 2, "Curator Leaderboards":  submitted evidence, submitted assertions, suggested sources -->
<!-- tab 3, "Contributor Leaderboards":  comments, revisions -->

<nz-card
  nzSize="small"
  [nzTitle]="cardTitle"
  [nzExtra]="cardExtra">
  <nz-row [nzGutter]="0">
    <nz-col nzSpan="4">
      <h4 class="leaderboard-title">Evidence Accepted</h4>
      <ol class="leaderboard-list">
        <li *ngFor="let user of userList$ | ngrxPush; let i = index">
          <cvc-user-tag [user]="user.node"></cvc-user-tag><br />
        </li>
      </ol>
    </nz-col>
    <nz-col nzSpan="4">
      <h4 class="leaderboard-title">Assertions Accepted</h4>
      <ol class="leaderboard-list">
        <li *ngFor="let user of userList$ | ngrxPush; let i = index">
          <cvc-user-tag [user]="user.node"></cvc-user-tag><br />
        </li>
      </ol>
    </nz-col>
    <nz-col nzSpan="4">
      <h4 class="leaderboard-title">Revisions Applied</h4>
      <ol class="leaderboard-list">
        <li *ngFor="let user of userList$ | ngrxPush; let i = index">
          <cvc-user-tag [user]="user.node"></cvc-user-tag><br />
        </li>
      </ol>
    </nz-col>
    <nz-col nzSpan="4">
      <h4 class="leaderboard-title">Evidence Submitted</h4>
      <ol class="leaderboard-list">
        <li *ngFor="let user of userList$ | ngrxPush; let i = index">
          <cvc-user-tag [user]="user.node"></cvc-user-tag><br />
        </li>
      </ol>
    </nz-col>
    <nz-col nzSpan="4">
      <h4 class="leaderboard-title">Assertions Submitted</h4>
      <ol class="leaderboard-list">
        <li *ngFor="let user of userList$ | ngrxPush; let i = index">
          <cvc-user-tag [user]="user.node"></cvc-user-tag><br />
        </li>
      </ol>
    </nz-col>
    <nz-col nzSpan="4">
      <h4 class="leaderboard-title">Revisions Submitted</h4>
      <ol class="leaderboard-list">
        <li *ngFor="let user of userList$ | ngrxPush; let i = index">
          <cvc-user-tag [user]="user.node"></cvc-user-tag><br />
        </li>
      </ol>
    </nz-col>
  </nz-row>
</nz-card>

<ng-template #cardTitle>Curation Activity Leaderboards </ng-template>
<ng-template #cardExtra>
  <span>Time: </span>
  <nz-select
    nzSize="small"
    [nzDropdownMatchSelectWidth]="false"
    [ngModel]="timeWindow$ | ngrxPush"
    (ngModelChange)="timeWindow$.next($event)">
    <nz-option
      nzLabel="All"
      nzValue="ALL"></nz-option>
    <nz-option
      nzLabel="Past Week"
      nzValue="WEEK"></nz-option>
    <nz-option
      nzLabel="Past Month"
      nzValue="MONTH"></nz-option>
    <nz-option
      nzLabel="Past Year"
      nzValue="YEAR"></nz-option>
  </nz-select>
</ng-template>
<!--
acceptedAssertions: Int!
acceptedEvidenceItems: Int!
appliedRevisions: Int!
comments: Int!
revisions: Int!
submittedAssertions: Int!
submittedEvidenceItems: Int!
suggestedSources: Int!
-->
