<cvc-section-navigation> </cvc-section-navigation>
<nz-page-header class="site-page-header">
  <nz-page-header-title>
    <i nz-icon nzType="civic:phenotype"></i>
    Phenotypes
    <span nz-typography nzType="secondary"  *ngIf="(isLoading$ | ngrxPush)">Loading...</span>
  </nz-page-header-title>

  <nz-page-header-content>
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <div class="content">
          <nz-table #phenotypesTable
            [nzData]="(phenotypes$ | ngrxPush)"
            [nzLoading]="(isLoading$ | ngrxPush)"
            [nzFrontPagination]="false"
            [nzShowPagination]="false">

            <thead (nzSortOrderChange)="onSortChanged($event)">
              <tr>
                <th nzWidth="40%" [nzColumnKey]="sortColumns.Name" [nzSortFn]="true">
                  Name
                </th>
                <th nzWidth="40%" [nzColumnKey]="sortColumns.HpoId" [nzSortFn]="true">
                  HPO ID
                </th>
                <th nzWidth="10%" nzRight [nzColumnKey]="sortColumns.EvidenceItemCount" [nzSortFn]="true"><i nz-icon nzType="civic:evidence" nz-tooltip nzTooltipTitle="Evidence count"></i></th>
                <th nzWidth="10%" nzRight [nzColumnKey]="sortColumns.AssertionCount" [nzSortFn]="true"><i nz-icon nzType="civic:assertion" nz-tooltip nzTooltipTitle="Assertion count"></i></th>
              </tr>
              <tr>
                <th>
                  <cvc-clearable-text-filter [(inputModel)]="hpoNameFilter" placeholderText="Search Name" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                </th>
                <th>
                  <cvc-clearable-text-filter [(inputModel)]="hpoIdFilter" placeholderText="Search HPO ID" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                </th>
                <th>
                </th>
                <th>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of phenotypesTable.data">
                <td>
                  <cvc-phenotype-tag [phenotype]="p"></cvc-phenotype-tag>
                </td>
                <td>
                  <cvc-link-tag *ngIf="p.hpoId; else noHpo" [href]="p.url" tooltip="View in the HPO">
                    {{ p.hpoId }}
                  </cvc-link-tag>
                  <ng-template #noHpo>--</ng-template>
                </td>
                <td>
                  {{ p.evidenceCount }}
                </td>
                <td>
                  {{ p.assertionCount }}
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>
<ng-container *ngrxLet="pageInfo$ as pageInfo">
  <button *ngIf="pageInfo.hasNextPage" nz-button (click)="loadMore(pageInfo.endCursor)">Load More</button>
</ng-container>
