<button
  nz-button
  nz-popover
  [nzPopoverContent]="settingsPopover"
  [nzPopoverTrigger]="'click'"
  type="button"
  nzType="default"
  nzSize="small">
  <span
    nz-icon
    nzType="setting"
    nzTheme="outline"></span>
</button>
<ng-template #settingsPopover>
  <div class="popover-content">
    <nz-row [nzGutter]="[8, 8]">
      <nz-col
        nzSpan="12"
        class="option-key">
        Include Automated Events
      </nz-col>
      <nz-col
        nzSpan="12"
        class="option-input">
        <label></label>
        <label
          nz-checkbox
          [ngModel]="includeAutomatedEvents()"
          (ngModelChange)="includeAutomatedEvents.set($event)"></label>
      </nz-col>
    </nz-row>
  </div>
  <!-- <nz-row [nzGutter]="[8, 8]">
    <nz-col
      nzSpan="12"
      style="text-align: right">
      Include Automated
    </nz-col>
    <nz-col nzSpan="12">
      <label
        nz-checkbox
        [ngModel]="cvcFeedSettingsOptions.includeAutomatedEvents"
        (ngModelChange)="includeAutomatedEvents.set($event)"></label>
    </nz-col>
    <nz-col
      nzSpan="12"
      style="text-align: right">
      Page Size
    </nz-col>
    <nz-col nzSpan="12">
      <nz-select
        [ngModel]="cvcFeedSettingsOptions.pageSizes"
        [nzOptionHeightPx]="28"
        nzSize="small">
        <nz-option
          *ngFor="let size of pageSizes"
          [nzValue]="size"
          [nzLabel]="size"></nz-option>
      </nz-select>
    </nz-col>
  </nz-row> -->
</ng-template>
