<button
  nz-button
  nz-popover
  [nzPopoverContent]="settingsPopover"
  [nzPopoverTrigger]="'click'"
  nzPopoverTitle="Activity Feed Settings"
  type="button"
  nzType="default"
  nzSize="small">
  <span
    nz-icon
    nzType="setting"
    nzTheme="outline"></span>
</button>
<ng-template #settingsPopover>
  <div class="popover-content">
    <nz-row [nzGutter]="[8, 8]">
      <!-- PAGE SIZE -->
      <nz-col
        nzSpan="12"
        class="option-key">
        Page Size
      </nz-col>
      <nz-col
        nzSpan="12"
        class="option-input">
        <nz-select
          [ngModel]="pageSize()"
          [nzOptionHeightPx]="28"
          (ngModelChange)="pageSize.set($event)"
          nzSize="small">
          <nz-option
            *ngFor="let size of pageSizes"
            [nzValue]="size"
            [nzLabel]="size"></nz-option>
        </nz-select>
      </nz-col>
    </nz-row>
  </div>
</ng-template>
