<ng-container *ngIf="phenotype$ | ngrxPush as phenotype" >
  <cvc-section-navigation [displayName]="phenotype.name"> </cvc-section-navigation>
  <nz-page-header class="site-page-header">
    <nz-page-header-title>
      <nz-space nzDirection="horizontal">
        <nz-space-item>
          <i nz-icon nzType="civic:phenotype"></i>
        </nz-space-item>
        {{ phenotype.name }}
      </nz-space>
    </nz-page-header-title>
    <nz-page-header-extra>
      <cvc-link-tag-r [href]="phenotype.url" tooltip="View in the HPO">
        {{ phenotype.hpoId }}
      </cvc-link-tag-r>
    </nz-page-header-extra>
    <nz-page-header-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</ng-container>
