<!-- <cvc-section-navigation [actionsTpl]="variantActions"> </cvc-section-navigation> -->
<cvc-section-navigation> </cvc-section-navigation>
<ng-template #variantActions>
  <ng-container *ngrxLet="viewer$ as viewer">
    <button routerLink="/variants/add/submit"
      nz-button
      *ngIf="viewer.isEditor"
      nzSize="small"
      nz-popover
      nzPopoverTitle="Add New Variant"
      nzPopoverTrigger="click"
      [nzPopoverContent]="addVariantForm"
      nzPopoverPlacement="bottomRight">
      <i nz-icon nzType="plus-circle"></i>
      Submit New Variant
      <ng-template #addVariantForm>
        <div class="addVariant">
          <cvc-variant-submit-form></cvc-variant-submit-form>
        </div>
      </ng-template>
    </button>
  </ng-container>
</ng-template>

<nz-page-header class="site-page-header">

  <!--content-->
  <nz-page-header-content>
    <!-- title, description, docs links -->
    <nz-row class="header-content">
      <nz-col nzFlex="64px"
        class="header-icon">
        <i nz-icon
          nzType="civic:molecular-profile"></i>
      </nz-col>
      <nz-col nzFlex="600px"
        class="header-description">
        <h2>Variants</h2>
        <p nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="2">CIViC molecular profiles are... .</p>
      </nz-col>
      <nz-col nzFlex="auto"
        class="header-links">
        <nz-space nzDirection="vertical" class="docs-buttons">
          <a nz-button
            href="https://civic.readthedocs.io/en/latest/model/molecular_profiles.html"
            target="_blank"
            nzSize="small"
            nzBlock
            *nzSpaceItem>
            <i nz-icon
              nzType="link"
              nzTheme="outline"></i>
            View Molecular Profiles Model Docs
        </a>
          <a nz-button
            href="https://civic.readthedocs.io/en/latest/curating/molecular_profiles.html"
            target="_blank"
            nzSize="small"
            nzBlock
            *nzSpaceItem>
            <i nz-icon
              nzType="link"
              nzTheme="outline"></i>
            View Molecular Profiles Curation Docs
        </a>
        </nz-space>
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-col [nzSpan]="24">
        <div class="content">
          <cvc-molecular-profiles-table cvcTitle="Browse All Molecular Profiles"></cvc-molecular-profiles-table>
        </div>
      </nz-col>
    </nz-row>
  </nz-page-header-content>
</nz-page-header>
