<nz-select
  [formControl]="formControl"
  [formlyAttributes]="field"
  [class.ng-dirty]="showError"
  [nzMode]="props.isMultiSelect ? 'multiple' : 'default'"
  [nzPlaceHolder]="props.placeholder || 'Select AMP/ASCO/CAP Category'"
  [nzDisabled]="!!props.disabled"
  [nzCustomTemplate]="selectedTpl">
  @for (category of optionValues(); track category) {
    <nz-option
      nzCustomContent
      [nzValue]="category"
      [nzLabel]="category">
      <nz-tag>
        <strong>{{ category | formatAmp: 'verbose' }}</strong>
      </nz-tag>
      <span
        nz-typography
        nzType="secondary"
        >{{ descriptionForCategory(category) }}</span
      >
    </nz-option>
  }
</nz-select>

<ng-template
  #selectedTpl
  let-selected>
  <div class="ant-select-selection-item-content">
    @if (props.isMultiSelect) {
      {{ selected.nzValue | formatAmp: 'verbose' }}
    } @else {
      <nz-tag
        nzMode="closeable"
        (nzOnClose)="onTagClose()">
        <strong>{{ selected.nzValue | formatAmp: 'verbose' }}</strong>
      </nz-tag>
    }
  </div>
</ng-template>
