<cvc-enum-select
  [cvcFormControl]="formControl"
  [cvcFormlyAttributes]="field"
  [cvcSelectMode]="props.isMultiSelect ? 'multiple' : 'default'"
  [cvcPlaceholder]="placeholder$ | ngrxPush"
  [cvcCustomTemplate]="selectedTemplate"
  [cvcOptions]="selectOption$ | ngrxPush"
  [cvcShowError]="showError"
  [cvcDisabled]="props.disabled"></cvc-enum-select>
@for (enum of ampCategoryEnum$ | ngrxPush; track enum; let i = $index) {
  <ng-template #optionTemplates>
    <nz-tag>
      <strong>{{ enum | formatAmp: 'verbose' }}</strong>
    </nz-tag>
    <span
      nz-typography
      nzType="secondary"
      >{{ descriptionForCategory(enum) }}</span
    >
  </ng-template>
}

<ng-template
  #selectedTemplate
  let-selected>
  <div class="ant-select-selection-item-content">
    @if (!props.isMultiSelect) {
      <nz-tag
        nzMode="closeable"
        (nzOnClose)="onTagClose$.next($event)">
        <strong>{{ selected.nzValue | formatAmp: 'verbose' }}</strong>
      </nz-tag>
    }
    @if (props.isMultiSelect) {
      {{ selected.nzValue | formatAmp: 'verbose' }}
    }
  </div>
</ng-template>
