@let clinicalSignificances = cvcClinicalSignificances();
@if (clinicalSignificances.length > 0) {
  <nz-table #smallTable
    nzSize="small"
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
    [nzFooter]="null"
    [nzData]="clinicalSignificances">
    <tbody>
      @for (significance of clinicalSignificances; track significance) {
        <tr>
          <td>
            <cvc-attribute-tag
              [cvcAttrValue]="significance.type"
              nz-tooltip
              iconPropertyType="type"
              [nzTooltipTitle]="
                significance.type | enumTooltip: 'assertionType'
              ">
            </cvc-attribute-tag>
          </td>
          <td>
            <cvc-attribute-tag
              [cvcAttrValue]="significance.direction"
              [cvcShowLabel]="false"
              nz-tooltip
              [nzTooltipTitle]="
                significance.direction
                  | enumTooltip
                    : 'assertionDirection'
                    : significance.type
                    : 'Assertion'
              ">
            </cvc-attribute-tag>
          </td>
          <td>
            <cvc-attribute-tag
              [cvcAttrValue]="significance.significance"
              nz-tooltip
              [nzTooltipTitle]="
                significance.significance
                  | enumTooltip
                    : 'significance'
                    : significance.type
                    : 'Assertion'
              ">
            </cvc-attribute-tag>
          </td>
          <td>
            {{ significance.count }}
            <i
              nz-icon
              nzType="civic-assertion"
              nz-tooltip
              nzTooltipTitle="Assertion Count"></i>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
<!--   <nz-descriptions
    nzSize="small"
    nzLayout="horizontal"
    [nzColumn]="1"
    nzBordered="true">
    @for (significance of clinicalSignificances; track significance) {
      <nz-descriptions-item
        [nzTitle]="significanceDescription">
        {{ significance.count }}
      </nz-descriptions-item>
      <ng-template #significanceDescription>
        <cvc-attribute-tag
          [cvcAttrValue]="significance.type"
          nz-tooltip
          iconPropertyType="type"
          [nzTooltipTitle]="
            significance.type | enumTooltip: 'assertionType'
          ">
        </cvc-attribute-tag>
        <cvc-attribute-tag
          [cvcAttrValue]="significance.direction"
          [cvcShowLabel]="false"
          nz-tooltip
          [nzTooltipTitle]="
            significance.direction
              | enumTooltip
                : 'assertionDirection'
                : significance.type
                : 'Assertion'
          ">
        </cvc-attribute-tag>
        <cvc-attribute-tag
          [cvcAttrValue]="significance.significance"
          nz-tooltip
          [nzTooltipTitle]="
            significance.significance
              | enumTooltip
                : 'significance'
                : significance.type
                : 'Assertion'
          ">
        </cvc-attribute-tag>
      </ng-template>
    }
  </nz-descriptions> -->
} @else {
  <span nz-typography
  nzType="secondary">No associated Assertions</span>
}
