@if (!model || model.length === 0) {
  <button
    (click)="addRow()"
    nz-button
    nzType="primary"
    nzBlock>
    Add Filter
  </button>
} @else {
  @for (subFilter of field.fieldGroup; track $index) {
    <nz-row [nzGutter]="[8, 8]">
      <nz-col nzFlex="auto">
        <formly-field [field]="subFilter"></formly-field>
      </nz-col>
      <nz-col nzFlex="0 0 64px">
        <div style="padding-top: 4px; display: flex; justify-content: flex-end">
          <nz-space
            nzSize="small"
            nzDirection="horizontal">
            <button
              *nzSpaceItem
              (click)="removeRow($index)"
              [disabled]="$count === 1"
              nz-button
              nzSize="default"
              nzType="primary"
              nzShape="circle">
              <nz-icon nzType="minus" />
            </button>
            <button
              *nzSpaceItem
              (click)="addRow()"
              [disabled]="!$last"
              nz-button
              nzSize="default"
              nzType="primary"
              nzShape="circle">
              <nz-icon nzType="plus" />
            </button>
          </nz-space>
        </div>
      </nz-col>
    </nz-row>
  }
}
