@import 'ng-zorro-antd/style/color/colors.less';

.subfilter-row {
  flex-wrap: nowrap;
  background-color: @blue-1;
  border-radius: 10px;
  margin-left: 0;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.filter-btn-sm {
  margin-top: 3px;
}
