<nz-card
  [nzTitle]="cardTitle"
  [nzExtra]="cardExtra"
  nzSize="small"
  style="width: 100%">
  <nz-row [nzGutter]="[16, 8]">
    <!-- ACTIVITY FEED COLUMN -->
    <nz-col [nzSpan]="cvcShowFilters() ? 18 : 24">
      <nz-spin
        [nzSpinning]="$refetchLoading()"
        nzSize="large"
        [nzDelay]="0">
        <div
          cvcAutoHeightDiv="40"
          cvcAutoHeightTarget="viewport">
          @if (scrollDatasource) {
            <cvc-activity-feed-item
              *uiScroll="let edge of scrollDatasource"
              [cvcActivity]="edge.node"
              [cvcScope]="cvcScope()"
              [cvcInitWithDetails]="
                (toggledItem$ | ngrxPush)!.has(edge.node.id)
              "
              (cvcOnToggleDetail)="
                onToggleItem$.next($event)
              "></cvc-activity-feed-item>
          }
        </div>
      </nz-spin>
    </nz-col>

    <!-- FEED FILTERS COLUMN -->
    <nz-col [nzSpan]="cvcShowFilters() ? 6 : 0">
      <!-- NOTE: setting nzSpan to 0 hides the filters column rather than removing it
           from the DOM as with *ngIf. Component initialization causes cvc-activity-feed-filters'
           feedFilter$ to emit, which is required to fire off an initial query -->
      <cvc-activity-feed-filters
        (cvcFiltersChange)="onFilterChange$.next($event)"
        [cvcFilterOptions]="$feedFilterOptions()"
        [cvcFilters]="cvcFilters()"
        [cvcScope]="cvcScope()">
      </cvc-activity-feed-filters>
      <!-- <pre>feedFilter$: {{ feedFilter$ | ngrxPush | json }}</pre> -->
    </nz-col>
  </nz-row>
</nz-card>
<ng-template #cardTitle>
  <nz-space nzDirection="horizontal">
    <span
      class="title"
      *nzSpaceItem>
      {{ cvcTitle() }}
    </span>
    <cvc-activity-feed-counts
      *nzSpaceItem
      [cvcFeedCounts]="$counts()"></cvc-activity-feed-counts>
    <span *nzSpaceItem>
      <nz-tag
        *ngIf="$moreLoading()"
        nzColor="processing">
        <i
          nz-icon
          nzType="sync"
          nzSpin></i>
        <span>Loading…</span>
      </nz-tag>
    </span>
  </nz-space>
</ng-template>
<ng-template #cardExtra>
  <div class="extra">
    <cvc-activity-feed-settings
      (cvcSettingsChange)="onSettingChange$.next($event)"
      [cvcSettings]="cvcSettings()">
    </cvc-activity-feed-settings>
  </div>
</ng-template>
