<nz-card
  [nzTitle]="cardTitle"
  [nzExtra]="cardExtra"
  nzSize="small">
  <nz-row [nzGutter]="[8, 8]">
    <nz-col nzSpan="19">
      <div *ngFor="let activity of activity$ | ngrxPush">
        <pre>{{ activity | json }}</pre>
      </div>
      <pre>cvcScope: {{ cvcScope() | json }}</pre>
      <pre>feedSettings: {{ feedSetting$ | ngrxPush | json }} </pre>
      <pre>feedFilters: {{ feedFilter$ | ngrxPush | json }} </pre>
    </nz-col>
    <nz-col nzSpan="5">
      <cvc-activity-feed-filters
        [cvcShowFilters]="cvcShowFilters()"
        (cvcFiltersChange)="feedFilter$.next($event)"
        [cvcFilters]="cvcFilters()">
      </cvc-activity-feed-filters>
    </nz-col>
  </nz-row>
</nz-card>
<ng-template #cardTitle>
  {{ cvcTitle() }}
  <cvc-activity-feed-counts></cvc-activity-feed-counts>
</ng-template>
<ng-template #cardExtra>
  <cvc-activity-feed-settings
    (cvcSettingsChange)="feedSetting$.next($event)"
    [cvcSettings]="cvcSettings()">
  </cvc-activity-feed-settings>
</ng-template>
