<nz-card
  [nzTitle]="cardTitle"
  [nzExtra]="cardExtra"
  nzSize="small">
  <nz-row [nzGutter]="[8, 8]">
    <!-- ACTIVITY FEED COLUMN -->
    <nz-col [nzSpan]="cvcShowFilters() ? 18 : 24">
      <ng-container *ngrxLet="activity$ as activities">
        @if (activities && activities.length > 0) {
        <cvc-activity-feed-item
          *ngFor="let activity of activities"
          [cvcActivity]="activity!"></cvc-activity-feed-item>
        }
      </ng-container>
    </nz-col>
    <!-- FEED FILTERS COLUMN -->
    <nz-col [nzSpan]="cvcShowFilters() ? 6 : 0">
      <!-- NOTE: setting nzSpan to 0 hides the filters column rather than removing it
           from the DOM as with *ngIf. This causes cvc-activity-feed-filters'
           feedFilter$ to emit, which is required to fire off an initial query -->
      <cvc-activity-feed-filters
        [cvcShowFilters]="cvcShowFilters()"
        (cvcFiltersChange)="feedFilter$.next($event)"
        [cvcFilters]="cvcFilters()">
      </cvc-activity-feed-filters>
    </nz-col>
  </nz-row>
</nz-card>
<ng-template #cardTitle>
  {{ cvcTitle() }}
  <cvc-activity-feed-counts></cvc-activity-feed-counts>
</ng-template>
<ng-template #cardExtra>
  <cvc-activity-feed-settings
    (cvcSettingsChange)="feedSetting$.next($event)"
    [cvcSettings]="cvcSettings()">
  </cvc-activity-feed-settings>
</ng-template>
