<nz-alert
  [nzType]="this.alertType()"
  [nzMessage]="approvalMessageTemplate"
  nzShowIcon
  [nzIcon]="approvalIconTemplate"
  [nzAction]="
    approval().status === 'REQUIRES_REVIEW'
      ? underReviewNotice
      : approvalActionTemplate
  "></nz-alert>
<ng-template #approvalIconTemplate>
  <span style="color: {{ this.color() }}; font-size: 24px">
    <i
      nz-icon
      nzType="safety-certificate"
      nzTheme="fill">
    </i>
  </span>
</ng-template>
<ng-template #approvalMessageTemplate>
  Classification approved by
  <strong>{{ this.isApprovedVcep() ? 'ClinGen VCEP ' : ' ' }}</strong>
  <cvc-organization-tag [org]="approval().organization"></cvc-organization-tag>
</ng-template>
<ng-template #approvalActionTemplate>
  <span
    nz-typography
    nzType="secondary">
    ({{ approval().lastReviewed | date: 'mediumDate' }})
  </span>
</ng-template>
<ng-template #underReviewNotice>
  <nz-tag nzColor="blue">
    <i
      nz-icon
      nzType="info-circle"
      nzTheme="fill">
    </i>
    Under review
  </nz-tag>
</ng-template>
