<ng-container *ngIf="foundCitation; else fetchCitation">
  <!-- found citation, add to CIViC sources?-->
  <nz-space nzDirection="vertical">
    <ng-container *ngIf="createSuccess === false && createErrors.length === 0">
      <nz-alert
        nzType="info"
        *nzSpaceItem
        [nzMessage]="foundCitationMsg"
        nzShowIcon
      >
      </nz-alert>
      <ng-template #foundCitationMsg>
        Found citation: <em>{{ foundCitation }}</em>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="createSuccess === true">
      <nz-alert
        nzType="success"
        *nzSpaceItem
        [nzMessage]="createdMsg"
        nzShowIcon
      >
      </nz-alert>
      <ng-template #createdMsg>
        '<em>{{ foundCitation }}</em
        >' created.
      </ng-template>
    </ng-container>
    <nz-form-item *ngIf="createErrors.length > 0">
      <cvc-form-errors-alert [errors]="createErrors"> </cvc-form-errors-alert>
    </nz-form-item>
    <ng-container *ngIf="createSuccess === false">
      <!-- create new source stub button -->
      <button
        type="submit"
        (click)="onCreateSourceStub($event)"
        [nzLoading]="isCreating"
        nz-button
        nzBlock
        nzType="primary"
        nzSize="default"
        *nzSpaceItem
      >
        Create&nbsp;'<em>{{ foundCitation }}</em
        >'&nbsp; CIViC Source
      </button>
    </ng-container>
    <ng-container *ngIf="createSuccess === true">
      <!-- Accept & add new source to source list -->
      <button
        type="submit"
        (click)="onAcceptSource($event)"
        nz-button
        nzBlock
        nzType="primary"
        nzSize="default"
        *nzSpaceItem
      >
        Add Source to List
      </button>
    </ng-container>
  </nz-space>
</ng-container>
<ng-template #fetchCitation>
  <!-- source not found, fetch citation? -->
  <nz-space nzDirection="vertical">
    <ng-container *ngIf="showPrompt">
      <span *nzSpaceItem nz-typography>
        <i nz-icon nzType="info-circle" nzTheme="twotone"></i>
        Source not known to CIViC, fetch citation from {{ sourceTypeKey }}?
      </span>
    </ng-container>

    <ng-container *ngIf="existenceFail">
      <span *nzSpaceItem>
        <nz-alert nzType="warning" [nzMessage]="existenceFail" nzShowIcon>
        </nz-alert>
        <ng-template #existenceFail>
          Citation not found for {{ sourceTypeKey }}: {{ citationId }}.
        </ng-template>
      </span>
    </ng-container>
    <button
      type="submit"
      *nzSpaceItem
      (click)="onExistenceQuery($event)"
      [nzLoading]="isChecking"
      nz-button
      nzBlock
      nzType="primary"
      nzSize="default"
    >
      Fetch Citation for&nbsp;<strong
        >{{ sourceTypeKey }} {{ citationId }}</strong
      >
    </button>
  </nz-space>
</ng-template>
