<div [ngClass]="{ 'hidden': to.hidden === true }">
  <nz-form-item *ngIf="field.fieldGroup?.length === 0">
    <nz-form-control [nzValidateStatus]="errorState">
      <!--

      <button nz-button
        nzBlock
        nzType="default"
        nzSize="small"
        nzSearch
        (click)="addField($event)">{{ to.addText }}</button>
      -->
      <nz-tag class="editable-tag" nzNoAnimation (click)="addField($event)">
        <i nz-icon nzType="plus"></i>
        {{ to.addText }}
      </nz-tag>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item
    *ngFor="let f of field.fieldGroup; let i = index; let last = last"
  >
    <div ngClass="field-display">
      <!-- display field type -->
      <div [ngClass]="f.model[i] ? 'selected-field-col' : 'default-field-col'">
        <formly-field [field]="f"></formly-field>
      </div>

      <!-- display remove/add buttons if entity displayed -->
      <ng-container *ngIf="f.model[i]">
        <nz-tag class="close-tag">
          <i nz-icon nzType="close" (click)="remove(i)"></i>
        </nz-tag>
        <div class="field-add-btn" *ngIf="last">
          <nz-tag
            *ngIf="to.maxCount == 0 || to.maxCount! > f.model.length"
            class="editable-tag"
            nzNoAnimation
            (click)="addField($event)"
          >
            <i nz-icon nzType="plus"></i>
            {{ to.addText }}
          </nz-tag>
        </div>
      </ng-container>

      <!-- else display a cancel button (initial model will be null) -->
      <ng-container *ngIf="!f.model[i]">
        <div class="field-cancel-btn">
          <button
            nz-button
            nzBlock
            nzType="default"
            nzSize="small"
            nzDanger
            (click)="remove(i)"
          >
            <i nz-icon nzType="close"></i>
          </button>
        </div>
      </ng-container>
    </div>
  </nz-form-item>
</div>
