<div [ngClass]="{ 'hidden': to.hidden === true }">
  <nz-form-item *ngIf="field.fieldGroup?.length === 0">
    <ng-container *ngIf="to.label && to.hideLabel !== true">
      <nz-form-label [nzRequired]="to.required && to.hideRequiredMarker !== true"
        nzSpan="24"
        [nzFor]="id">
        {{ to.label }}
      </nz-form-label>
    </ng-container>
    <nz-form-control [nzValidateStatus]="errorState"
      [nzErrorTip]="errorTpl">
      <button nz-button
        nzBlock
        nzType="default"
        nzSize="small"
        nzSearch
        (click)="addField($event)">{{ to.addText }}</button>
      <ng-template #errorTpl
        let-control>
        <formly-validation-message [field]="field"></formly-validation-message>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngFor="let f of field.fieldGroup; let i = index; let last = last">
    <ng-container *ngIf="i === 0 && to.label && to.hideLabel !== true">
      <nz-form-label [nzRequired]="to.required && to.hideRequiredMarker !== true"
        nzSpan="24"
        [nzFor]="id">
        {{ to.label }}
      </nz-form-label>
    </ng-container>
    <div [ngClass]="{'field-display': !f.model[i], 'entity-display': f.model[i] }">
      <!-- display field type -->
      <div class="field-col">
        <formly-field [field]="f"></formly-field>
      </div>

      <!-- display remove/add buttons if entity displayed -->
      <ng-container *ngIf="f.model[i]">
        <div class="field-delete-btn">
          <i nz-icon
            nzType="minus-circle-o"
            (click)="remove(i)"></i>
        </div>
        <div class="field-add-btn"
          *ngIf="last">
          <i nz-icon
            *ngIf="to.maxCount == 0 || to.maxCount! > f.model.length"
            nzType="plus-circle-o"
            (click)="addField($event)"></i>
        </div>
      </ng-container>

      <!-- else display a cancel button (initial model will be null) -->
      <ng-container *ngIf="!f.model[i]">
        <div class="field-cancel-btn">
          <button nz-button
            nzBlock
            nzType="default"
            nzSize="small"
            nzDanger
            (click)="remove(i)">Cancel</button>
        </div>
      </ng-container>
    </div>
  </nz-form-item>
</div>
