<nz-row [nzGutter]="16" >
  <nz-col [nzSpan]="8">
    <!-- show original items -->
    <nz-list nzHeader="Original {{ entityType }} List" nzBordered nzType="inner" nzSize="small">
    <nz-list-item *ngFor="let item of this.diffObject.currentObjects" ngClass="current">
        <span nz-typography>
        <ng-container
            [ngTemplateOutlet]="itemTemplateRef || null"
            [ngTemplateOutletContext]="{ $implicit: item }">
        </ng-container>
        </span>
    </nz-list-item>
    <nz-list-empty *ngIf="this.diffObject.currentObjects.length === 0"
    nzNoResult="No {{ entityType }}s"></nz-list-empty>
    </nz-list>
  </nz-col>
  <nz-col [nzSpan]="8">
      <!-- show removed items -->
      <nz-list nzHeader="Removed {{ entityType }}s" nzBordered nzType="inner" nzSize="small">
        <nz-list-item *ngFor="let item of this.diffObject.removedObjects" ngClass="removed">
          <span nz-typography>
            <ng-container
              [ngTemplateOutlet]="itemTemplateRef || null"
              [ngTemplateOutletContext]="{ $implicit: item }">
            </ng-container>
          </span>
        </nz-list-item>
        <nz-list-empty *ngIf="this.diffObject.removedObjects.length === 0"
        nzNoResult="No {{ entityType }}s Removed"></nz-list-empty>
      </nz-list>
      <!-- show added items -->
      <nz-list nzHeader="Added {{ entityType }}s" nzBordered nzType="inner" nzSize="small">
        <nz-list-item *ngFor="let item of this.diffObject.addedObjects" ngClass="added">
          <span nz-typography>
            <ng-container
              [ngTemplateOutlet]="itemTemplateRef || null"
              [ngTemplateOutletContext]="{ $implicit: item }">
            </ng-container>
          </span>
        </nz-list-item>
        <nz-list-empty *ngIf="this.diffObject.addedObjects.length === 0"
          nzNoResult="No {{ entityType }}s Added"></nz-list-empty>
      </nz-list>
      <nz-list nzHeader="Kept {{ entityType }}s" nzBordered nzType="inner" nzSize="small">
        <nz-list-item *ngFor="let item of this.diffObject.keptObjects" ngClass="kept">
          <span nz-typography>
            <ng-container
              [ngTemplateOutlet]="itemTemplateRef || null"
              [ngTemplateOutletContext]="{ $implicit: item }">
            </ng-container>
          </span>
        </nz-list-item>
        <nz-list-empty *ngIf="this.diffObject.keptObjects.length === 0"
          nzNoResult="No {{ entityType }}s Kept"></nz-list-empty>
      </nz-list>
  </nz-col>
  <nz-col [nzSpan]="8">
    <!-- show final list -->
    <nz-list nzHeader="Revised {{ entityType }} List" nzBordered nzType="inner" nzSize="small">
      <nz-list-item *ngFor="let item of this.diffObject.suggestedObjects" ngClass="suggested">
        <span nz-typography>
          <ng-container
            [ngTemplateOutlet]="itemTemplateRef || null"
            [ngTemplateOutletContext]="{ $implicit: item }">
          </ng-container>
        </span>
      </nz-list-item>
      <nz-list-empty *ngIf="this.diffObject.suggestedObjects.length === 0"
        nzNoResult="No {{ entityType }}s"></nz-list-empty>
    </nz-list>
  </nz-col>
</nz-row>