@import "ng-zorro-antd/style/color/colors.less";

:host {
  display: block;
}

nz-list {
  .kept {
    background-color: @geekblue-1;
    color: @geekblue-9;
  }
  .added {
    background-color: @green-1;
    color: @green-9;
  }
  .removed {
    background-color: @red-1;
    color: @red-9;
  }
  .suggested {
    background-color: @geekblue-1;
    color: @geekblue-9;
  }
  .current {
    background-color: @geekblue-1;
    color: @geekblue-9;
  }
}

nz-space {
  width: 100%;
}
