<cvc-tag-list size="xs">
  <div *ngFor="let tag of displayedTags"
    [ngClass]="{'matched-tag': matchingText && tag.name.toLowerCase().includes(matchingText)}">
    <ng-container [ngSwitch]="tagType">
      <ng-container *ngSwitchCase="'drug'">
        <cvc-drug-tag [drug]="tag"
          [truncateLongName]="true"></cvc-drug-tag>
      </ng-container>
      <ng-container *ngSwitchCase="'disease'">
        <cvc-disease-tag [disease]="tag"
          [truncateLongName]="true"></cvc-disease-tag>
      </ng-container>
      <ng-container *ngSwitchCase="'organization'">
        <cvc-organization-tag [org]="tag"></cvc-organization-tag>
      </ng-container>
    </ng-container>
  </div>
  <div [ngClass]="{'matched-tag': matchedHiddenCount > 0}">
    <nz-tag class="overflow-tag"
      *ngIf="hiddenCount && hiddenCount > 0"
      nz-popover
      [nzPopoverContent]="additionalTagPopover"
      nzPopoverPlacement="top"
      nzPopoverTrigger="hover">
      +<span *ngIf="matchedHiddenCount > 0">
      {{matchedHiddenCount}}
      of </span>{{this.hiddenCount}}
    </nz-tag>
  </div>
  <ng-template #additionalTagPopover>
    <div class="popover-tag-list">
      <cvc-tag-list size="xs">
        <div *ngFor="let tag of hiddenTags"
          [ngClass]="{'matched-tag': matchingText && tag.name.toLowerCase().includes(matchingText)}">
          <ng-container [ngSwitch]="tagType">
            <ng-container *ngSwitchCase="'drug'">
              <cvc-drug-tag [drug]="tag"
                [truncateLongName]="true"></cvc-drug-tag>
            </ng-container>
            <ng-container *ngSwitchCase="'disease'">
              <cvc-disease-tag [disease]="tag"
                [truncateLongName]="true"></cvc-disease-tag>
            </ng-container>
            <ng-container *ngSwitchCase="'organization'">
              <cvc-organization-tag [org]="tag"></cvc-organization-tag>
            </ng-container>
          </ng-container>
        </div>
      </cvc-tag-list>
    </div>
  </ng-template>
</cvc-tag-list>
