@if (!(newVariant$ | ngrxPush)) {
  <form
    nz-form
    [nzLayout]="layout"
    [formGroup]="form">
    <formly-form
      [form]="form"
      [fields]="config"
      [model]="model"
      [options]="options"
      (modelChange)="modelChange($event)">
    </formly-form>
  </form>
} @else {
  @if (newVariant$ | ngrxPush; as variant) {
    @if (newlyCreated) {
      <nz-alert
        nzType="success"
        nzShowIcon
        [nzMessage]="successMessage"
        [nzDescription]="variantLink"></nz-alert>
    }
    <ng-template #successMessage>
      New Variant {{ variant.name }} added.
    </ng-template>
    <ng-template #variantLink>
      View its
      <a [routerLink]="['/variants', variant.id, 'summary']">details here</a>.
    </ng-template>
    @if (!newlyCreated) {
      <nz-alert
        nzType="info"
        nzShowIcon
        [nzMessage]="existsMessage"
        [nzDescription]="variantLink"></nz-alert>
    }
    <ng-template #existsMessage>
      Variant {{ variant.name }} already exists.
    </ng-template>
  }
}
