<div id="popover-content">
  <ng-container *ngIf="gene$ | ngrxPush as gene">
    <nz-card
      [nzTitle]="cardTitle"
      nzBordered="false"
      id="card-content">
      <ng-template #cardTitle>
        <i
          nz-icon
          nzTheme="twotone"
          [nzTwotoneColor]="'Gene' | entityColor"
          nzType="civic-gene"></i>
        {{ gene.officialName }}
      </ng-template>

      <nz-descriptions
        nzSize="small"
        [nzColumn]="2"
        nzBordered="true">
        <!-- aliases -->
        <nz-descriptions-item
          nzTitle="Aliases"
          nzSpan="2"
          *ngIf="gene.geneAliases.length > 0">
          <nz-tag *ngFor="let alias of gene.geneAliases">{{ alias }}</nz-tag>
        </nz-descriptions-item>

        <!-- variant count-->
        <nz-descriptions-item nzTitle="Variants">
          {{ gene.variants.totalCount }}
        </nz-descriptions-item>
      </nz-descriptions>

      <!-- entity comment, flags, etc. tags -->
      <nz-row id="entity-child-counts">
        <nz-col nzSpan="24">
          <nz-space nzSize="small">
            <a
              routerLink="/genes/{{ gene.id }}/flags"
              *nzSpaceItem>
              <nz-tag nzColor="red">
                <i
                  nz-icon
                  nzType="civic-flag"></i>
                Flags ({{ gene.flags.totalCount }})
              </nz-tag>
            </a>
            <a
              routerLink="/genes/{{ gene.id }}/revisions"
              *nzSpaceItem>
              <nz-tag nzColor="orange">
                <i
                  nz-icon
                  nzType="civic-revision"></i>
                Revisions ({{ gene.revisions.totalCount }})
              </nz-tag>
            </a>
            <a
              routerLink="/genes/{{ gene.id }}/comments"
              *nzSpaceItem>
              <nz-tag nzColor="blue">
                <i
                  nz-icon
                  nzType="civic-comment"></i>
                Comments ({{ gene.comments.totalCount }})
              </nz-tag>
            </a>
          </nz-space>
        </nz-col>
      </nz-row>
    </nz-card>
  </ng-container>
</div>
