:host {
  ::ng-deep nz-card.large-card > .ant-card-body {
    padding-bottom: 4px;
  }
}
.form-actions {
  padding: 0 4px; // cancel nz-row's -4px side margins
  .form-messages {
    line-height: 28px;
    text-align: right;
  }
}
