<nz-card
  nzSize="small"
  [nzTitle]="cardTitle"
  [nzExtra]="cardExtra">
  <nz-row [nzGutter]="[8, 8]">
    <nz-col nzSpan="8">
      <ng-container
        *ngTemplateOutlet="
          leaderboard;
          context: {
            $implicit: commentsView$ | ngrxPush,
          }
        ">
      </ng-container>
    </nz-col>
    <nz-col nzSpan="8">
      <ng-container
        *ngTemplateOutlet="
          leaderboard;
          context: {
            $implicit: revisionsView$ | ngrxPush,
          }
        ">
      </ng-container>
    </nz-col>
    <nz-col nzSpan="8">
      <ng-container
        *ngTemplateOutlet="
          leaderboard;
          context: {
            $implicit: moderationView$ | ngrxPush,
          }
        ">
      </ng-container>
    </nz-col>
  </nz-row>
</nz-card>

<ng-template
  #leaderboard
  let-leaderboard>
  <ng-template #leaderboardHeader>
    <span class="board-header">{{ leaderboard.title }}</span>
  </ng-template>
  <nz-list
    [nzHeader]="leaderboardHeader"
    [nzLoading]="leaderboard.loading"
    nzSize="small"
    nzBordered
    nzItemLayout="vertical"
    nzItemLayout="horizontal">
    <nz-list-item *ngFor="let row of leaderboard.rows">
      <ng-template #rowAvatar>
        <nz-badge
          [nzCount]="row.rank"
          nzSize="small">
          <nz-avatar
            nzIcon="organization"
            nzSize="small"
            nzShape="square"
            [nzSrc]="row.profileImagePath"></nz-avatar>
        </nz-badge>
      </ng-template>
      <nz-list-item-meta [nzAvatar]="rowAvatar">
        <nz-list-item-meta-title>
          <span class="row-title">{{
            row.name ? row.name : row.organization.displayName
          }}</span>
          <span
            nz-typography
            nzType="secondary">
            - {{ row.actionCount | number }}</span
          >
        </nz-list-item-meta-title>
        <!-- <nz-list-item-meta-description>
                  <span class="list-item-description"
                    >Rank: {{ row.rank }} | Count: {{ row.actionCount | number }}</span
                  >
                </nz-list-item-meta-description> -->
      </nz-list-item-meta>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <cvc-organization-tag [organization]="row.organization"></cvc-organization-tag><br />
        </nz-list-item-action>
      </ul>
    </nz-list-item>
    <nz-list-empty
      *ngIf="leaderboard.rows.length === 0"
      [nzNoResult]="listEmpty"></nz-list-empty>
    <ng-template #listEmpty>
      <nz-empty
        nzNotFoundImage="simple"
        nzNotFoundContent="No Contributors found for the selected time window."></nz-empty>
    </ng-template>
  </nz-list>
</ng-template>

<ng-template #cardTitle>Curation Activity Leaderboards </ng-template>
<ng-template #cardExtra>
  <span>Time: </span>
  <nz-select
    nzSize="small"
    [nzDropdownMatchSelectWidth]="false"
    [ngModel]="timeWindow$ | ngrxPush"
    (ngModelChange)="timeWindow$.next($event)">
    <nz-option
      nzLabel="All"
      nzValue="ALL_TIME"></nz-option>
    <nz-option
      nzLabel="Past Week"
      nzValue="LAST_WEEK"></nz-option>
    <nz-option
      nzLabel="Past Month"
      nzValue="LAST_MONTH"></nz-option>
    <nz-option
      nzLabel="Past Year"
      nzValue="LAST_YEAR"></nz-option>
  </nz-select>
</ng-template>
