:host {
  display: block;
}

nz-list-item {
  // background-color: green !important;
}
nz-list-item ::ng-deep .ant-list-item-action {
  margin-left: 1em;
  li {
    padding-right: 0;
    nz-tag {
      margin-right: 0;
    }
  }
}

nz-badge ::ng-deep .ant-badge-count {
  background-color: #662d91;
  padding: 0 2px;
}

nz-list-item-meta-title ::ng-deep .ant-list-item-meta-title {
  margin-bottom: 0;
}

.time-select {
  min-width: 80px;
}

.board-header {
  font-weight: bold;
}
