<!-- input updates onCustomFilter -->
@if (cvcInputType === 'default') {
  <nz-input-wrapper nzSize="small">
    <input
      #filterInput
      nz-input
      [placeholder]="cvcPlaceholder"
      [ngModel]="cvcModel"
      (ngModelChange)="cvcModelChange.next($event)" />
    <span nzInputSuffix>
      <ng-container *ngTemplateOutlet="suffixIcon"></ng-container>
    </span>
  </nz-input-wrapper>
  <!-- input suffic icon tpl - magnifying glass if unset, clear icon if set  -->
  <ng-template #suffixIcon>
    @if (!filterInput.value) {
      <span
        nz-icon
        nzType="search"
        style="color: #ddd"></span>
    }
    @if (filterInput.value) {
      <span
        nz-icon
        class="ant-input-clear-icon"
        nzTheme="fill"
        nzType="close-circle"
        (click)="filterInput.value = ''; cvcModelChange.next(null)"></span>
    }
  </ng-template>
} @else {
  <nz-input-number
    nzSize="small"
    #filterInput
    [nzPlaceHolder]="cvcPlaceholder ?? ''"
    [ngModel]="cvcModel"
    (ngModelChange)="cvcModelChange.next($event === '' ? null : $event)"
    [nzMin]="1"
    [nzStep]="1"
    style="width: 100%"></nz-input-number>
}
