<ng-container [ngSwitch]="formLayout">
  <ng-container *ngSwitchCase="'horizontal'">
    <ng-container [ngTemplateOutlet]="horizontalFieldWrapper"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'inline'">
    <ng-container [ngTemplateOutlet]="inlineFieldWrapper"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'vertical'">
    <ng-container [ngTemplateOutlet]="verticalFieldWrapper"></ng-container>
  </ng-container>
</ng-container>

<ng-template #horizontalFieldWrapper>
  <nz-form-item
    [nzGutter]="wrapper.layout.item.gutter"
    class="layout-horizontal"
    [ngClass]="{ showBorders: props.showBorders }">
    <nz-col nzFlex="auto">
      <nz-row [nzGutter]="[6, 6]">
        <ng-container *ngIf="props.label && props.hideLabel !== true">
          <nz-form-label
            *ngIf="wrapper.layout.label as label"
            [nzRequired]="props.required"
            [nzFor]="id"
            [nzNoColon]="true"
            [nzSpan]="label.span ? label.span : null">
            <span
              nz-typography
              nzEllipsis
              [nzContent]="props.label"></span>
          </nz-form-label>
        </ng-container>
        <nz-form-control
          *ngIf="wrapper.layout.control as control"
          [nzExtra]="!showError ? descriptionTpl : undefined"
          [nzValidateStatus]="errorState"
          [nzErrorTip]="errorTpl"
          [nzSpan]="control.span ? control.span : null">
          <ng-container #fieldComponent></ng-container>
        </nz-form-control>
      </nz-row>
    </nz-col>
    <nz-col
      nzFlex="14px"
      class="help-tooltip">
      <span
        *ngIf="props.tooltip; else iconSpacer"
        class="icon-tooltip"
        nz-icon
        nzTheme="outline"
        nzType="info-circle"
        nz-tooltip
        [nzTooltipTitle]="props.tooltip"></span>
      <ng-template #iconSpacer>
        <span
          class="icon-spacer"
          nz-icon
          nzTheme="outline"
          nzTwotoneColor="#FFFFFF"
          nzType="info-circle"></span>
      </ng-template>
    </nz-col>
  </nz-form-item>
</ng-template>

<ng-template #verticalFieldWrapper>
  <nz-form-item
    class="layout-vertical"
    [ngClass]="{
      disabled: props.disabled,
      error: showError,
      required: props.required
    }">
    <ng-container *ngIf="props.label && props.hideLabel !== true">
      <nz-form-label
        *ngIf="wrapper.layout.label as label"
        [ngClass]="{ disabled: props.disabled, error: showError }"
        [nzRequired]="props.required"
        [nzFor]="id"
        [nzNoColon]="true">
        <span
          class="label"
          nz-typography
          nzEllipsis
          [nzContent]="props.label"></span>
        <span
          *ngIf="props.tooltip"
          class="icon-tooltip"
          nz-icon
          nzTheme="outline"
          nzTwotoneColor="#bfbfbf"
          nzType="info-circle"
          nz-tooltip
          [nzTooltipTitle]="props.tooltip"></span>
      </nz-form-label>
    </ng-container>
    <nz-form-control
      *ngIf="wrapper.layout.control as control"
      [nzExtra]="!showError ? descriptionTpl : undefined"
      [nzValidateStatus]="errorState"
      [nzErrorTip]="errorTpl">
      <ng-container #fieldComponent></ng-container>
    </nz-form-control>
  </nz-form-item>
</ng-template>

<ng-template #inlineFieldWrapper>
  <nz-form-item class="layout-inline">
    <ng-container *ngIf="props.label && props.hideLabel !== true">
      <nz-form-label
        [nzRequired]="props.required"
        [nzFor]="id">
        <span
          nz-typography
          nzEllipsis
          [nzContent]="props.label"></span>
        <span
          *ngIf="props.tooltip"
          class="icon-tooltip"
          nz-icon
          nzTheme="outline"
          nzTwotoneColor="#bfbfbf"
          nzType="info-circle"
          nz-tooltip
          [nzTooltipTitle]="props.tooltip"></span>
      </nz-form-label>
    </ng-container>
    <nz-form-control
      *ngIf="wrapper.layout.control as control"
      [nzExtra]="!showError ? descriptionTpl : undefined"
      [nzValidateStatus]="errorState"
      [nzErrorTip]="errorTpl">
      <ng-container #fieldComponent></ng-container>
      <ng-template
        #errorTpl
        let-control>
        <formly-validation-message [field]="field"></formly-validation-message>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</ng-template>

<!-- SHARED COMPONENT TEMPLATES -->
<!-- displays the field value description -->
<ng-template #descriptionTpl>
  <div class="cvc-form-field-description">
    <ng-container [ngSwitch]="props.extraType">
      <span
        *ngSwitchCase="'prompt'"
        class="extra-prompt"
        >{{ props.description }}</span
      >
      <span
        *ngSwitchCase="'description'"
        class="extra-description"
        >{{ props.description }}</span
      >
      <span *ngSwitchDefault>{{ props.description }}</span>
    </ng-container>
  </div>
</ng-template>

<!-- displays field errors-->
<ng-template
  #errorTpl
  let-control>
  <div class="cvc-form-field-validation">
    <formly-validation-message [field]="field"></formly-validation-message>
  </div>
</ng-template>
