<nz-spin
  [nzSpinning]="loading$ | ngrxPush"
  style="min-height: 20em">
  <nz-row [nzGutter]="[8, 8]">
    @for (organization of organizations$ | ngrxPush; track organization) {
      @if (organization) {
        <nz-col
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="12"
          [nzLg]="8"
          [nzXl]="6"
          [nzXXl]="4">
          <cvc-organization-card
            [organization]="organization!"></cvc-organization-card>
        </nz-col>
      }
    }
  </nz-row>
</nz-spin>
