<div id="popover-content">
  @let evidence = evidence$ | async;
  @if (evidence) {
    <nz-card
      [nzTitle]="cardTitle"
      nzBordered="false"
      id="card-content"
      [nzExtra]="molecularProfile">
      <ng-template #cardTitle>
        <nz-space>
          <ng-container *nzSpaceItem>
            <i
              nz-icon
              nzTheme="twotone"
              [nzTwotoneColor]="'EvidenceItem' | entityColor"
              nzType="civic-evidence"></i>
            {{ evidence.name }}
          </ng-container>
          <cvc-status-tag
            *nzSpaceItem
            [status]="evidence.status"
            style="font-weight: normal"></cvc-status-tag>
        </nz-space>
      </ng-template>
      <ng-template #molecularProfile>
        <cvc-molecular-profile-tag
          [molecularProfile]="evidence.molecularProfile"
          [enablePopover]="false"
          [truncateLongName]="true"></cvc-molecular-profile-tag>
      </ng-template>
      <nz-descriptions
        nzLayout="vertical"
        nzBordered
        nzSize="small"
        [nzColumn]="1">
        <nz-descriptions-item nzTitle="Evidence Statement">
          @if (evidence.description) {
            <div class="long-text">
              {{ evidence.description }}
            </div>
          } @else {
            <cvc-empty-value cvcEmptyCategory="unspecified"></cvc-empty-value>
          }
        </nz-descriptions-item>
      </nz-descriptions>
      <nz-descriptions
        nzSize="small"
        [nzColumn]="2"
        nzBordered>
        <!-- molecular profile -->
        <nz-descriptions-item
          nzTitle="MP Expression"
          nzSpan="2">
          <cvc-mp-tag-name
            [nameSegments]="evidence.molecularProfile.parsedName"
            [enablePopover]="false"></cvc-mp-tag-name>
        </nz-descriptions-item>

        <!-- source -->
        <nz-descriptions-item
          nzTitle="Source"
          nzSpan="2">
          <cvc-source-tag
            [source]="evidence.source"
            [enablePopover]="false"></cvc-source-tag>
        </nz-descriptions-item>

        <!-- evidence level -->
        <nz-descriptions-item nzTitle="Level">
          {{ evidence.evidenceLevel }}
        </nz-descriptions-item>

        <!-- evidence type -->
        <nz-descriptions-item nzTitle="Type">
          {{ evidence.evidenceType | evidenceEnumDisplay }}
        </nz-descriptions-item>

        <!-- evidence direction -->
        <nz-descriptions-item nzTitle="Direction">
          {{ evidence.evidenceDirection | evidenceEnumDisplay }}
        </nz-descriptions-item>

        <!-- clinical significance -->
        <nz-descriptions-item
          nzTitle="Clinical Significance"
          nzSpan="2">
          {{ evidence.significance | evidenceEnumDisplay }}
        </nz-descriptions-item>

        <!-- evidence rating -->
        <nz-descriptions-item nzTitle="Rating">
          {{ evidence.evidenceRating
          }}<i
            nz-icon
            nzType="star"
            nzTheme="fill"></i>
        </nz-descriptions-item>

        <!-- disease -->
        <nz-descriptions-item nzTitle="Disease">
          <ng-container *ngIf="evidence.disease; else noDisease">
            <cvc-disease-tag
              [enablePopover]="false"
              [disease]="evidence.disease"
              [truncateLongName]="true"></cvc-disease-tag>
          </ng-container>
          <ng-template #noDisease> N/A </ng-template>
        </nz-descriptions-item>

        <!-- therapies -->
        <nz-descriptions-item
          nzTitle="Therapies"
          nzSpan="2"
          *ngIf="evidence.therapies.length > 0">
          <span *ngFor="let therapy of evidence.therapies">
            <cvc-therapy-tag
              [enablePopover]="false"
              [therapy]="therapy"
              [truncateLongName]="true"></cvc-therapy-tag>
          </span>
          <ng-container *ngIf="evidence.therapies.length > 1">
            {{ evidence.therapyInteractionType | titlecase }}
          </ng-container>
        </nz-descriptions-item>

        <!-- phenotypes -->
        <nz-descriptions-item
          nzTitle="Phenotypes"
          nzSpan="2"
          *ngIf="evidence.phenotypes.length > 0">
          <span *ngFor="let ph of evidence.phenotypes">
            <cvc-phenotype-tag
              [enablePopover]="false"
              [phenotype]="ph"></cvc-phenotype-tag>
          </span>
        </nz-descriptions-item>
      </nz-descriptions>

      <!-- entity comment, flags, etc. tags -->
      <nz-row id="entity-child-counts">
        <nz-col nzSpan="24">
          <nz-space nzSize="small">
            <a
              routerLink="/evidence/{{ evidence.id }}/flags"
              *nzSpaceItem>
              <nz-tag nzColor="red">
                <i
                  nz-icon
                  nzType="civic-flag"></i>
                Flags ({{ evidence.flags.totalCount }})
              </nz-tag>
            </a>
            <a
              routerLink="/evidence/{{ evidence.id }}/revisions"
              *nzSpaceItem>
              <nz-tag nzColor="orange">
                <i
                  nz-icon
                  nzType="civic-revision"></i>
                Revisions ({{ evidence.revisions.totalCount }})
              </nz-tag>
            </a>
            <a
              routerLink="/evidence/{{ evidence.id }}/comments"
              *nzSpaceItem>
              <nz-tag nzColor="blue">
                <i
                  nz-icon
                  nzType="civic-comment"></i>
                Comments ({{ evidence.comments.totalCount }})
              </nz-tag>
            </a>
          </nz-space>
        </nz-col>
      </nz-row>
    </nz-card>
  }
</div>
