<div id="popover-content">
  <ng-container *ngIf="evidence$ | ngrxPush as evidence">
    <nz-card [nzTitle]="cardTitle"
      nzBordered="false"
      id="card-content"
      [nzExtra]="geneAndVariant">
      <ng-template #cardTitle>
        <i nz-icon
          nzType="civic:evidence"></i> {{ evidence.name }}
      </ng-template>
      <ng-template #geneAndVariant>
        <cvc-gene-tag [enablePopover]="false" [gene]="evidence.gene"></cvc-gene-tag>
        <cvc-variant-tag [enablePopover]="false" [variant]="evidence.variant"></cvc-variant-tag>
      </ng-template>
      <nz-row>
        <nz-col nzSpan="24">
          <div class="popover-text">
            <p nz-typography>
              <ng-container *ngIf="evidence.description as desc; else noDescription">
                {{ desc }}
              </ng-container>
            </p>
          </div>
        </nz-col>
      </nz-row>

      <nz-descriptions nzSize="small"
        [nzColumn]="2"
        nzBordered="true">


        <!-- source -->
        <nz-descriptions-item nzTitle="Source"
          nzSpan="2">
          <cvc-source-tag-r [source]="evidence.source"></cvc-source-tag-r>
        </nz-descriptions-item>

        <!-- evidence level -->
        <nz-descriptions-item nzTitle="Level">
          {{ evidence.evidenceLevel }}
        </nz-descriptions-item>

        <!-- evidence type -->
        <nz-descriptions-item nzTitle="Type">
          {{ evidence.evidenceType | evidenceEnumDisplay }}
        </nz-descriptions-item>

        <!-- evidence direction -->
        <nz-descriptions-item nzTitle="Direction">
          {{ evidence.evidenceDirection | evidenceEnumDisplay }}
        </nz-descriptions-item>

        <!-- clinical significance -->
        <nz-descriptions-item nzTitle="Clinical Significance"
          nzSpan="2">
          {{ evidence.clinicalSignificance | evidenceEnumDisplay }}
        </nz-descriptions-item>

        <!-- evidence rating -->
        <nz-descriptions-item nzTitle="Rating">
          {{ evidence.evidenceRating }}<i nz-icon nzType="star" nzTheme="fill"></i>
        </nz-descriptions-item>

        <!-- disease -->
        <nz-descriptions-item nzTitle="Disease">
          <ng-container *ngIf="evidence.disease; else noDisease">
            <cvc-disease-tag-r [enablePopover]="false" [disease]="evidence.disease"></cvc-disease-tag-r>
          </ng-container>
          <ng-template #noDisease>
            N/A
          </ng-template>
        </nz-descriptions-item>

        <!-- drugs -->
        <nz-descriptions-item nzTitle="Drugs"
          nzSpan="2"
          *ngIf="evidence.drugs.length > 0">
          <span *ngFor="let drug of evidence.drugs">
            <cvc-drug-tag-r [enablePopover]="false" [drug]="drug"></cvc-drug-tag-r>
          </span>
          <ng-container *ngIf="evidence.drugs.length > 1">
            {{evidence.drugInteractionType | titlecase }}
          </ng-container>
        </nz-descriptions-item>

        <!-- phenotypes -->
        <nz-descriptions-item nzTitle="Phenotypes"
          nzSpan="2"
          *ngIf="evidence.phenotypes.length > 0">
          <span *ngFor="let ph of evidence.phenotypes">
            <cvc-phenotype-tag-r [enablePopover]="false" [phenotype]="ph"></cvc-phenotype-tag-r>
          </span>
        </nz-descriptions-item>

      </nz-descriptions>

      <!-- entity comment, flags, etc. tags -->
      <nz-row id="entity-child-counts">
        <nz-col nzSpan="24">
          <nz-space nzSize="small">
            <nz-space-item>
              <a routerLink="/evidences/{{evidence.id}}/flags">
                <nz-tag nzColor="red">
                  <i nz-icon
                    nzType="civic-flag"></i> Flags ({{ evidence.flags.totalCount }})
                </nz-tag>
              </a>
            </nz-space-item>
            <nz-space-item>
              <a routerLink="/evidences/{{evidence.id}}/revisions">
                <nz-tag nzColor="orange">
                  <i nz-icon
                    nzType="civic-revision"></i> Revisions ({{ evidence.revisions.totalCount }})
                </nz-tag>
              </a>
            </nz-space-item>
            <nz-space-item>
              <a routerLink="/evidences/{{evidence.id}}/comments">
                <nz-tag nzColor="blue">
                  <i nz-icon
                    nzType="civic-comment"></i> Comments ({{ evidence.comments.totalCount }})
                </nz-tag>
              </a>
            </nz-space-item>
          </nz-space>
        </nz-col>
      </nz-row>
    </nz-card>
  </ng-container>
</div>

<ng-template #noDescription>
  Evidence item has not been provided a description.
</ng-template>
