<form nz-form
  (ngSubmit)="submitComment()"
  nzLayout="vertical">
  <ng-container *ngIf="(submitError$ | async) as errors">
    <nz-form-item *ngIf="errors.length > 0">
      <cvc-form-errors-alert [errors]="errors">
      </cvc-form-errors-alert>
    </nz-form-item>
  </ng-container>
  <cvc-comment-input [(comment)]="commentText"></cvc-comment-input>
  <nz-form-item>
    <nz-form-control>
      <cvc-form-buttons>
        <cvc-org-selector-btn-group [(selectedOrg)]="this.mostRecentOrg">
          <button type="submit"
            nz-button
            cvcOrgSelectorBtn
            nzType="primary"
            nzSize="small"
            [disabled]="!(this.commentText !== undefined && this.commentText.length >= 10)">
            Add Comment
          </button>
        </cvc-org-selector-btn-group>
      </cvc-form-buttons>
    </nz-form-control>
  </nz-form-item>
</form>