@import 'themes/global-variables.less';
@import 'themes/default.less';

:host {
  &.label-max {
    .tag-label {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &.label-max-50 {
    .tag-label {
      max-width: 50px;
    }
  }
  &.label-max-75 {
    .tag-label {
      max-width: 75px;
    }
  }
  &.label-max-100 {
    .tag-label {
      max-width: 100px;
    }
  }
  &.label-max-125 {
    .tag-label {
      max-width: 125px;
    }
  }
  &.label-max-150 {
    .tag-label {
      max-width: 150px;
    }
  }
  &.label-max-200 {
    .tag-label {
      max-width: 200px;
    }
  }
  &.label-max-250 {
    .tag-label {
      max-width: 250px;
    }
  }
  &.label-max-300 {
    .tag-label {
      max-width: 300px;
    }
  }
  &.label-max-400 {
    .tag-label {
      max-width: 300px;
    }
  }
  &.label-max-500 {
    .tag-label {
      max-width: 500px;
    }
  }
  &.full-width {
    nz-tag {
      width: 100%;
    }
  }
  nz-tag {
    margin-right: 0;
    //   padding-left: 4px;
    //   padding-right: 4px;
    margin-inline-end: 4px;
  }
  ::ng-deep &-checkable {
    background-color: transparent;
    cursor: pointer;

    &:not(&-checked):hover {
      color: @primary-color;
    }

    &:active,
    &-checked {
      color: @text-color-inverse;
    }

    &-checked {
      background-color: @primary-6;
    }

    &:active {
      background-color: @primary-7;
    }
  }

  // ::ng-deep .ant-tag-checkable {
  //   border: 1px solid #f0f0f0;
  //   color: #999;
  // }
  // ::ng-deep .ant-tag-checkable {
  //   border: 1px solid #f0f0f0;
  //   color: #999;
  // }
}

.default {
  nz-tag {
    margin: 0;
    padding: 0 2px 0 0;
    margin-inline-end: 4px;
    max-width: 100%;
    .tag-icon {
      display: inline-block;
      padding: 3px 2px 3px 4px;
      margin: -3px 0 -3px 0;
    }
    .tag-label {
      display: inline-block;
      margin: 0;
      padding: 0;
      margin: -3px 0 -4px 0;
      padding: 3px 3px 3px 2px;
      line-height: 1;
    }
    ::ng-deep i.ant-tag-close-icon.anticon-close {
      transition: none;
      margin-left: 3px;
    }
  }
}

.select-item {
  .default();
  nz-tag {
    .tag-label {
      padding-right: 0;
    }
  }
}

.multi-select-item {
  // pull content margins to the edges of the tag, to increase
  // popover hover area
  display: inline-block;
  margin-top: -3px;
  margin-bottom: -3px;
  margin-left: -4px;
  padding-left: 4px;
  // add space between nz-select's pseudo-tag icon & label
  .tag-icon::after {
    content: ' ';
  }
}

.typeahead-match {
  font-weight: bold;
}

a.disabled {
  pointer-events: none;
}
