@let approval = cvcApproval();
@let entity = cvcAssertion();
@let vwr = viewer();
<nz-list-item [nzExtra]="itemExtra">
  <nz-list-item-meta
    [nzAvatar]="itemAvatar"
    [nzTitle]="itemTitle"
    [nzDescription]="itemDescription">
  </nz-list-item-meta>
</nz-list-item>

<!-- item avatar template -->
<ng-template #itemAvatar>
  <div class="organization-image-container">
    <img
      alt="{{ approval.organization.name }}"
      class="organization-image"
      src="{{ approval.organization.profileImagePath }}" />
  </div>
</ng-template>

<!-- item title template -->
<ng-template #itemTitle>
  <span class="approval-title">
    @switch (approval.status) {
      @case ('REVOKED') {
        Previously Approved by
      }
      @case ('ACTIVE') {
        Classification Approved by
      }
      @case ('REQUIRES_REVIEW') {
        Approval under review by
      }
    }
    {{ approval.organization.name }}
  </span>
</ng-template>

<!-- approval summary -->
<ng-template #itemDescription>
  <span
    nz-typography
    nzType="secondary"
    class="approval-summary">
    @let assertionName = approval.assertion.name;
    @let organizationName = approval.organization.name;
    @let editorName = approval.user.displayName;
    @switch (approval.status) {
      @case ('ACTIVE') {
        <strong>{{ assertionName }}</strong> classification has been approved by
        <strong>{{ organizationName }}</strong> under the authority of editor
        <strong> {{ editorName }}.</strong>
      }
      @case ('REVOKED') {
        <strong>{{ assertionName }}</strong> classification approval has been
        revoked by <strong>{{ organizationName }}</strong> under the authority
        of editor
        <strong> {{ editorName }}.</strong>
      }
      @case ('REQUIRES_REVIEW') {
        Post-approval changes to
        <strong>{{ assertionName }}</strong> require review by a
        <strong>{{ organizationName }}</strong> editor with approval privileges.
      }
    }
  </span>

  <!-- approval details collapsible panels -->
  @switch (approval.status) {
    @case ('ACTIVE') {
      <nz-collapse [nzBordered]="false">
        <nz-collapse-panel
          nzHeader="Show Approval Details"
          [nzExtra]="approvalStatus">
          <div
            nz-flex
            nzVertical
            [nzGap]="8">
            <ng-container *ngTemplateOutlet="approvalDetails"></ng-container>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    }
    @case ('REVOKED') {
      <nz-collapse [nzBordered]="false">
        <nz-collapse-panel
          nzHeader="Show Revocation Details"
          [nzExtra]="approvalStatus">
          <div
            nz-flex
            nzVertical
            [nzGap]="8">
            <ng-container *ngTemplateOutlet="approvalDetails"></ng-container>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    }
    @case ('REQUIRES_REVIEW') {
      <nz-collapse [nzBordered]="false">
        <nz-collapse-panel
          nzHeader="Show Unapproved Changes"
          [nzActive]="true"
          [nzExtra]="approvalStatus">
          <div
            nz-flex
            nzVertical
            [nzGap]="8">
            <ng-container *ngTemplateOutlet="approvalDetails"></ng-container>
            <div
              class="revisions-container"
              #revisionsContainer>
              <cvc-activity-feed
                [cvcFilters]="feedFilters(approval)"
                [cvcSettings]="feedSettings()"
                [cvcShowFilters]="false"
                [cvcAutoHeightTarget]="revisionsContainer"
                [cvcAutoHeightOffset]="-40"
                cvcTitle="Unapproved Changes"></cvc-activity-feed>
            </div>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    }
  }
  <!-- approval status template -->
  <ng-template #approvalStatus>
    <span>Status: </span>
    @switch (approval.status) {
      @case ('ACTIVE') {
        <nz-tag nzColor="success"> Active</nz-tag>
      }
      @case ('REQUIRES_REVIEW') {
        <nz-tag nzColor="processing"> Requires Review</nz-tag>
      }
      @case ('REVOKED') {
        <nz-tag nzColor="error"> Revoked</nz-tag>
      }
    }
  </ng-template>
  <!-- details template-->
  <ng-template #approvalDetails>
    <nz-descriptions
      nzBordered
      nzLayout="vertical"
      nzSize="small"
      [nzColumn]="2">
      <nz-descriptions-item nzTitle="Approving Organization">
        <cvc-organization-tag
          [org]="approval.organization"
          [enablePopover]="false"></cvc-organization-tag>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Classification Approved by">
        <cvc-user-tag
          [user]="approval.user"
          [enablePopover]="false"></cvc-user-tag>
        <span
          nz-typography
          nzType="secondary">
          {{ approval.lastReviewed | timeAgo }}
        </span>
      </nz-descriptions-item>
      @if (approval.status === 'REVOKED' && approval.revocationActivity) {
        <nz-descriptions-item
          nzTitle="Reason for Revocation"
          nzSpan="2">
          @if (approval.revocationActivity.note) {
            <p nz-typography>
              {{ approval.revocationActivity.note }}
            </p>
          } @else {
            <p
              nz-typography
              nzType="secondary">
              No note provided
            </p>
          }
        </nz-descriptions-item>
      }
    </nz-descriptions>
  </ng-template>
</ng-template>

<!-- approval action buttons -->
<ng-template #itemExtra>
  @if (approval.status !== 'REVOKED') {
    <div
      nz-flex
      nzVertical
      [nzGap]="8">
      @if (approval.status === 'REQUIRES_REVIEW') {
        <cvc-approve-assertion-button
          [assertionId]="entity.id"
          mode="approveChanges"
          [disabled]="!(vwr | canApproveApproval: approval)"
          display="block"
          [tooltipText]="
            vwr | approvalActionTooltip: 'approveChanges' : entity : approval.id
          ">
        </cvc-approve-assertion-button>
      }
      <cvc-approve-assertion-button
        [assertionId]="entity.id"
        mode="revoke"
        [disabled]="!(vwr | canRevokeApproval: approval)"
        display="block"
        [tooltipText]="
          vwr | approvalActionTooltip: 'revoke' : entity : approval.id
        ">
      </cvc-approve-assertion-button>
    </div>
  }
</ng-template>
