<form nz-form
  [formGroup]="formGroup"
  (ngSubmit)="submitRevision(formModel)"
  nzLayout="vertical">
  <ng-container *ngIf="(submitError$ | async) as errors">
    <nz-form-item *ngIf="errors.length > 0">
      <cvc-form-errors-alert [errors]="errors">
      </cvc-form-errors-alert>
    </nz-form-item>
  </ng-container>
  <ng-container *ngIf="submitSuccess$ | async">
    <nz-alert nzType="success"
      nzMessage="Suggested Revision Submitted"
      [nzDescription]="successMessage"
      nzShowIcon></nz-alert>
    <ng-template #successMessage
      nzSize="small">
      <p>View it on the <a routerLink="../revisions">Revisions Page</a> or suggest another revision below.</p>
    </ng-template>
  </ng-container>
  <formly-form [form]="formGroup"
    [fields]="formFields"
    [model]="formModel"
    [options]="formOptions"></formly-form>
  <nz-form-item *ngIf="!(submitSuccess$ | async)">
    <nz-form-control>
      <cvc-form-buttons>
        <cvc-org-selector-btn-group [(selectedOrg)]="this.mostRecentOrg">
          <button type="submit"
            nz-button
            cvcOrgSelectorBtn
            nzType="primary"
            nzSize="small"
            [disabled]="!formGroup.valid">
            Suggest Revision
          </button>
        </cvc-org-selector-btn-group>
      </cvc-form-buttons>
    </nz-form-control>
  </nz-form-item>
</form>
<ngx-json-viewer *ngIf="formGroup"
  [json]="formGroup.value"></ngx-json-viewer>
