<nz-row [nzGutter]="[8, 4]">
  <!-- TABS -->
  <nz-col nzSpan="24">
    <!--<p><b>Permalink Id:</b> {{ permalinkId() }}</p>-->
    <nz-tabs
      nzType="card"
      nzSize="small"
      (nzSelectedIndexChange)="onTabIndexChange($event)"
      [nzSelectedIndex]="selectedTabIndex()">
      @for (tab of tabs; track tab) {
        <nz-tab [nzTitle]="tab.label"> </nz-tab>
      }
    </nz-tabs>
  </nz-col>

  <!-- QUERY BUILDER FORM -->
  <nz-col
    nzXs="24"
    nzXXl="12"
    class="query-form">
    <cvc-query-builder-form
      [(searchEndpoint)]="searchEndpoint"
      [(permalinkId)]="permalinkId"
      (resultIds)="resultIds.set($event)">
    </cvc-query-builder-form>
  </nz-col>

  <!-- RESULTS TABLE -->
  <nz-col
    nzXs="24"
    nzXXl="12"
    class="query-results">
    @let ids = resultIds();
    <!--    <p><b>Result IDs:</b> {{ resultIds() | json }}</p>-->
    @if (ids && ids.length > 0) {
      @switch (searchEndpoint()) {
        @case ('searchEvidenceItems') {
          <cvc-evidence-table [evidenceItemIds]="ids"></cvc-evidence-table>
        }
        @case ('searchDiseases') {
          <cvc-diseases-table [diseaseIds]="ids"></cvc-diseases-table>
        }
        @default {
          <p>No table specified for this search endpoint.</p>
        }
      }
    } @else {
      <p>No results found.</p>
    }
  </nz-col>
</nz-row>
