:host {
  .query-form {
    //padding-bottom: 4px;
  }
  .query-results {
    //padding-top: 4px;
  }
  .instructions-block {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 12px;
  }
}
