<ng-container>
  <nz-button-group [nzSize]="'small'">
    <ng-content></ng-content>
    <button type="button" nz-button nzType="primary"
      [disabled]="disabled"
      nz-dropdown [nzDropdownMenu]="orgMenu">
      <i nz-icon nzType="down"></i>
    </button>
  </nz-button-group>
  <nz-dropdown-menu #orgMenu="nzDropdownMenu">
    <ul nz-menu>
      <li *ngFor="let org of organizations"
        nz-menu-item [nzSelected]="mostRecentOrgId === org.id">
        {{ org.name }}
      </li>
    </ul>
  </nz-dropdown-menu>
</ng-container>
