<ng-container>
  <nz-button-group [nzSize]="'small'">
    <ng-content></ng-content>
    <button type="button" nz-button nzType="primary"
      [disabled]="disabled"
      nz-dropdown [nzDropdownMenu]="orgMenu">
      <i nz-icon nzType="down"></i>
    </button>
  </nz-button-group>
  <nz-dropdown-menu #orgMenu="nzDropdownMenu">
    <ul nz-menu>
      <li *ngFor="let org of organizations"
        nz-menu-item [nzSelected]="mostRecentOrg?.id === org.id"
        (click)="selectOrg(org.id)">
        <nz-avatar [nzSrc]="mostRecentOrg.profileImagePath" [nzSize]="10"
          [nzShape]="'square'"
          style="background-color:#f0f5ff;"></nz-avatar>
        {{ org.name }}
      </li>
    </ul>
  </nz-dropdown-menu>
</ng-container>
