@import 'themes/overrides/card-table.overrides.less';

tr.data-row td:first-of-type {
  padding-left: 6px;
  cvc-entity-tag {
    margin-left: 6px;
  }
}
.ant-table-filter-dropdown {
  padding: 8px;
}
.prefs-popover {
  ::ng-deep nz-checkbox-group:first-of-type {
    label {
      display: block;
      span {
        display: inline-block;
      }
    }
  }
}
