<!-- adjust nz-card's cvcAutoHeightCard to equalize padding around this table's container e.g. entity-home's nz-page-header components -->
<nz-card [nzTitle]="titleTemplate"
  nzSize="small"
  cvcAutoHeightCard="35">
  <!-- adjust nz-table's cvcAutoHeightTable to ensure that table's column header rows are not clipped when table is scrolled to bottom -->
  <nz-table #virtualTable
    [cvcAutoHeightTable]="27"
    nzSize="small"
    [nzData]="variants$ | ngrxPush"
    [nzLoading]="isLoading"
    [nzVirtualForTrackBy]="trackByIndex"
    [nzScroll]="{ x: '100%', y: '600px' }"
    [nzFrontPagination]="false"
    [nzShowPagination]="false">
    <thead (nzSortOrderChange)="onSortChanged($event)">
      <tr nzLeft>
        <th nzWidth="10%"
          [nzColumnKey]="sortColumns.VariantName"
          [nzSortFn]="true">
          Name
        </th>
        <th nzWidth="10%">
          Aliases
        </th>
        <th nzWidth="10%"
          [nzColumnKey]="sortColumns.EntrezSymbol"
          [nzSortFn]="true">
          Gene
        </th>
        <th nzWidth="25%">
          Diseases
        </th>
        <th nzWidth="25%">
          Drugs
        </th>
        <th nzWidth="3%"
          nzRight
          [nzSortFn]="true"
          [nzColumnKey]="sortColumns.EvidenceScore"
          nz-tooltip
          nzTooltipTitle="Evidence Score">
          <div style="min-width: 60px; text-align: right;">
            <i nz-icon
              nzType="civic:evidence"></i>&nbsp;Score
          </div>
        </th>
        <th nzWidth="3%"
          nzRight
          [nzColumnKey]="sortColumns.EvidenceItemCount"
          [nzSortFn]="true"
          nz-tooltip
          nzTooltipTitle="Evidence Count"><i nz-icon
                                            nzType="civic:evidence"></i></th>
        <th nzWidth="3%"
          nzRight
          [nzColumnKey]="sortColumns.AssertionCount"
          [nzSortFn]="true"
          nz-tooltip
          nzTooltipTitle="Assertion Count"><i nz-icon
                                             nzType="civic:assertion"></i></th>
      </tr>
      <tr class="filter-row">
        <th nzLeft>
          <cvc-clearable-input-filter [(inputModel)]="variantNameInput"
            [onInputChanged]="textInputCallback"></cvc-clearable-input-filter>
        </th>
        <th>
          <cvc-clearable-input-filter [(inputModel)]="variantAliasInput"
            [onInputChanged]="textInputCallback"></cvc-clearable-input-filter>
        </th>
        <th>
          <nz-input-group [nzSuffix]="geneSymbolInputClearTpl">
            <input type="text"
              nz-input
              placeholder="Search gene"
              [(ngModel)]="geneSymbolInput"
              (ngModelChange)="onModelUpdated($event)" />
          </nz-input-group>
          <ng-template #geneSymbolInputClearTpl>
            <i nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="geneSymbolInput"
              (click)="geneSymbolInput = undefined; onModelUpdated(undefined)"></i>
          </ng-template>
        </th>
        <th>
          <nz-input-group [nzSuffix]="diseaseInputClearTpl">
            <input type="text"
              nz-input
              placeholder="Search disease"
              [(ngModel)]="diseaseNameInput"
              (ngModelChange)="onModelUpdated($event)" />
          </nz-input-group>
          <ng-template #diseaseInputClearTpl>
            <i nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="diseaseNameInput"
              (click)="diseaseNameInput = undefined; onModelUpdated(undefined)"></i>
          </ng-template>
        </th>
        <th>
          <nz-input-group [nzSuffix]="drugInputClearTpl">
            <input type="text"
              nz-input
              placeholder="Search drug"
              [(ngModel)]="drugNameInput"
              (ngModelChange)="onModelUpdated($event)" />
          </nz-input-group>
          <ng-template #drugInputClearTpl>
            <i nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="drugNameInput"
              (click)="drugNameInput = undefined; onModelUpdated(undefined)"></i>
          </ng-template>
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-template nz-virtual-scroll
        let-variant
        let-index="index">
        <tr>
          <td>
            <cvc-variant-tag [variant]="variant"></cvc-variant-tag>
          </td>
          <td>
            <cvc-plain-tag-overflow [tags]="variant.aliases | pluck: 'name'"
              [matchingText]="variantAliasInput"></cvc-plain-tag-overflow>
          </td>
          <td>
            <cvc-gene-tag [gene]="{id: variant.geneId, name: variant.geneName, link: variant.geneLink}"></cvc-gene-tag>
          </td>
          <td>
            <cvc-tag-overflow tagType="disease"
              [tags]="variant.diseases"
              [matchingText]="diseaseNameInput"> </cvc-tag-overflow>
          </td>
          <td>
            <cvc-tag-overflow tagType="drug"
              [tags]="variant.drugs"
              [matchingText]="drugNameInput"> </cvc-tag-overflow>
          </td>
          <td nzRight>{{variant.evidenceScore}}</td>
          <td nzRight>{{variant.evidenceItemCount}}</td>
          <td nzRight>{{variant.assertionCount}}</td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #titleTemplate>
  <i nz-icon
    nzType="civic:variant"></i>
  <ng-container *ngIf="this.cvcTitleTemplate">
    <ng-template [ngTemplateOutlet]="cvcTitleTemplate"></ng-template>
  </ng-container>
  <ng-container *ngIf="this.cvcTitle">
    {{ this.cvcTitle }}
  </ng-container>
  <span *ngIf="(filteredCount$ | ngrxPush) as filteredCount; else noData"
    nz-typography
    nzType="secondary">
    ({{totalCount}} total, showing {{visibleCount}}<span *ngIf="totalCount && filteredCount < totalCount"> of {{filteredCount}} filtered</span>)
  </span>
  <ng-template #noData>
    <span nz-typography
      nzType="secondary">
      (0 total)
    </span>
  </ng-template>
</ng-template>
