<nz-input-group nzSize="large" [nzSuffix]="suffixIcon">
  <input placeholder="Quicksearch" nz-input [(ngModel)]="searchQuery" (ngModelChange)="refresh()"
      [nzAutocomplete]="auto" 
      (keyup.enter)="quicksearchSelected($event)"
    />
</nz-input-group>
<ng-template #suffixIcon>
  <i nz-icon nzType="search"></i>
</ng-template>

<nz-autocomplete  #auto>
  <ng-container *ngFor="let res of searchResults$ | ngrxPush">
    <a [routerLink]="urlForResult(res)">
      <nz-auto-option (click)="searchQuery = ''; refresh()" [nzValue]="urlForResult(res)">
        <span>
          <i nz-icon [nzType]="iconNameForResult(res)"></i> &nbsp; <span innerHTML={{res.name}}></span><br />
          <span innerHTML={{res.matchingText}}></span>
        </span>
      </nz-auto-option>
    </a>
  </ng-container>
</nz-autocomplete>