<div id="popover-content">
  <ng-container *ngIf="drug$ | ngrxPush as d" >
    <nz-card [nzTitle]="cardTitle" nzBordered="false"
      id="card-content"
      [nzExtra]="linkout">
      <ng-template #cardTitle>
        <i nz-icon nzType="civic-intervention" nzTheme="twotone" nzTwotoneColor="#AC3996"></i>
          {{ d.name }}
      </ng-template>
      <ng-template #linkout>
        <cvc-link-tag [href]="d.drugUrl" tooltip="View on NCI Thesaurus">
          {{ d.ncitId }}
        </cvc-link-tag>
      </ng-template>

      <nz-descriptions nzSize="small"
        [nzColumn]="2"
        nzBordered="true">

        <nz-descriptions-item nzTitle="Assertions"
          nzSpan="2">
          {{d.assertionCount}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Evidence"
          nzSpan="2">
          {{d.evidenceCount}}
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-card>
  </ng-container>
</div>
