<cvc-section-navigation> </cvc-section-navigation>
<nz-page-header class="site-page-header">
  <!--content-->
  <nz-page-header-content>
    <!-- title, description, docs links -->
    <nz-row class="header-content">
      <nz-col
        nzFlex="64px"
        class="header-icon">
        <i
          nz-icon
          nzTheme="twotone"
          [nzTwotoneColor]="'Gene' | entityColor"
          nzType="civic-gene"></i>
      </nz-col>
      <nz-col
        nzFlex="0 1 600px"
        class="header-description">
        <h2>Genes</h2>
        <p
          nz-typography
          nzEllipsis
          nzExpandable
          [nzEllipsisRows]="2">
          CIViC Genes include a gene-level summary, a link to the Drug Gene
          Interaction Database, and extensive gene details from MyGene.info.
        </p>
      </nz-col>
      <nz-col
        nzFlex="auto"
        class="header-links">
        <nz-space
          nzDirection="vertical"
          class="docs-buttons">
          <a
            nz-button
            href="https://civic.readthedocs.io/en/latest/model/genes.html"
            target="_blank"
            nzSize="small"
            nzBlock
            *nzSpaceItem>
            <i
              nz-icon
              nzType="link"
              nzTheme="outline"></i>
            View Gene Model Docs
          </a>
          <a
            nz-button
            href="https://civic.readthedocs.io/en/latest/curating/genes.html"
            target="_blank"
            nzSize="small"
            nzBlock
            *nzSpaceItem>
            <i
              nz-icon
              nzType="link"
              nzTheme="outline"></i>
            View Gene Curation Docs
          </a>
        </nz-space>
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-col [nzSpan]="24">
        <div class="content">
          <cvc-genes-table cvcTitle="Browse All Genes"></cvc-genes-table>
        </div>
      </nz-col>
    </nz-row>
  </nz-page-header-content>
</nz-page-header>
