<cvc-section-navigation></cvc-section-navigation>
<nz-page-header class="site-page-header">
  <nz-page-header-content>
    <!-- title, description, docs links -->
    <nz-row class="header-content">
      <nz-col nzFlex="64px"
        class="header-icon">
        <i nz-icon
          nzTheme="twotone"
          [nzTwotoneColor]="'Phenotype' | entityColor"
          nzType="civic-phenotype"></i>
      </nz-col>
      <nz-col nzFlex="600px"
        class="header-description">
        <h2>Associated Phenotypes</h2>
        <p nz-typography
          nzEllipsis
          nzExpandable
          [nzEllipsisRows]="2">Phenotypes are symptoms or abnormalities that are encountered in human disease, optionally associated with Evidence Items and known to the Human Phenotype Ontology database.</p>
      </nz-col>
      <nz-col nzFlex="auto"
        class="header-links">
        <nz-space nzDirection="vertical"
          class="docs-buttons">
          <a nz-button
            href="https://civic.readthedocs.io/en/latest/model/evidence/associated_phenotype.html"
            target="_blank"
            nzSize="small"
            nzBlock
            *nzSpaceItem>
            <i nz-icon
              nzType="link"
              nzTheme="outline"></i>
            View Associated Phenotype Docs
        </a>
          <a nz-button
            href="https://civic.readthedocs.io/en/latest/model/evidence/associated_phenotype.html#curating-associated-phenotypes"
            target="_blank"
            nzSize="small"
            nzBlock
            *nzSpaceItem>
            <i nz-icon
              nzType="link"
              nzTheme="outline"></i>
            View Phenotype Curation Docs
        </a>
        </nz-space>
      </nz-col>
    </nz-row>

    <!-- table -->
    <div nz-row>
      <div nz-col
        [nzSpan]="24">
        <div class="content">
          <cvc-phenotypes-table cvcTitle="Browse All Associated Phenotypes"></cvc-phenotypes-table>
        </div>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>
