@import "themes/global-variables.less";
@import "themes/overrides/descriptions-overrides.less";

:host {
  display: block;
}

.summary-block {
  overflow-y: auto;
}

.mode-label {
  font-weight: 300;
}