<nz-alert *ngIf="this.success" nzBanner nzMessage="Flag resolved." nzType="success" nzCloseable (nzOnClose)="onSuccessBannerClose()"></nz-alert>
<button
  *ngIf="!this.success"
  nz-button
  nz-popover
  nzSize="small"
  [nzPopoverTitle]="flagResolvePopoverTitleTemplate"
  [(nzPopoverVisible)]="flagResolvePopoverVisible"
  (click)="this.flagResolvePopoverVisible = !this.flagResolvePopoverVisible"
  [nzPopoverContent]="flagResolvePopoverContentTemplate"
  [nzPopoverTrigger]="undefined "
  nzPopoverPlacement="bottom"
>
  Resolve Flag
  <i nz-icon nzType="caret-down" nzTheme="outline"></i>
</button>

<ng-template #flagResolvePopoverTitleTemplate>
  Resolve Flag
  <span [ngStyle]="{ 'float': 'right' }">
    <i nz-icon nzType="close" nzTheme="outline" (click)="this.flagResolvePopoverVisible = false; this.errorMessages = []"></i>
  </span>
</ng-template>

<ng-template #flagResolvePopoverContentTemplate>
  <nz-alert *ngIf="errorMessages.length > 0" nzType="error" nzShowIcon [nzDescription]="errorContents" nzMessage="Error Resolving Flag"> </nz-alert>
  <ng-template #errorContents>
    <ul>
      <li *ngFor="let error of errorMessages">
        {{ error }}
      </li>
    </ul>
  </ng-template>
  <nz-card nzType="inner">
    <form nz-form
      [formGroup]="formGroup"
      (ngSubmit)="resolveFlag(formModel)"
      nzLayout="vertical">
      <formly-form [form]="formGroup"
        [fields]="formFields"
        [model]="formModel"
        [options]="formOptions"
        (modelChange)="formModel = $event"></formly-form>
      <nz-form-item>
        <nz-form-control>
          <cvc-form-buttons>
            <cvc-org-selector-btn-group (selectedOrgChange)="onOrgSelected($event)">
              <button type="submit"
                nz-button
                cvcOrgSelectorBtn
                nzType="primary"
                nzSize="small"
                [disabled]="!formGroup.valid">
                Resolve
              </button>
            </cvc-org-selector-btn-group>
          </cvc-form-buttons>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</ng-template>