<nz-space nzSize="middle" *ngIf="(evidence$ | ngrxPush) as evidence" nzDirection="vertical" class="space-align-block">
  <nz-space-item>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-row>
          <nz-col [nzSpan]="24">
            <p nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="14">{{ evidence.description }}</p>
          </nz-col>
        </nz-row>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-row><b>Evidence Level:&nbsp;</b>{{ evidence.evidenceLevel }}</nz-row>
        <nz-row><b>Evidence Type:&nbsp;</b>{{ evidence.evidenceType }}</nz-row>
        <nz-row><b>Evidence Direction:&nbsp;</b>{{ evidence.evidenceDirection }}</nz-row>
        <nz-row><b>Clinical Significance:&nbsp;</b>{{ evidence.clinicalSignificance }}</nz-row>
        <nz-row><b>Variant Origin:&nbsp;</b>{{ evidence.variantOrigin }}</nz-row>
        <nz-row [ngPlural]="evidence.drugs.length">
            <ng-template ngPluralCase="=0"><b>Drug:&nbsp;</b> <i>Not Applicable</i></ng-template>
            <ng-template ngPluralCase="=1"><b>Drug:&nbsp;</b></ng-template>
            <ng-template ngPluralCase="other"><b>Drugs:&nbsp;</b></ng-template>
            <ng-container *ngFor="let drug of evidence.drugs; let last = last">
              {{ drug.name }} <ng-container *ngIf="!last">,&nbsp;</ng-container>
            </ng-container>
            <ng-container *ngIf="evidence.drugs.length > 1">{{ ' (' + evidence.drugInteractionType + ')' }}</ng-container>
        </nz-row>
        <nz-row *ngIf="evidence.disease"><b>Disease:&nbsp;</b>{{ evidence.disease.displayName }}</nz-row>
        <nz-row *ngIf="!evidence.disease"><b>Disease:&nbsp;</b><i>Not Applicable</i></nz-row>
        <nz-row [ngPlural]="evidence.phenotypes.length">
            <ng-template ngPluralCase="=0"><b>Associated Phenotype:&nbsp;</b> <i>-</i></ng-template>
            <ng-template ngPluralCase="=1"><b>Associated Phenotype:&nbsp;</b></ng-template>
            <ng-template ngPluralCase="other"><b>Associated Phenotypes:&nbsp;</b></ng-template>
            <ng-container *ngFor="let p of evidence.phenotypes; let last = last">
              {{ p.name }} <ng-container *ngIf="!last">,&nbsp;</ng-container>
            </ng-container>
        </nz-row>
        <nz-row><b>Source:&nbsp;</b>{{ evidence.source.citation }}</nz-row>
        <nz-row [ngPlural]="evidence.source.sourceType">
          <ng-template ngPluralCase="=PUBMED"><b>PubMed ID:&nbsp;</b></ng-template>
          <ng-template ngPluralCase="=ASCO"><b>ASCO ID:&nbsp;</b></ng-template>
          {{ evidence.source.citationId }}
        </nz-row>
        <nz-row *ngIf="evidence.source.clinicalTrials" [ngPlural]="evidence.source.clinicalTrials.length">
            <ng-template ngPluralCase="=0"><b>Clinical Trial:&nbsp;</b> <i>-</i></ng-template>
            <ng-template ngPluralCase="=1"><b>Clinical Trial:&nbsp;</b></ng-template>
            <ng-template ngPluralCase="other"><b>Clinical Trials:&nbsp;</b></ng-template>
            <ng-container *ngFor="let t of evidence.source.clinicalTrials; let last = last">
              <a href="https://clinicaltrials.gov/show/{{t.nctId}}" target="_blank">{{ t.nctId }}</a>
              <ng-container *ngIf="!last">,&nbsp;</ng-container>
            </ng-container>
        </nz-row>
        <nz-row><b>Evidence Rating:&nbsp;</b>{{ evidence.evidenceRating }}</nz-row>
      </div>
    </div>
  </nz-space-item>
  <nz-space-item>
    <div nz-row [nzGutter]="16">
      <nz-col [nzSpan]="16">
        <cvc-event-feed [subscribable]="subscribable" tagDisplay="hideSubject"></cvc-event-feed>
      </nz-col>
    </div>
  </nz-space-item>
  <nz-space-item>
    <cvc-assertions-browse [evidenceId]="evidence.id"></cvc-assertions-browse>
  </nz-space-item>
</nz-space>