@import "global-variables.less";

::host {
  display: block;
}

nz-space, nz-space-item {
  width: 100%;
}

.status-tags ::ng-deep {
  nz-tag {
    margin-right: 0;
  }
  .ant-descriptions-item-label {
    white-space: nowrap;
  }
}
