<div class="summary-container">
  <ng-container *ngIf="disease$ | ngrxPush as disease">
    <nz-row [nzGutter]="[8,16]">
      <nz-col [nzSpan]="24">
        <cvc-my-disease-info [diseaseInfo]="disease.myDiseaseInfo"></cvc-my-disease-info>
      </nz-col>
      <!-- disease evidence table -->
      <nz-col [nzSpan]="24">
        <cvc-evidence-table [diseaseId]="diseaseId"
          cvcHeight="400px"
          cvcTitle="{{disease.displayName}} Evidence"></cvc-evidence-table>
      </nz-col>
      <!-- disease assertions table -->
      <nz-col [nzSpan]="24">
        <cvc-assertions-table [diseaseId]="diseaseId"
          cvcTitle="{{disease.displayName}} Assertions"></cvc-assertions-table>
      </nz-col>
    </nz-row>
  </ng-container>
</div>
