<ng-container *ngIf="featureId && featureType; else loadingFeature">
  @switch (featureType) {
    @case ('Gene') {
      <span>
        <cvc-gene-revise-form [featureId]="featureId"> </cvc-gene-revise-form>
      </span>
    }
    @case ('Factor') {
      <cvc-factor-revise-form [featureId]="featureId"> </cvc-factor-revise-form>
    }
    @case ('Fusion') {
      <cvc-fusion-revise-form [featureId]="featureId"></cvc-fusion-revise-form>
    }
    @case ('Region') {
      <cvc-region-revise-form [featureId]="featureId"></cvc-region-revise-form>
    }
  }
</ng-container>
<ng-template #loadingFeature>Loading Feature...</ng-template>
