<cvc-tag-list size="xs">
  <div *ngFor="let tag of displayedTags"
    [ngClass]="{'matched-tag': matchingText && tag.name.toLowerCase().includes(matchingText)}">
    <ng-container [ngSwitch]="tagType">
      <ng-container *ngSwitchCase="'drug'">
        <cvc-drug-tag [drug]="tag"></cvc-drug-tag>
      </ng-container>
      <ng-container *ngSwitchCase="'disease'">
        <cvc-disease-tag [disease]="tag"></cvc-disease-tag>
      </ng-container>
    </ng-container>
  </div>
  <div [ngClass]="{'matched-tag': matchedHidden}">
    <nz-tag *ngIf="hiddenCount && hiddenCount > 0" nz-popover [nzPopoverMouseEnterDelay]="0.5"
      [nzPopoverContent]="additionalTagPopover" nzPopoverPlacement="top" nzPopoverTrigger="hover">
      +{{this.hiddenCount}} more
    </nz-tag>
  </div>
  <ng-template #additionalTagPopover>
    <cvc-tag-list size="xs">
      <div *ngFor="let tag of hiddenTags"
        [ngClass]="{'matched-tag': matchingText && tag.name.toLowerCase().includes(matchingText)}">
        <ng-container [ngSwitch]="tagType">
          <ng-container *ngSwitchCase="'drug'">
            <cvc-drug-tag [drug]="tag"></cvc-drug-tag>
          </ng-container>
          <ng-container *ngSwitchCase="'disease'">
            <cvc-disease-tag [disease]="tag"></cvc-disease-tag>
          </ng-container>
        </ng-container>
      </div>
    </cvc-tag-list>
  </ng-template>
</cvc-tag-list>