<nz-card [nzTitle]="organization.name"
  [nzExtra]="avatar">
  <ng-template #avatar>
    <cvc-organization-avatar [organization]="organization"
      [size]="64"></cvc-organization-avatar>
  </ng-template>
  <div nz-row
    [nzGutter]="16">
    <nz-row>
      <nz-col [nzSpan]="24">
        <nz-row>
          <p nz-typography><b>Description: </b>{{ organization.description }}</p>
        </nz-row>
        <nz-row>
          <p nz-typography><b>Organization Statistics</b></p>
        </nz-row>
        <nz-row [nzGutter]="16">
          <nz-col [nzSpan]="2">
            <nz-card>
              <nz-statistic [nzValue]="(organization.orgStatsHash.comments | number)!"
                [nzTitle]="'Comments'"></nz-statistic>
            </nz-card>
          </nz-col>
          <nz-col [nzSpan]="3">
            <nz-card>
              <nz-statistic [nzValue]="(organization.orgStatsHash.revisions | number)!"
                [nzTitle]="'Suggested Revisions'"></nz-statistic>
            </nz-card>
          </nz-col>
          <nz-col [nzSpan]="3">
            <nz-card>
              <nz-statistic [nzValue]="(organization.orgStatsHash.appliedRevisions | number)!"
                [nzTitle]="'Applied Revisions'"></nz-statistic>
            </nz-card>
          </nz-col>
          <nz-col [nzSpan]="3">
            <nz-card>
              <nz-statistic [nzValue]="(organization.orgStatsHash.suggestedSources | number)!"
                [nzTitle]="'Suggested Sources'"></nz-statistic>
            </nz-card>
          </nz-col>
          <nz-col [nzSpan]="3">
            <nz-card>
              <nz-statistic [nzValue]="(organization.orgStatsHash.submittedEvidenceItems | number)!"
                [nzTitle]="'Submitted Evidence'"></nz-statistic>
            </nz-card>
          </nz-col>
          <nz-col [nzSpan]="3">
            <nz-card>
              <nz-statistic [nzValue]="(organization.orgStatsHash.acceptedEvidenceItems | number)!"
                [nzTitle]="'Accepted Evidence'"></nz-statistic>
            </nz-card>
          </nz-col>
          <nz-col [nzSpan]="3">
            <nz-card>
              <nz-statistic [nzValue]="(organization.orgStatsHash.submittedAssertions | number)!"
                [nzTitle]="'Submitted Assertions'"></nz-statistic>
            </nz-card>
          </nz-col>
          <nz-col [nzSpan]="3">
            <nz-card>
              <nz-statistic [nzValue]="(organization.orgStatsHash.acceptedAssertions | number)!"
                [nzTitle]="'Accepted Assertions'"></nz-statistic>
            </nz-card>
          </nz-col>
        </nz-row>
      </nz-col>
    </nz-row>
  </div>
</nz-card>
