::host {
  display: block;
  .ant-card-meta {
    ::ng-deep .ant-card-meta-title {
      line-height: 14px;
      margin-bottom: 8px;
    }
  }
}
.organization-card-content {
  // provide some margin between avatar & name,
  // and remove padding from card content area
  margin: 12px -13px -13px -13px;
}
