<nz-card nz-size="small">
  <nz-card-meta
    [nzTitle]="organization.name"
    [nzDescription]="organizationTag"
    [nzAvatar]="organizationAvatar">
  </nz-card-meta>
  <ng-template #organizationAvatar>
    <cvc-organization-avatar
      [organization]="organization"
      shape="square"
      [size]="48"></cvc-organization-avatar>
  </ng-template>
  <ng-template #organizationTag>
    <cvc-organization-tag
      [org]="organization"
      [enablePopover]="true">
    </cvc-organization-tag>
  </ng-template>
  <div class="organization-card-content">
    <nz-descriptions
      nzBordered
      nzSize="small"
      [nzColumn]="2"
      nzLayout="vertical">
      <nz-descriptions-item
        nzTitle="Description"
        [nzSpan]="1">
        <p
          nz-typography
          nzEllipsis
          [nzEllipsisRows]="4"
          [nzExpandable]="true">
          {{ organization.description }}
        </p>
      </nz-descriptions-item>
    </nz-descriptions>
  </div>
</nz-card>
