:host {
  display: block;
  margin-bottom: 1em;
}

@source-selector-width: 10em;
@input-spacer: 0.5em;

.source-selector {
  display: inline-block;
  width: @source-selector-width;
}

.id-input {
  display: inline-block;
  margin-left: @input-spacer;
  width: calc(~'100% - @{source-selector-width} - @{input-spacer}')
}
