<ng-container *ngIf="user$ | ngrxPush as user">
  <cvc-section-navigation [displayName]="user.displayName">
  </cvc-section-navigation>

  <nz-page-header class="site-page-header">
    <!-- title -->
    <nz-page-header-title>
      <i nz-icon nzType="civic:user"></i>
      <span routerLink="/user/{{user.id}}">
        {{ user.name }}
      </span>
    </nz-page-header-title>

    <!--extra-->
    <nz-page-header-content>
      <nz-alert *ngIf="this.uploadError" nzType="error" nzCloseable
        nzMessage="There was an error updating your profile image." (nzOnClose)="this.uploadError = false"></nz-alert>
      <nz-alert *ngIf="this.updateSuccess" nzType="success" nzCloseable nzMessage="Profile image successfully updated."
        (nzOnClose)="this.updateSuccess = false"></nz-alert>
      <cvc-tab-navigation [tabs]="tabs$ | ngrxPush"> </cvc-tab-navigation>
      <div class="content">
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="3">
            <nz-space nzDirection="vertical" nzSize="middle">
              <nz-space-item>
                <cvc-user-avatar [user]="user" [size]="128"></cvc-user-avatar>
              </nz-space-item>
              <nz-space-item>
                <cvc-avatar-uploader *ngIf="this.ownProfile$ | ngrxPush"
                  (uploadComplete)="profileUploadComplete($event)"></cvc-avatar-uploader>
              </nz-space-item>
            </nz-space>
          </div>
          <div nz-col [nzSpan]='13'>
            <nz-descriptions nzTitle="Profile" nzBordered>
              <nz-descriptions-item [nzSpan]="2" nzTitle="Username">{{ user.username }}</nz-descriptions-item>
              <nz-descriptions-item [nzSpan]="2" nzTitle="Role">{{user.role | enumToTitle}}</nz-descriptions-item>
              <nz-descriptions-item [nzSpan]="4" nzTitle="Bio">{{user.bio}}</nz-descriptions-item>
              <nz-descriptions-item [nzSpan]="2" nzTitle="Area of Expertise">{{ user.areaOfExpertise | enumToTitle }} </nz-descriptions-item>
              <nz-descriptions-item [nzSpan]="2" nzTitle="Country">{{ user.country?.name }}</nz-descriptions-item>
              <nz-descriptions-item *ngIf="user.organizations.length > 0" [nzSpan]="4" nzTitle="Organizations">
                <cvc-organization-tag *ngFor="let org of user.organizations" [org]="org"></cvc-organization-tag>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
          <div *ngIf="user.role === 'EDITOR' || user.role === 'ADMIN'" nz-col [nzSpan]="8">
            <nz-descriptions nzTitle="Editor Conflict of Interest Statement" nzBordered [nzExtra]="updateCoi">
              <ng-container *ngIf="user.mostRecentConflictOfInterestStatement">
                <nz-descriptions-item [nzSpan]="3" nzTitle="Status">{{
                  user.mostRecentConflictOfInterestStatement.coiStatus | enumToTitle }} </nz-descriptions-item>
                <nz-descriptions-item [nzSpan]="2" nzTitle="Updated">{{
                  user.mostRecentConflictOfInterestStatement.createdAt | date:"shortDate" }} </nz-descriptions-item>
                <nz-descriptions-item [nzSpan]="2" nzTitle="Expires">{{
                  user.mostRecentConflictOfInterestStatement.expiresAt | date:"shortDate" }} </nz-descriptions-item>
                <nz-descriptions-item [nzSpan]="3" nzTitle="Statement">
                  <ng-container *ngIf="user.mostRecentConflictOfInterestStatement.coiPresent; else noStatement">
                    {{user.mostRecentConflictOfInterestStatement.coiStatement }}
                  </ng-container>
                  <ng-template #noStatement>
                    I do not have any potential conflicts of interest.
                  </ng-template>
                </nz-descriptions-item>
              </ng-container>
              <ng-container *ngIf="!user.mostRecentConflictOfInterestStatement">
                <nz-descriptions-item [nzSpan]="3" nzTitle="Status">None on file.</nz-descriptions-item>
              </ng-container>
              <ng-template #updateCoi>
                <ng-container *ngIf="this.ownProfile$ | ngrxPush">
                  <button nz-button nzSize="small" (click)="this.updateCoiModalVisible = true">
                    Update COI <i nz-icon nzType="edit" nzTheme="outline"></i>
                  </button>
                </ng-container>
              </ng-template>
            </nz-descriptions>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzSpan]="21" [nzOffset]="3">
            <nz-divider></nz-divider>
            <p nz-typography><b>User Statistics</b></p>
            <div nz-row [nzGutter]="16">
              <div nz-col>
                <nz-card>
                  <nz-statistic [nzValue]="(user.statsHash.comments | number)!" [nzTitle]="'Comments'"></nz-statistic>
                </nz-card>
              </div>
              <div nz-col>
                <nz-card>
                  <nz-statistic [nzValue]="(user.statsHash.revisions | number)!" [nzTitle]="'Suggested Revisions'"> </nz-statistic>
                </nz-card>
              </div>
              <div nz-col>
                <nz-card>
                  <nz-statistic [nzValue]="(user.statsHash.appliedRevisions | number)!" [nzTitle]="'Applied Revisions'"></nz-statistic>
                </nz-card>
              </div>
              <div nz-col>
                <nz-card>
                  <nz-statistic [nzValue]="(user.statsHash.suggestedSources | number)!" [nzTitle]="'Suggested Sources'"></nz-statistic>
                </nz-card>
              </div>
              <div nz-col>
                <nz-card>
                  <nz-statistic [nzValue]="(user.statsHash.submittedEvidenceItems | number)!" [nzTitle]="'Submitted Evidence'"></nz-statistic>
                </nz-card>
              </div>
              <div nz-col>
                <nz-card>
                  <nz-statistic [nzValue]="(user.statsHash.acceptedEvidenceItems | number)!" [nzTitle]="'Accepted Evidence'"></nz-statistic>
                </nz-card>
              </div>
              <div nz-col>
                <nz-card>
                  <nz-statistic [nzValue]="(user.statsHash.submittedAssertions | number)!" [nzTitle]="'Submitted Assertions'"></nz-statistic>
                </nz-card>
              </div>
              <div nz-col>
                <nz-card>
                  <nz-statistic [nzValue]="(user.statsHash.acceptedAssertions | number)!" [nzTitle]="'Accepted Assertions'"></nz-statistic>
                </nz-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </nz-page-header-content>
  </nz-page-header>
</ng-container>

  <nz-modal [(nzVisible)]="this.updateCoiModalVisible"
    [nzContent]="coiModalContent"
    [nzTitle]="coiModalTitle"
    [nzFooter]="null"
    (nzOnCancel)="this.handleCoiModalCancel()">
  <ng-template #coiModalTitle><span>Update your Conflict of Interest Statement</span></ng-template>
  <ng-template #coiModalContent>
    <cvc-update-coi (coiUpdatedEvent)="this.coiUpdated()"></cvc-update-coi>
  </ng-template>
  </nz-modal>