:host {
  display: block;
}

nz-page-header {
  background-color: white;
}

.card-list {
 nz-card {
   width: 100%;
   .card-grid-cell {
     width: 50%;
   }
 }
}

nz-page-header-title.flagged {
  padding-left: .75em;
}
