@import 'themes/overrides/entity-page-header.overrides.less';
@import 'themes/overrides/descriptions-overrides.less';
@import 'themes/global-variables.less';

.profile-content {
  flex-wrap: nowrap;
}

.user-pseudo-tag {
  text-align: center;
  background-color: #f4f4f4;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.user-links {
  width: 100%;
  text-align: center;
  font-size: 120%;
  a {
    margin-right: 4px;
  }
  a:last-child {
    margin-right: 0;
  }
}

.user-socials {
  text-align: center;
  a {
    margin-right: 4px;
  }
  a:last-of-type {
    margin-right: 0;
  }
}

.editor-coi-card {
  ::ng-deep .ant-card-body {
    padding: 0;
    // prevent card body and descriptions container double width border
    margin: 0 -1px -1px -1px;
  }
}

.calculation-info {
  max-width: 300px;
  p:last-of-type {
    margin-bottom: 0;
  }
}
