<cvc-tag-list size="xs">
  @for (tag of displayedTags; track tag) {
    <span
      [ngClass]="{
        'matched-tag':
          matchingText &&
          tag.toLowerCase().includes(matchingText.toLowerCase()),
      }">
      <nz-tag>{{ tag }}</nz-tag>
    </span>
  }
  <span [ngClass]="{ 'matched-tag': matchedHiddenCount > 0 }">
    @if (hiddenCount && hiddenCount > 0) {
      <nz-tag
        class="overflow-tag"
        nz-popover
        [nzPopoverMouseEnterDelay]="0"
        [nzPopoverContent]="additionalTagPopover"
        nzPopoverPlacement="top"
        nzPopoverTrigger="hover">
        +
        @if (matchedHiddenCount > 0) {
          <span>
            {{ matchedHiddenCount }}
            of
          </span>
        }
        {{ hiddenCount }}
      </nz-tag>
    }
  </span>
  <ng-template #additionalTagPopover>
    <div class="popover-tag-list">
      <cvc-tag-list size="xs">
        @for (tag of hiddenTags; track tag) {
          <div
            [ngClass]="{
              'matched-tag':
                matchingText &&
                tag.toLowerCase().includes(matchingText.toLowerCase()),
            }">
            <nz-tag>{{ tag }}</nz-tag>
          </div>
        }
      </cvc-tag-list>
    </div>
  </ng-template>
</cvc-tag-list>
