@import "~ng-zorro-antd/style/color/colors.less";

:host {
  display: block;
}

// converted from https://github.com/samg/diffy/blob/main/lib/diffy/css.rb
.diff {
  overflow: auto;
  width: 100%;

  .background {
    padding: 4px 8px;
  }

  &.insertions .background {
    background: @green-1;
    color: @green-8;
  }

  &.deletions .background {
    background: @red-1;
    color: @red-8;
  }

  &.suggested .background {
    background: @geekblue-1;
    color: @geekblue-8;
  }

  &.original .background {
    background: @geekblue-1;
    color: @geekblue-8;
  }

  del, ins {
    text-decoration: none;
  }

  del strong {
    font-weight: normal;
    background: #fcc;
  }

  ins strong {
    font-weight: normal;
    background: #9f9;
  }

  .del {
    font-weight: normal;
    background: #fee;
    color:#b00;
  }

  .ins {
    font-weight: normal;
    background: #dfd;
    color:#080;
  }
}

ul {
  list-style: none;
}