@import 'global-variables.less';

:host {
  display: block;
}

.timeline-item {
  .item-icon {
    font-size: 24px;
  }
  .description, .timestamp {
    margin-top: 2px;
  }
  .description {
    margin-left: @margin-sm;
  }
}
