<nz-timeline *ngIf="events?.length">
  <ng-container *ngFor="let event of events">
    <nz-timeline-item [nzDot]="timelineDotTemplate">
      <ng-template #timelineDotTemplate>
        <i nz-icon
          [nzType]="iconNameForEventAction(event.action)"
          nzTheme="twotone"
          class="item-icon"></i>
      </ng-template>
      <nz-row class="timeline-item"
        *ngIf="event.originatingObject">

        <!-- default to full description -->
        <nz-col nzFlex="auto"
          class="description">

          <!-- user tag -->
          <cvc-user-tag [user]="event.originatingUser"></cvc-user-tag>

          <!-- verb -->
          <span nz-typography>{{ verbiageForEvent(event) }}&nbsp;</span>

          <!-- originating object -->
          <ng-container *ngIf="event.originatingObject as object"
            [ngSwitch]="object.__typename">
            <cvc-revision-tag *ngSwitchCase="'Revision'"
              [revision]="object"></cvc-revision-tag>
            <cvc-comment-tag *ngSwitchCase="'Comment'"
              [comment]="object"></cvc-comment-tag>
            <cvc-flag-tag *ngSwitchCase="'Flag'"
              [flag]="object"></cvc-flag-tag>
            <span nz-typography
              *ngSwitchDefault>{{ object.name }}</span>
          </ng-container>

          <!-- preposition -->
          <span nz-typography>{{ prepositionForSubject(event) }}&nbsp;</span>

          <!-- subject -->
          <ng-container *ngIf="event.subject as subject"
            [ngSwitch]="subject.__typename">
            <cvc-gene-tag *ngSwitchCase="'Gene'"
              [gene]="subject"></cvc-gene-tag>
            <ng-container *ngSwitchCaseDefault>{{ subject.name }}</ng-container>
          </ng-container>

          <!-- user organization -->
          <ng-container *ngIf="event.organization as org">
            <span nz-typography>for&nbsp;</span>
            <cvc-org-tag [org]="org"></cvc-org-tag>
          </ng-container>

        </nz-col>
        <nz-col nzFlex="100px"
          class="timestamp">
          <span nz-typography nzType="secondary" nz-tooltip
            nzTooltipPlacement="top"
            [nzTooltipTitle]="event.createdAt | date">
            {{ event.createdAt | timeago }}
          </span>
        </nz-col>
      </nz-row>

    </nz-timeline-item>
  </ng-container>
</nz-timeline>
