<ng-container *ngIf="disease$ | ngrxPush as disease">
  <cvc-section-navigation [displayName]="disease.name">
  </cvc-section-navigation>
  <nz-page-header class="site-page-header">
    <nz-page-header-title>
      <i
        nz-icon
        nzTheme="twotone"
        [nzTwotoneColor]="'Disease' | entityColor"
        nzType="civic-disease"></i>
      {{ disease.name }}
    </nz-page-header-title>
    <nz-page-header-extra *ngIf="disease.doid">
      <cvc-link-tag
        *ngIf="disease.diseaseUrl"
        [href]="disease.diseaseUrl"
        tooltip="View on disease-ontology.org">
        {{ 'DOID:' + disease.doid }}
      </cvc-link-tag>
    </nz-page-header-extra>
    <nz-page-header-content>
        <nz-alert
          *ngIf="disease.deprecated"
          nzBanner
          nzMessage="This Disease has been deprecated."
          nzType="error"></nz-alert>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</ng-container>
