<ng-container *ngIf="disease$ | ngrxPush as disease">
  <cvc-section-navigation [displayName]="disease.name"> </cvc-section-navigation>
  <nz-page-header class="site-page-header">
    <nz-page-header-title>
      <i nz-icon
        nzType="civic:disease"></i> {{ disease.name }}
    </nz-page-header-title>
    <nz-page-header-extra *ngIf="disease.doid">
      <cvc-link-tag [href]="disease.diseaseUrl"
        tooltip="View on disease-ontology.org">
        {{ "DOID:" + disease.doid }}
      </cvc-link-tag>
    </nz-page-header-extra>
    <nz-page-header-content>
      <div class="content">
        <nz-descriptions nzSize="small"
          [nzColumn]="1"
          nzBordered="true">
          <nz-descriptions-item *ngIf="disease.diseaseAliases.length > 0"
            nzTitle="Aliases"
            nzSpan="2">
            {{ disease.diseaseAliases.join(", ") }}
          </nz-descriptions-item>
        </nz-descriptions>
        <router-outlet></router-outlet>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</ng-container>
