:host {
  display: inline-block;
}
.entity-icon-group {
  display: inline-block;
  nz-tag {
    margin: 0;
    padding: 0;
    margin-inline-end: 4px;
    span {
      display: inline-block;
    }
    .plus-sign {
      margin: 0;
      padding: 0;
      padding: 3px 3px 3px 4px;
      margin: -3px 0 -3px 0;
      line-height: 1;
    }
    .entity-icon:first-child {
      padding-left: 2px;
    }
    .entity-icon {
      margin: 0;
      padding: 0;
      margin: -3px 1px -4px -1px;
      padding: 3px 0 3px 0;
      line-height: 1;
    }
    .entity-icon:last-child {
      padding-right: 3px;
    }
    .entity-count {
      margin-left: -2px;
      padding-right: 4px;
    }
  }
}
