<nz-page-header class="site-page-header">
  <nz-page-header-title>
    <i nz-icon nzType="civic:evidence"></i>
    Evidence Items
    <span nz-typography nzType="secondary"  *ngIf="(isLoading$ | ngrxPush)">Loading...</span>
  </nz-page-header-title>
  <nz-page-header-extra>
    Card View <nz-switch [(ngModel)]="tableView" (ngModelChange)="refresh()"></nz-switch> Table View
  </nz-page-header-extra>

  <nz-page-header-content>
    <div *ngIf="tableView" nz-row>
      <div nz-col [nzSpan]="24">
        <div class="content">
          <nz-table #evidenceTable
            [nzData]="(evidence$ | ngrxPush)"
            [nzLoading]="(isLoading$ | ngrxPush)"
            [nzFrontPagination]="false"
            [nzShowPagination]="false">

            <thead (nzSortOrderChange)="onSortChanged($event)">
              <tr>
                <th nzWidth="5%" [nzColumnKey]="sortColumns.Id" [nzSortFn]="true">
                  EID
                </th>
                <th nzWidth="20%" [nzColumnKey]="sortColumns.DiseaseName" [nzSortFn]="true">
                  Diseases
                </th>
                <th nzWidth="20%" [nzColumnKey]="sortColumns.DrugName" [nzSortFn]="true">
                  Drugs
                </th>
                <th nzWidth="5%" [nzColumnKey]="sortColumns.Description" [nzSortFn]="true">
                  Description
                </th>
                <th nzWidth="5%" [nzColumnKey]="sortColumns.EvidenceLevel" [nzSortFn]="true">
                  Evidence Level
                </th>
                <th nzWidth="10%" [nzColumnKey]="sortColumns.EvidenceType" [nzSortFn]="true">
                  Evidence Type
                </th>
                <th nzWidth="10%" [nzColumnKey]="sortColumns.EvidenceDirection" [nzSortFn]="true">
                  Evidence Direction
                </th>
                <th nzWidth="10%" [nzColumnKey]="sortColumns.ClinicalSignificance" [nzSortFn]="true">
                  Clinical Significance
                </th>
                <th nzWidth="10%" [nzColumnKey]="sortColumns.VariantOrigin" [nzSortFn]="true">
                  Variant Origin
                </th>
                <th nzWidth="5%" [nzColumnKey]="sortColumns.EvidenceRating" [nzSortFn]="true">
                  Rating
                </th>
              </tr>
              <tr>
                <th>
                  <cvc-clearable-text-filter [(inputModel)]="eidInput" placeholderText="Search EID" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                </th>
                <th>
                  <cvc-clearable-text-filter [(inputModel)]="diseaseNameInput" placeholderText="Search Disease" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                </th>
                <th>
                  <cvc-clearable-text-filter [(inputModel)]="drugNameInput" placeholderText="Search Drugs" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                </th>
                <th>
                  <cvc-clearable-text-filter [(inputModel)]="descriptionInput" placeholderText="Search Description" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                </th>
                <th>
                  <nz-select nzAllowClear nzPlaceHolder="Choose" (ngModelChange)="onModelChanged()" [(ngModel)]="evidenceLevelInput">
                    <nz-option nzValue="A" nzLabel="A"></nz-option>
                    <nz-option nzValue="B" nzLabel="B"></nz-option>
                    <nz-option nzValue="C" nzLabel="C"></nz-option>
                    <nz-option nzValue="D" nzLabel="D"></nz-option>
                    <nz-option nzValue="E" nzLabel="E"></nz-option>
                  </nz-select>
                </th>
                <th>
                  <nz-select nzAllowClear nzPlaceHolder="Choose" (ngModelChange)="onModelChanged()" [(ngModel)]="evidenceTypeInput">
                    <nz-option nzValue="PREDICTIVE" nzLabel="Predictive"></nz-option>
                    <nz-option nzValue="PROGNOSTIC" nzLabel="Prognostic"></nz-option>
                    <nz-option nzValue="DIAGNOSTIC" nzLabel="Diagnostic"></nz-option>
                    <nz-option nzValue="PREDISPOSING" nzLabel="Predisposing"></nz-option>
                    <nz-option nzValue="ONCOGENIC" nzLabel="Oncogenic"></nz-option>
                    <nz-option nzValue="FUNCTIONAL" nzLabel="Functional"></nz-option>
                  </nz-select>
                </th>
                <th>
                  <nz-select nzAllowClear nzPlaceHolder="Choose" (ngModelChange)="onModelChanged()" [(ngModel)]="evidenceDirectionInput">
                    <nz-option nzValue="SUPPORTS" nzLabel="Supports"></nz-option>
                    <nz-option nzValue="DOES_NOT_SUPPORT" nzLabel="Does not Support"></nz-option>
                    <nz-option nzValue="NA" nzLabel="N/A"></nz-option>
                  </nz-select>
                </th>
                <th nzWidth="5%">
                  <nz-select nzAllowClear nzPlaceHolder="Choose" (ngModelChange)="onModelChanged()" [(ngModel)]="clinicalSignificanceInput">
                    <nz-option-group nzLabel="Predictive">
                      <nz-option nzValue="SENSITIVITYRESPONSE" nzLabel="Sensitivity/Response"></nz-option>
                      <nz-option nzValue="RESISTANCE" nzLabel="Resistance"></nz-option>
                      <nz-option nzValue="ADVERSE_RESPONSE" nzLabel="Adverse Response"></nz-option>
                      <nz-option nzValue="REDUCED SENSITIVITY" nzLabel="Reduced Sensitivity"></nz-option>
                      <nz-option nzValue="NA" nzLabel="N/A"></nz-option>
                    </nz-option-group>
                    <nz-option-group nzLabel="Prognostic">
                      <nz-option nzValue="BETTER_OUTCOME" nzLabel="Better Outcome"></nz-option>
                      <nz-option nzValue="POOR_OUTCOME" nzLabel="Poor Outcome"></nz-option>
                      <nz-option nzValue="NA" nzLabel="N/A"></nz-option>
                    </nz-option-group>
                    <nz-option-group nzLabel="Diagnostic">
                      <nz-option nzValue="POSITIVE" nzLabel="Positive"></nz-option>
                      <nz-option nzValue="NEGATIVE" nzLabel="Negative"></nz-option>
                    </nz-option-group>
                    <nz-option-group nzLabel="Predisposing">
                      <nz-option nzValue="NA" nzLabel="N/A"></nz-option>
                    </nz-option-group>
                    <nz-option-group nzLabel="Oncogenic">
                      <nz-option nzValue="NA" nzLabel="N/A"></nz-option>
                    </nz-option-group>
                    <nz-option-group nzLabel="Functional">
                      <nz-option nzValue="GAIN_OF_FUNCTION" nzLabel="Gain of Function"></nz-option>,
                      <nz-option nzValue="LOSS_OF_FUNCTION" nzLabel="Loss of Function"></nz-option>,
                      <nz-option nzValue="UNALTERED_FUNCTION" nzLabel="Unaltered Function"></nz-option>,
                      <nz-option nzValue="NEOMORPHIC" nzLabel="Neomorphic"></nz-option>,
                      <nz-option nzValue="DOMINANT_NEGATIVE" nzLabel="Dominant Negative"></nz-option>,
                      <nz-option nzValue="UNKNOWN" nzLabel="Unknown"></nz-option>
                    </nz-option-group>
                  </nz-select>
                </th>
                <th>
                  <nz-select nzAllowClear nzPlaceHolder="Choose" (ngModelChange)="onModelChanged()" [(ngModel)]="variantOriginInput">
                    <nz-option nzValue="SOMATIC" nzLabel="Somatic"></nz-option>
                    <nz-option nzValue="RARE_GERMLINE" nzLabel="Rare Germline"></nz-option>
                    <nz-option nzValue="COMMON_GERMLINE" nzLabel="Common Germline"></nz-option>
                    <nz-option nzValue="UNKNOWN" nzLabel="Unkown"></nz-option>
                    <nz-option nzValue="NA" nzLabel="N/A"></nz-option>
                    <nz-option nzValue="GERMLINE_OR_SOMATIC" nzLabel="Germline or Somatic"></nz-option>
                  </nz-select>
                </th>
                <th>
                  <nz-select nzAllowClear nzPlaceHolder="Choose" (ngModelChange)="onModelChanged()" [(ngModel)]="evidenceRatingInput">
                    <nz-option [nzValue]="1" nzLabel="1"></nz-option>
                    <nz-option [nzValue]="2" nzLabel="2"></nz-option>
                    <nz-option [nzValue]="3" nzLabel="3"></nz-option>
                    <nz-option [nzValue]="4" nzLabel="4"></nz-option>
                    <nz-option [nzValue]="5" nzLabel="5"></nz-option>
                  </nz-select>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let eid of evidenceTable.data">
                <td>
                  <a routerLink="/evidence/{{eid.id}}">{{eid.name}}</a>
                </td>
                <td>
                  <ng-container *ngIf="eid.disease; else diseaseElse">
                    {{ eid.disease.displayName }}
                  </ng-container>
                  <ng-template #diseaseElse>
                    <i>N/A</i>
                  </ng-template>
                </td>
                <td>
                  <p *ngIf="eid.drugs.length > 0; else drugsElse" nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="1">
                    <span *ngFor="let drug of eid.drugs; last as isLast" >
                      {{ drug.name }}{{ isLast ? '' : ', ' }}{{isLast && eid.drugs.length > 1 ?  ' (' + eid.drugInteractionType + ')' : '' }}
                    </span>
                  </p>
                  <ng-template #drugsElse>
                    <i>N/A</i>
                  </ng-template>
                </td>
                <td>
                  <i nz-icon nzType="align-left" nz-tooltip nzTooltipPlacement="top" [nzTooltipTitle]="eid.description"></i>
                </td>
                <td>
                  {{ eid.evidenceLevel }}
                </td>
                <td>
                  {{ eid.evidenceType }}
                </td>
                <td>
                  {{ eid.evidenceDirection }}
                </td>
                <td>
                  {{ eid.clinicalSignificance }}
                </td>
                <td>
                  {{ eid.variantOrigin }}
                </td>
                <td>
                  {{ eid.evidenceRating}}
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
    <div *ngIf="!tableView" nz-row>
      <div nz-col [nzSpan]="24">
        <ng-container *ngFor="let evidence of evidence$ | ngrxPush">
          <cvc-evidence-card [evidence]="evidence"></cvc-evidence-card>
        </ng-container>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>