<nz-card nzType="inner">
  <nz-alert *ngIf="this.success" nzBanner nzMessage="Flag submitted" nzType="success" nzCloseable (nzOnClose)="onSuccessBannerClose()"></nz-alert>
  <nz-alert *ngIf="errorMessages.length > 0" nzType="error" nzShowIcon [nzDescription]="errorContents" nzMessage="Error Adding Flag"> </nz-alert>
  <ng-template #errorContents>
    <ul>
      <li *ngFor="let error of errorMessages">
        {{ error }}
      </li>
    </ul>
  </ng-template>
  <form nz-form
    [formGroup]="formGroup"
    (ngSubmit)="submitFlag(formModel)"
    nzLayout="vertical">
    <formly-form [form]="formGroup"
      [fields]="formFields"
      [model]="formModel"
      [options]="formOptions"
      (modelChange)="formModel = $event"></formly-form>
    <nz-form-item>
      <nz-form-control>
        <cvc-form-buttons>
          <cvc-org-selector-btn-group (selectedOrgChange)="onOrgSelected($event)">
            <button type="submit"
              nz-button
              cvcOrgSelectorBtn
              nzType="primary"
              nzSize="small"
              [disabled]="!formGroup.valid">
              Flag {{ this.flaggable.entityType }}
            </button>
          </cvc-org-selector-btn-group>
        </cvc-form-buttons>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
