<nz-card nzType="inner">
  <nz-alert *ngIf="this.success" nzBanner nzMessage="Flag submitted" nzType="success" nzCloseable (nzOnClose)="onSuccessBannerClose()"></nz-alert>
  <nz-alert *ngIf="errorMessages.length > 0" nzType="error" nzShowIcon [nzDescription]="errorContents" nzMessage="Error Adding Flag"> </nz-alert>
  <ng-template #errorContents>
    <ul>
      <li *ngFor="let error of errorMessages">
        {{ error }}
      </li>
    </ul>
  </ng-template>
  <form nz-form
    [formGroup]="formGroup"
    (ngSubmit)="submitFlag(formModel)"
    nzLayout="vertical">
    <formly-form [form]="formGroup"
      [fields]="formFields"
      [model]="formModel"
      [options]="formOptions"
      (modelChange)="formModel = $event"></formly-form>
    <nz-form-item>
      <nz-form-control>
        <ng-container *ngrxLet="viewer$ as viewer">
          <cvc-form-buttons>
            <cvc-org-selector-btn-group (selectedOrgChange)="onOrgSelected($event)">
              <ng-container *ngIf="viewer.signedIn; else notSignedIn">
                <ng-template *ngTemplateOutlet="submitButton"></ng-template>
              </ng-container>
              <ng-template #notSignedIn>
                <span
                  nz-tooltip
                  nzTooltipTitle="Must be signed in to flag entity.">
                  <ng-template *ngTemplateOutlet="submitButton"></ng-template>
                </span>
              </ng-template>
              <ng-template #submitButton>
                <button type="submit"
                  nz-button
                  cvcOrgSelectorBtn
                  nzType="primary"
                  nzSize="small"
                  [disabled]="!formGroup.valid || !viewer.signedIn">
                  Flag {{ this.flaggable.entityType | enumToTitle }}
                </button>
              </ng-template>
            </cvc-org-selector-btn-group>
          </cvc-form-buttons>
        </ng-container>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
