<nz-row [nzGutter]="16">
  <nz-col [nzSpan]="8">
    <h4>Deletions</h4>
    <div class="diff deletions">
      <div class="background">
        <div [innerHtml]="deletionsHtml"> </div>
      </div>
    </div>
  </nz-col>
  <nz-col [nzSpan]="8">
    <h4>Insertions</h4>
    <div class="diff insertions">
      <div class="background">
        <div [innerHtml]="insertionsHtml"> </div>
      </div>
    </div>
  </nz-col>
  <nz-col [nzSpan]="8" >
    <h4>Suggested</h4>
    <div class="diff suggested" >
      <div class="background" >
        {{ revision.suggestedValue }}
      </div>
    </div>
  </nz-col>
</nz-row>
