<nz-space nzDirection="vertical">
  <nz-row [nzGutter]="16" *nzSpaceItem>
    <nz-col [nzSpan]="24">
      <nz-card [nzTitle]="assertionTitle"
        style="width: 100%">
        <ng-template #assertionTitle>
          <i nz-icon
            nzType="civic:assertion"></i> {{ assertion.name }}
          <i nz-icon
            nzType="civic:gene"></i> {{ assertion.gene.name }}
          <i nz-icon
            nzType="civic:variant"></i> {{ assertion.variant.name }}
        </ng-template>
        <nz-row [nzGutter]="16">
          <nz-col [nzSpan]="8">
            <nz-row><b>Summary:&nbsp;</b>{{assertion.summary}}</nz-row>
          </nz-col>
          <nz-col [nzSpan]="8">
            <nz-row><b>Assertion Type:&nbsp;</b>{{ assertion.assertionType | evidenceEnumDisplay }}</nz-row>
            <nz-row><b>Assertion Direction:&nbsp;</b>{{ assertion.assertionDirection | evidenceEnumDisplay }}</nz-row>
            <nz-row><b>Clinical Significance:&nbsp;</b>{{ assertion.clinicalSignificance | evidenceEnumDisplay }}</nz-row>
            <nz-row><b>Variant Origin:&nbsp;</b>{{ assertion.variantOrigin | evidenceEnumDisplay }}</nz-row>
            <nz-row [ngPlural]="assertion.drugs.length">
              <ng-template ngPluralCase="=0"><b>Drug:&nbsp;</b> <i>Not Applicable</i></ng-template>
              <ng-template ngPluralCase="=1"><b>Drug:&nbsp;</b></ng-template>
              <ng-template ngPluralCase="other"><b>Drugs:&nbsp;</b></ng-template>
              <ng-container *ngFor="let drug of assertion.drugs">
                <cvc-drug-tag [drug]="drug"></cvc-drug-tag>
              </ng-container>
              <ng-container *ngIf="assertion.drugs.length > 1">({{ assertion.drugInteractionType | titlecase }})</ng-container>
            </nz-row>
          </nz-col>
          <nz-col [nzSpan]="8">
            <nz-row *ngIf="assertion.disease"><b>Disease:&nbsp;</b>
              <cvc-disease-tag [disease]="assertion.disease"></cvc-disease-tag>
            </nz-row>
            <nz-row *ngIf="!assertion.disease"><b>Disease:&nbsp;</b><i>Not Applicable</i></nz-row>
            <nz-row [ngPlural]="assertion.phenotypes.length">
              <ng-template ngPluralCase="=0"><b>Associated Phenotype:&nbsp;</b> <i>-</i></ng-template>
              <ng-template ngPluralCase="=1"><b>Associated Phenotype:&nbsp;</b></ng-template>
              <ng-template ngPluralCase="other"><b>Associated Phenotypes:&nbsp;</b></ng-template>
              <ng-container *ngFor="let p of assertion.phenotypes">
                <cvc-phenotype-tag [phenotype]="p"></cvc-phenotype-tag>
              </ng-container>
            </nz-row>
            <nz-row *ngIf="assertion.ampLevel"><b>AMP/ASCO/CAP Category:&nbsp;</b>{{ assertion.ampLevel | formatAmp: 'verbose' }}</nz-row>
            <nz-row *ngIf="assertion.acmgCodes.length > 0">
              <span *ngIf="assertion.acmgCodes.length === 1; else acmgElse"><b>ACMG Code:&nbsp;</b></span>
              <ng-template #acmgElse><b>ACMG Codes:&nbsp;</b></ng-template>
              <span *ngFor="let code of assertion.acmgCodes; let last = last">
                {{ code.code }}<ng-container *ngIf="!last">,&nbsp;</ng-container>
              </span>
            </nz-row>
            <nz-row *ngIf="assertion.nccnGuideline"><b>NCCN Guideline:&nbsp;</b>{{ assertion.nccnGuideline }}</nz-row>
            <nz-row>
              <b>Regulatory Approval:&nbsp;</b>
              <i *ngIf="assertion.regulatoryApproval; else regulatoryApprovalElse"
                nz-icon
                nzType="check-square"></i>
              <ng-template #regulatoryApprovalElse>
                <i nz-icon
                  nzType="close-square"></i>
              </ng-template>
            </nz-row>
            <nz-row>
              <b>FDA Companion Test:&nbsp;</b>
              <i *ngIf="assertion.fdaCompanionTest; else fdaTestElse"
                nz-icon
                nzType="check-square"></i>
              <ng-template #fdaTestElse>
                <i nz-icon
                  nzType="close-square"></i>
              </ng-template>
            </nz-row>
          </nz-col>
        </nz-row>
      </nz-card>
    </nz-col>
  </nz-row>
</nz-space>
