<div id="popover-content">
  <ng-container *ngIf="comment$ | ngrxPush as c">
    <nz-card
      [nzTitle]="cardTitle"
      nzBordered="false"
      id="card-content">
      <ng-template #cardTitle>
        <span class="comment-card-title">
          <cvc-user-tag
            [enablePopover]="false"
            [user]="c.commenter"></cvc-user-tag
          >commented on
          <ng-container [ngSwitch]="c.commentable.__typename">
            <cvc-feature-tag
              *ngSwitchCase="'Feature'"
              [enablePopover]="false"
              [feature]="c.commentable"></cvc-feature-tag>
            <cvc-assertion-tag
              *ngSwitchCase="'Assertion'"
              [enablePopover]="false"
              [assertion]="c.commentable"></cvc-assertion-tag>
            <cvc-evidence-tag
              *ngSwitchCase="'EvidenceItem'"
              [enablePopover]="false"
              [evidence]="c.commentable"></cvc-evidence-tag>
            <cvc-feature-variant-tag
              *ngSwitchCase="'Variant'"
              [enablePopover]="false"
              [variant]="c.commentable"></cvc-feature-variant-tag>
            <!-- NOTE: #UPDATE had to use $any here, [revision] attr was complaining about
            missing linkableRevision on c.commentable -->
            <cvc-revision-tag
              *ngSwitchCase="'Revision'"
              [enablePopover]="false"
              [revision]="$any(c.commentable)"></cvc-revision-tag>
            <cvc-source-tag
              *ngSwitchCase="'Source'"
              mode="concise"
              [enablePopover]="false"
              [source]="$any(c.commentable)"></cvc-source-tag>
            <span *ngSwitchDefault>{{ c.commentable.name }}</span>
          </ng-container>
          {{ c.createdAt | timeAgo }}
        </span>
      </ng-template>
      <nz-row>
        <nz-col nzSpan="24">
          <div class="popover-text">
            <p
              nz-typography
              *ngIf="c.title">
              <b>{{ c.title }}</b>
            </p>
            <p>
              {{ c.comment }}
            </p>
          </div>
        </nz-col>
      </nz-row>
    </nz-card>
  </ng-container>
</div>
