<nz-page-header class="site-page-header">
  <!--title-->
  <nz-page-header-title> About CIViC </nz-page-header-title>

  <!--content-->
  <nz-page-header-content>
    <nz-row [nzGutter]="[8, 12]">
      <nz-col [nzSpan]="24">
        <nz-card
          nzType="inner"
          nzTitle="Why Use CIViC - Our Elevator Pitch"
          style="width: 100%">
          We developed a free, expert-curated web resource that helps doctors
          identify the best treatment options for cancer patients based on their
          unique tumor DNA. Cancer is driven by DNA mutations. Using these
          mutations to guide patient care requires experts to actively review
          and summarize the latest scientific advances. Our easily searchable
          resource coordinates these efforts. The free and open design of our
          database shares expert cancer mutation knowledge with everyone.
        </nz-card>
      </nz-col>
      <nz-col
        nzXs="24"
        nzSm="24"
        nzMd="24"
        nzLg="12"
        nzXl="12"
        nzXXl="8">
        <nz-card
          nzType="inner"
          nzTitle="Mission Statement"
          style="width: 100%">
          <p>
            Precision medicine refers to the use of prevention and treatment
            strategies that are tailored to the unique features of each
            individual and their disease. In the context of cancer this might
            involve the identification of specific variants shown to predict
            response to a targeted therapy. The biomedical literature describing
            associations between genetic variants and clinically relevant
            outcomes is large and growing rapidly. Currently variant
            interpretations exist largely in private or encumbered databases
            resulting in extensive repetition of effort. Effective precision
            medicine requires this information to be centralized, debated, and
            interpreted for application in a clinical setting. CIViC is an open
            access, open source, community-driven web resource for Clinical
            Interpretation of Variants in Cancer, available online at
            <a
              href="https://www.civicdb.org"
              target="_blank"
              >civicdb.org</a
            >. Our goal is to enable precision medicine by providing an
            educational forum for dissemination of knowledge and active
            discussion of the clinical significance of cancer genome
            alterations. For more details and to cite CIViC please refer to the
            <a
              href="http://www.nature.com/ng/journal/v49/n2/full/ng.3774.html"
              target="_blank"
              >CIViC publication</a
            >
            in Nature Genetics.
          </p>
          <p>
            All content created in CIViC is, and will continue to be, freely
            available, without restriction with a
            <a
              href="https://creativecommons.org/publicdomain/zero/1.0/"
              target="_blank"
              >Public Domain License</a
            >. Anyone can contribute to CIViC by simply registering for an
            account. Users join the community with “Curator” level privileges
            that allow them to comment or propose additions or revisions on any
            knowledge in CIViC. Proposed additions and revisions are then
            reviewed by users with “Editor” or “Admin” level privileges before
            gaining “Accepted” status. Content that has been Submitted but not
            yet Accepted should be interpreted and used with caution. Community
            Curators work together with Editors towards comprehensive and
            accurate interpretations of the clinical relevance of variants in
            cancer.
          </p>
          <img
            src="assets/images/CIViC_principles__shorter.png"
            alt="CIViC principles"
            style="width: 100%" />
        </nz-card>
      </nz-col>
      <nz-col
        nzXs="24"
        nzSm="24"
        nzMd="24"
        nzLg="12"
        nzXl="12"
        nzXXl="8">
        <nz-card
          nzType="inner"
          nzTitle="Funding"
          style="width: 100%">
          <p>
            The CIViC project and ClinGen Somatic Cancer Biomedical
            Knowledgebase are currently supported by the National Institutes of
            Health (NIH) National Cancer Institute (NCI) under Award Numbers
            U24CA305456, U24CA275783, and R50CA305824, including a funding
            supplement from the NIH Office of Data Science Strategy (ODSS).
            CIViC is also supported by the Washington University Institute of
            Clinical and Translational Sciences grant UL1TR002345 from the
            National Center for Advancing Translational Sciences (NCATS) of the
            NIH. The content of this website is solely the responsibility of the
            creators and does not necessarily represent the official views of
            the NIH or other funding sources.
          </p>
          <h3>Current</h3>
          <nz-table
            #currentFundingTable
            [nzData]="currentFunding"
            [nzFrontPagination]="false"
            [nzShowPagination]="false">
            <thead>
              <tr>
                <th>Awardee</th>
                <th>Source</th>
                <th>Description</th>
                <th>Award Number</th>
                <th>Timeframe</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of currentFundingTable.data">
                <td>{{ data.awardee }}</td>
                <td>{{ data.source }}</td>
                <td>{{ data.description }}</td>
                <td>{{ data.awardNumber }}</td>
                <td>{{ data.timeframe }}</td>
              </tr>
            </tbody>
          </nz-table>
          <br />
          <h3>Past</h3>
          <nz-table
            #pastFundingTable
            [nzData]="pastFunding"
            [nzFrontPagination]="false"
            [nzShowPagination]="false">
            <thead>
              <tr>
                <th>Awardee</th>
                <th>Source</th>
                <th>Description</th>
                <th>Award Number</th>
                <th>Timeframe</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of pastFundingTable.data">
                <td>{{ data.awardee }}</td>
                <td>{{ data.source }}</td>
                <td>{{ data.description }}</td>
                <td>{{ data.awardNumber }}</td>
                <td>{{ data.timeframe }}</td>
              </tr>
            </tbody>
          </nz-table>
        </nz-card>
      </nz-col>
      <nz-col
        nzXs="24"
        nzSm="24"
        nzMd="24"
        nzXXl="8">
        <nz-card
          nzType="inner"
          nzTitle="Acknowledgements"
          style="width: 100%">
          <img
            src="assets/images/nih-nci-logo.png"
            alt="NHI - National Cancer Institute"
            style="height: 50px; margin: 12px" />
          <img
            src="assets/images/icts-logo.png"
            alt="Washington University - Institute for Clinical and Translational Sciences"
            style="height: 50px; margin: 12px" />
          <img
            src="assets/images/ga4gh-logo.png"
            alt="Global Alliance for Genomics & Health"
            style="height: 50px; margin: 12px" />
          <img
            src="assets/images/GCBR-Logo-RGB.png"
            alt="Global Code Biodata Resources"
            style="height: 50px; margin: 12px" />
          <img
            src="assets/images/nih-nhgri-logo.png"
            alt="NHI - National Human Genome Research Institute"
            style="height: 50px; margin: 12px" />
          <img
            src="assets/images/wustl-logo.png"
            alt="Washington University in St. Louis"
            style="height: 50px; margin: 12px" />
          <img
            src="assets/images/cdi-logo.jpeg"
            alt="Washington University - Children's Discovery Institute"
            style="height: 50px; margin: 12px" />
        </nz-card>
      </nz-col>
    </nz-row>
  </nz-page-header-content>
</nz-page-header>
