<ng-container *ngIf="gene$ | async as gene">
  <nz-page-header class="site-page-header">
    <nz-page-header-title><i nz-icon nzType="civic:gene"></i> {{ gene.name }}</nz-page-header-title>
    <nz-page-header-subtitle>{{ gene.officialName }}</nz-page-header-subtitle>
    <nz-page-header-tags>
      <nz-tag [nzColor]="'red'">Flagged</nz-tag>
    </nz-page-header-tags>

    <!--extra-->
    <nz-page-header-extra>
      <button nz-button>Suggest Revision</button>
      <button nz-button nzNoAnimation nz-dropdown [nzDropdownMenu]="menu" style="border: none; padding: 0">
        <i nz-icon nzType="ellipsis" nzTheme="outline" style="font-size: 20px; vertical-align: top;"></i>
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>1st menu item length</li>
          <li nz-menu-item>2nd menu item length</li>
          <li nz-menu-item>3rd menu item length</li>
        </ul>
      </nz-dropdown-menu>
    </nz-page-header-extra>

    <nz-page-header-content>
      <div class="content">
        <nz-space nzSize="middle" nzDirection="vertical" class="space-align-block">
          <nz-space-item>
            <div nz-row [nzGutter]="16">
              <div nz-col nzSpan="12">
                <cvc-gene-description
                  [name]="gene.name"
                  [description]="gene.description"
                  [sources]="gene.sources">
                </cvc-gene-description>
              </div>
              <div nz-col nzSpan="12" >
                <cvc-my-gene-info [geneInfo]="myGeneInfo$ | async"></cvc-my-gene-info>
              </div>
            </div>
          </nz-space-item>
          <nz-space-item>
            <div nz-row [nzGutter]="16">
              <nz-col [nzSpan]="12">
                <nz-card nzTitle="Comments">
                  <nz-list [nzDataSource]="gene.comments"
                    [nzRenderItem]="comment"
                    nzSize="small"
                    nzItemLayout="horizontal">
                    <ng-template #comment let-comment>
                      <nz-list-item>
                        <nz-comment [nzAuthor]="comment.commentor.name"
                          [nzDatetime]="comment.createdAt | timeago">
                          <nz-avatar nz-comment-avatar nzIcon="civic:curator"></nz-avatar>
                          <nz-comment-content>
                            <p>{{ comment.comment }}</p>
                          </nz-comment-content>
                          <nz-comment-action>Reply to</nz-comment-action>
                        </nz-comment>
                      </nz-list-item>
                    </ng-template>
                  </nz-list>
                </nz-card>
              </nz-col>
              <nz-col [nzSpan]="12">
                <nz-card nzTitle="Revisions" class="card-list">
                  <nz-list [nzDataSource]="gene.revisions" class="revision-list"
                    [nzRenderItem]="revision"
                    nzItemLayout="horizontal">
                    <ng-template #revision let-revision>
                      <nz-list-item>

                        <!-- Revision Card -->
                        <nz-card nzType="inner" nzSize="small"
                          [nzTitle]="revCardHeaderTitle"
                          [nzExtra]="revCardHeaderExtra">
                          <ng-container [ngSwitch]="revision.fieldName">
                            <ng-container *ngSwitchCase="'source_ids'" >
                              <ng-container *ngTemplateOutlet="revDiffSourceIds"></ng-container>
                            </ng-container>
                            <ng-container *ngSwitchCase="'description'" >
                              <ng-container *ngTemplateOutlet="revDiffDescription"></ng-container>
                            </ng-container>
                          </ng-container>
                        </nz-card>

                        <!-- Revision Card Templates -->
                        <!-- header title -->
                        <ng-template #revCardHeaderTitle>
                          <i nz-icon nzType="civic:revision"></i> RID{{ revision.id }}
                          <span>{{ revision.linkoutData.name }} Updated</span>
                        </ng-template>
                        <!-- header secondary & status -->
                        <ng-template #revCardHeaderExtra>
                          <nz-space nzSize="small">
                            <nz-space-item>
                              <span nz-typography nzType="secondary" >{{ revision.createdAt | timeago }}</span>
                            </nz-space-item>
                            <nz-space-item>
                              <nz-tag>{{ revision.status }}</nz-tag>
                            </nz-space-item>
                          </nz-space>
                        </ng-template>
                      </nz-list-item>

                      <!-- Field Diff Templates -->
                      <!-- description -->
                      <ng-template #revDiffDescription>
                        <nz-row [nzGutter]="8" >
                          <nz-col [nzSpan]="12">
                            <cvc-gene-description-revision [revision]="revision">

                            </cvc-gene-description-revision>
                            <!-- <div [innerHtml]="revision.linkoutData.diffValue.value" class="revision-description-diff"></div> -->
                          </nz-col>
                          <nz-col [nzSpan]="12">
                            <p>{{ revision.suggestedValue }}</p>
                          </nz-col>
                        </nz-row>
                      </ng-template>
                      <!-- sources -->
                      <ng-template #revDiffSourceIds>
                        <nz-row [nzGutter]="8" >
                          <nz-col [nzSpan]="12">
                            <p>List Before</p>
                          </nz-col>
                          <nz-col [nzSpan]="12">
                            <p>List After</p>
                          </nz-col>
                        </nz-row>
                      </ng-template>
                    </ng-template>

                  </nz-list>
                </nz-card>

              </nz-col>
            </div>
          </nz-space-item>
        </nz-space>
      </div>
    </nz-page-header-content>
    <nz-page-header-content>
      <nz-row>
        <nz-col [nzSpan]="24">
          <h4>gene.revisions:</h4>
          <ngx-json-viewer [json]="gene.revisions"></ngx-json-viewer>
        </nz-col>
      </nz-row>
    </nz-page-header-content>
  </nz-page-header>
</ng-container>
