<ng-container *ngIf="gene$ | async as gene">
  <cvc-section-navigation
    [entity]="{ id: gene.id, displayName: gene.name }">
  </cvc-section-navigation>
  <div cvcFlaggable
    [flags]="flagsTotal$ | ngrxPush">

    <nz-page-header class="site-page-header">

      <!-- title -->
      <nz-page-header-title cvcFlaggableOptions
        [ngClass]="{ 'flagged': gene.flags.totalCount > 0 }">
        <i nz-icon
          nzType="civic:gene"></i>
        <span routerLink="/genes/{{gene.id}}">
          {{ gene.name }}
        </span>
      </nz-page-header-title>

      <!-- subtitle -->
      <nz-page-header-subtitle>
        {{ gene.officialName }}
      </nz-page-header-subtitle>

      <nz-page-header-tags>
        <nz-tag [nzColor]="'orange'"
          *ngIf="true">Submitted</nz-tag>
      </nz-page-header-tags>

      <!-- header action btns, actions menu -->
      <nz-page-header-extra *ngrxLet="viewer$ as viewer">
        <nz-space nzDirection="horizontal"
          nzSize="small"
          *ngrxLet="viewer$ as viewer">

          <!-- add revision btn -->
          <nz-space-item>
            <button routerLink="suggest-revision"
              *ngIf="viewer.signedIn"
              routerLinkActive
              #rlaComments="routerLinkActive"
              [nzType]="rlaComments.isActive ? 'primary' : 'default'"
              nz-button
              nzSize="small">
              Revise
            </button>
          </nz-space-item>

          <!-- add flag btn -->
          <!-- TODO implement as flag form within popover window -->
          <nz-space-item>
            <button routerLink="flags"
              *ngIf="viewer.signedIn"
              routerLinkActive
              #rlaComments="routerLinkActive"
              [nzType]="rlaComments.isActive ? 'primary' : 'default'"
              nz-button
              nzSize="small">
              Flag
            </button>
          </nz-space-item>

          <!-- actions menu -->
          <!-- <nz-space-item>
               <nz-space-item>
               <button nz-button
               nzSize="small"
               nz-dropdown
               [nzDropdownMenu]="menu"
               nzNoAnimation
               style="border: none; padding: 0">
               <i nz-icon
               nzType="ellipsis"
               nzTheme="outline"
               style="font-size: 20px; vertical-align: top;"></i>
               </button>
               <nz-dropdown-menu #menu="nzDropdownMenu">
               <ul nz-menu>
               <li nz-menu-item>Other actions</li>
               <li nz-menu-item>That apply to entities</li>
               <li nz-menu-item>May be placed here</li>
               </ul>
               </nz-dropdown-menu>
               </nz-space-item>
               </nz-space-item> -->
        </nz-space>
      </nz-page-header-extra>

      <nz-page-header-content>
        <nz-row id="section-tabs">
          <nz-col nzSpan="24">
            <nz-tabset nzType="card" nzSize="small"
              [nzTabBarExtraContent]="actionsContributorsTpl">
              <ng-template #actionsContributorsTpl>
                <nz-col id="contributors-col">
                  <cvc-contributor-avatars [subscribable]="subscribable"></cvc-contributor-avatars>
                </nz-col>
              </ng-template>

              <!-- summary tab -->
              <nz-tab>
                <!-- tab label, link -->
                <a *nzTabLink
                  nz-tab-link routerLink="summary">
                  <i nz-icon
                    nzType="civic-gene"></i>
                  Summary
                </a>

              </nz-tab>

              <!-- comments tab -->
              <nz-tab>
                <!-- label, link -->
                <a *nzTabLink
                  nz-tab-link routerLink="comments">
                  <i nz-icon
                    nzType="civic-comment"></i>
                  Comments
                </a>

              </nz-tab>

              <!-- revisions tab -->
              <nz-tab>
                <!-- tab label, link -->
                <a *nzTabLink
                  nz-tab-link routerLink="revisions">
                  <i nz-icon
                    nzType="civic-revision"></i>
                  Revisions
                </a>
              </nz-tab>

              <!-- flag tab -->
              <nz-tab>
                <!-- tab label, link -->
                <a *nzTabLink
                  nz-tab-link routerLink="flags">
                  <i nz-icon
                    nzType="civic-flag"></i>
                  Flags
                </a>
              </nz-tab>
            </nz-tabset>
          </nz-col>
        </nz-row>

        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </nz-page-header-content>
    </nz-page-header>
  </div>
</ng-container>
