<nz-card>
  <nz-space nzDirection="vertical">
    @if (success) {
      <nz-alert
        nzBanner
        nzMessage="Status Updated"
        nzType="success"
        nzCloseable
        (nzOnClose)="onSuccessBannerClose()"></nz-alert>
    }
    @if (errorMessages.length) {
      <cvc-form-errors-alert [errors]="errorMessages"> </cvc-form-errors-alert>
    }
    <textarea
      *nzSpaceItem
      rows="4"
      nz-input
      [(ngModel)]="reason"></textarea>
    <nz-select
      *nzSpaceItem
      nzPlaceHolder="New Status"
      [(ngModel)]="newStatus"
      required="true">
      @if (currentStatus == 'NEW') {
        <nz-option
          nzValue="CURATED"
          nzLabel="Curated"></nz-option>
      }
      @if (currentStatus != 'NEW') {
        <nz-option
          nzValue="NEW"
          nzLabel="New"></nz-option>
      }
      @if (currentStatus == 'NEW') {
        <nz-option
          nzValue="REJECTED"
          nzLabel="Rejected"></nz-option>
      }
    </nz-select>
    <nz-spin
      *nzSpaceItem
      nzTip="Submitting"
      [nzSpinning]="loading">
      <cvc-form-buttons>
        <button
          type="submit"
          nz-button
          (click)="updateSourceSuggestionStatus()"
          nzType="primary"
          nzSize="small"
          [disabled]="loading">
          Update Source Suggestion status
        </button>
      </cvc-form-buttons>
    </nz-spin>
  </nz-space>
</nz-card>
