<cvc-section-navigation displayName="New"></cvc-section-navigation>
<nz-page-header class="site-page-header">
  <!-- title -->
  <nz-page-header-title>
    <i
      nz-icon
      nzTheme="twotone"
      [nzTwotoneColor]="'Assertion' | entityColor"
      nzType="civic-assertion"></i>
    Add a Related Source
  </nz-page-header-title>

  <nz-page-header-subtitle>
    Create a link between two sources
  </nz-page-header-subtitle>

  <nz-page-header-content>
    <div class="content">
      <cvc-related-source-submit-form></cvc-related-source-submit-form>
    </div>
  </nz-page-header-content>
</nz-page-header>
