@import 'ng-zorro-antd/style/color/colors.less';
:host {
  margin-bottom: 12px;
  display: block;
  ::ng-deep nz-card {
    > .ant-card-head {
      padding-left: 0px;
    }
    .ant-card-head-title {
    }
    > .ant-card-body {
      padding: 0;
      overflow: hidden;
    }
    &.hide {
      > .ant-card-body {
        max-height: 0;
        transition: max-height 0.15s ease-out;
        // display: none;
      }
    }
    &.show {
      > .ant-card-body {
        max-height: 250px;
        transition: max-height 0.25s ease-in;
        // display: block;
      }
    }
  }
}

.description {
  display: inline;
  ::ng-deep nz-tag {
    margin-right: 0;
    border: none;
  }
}

.organization {
  display: inline-block;
}
.toggle {
  display: inline-block;
  margin: 0 8px;
  padding: 0 8px 0 8px;
  background-color: @blue-1;
  border: 1px solid @blue-2;
  border-radius: 2px;
  cursor: pointer;
  span {
    // font-size: 125%;
    color: @blue-7;
    &.hide {
      transform: rotate(0deg);
      transition: transform 0.2s linear;
    }
    &.show {
      transform: rotate(90deg);
      transition: transform 0.2s linear;
    }
  }
}
.detail {
  // min-height: 150px;
  max-height: 250px;
  border: 1px solid #EFEFEF;
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
  overflow-y: scroll;
  pre {
    font-size: 80%;
  }
}
