@import 'ng-zorro-antd/style/color/colors.less';

:host {
  display: block;
  margin-bottom: 8px;
  border: 1px solid #efefef;
  background-color: #fefeff;
  border-radius: 3px;
  padding-right: 12px;
}

.toggle button {
  padding: 0 4px 0 6px;
  background-color: none;
  span {
    font-size: 125%;
    color: #afafbf;
  }
}

.description,
.created {
  span {
    display: inline-block;
    line-height: 28px; // must be same height as toggle button
  }
}
.description {
  overflow: hidden;
  span {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.created {
  text-align: right;
}
.header {
  flex-wrap: nowrap;
}
