<nz-card
  nzSize="small"
  [nzTitle]="itemTitle"
  [nzExtra]="itemExtra"
  [ngClass]="{
    show: showDetails(),
    hide: !showDetails()
  }">
</nz-card>
<ng-template #itemTitle>
  <div
    class="toggle"
    (click)="toggleDetail$.next()">
    <span
      nz-icon
      nzType="caret-right"
      nzTheme="outline"
      [ngClass]="{
        show: showDetails(),
        hide: !showDetails()
      }"></span>
  </div>
  <div class="description">
    @if (activity(); as activity) {
      {{ activity.__typename }}
      <cvc-user-tag [user]="activity.user"></cvc-user-tag>
      <span
        nz-typography
        nzType="secondary">
        {{ activity.verbiage }}
      </span>
      <ng-container
        *ngTemplateOutlet="
          subject;
          context: { $implicit: activity.subject }
        "></ng-container>
      @if (activity.organization) {
        <div class="organization">
          <span
            nz-typography
            nzType="secondary">
            for
          </span>
          <cvc-organization-tag
            [org]="activity.organization"></cvc-organization-tag>
        </div>
      }
    }
  </div>
</ng-template>
<ng-template #itemExtra>
  @if (activity(); as activity) {
    <span
      nz-typography
      nzType="secondary">
      {{ activity.createdAt | timeAgo }}
    </span>
  }
</ng-template>
<ng-template
  #subject
  let-subject>
  <ng-container [ngSwitch]="subject.__typename">
    <cvc-gene-tag
      *ngSwitchCase="'Gene'"
      [gene]="subject"></cvc-gene-tag>
    <cvc-assertion-tag
      *ngSwitchCase="'Assertion'"
      [assertion]="subject"></cvc-assertion-tag>
    <cvc-evidence-tag
      *ngSwitchCase="'EvidenceItem'"
      [evidence]="subject"></cvc-evidence-tag>
    <cvc-variant-tag
      *ngSwitchCase="'Variant'"
      [variant]="subject"></cvc-variant-tag>
    <cvc-revision-tag
      *ngSwitchCase="'Revision'"
      [revision]="$any(subject)"></cvc-revision-tag>
    <cvc-variant-group-tag
      *ngSwitchCase="'VariantGroup'"
      [variantgroup]="subject"></cvc-variant-group-tag>
    <cvc-source-tag
      *ngSwitchCase="'Source'"
      mode="concise"
      [source]="$any(subject)"></cvc-source-tag>
    <cvc-molecular-profile-tag
      *ngSwitchCase="'MolecularProfile'"
      [molecularProfile]="subject"></cvc-molecular-profile-tag>
    <span *ngSwitchDefault>{{ subject.name }}</span>
  </ng-container>
</ng-template>
