<nz-row
  [nzGutter]="[0, 8]"
  nzJustify="center"
  class="header">
  <nz-col
    nzFlex="10px"
    class="toggle">
    <button
      nz-button
      nzSize="default"
      nzType="text"
      nzBlock
      (click)="toggleDetail$.next()">
      <span
        nz-icon
        nzType="caret-right"
        nzTheme="outline"
        [ngClass]="{
          show: showDetails(),
          hide: !showDetails()
        }"></span>
    </button>
  </nz-col>
  <nz-col
    nzFlex="auto"
    class="description">
    <span>
      {{ activityType() }}
      <strong>{{ cvcActivity().user.displayName }}</strong>
      {{ cvcActivity().verbiage }}
      <strong>{{ cvcActivity().subject.name }}</strong>
      @if (cvcActivity().organization) { for
      <strong>{{ cvcActivity().organization!.name }}</strong>
      }
    </span>
  </nz-col>
  <nz-col
    nzFlex="100px"
    class="created">
    <span
      nz-typography
      nzType="secondary">
      {{ +cvcActivity().createdAt | timeAgo }}
    </span>
  </nz-col>
</nz-row>
<nz-row
  [nzGutter]="0"
  *ngIf="showDetails()"
  class="details">
  <nz-col nzSpan="24">
    <div class="content">
      <pre>activityDetail$: {{ activityDetail$ | ngrxPush | json }}</pre>
    </div>
  </nz-col>
</nz-row>
