@import 'ng-zorro-antd/style/color/colors.less';
:host {
  margin-bottom: 12px;
  display: block;
  ::ng-deep nz-card {
    > .ant-card-head {
      padding-left: 0px;
    }
    .ant-card-head-title {
    }
    &.hide {
      > .ant-card-body {
        display: none;
      }
    }
    &.show {
      > .ant-card-body {
        display: block;
      }
    }
  }
}

.description {
  display: inline;
  ::ng-deep nz-tag {
    margin-right: 0;
    border: none;
  }
}

.organization {
  display: inline-block;
}
.toggle {
  display: inline-block;
  margin: 0 8px;
  padding: 0 8px 0 8px;
  background-color: @blue-1;
  border: 1px solid @blue-2;
  border-radius: 2px;
  cursor: pointer;
  span {
    // font-size: 125%;
    color: @blue-7;
    &.hide {
      transform: rotate(0deg);
      transition: transform 0.2s linear;
    }
    &.show {
      transform: rotate(90deg);
      transition: transform 0.2s linear;
    }
  }
}
