<nz-card [nzTitle]="cardTitle" [nzExtra]="gene">
    <ng-template #cardTitle>
        <cvc-variant-tag [variant]="variant"></cvc-variant-tag>
    </ng-template>
    <ng-template #gene>
        <cvc-gene-tag [gene]="variant.gene"></cvc-gene-tag>
    </ng-template>
    <nz-row [nzGutter]="[8,16]">
        <nz-col [nzSpan]="24">
            <nz-row [nzGutter]="[8,8]">
                <!-- gene attributes block -->
                <nz-col nzSpan="24">

                    <nz-descriptions nzLayout="horizontal" nzSize="small" [nzColumn]="1" nzBordered="true">

                        <!-- aliases -->
                        <nz-descriptions-item nzTitle="Aliases">
                            <ng-container *ngIf="variant.variantAliases.length > 0; else noAliases">
                                <cvc-tag-list>
                                    <nz-tag *ngFor="let alias of variant.variantAliases">{{ alias }}</nz-tag>
                                </cvc-tag-list>
                            </ng-container>
                            <ng-template #noAliases>
                                <span nz-typography nzType="secondary">None specified</span>
                            </ng-template>
                        </nz-descriptions-item>

                        <!-- variant type(s) -->
                        <nz-descriptions-item
                            [nzTitle]="variant.variantTypes.length > 1 ? 'Variant Types' : 'Variant Type'">
                            <ng-container *ngIf="variant.variantTypes.length > 0; else noTypes">
                                <cvc-tag-list>
                                    <cvc-variant-type-tag [variantType]="type" *ngFor="let type of variant.variantTypes">
                                    </cvc-variant-type-tag>
                                </cvc-tag-list>
                            </ng-container>
                            <ng-template #noTypes>
                                <span nz-typography nzType="secondary">None specified</span>
                            </ng-template>
                        </nz-descriptions-item>
                    </nz-descriptions>
                </nz-col>

                <!-- variant related entities, attributes -->
                <nz-col [nzSpan]="24">
                    <nz-descriptions nzLayout="horizontal" nzSize="small"
                        [nzColumn]="{ xxl: 2, xl: 2, lg: 1, md: 1, sm: 1, xs: 1 }" nzBordered="true">

                        <!-- allele reg. id -->
                        <nz-descriptions-item nzTitle="Allele Registry ID">
                            <cvc-link-tag *ngIf="variant.alleleRegistryId; else noAlleleRegistry"
                                [href]="'https://reg.genome.network/allele/' + variant.alleleRegistryId + '.html'"
                                tooltip="View on ClinGen Allele Registry">
                                {{ variant.alleleRegistryId }}
                            </cvc-link-tag>
                            <ng-template #noAlleleRegistry>
                                <span nz-typography nzType="secondary">None provided</span>
                            </ng-template>
                        </nz-descriptions-item>

                        <!-- clinvar ids-->
                        <nz-descriptions-item [nzTitle]="variant.clinvarIds.length > 1 ? 'ClinVar IDs' : 'ClinVar ID'">
                            <ng-container *ngIf="variant.clinvarIds.length > 0 else noClinvarIds">
                                <cvc-tag-list *ngIf="variant.clinvarIds[0] !== 'N/A' else clinvarNotApplicable">
                                    <ng-container *ngFor="let id of variant.clinvarIds">
                                        <cvc-link-tag [href]="'https://www.ncbi.nlm.nih.gov/clinvar/variation/' + id"
                                            tooltip="View on ClinVar">
                                            {{ id }}
                                        </cvc-link-tag>
                                    </ng-container>
                                </cvc-tag-list>
                            </ng-container>

                            <ng-template #clinvarNotApplicable>
                                <span nz-typography nzType="secondary">N/A</span>
                            </ng-template>

                            <ng-template #noClinvarIds>
                                <span nz-typography nzType="secondary">None provided</span>
                            </ng-template>
                        </nz-descriptions-item>

                    </nz-descriptions>
                </nz-col>

                <!-- coordinates -->
                <nz-col [nzSpan]="24">
                    <nz-card nzTitle="Representative Variant Coordinates" nzBorderless="true">
                        <!-- check for reference build, display empty msg if missing -->
                        <ng-container *ngIf="variant.referenceBuild else noCoordinates">

                            <!-- ref build, ensembl version -->
                            <nz-descriptions nzLayout="horizontal" [nzColumn]="2" nzBordered="true" nzSize="small">

                                <nz-descriptions-item nzTitle="Ref. Build">
                                    {{ variant.referenceBuild }}
                                </nz-descriptions-item>

                                <nz-descriptions-item nzTitle="Ensembl Version">
                                    {{ variant.ensemblVersion}}
                                </nz-descriptions-item>

                            </nz-descriptions>

                            <!-- primary / 5' coordinates -->
                            <ng-container *ngIf="variant.primaryCoordinates?.chromosome">
                                <nz-descriptions *ngIf="variant.primaryCoordinates as coords"
                                    nzTitle="{{variant.secondaryCoordinates ? '5\' Coordinates' : 'Coordinates'}}"
                                    nzLayout="horizontal" nzBordered="true" nzSize="small"
                                    [nzColumn]="{ xxl: 5, xl: 2, lg: 2, md: 2, sm: 1, xs: 1 }">

                                    <!-- chr. -->
                                    <nz-descriptions-item nzTitle="Chr." nzColumn="1">
                                        {{ coords.chromosome }}
                                    </nz-descriptions-item>

                                    <!-- start -->
                                    <nz-descriptions-item nzTitle="Start" nzColumn="1">
                                        {{ coords.start }}
                                    </nz-descriptions-item>

                                    <!-- stop -->
                                    <nz-descriptions-item nzTitle="Stop" nzColumn="1">
                                        {{ coords.stop }}
                                    </nz-descriptions-item>

                                    <ng-container *ngIf="!variant.secondaryCoordinates">
                                        <!-- reference bases -->
                                        <nz-descriptions-item nzTitle="Ref. Bases" nzColumn="1">
                                            {{ variant.referenceBases | ifEmpty: '--'}}
                                        </nz-descriptions-item>

                                        <!-- variant bases-->
                                        <nz-descriptions-item nzTitle="Var. Bases" nzColumn="1">
                                            {{ variant.variantBases | ifEmpty: '--'}}
                                        </nz-descriptions-item>
                                    </ng-container>

                                    <!-- representative transcript -->
                                    <nz-descriptions-item nzTitle="Transcript" nzColumn="5">
                                        <cvc-link-tag tooltip="View on Ensembl"
                                            [href]="'http://www.ensembl.org/Homo_sapiens/transview?transcript=' + coords.representativeTranscript">
                                            {{ coords.representativeTranscript }}
                                        </cvc-link-tag>
                                    </nz-descriptions-item>

                                </nz-descriptions>
                            </ng-container>

                            <!-- 3' (secondary) coordinates for fusions-->
                            <ng-container *ngIf="variant.secondaryCoordinates">
                                <nz-descriptions *ngIf="variant.secondaryCoordinates as coords" nzTitle="3' Coordinates"
                                    nzLayout="horizontal" nzBordered="true" nzSize="small" [nzColumn]="5">

                                    <!-- chromosome -->
                                    <nz-descriptions-item nzTitle="Chr." nzColumn="1">
                                        {{ coords.chromosome }}
                                    </nz-descriptions-item>

                                    <!-- start -->
                                    <nz-descriptions-item nzTitle="Start" nzColumn="1">
                                        {{ coords.start }}
                                    </nz-descriptions-item>

                                    <!-- stop -->
                                    <nz-descriptions-item nzTitle="Stop" nzColumn="1">
                                        {{ coords.stop }}
                                    </nz-descriptions-item>

                                    <!-- representative transcript -->
                                    <nz-descriptions-item nzTitle="Transcript" nzColumn="5">
                                        <cvc-link-tag tooltip="View on Ensembl"
                                            [href]="'http://www.ensembl.org/Homo_sapiens/transview?transcript=' + coords.representativeTranscript">
                                            {{ coords.representativeTranscript }}
                                        </cvc-link-tag>
                                    </nz-descriptions-item>

                                </nz-descriptions>
                            </ng-container>

                        </ng-container>

                        <!-- empty template -->
                        <ng-template #noCoordinates>
                            <cvc-empty-revisable notification="No coordinates specified"> </cvc-empty-revisable>
                        </ng-template>
                    </nz-card>
                </nz-col>
            </nz-row>
        </nz-col>
    </nz-row>
</nz-card>