<ng-container *ngrxLet="viewer$ as viewer">
  <nz-spin [nzSpinning]="isSubmitting">
    <button
      *ngIf="viewer.canModerate"
      cvcOrgSelectorBtn
      nzType="primary"
      nzSize="large"
      nz-button
      (click)="moderate(evidenceStatuses.Accepted)">
      Accept {{ entityType }}
    </button>
    &nbsp;
    <button
      cvcOrgSelectorBtn
      nzDanger
      nzType="primary"
      nzSize="large"
      nz-button
      (click)="moderate(evidenceStatuses.Rejected)">
      Reject {{ entityType }}
    </button>
  </nz-spin>
</ng-container>
