<div class="center">
  <nz-spin [nzSpinning]="isSubmitting">
    <button
      *ngIf="!rejectOnly"
      cvcOrgSelectorBtn
      nzType="primary"
      nzSize="large"
      nz-button
      (click)="moderate(evidenceStatuses.Accepted)">
      Accept {{ entityType }}
    </button>
    &nbsp;
    <button
      cvcOrgSelectorBtn
      nzDanger
      nzType="primary"
      nzSize="large"
      nz-button
      (click)="moderate(evidenceStatuses.Rejected)">
      Reject {{ entityType }}
    </button>
    <pre>{{ mostRecentOrg?.name }}</pre>
  </nz-spin>
</div>
