@import 'themes/global-variables.less';

@helpIconSize: 14px;
nz-form-item {
  flex-wrap: nowrap;
  ::ng-deep nz-form-label:first-of-type {
    label {
      // remove label's before/after content
      &:before,
      &:after {
        content: none;
      }
      // embolden required labels
      &.ant-form-item-required {
        font-weight: bold;
        &:before {
          content: none;
        }
      }
    }
  }
  ::ng-deep nz-form-control:first-of-type {
  }
  .help-tooltip {
    text-align: right;
    line-height: 26px;
    span.icon-tooltip {
      font-size: @helpIconSize;
      cursor: help;
    }
    span.icon-spacer {
      font-size: @helpIconSize;
      opacity: 0;
    }
  }
  // maintain gap between fields even if no description/error
  .description, error {
    line-height: @line-height-base;
    min-height: @line-height-base;
  }
}
