@import 'themes/default.less';

// prevent parent fields' validation state styles from affecting border color
::ng-deep nz-input-group {
  border-color: @border-color-base !important;
}

nz-divider {
  margin: 4px 0 0 0;
}

.quick-add-container {
  padding: 4px 8px 8px 8px;
}
