<!-- <nz-select [class.ng-dirty]="showError"
     [nzPlaceHolder]="!to.placeholder ? null : to.placeholder"
     [formControl]="formControl"
     [formlyAttributes]="field"
     [nzFilterOption]="to.filterOption"
     [nzMode]="to.multiple ? 'multiple' : 'default'">
     <ng-container *ngFor="let item of to.optionList | formlySelectOptions: field | async">
     <nz-option *ngIf="!to.isLoading"
     [nzValue]="item.value"
     [nzLabel]="item.label"
     [nzDisabled]="item.disabled"></nz-option>
     </ng-container>
     <nz-option *ngIf="to.isLoading"
     nzDisabled
     nzCustomContent>
     <i nz-icon
     nzType="loading"
     class="loading-icon"></i> Loading Data...
     </nz-option>
     </nz-select> -->
<nz-select nzShowSearch
  nzServerSearch
  (ngModelChange)="to.modelChange($event)"
  [nzPlaceHolder]="!to.placeholder ? null : to.placeholder"
  [formControl]="formControl"
  [formlyAttributes]="field"
  [nzShowArrow]="to.showArrow"
  [nzFilterOption]="to.filterOption"
  (nzOnSearch)="to.onSearch($event)">
  <nz-option *ngFor="let o of to.optionList"
    nzCustomContent
    [nzLabel]="o.label"
    [nzValue]="o.value">
    {{ o.source.citation }} ({{ o.source.citationId }})
  </nz-option>
</nz-select>
<div class="ant-form-item-explain">
  Citation:
  <ng-container *ngIf="model.citation.length === 0">
    --
  </ng-container>
  <ng-container *ngIf="model.citation.length > 0" >
    {{ model.citation }}
  </ng-container>
</div>
