<nz-select nzShowSearch
  nzServerSearch
  [formControl]="formControl"
  [formlyAttributes]="field"
  (ngModelChange)="to.modelChange($event)"
  [nzPlaceHolder]="!to.placeholder ? null : to.placeholder"
  [nzShowArrow]="to.showArrow"
  [nzFilterOption]="to.filterOption"
  (nzOnSearch)="to.onSearch($event)">
  <nz-option *ngFor="let opt of to.optionList"
    nzCustomContent
    [nzLabel]="opt.label"
    [nzValue]="opt.value">
    {{ opt.source.citation }} ({{ opt.source.citationId }})
  </nz-option>
</nz-select>
<div class="ant-form-item-explain">
  Citation:
  <span *ngIf="model.citation.length === 0">
    --
  </span>
  <span *ngIf="model.citation.length > 0" class="source-citation">
    {{ model.citation }}
  </span>
</div>
