:host {
  display: block;
}

::ng-deep .cdk-virtual-scroll-content-wrapper {
}

::ng-deep .cdk-virtual-scroll-viewport {
}

nz-card:first-of-type ::ng-deep {
  .ant-card-body {
    // TODO: implement ngClass toggle for min-height, depending on how many total
    // records the table will need to display. setting a universal min-height here
    // will result in some tables with a lot of whitespace, if they're displaying
    // a couple rows (as in the case with some Assertions tables)
    // min-height: 30em;
    // remove card body padding
    padding: 0;
    // card title has a -1 bottom margin for some reason, partially occluding nz-description's top border
    margin-top: 1px;
  }
}

tr.col-header-row th.ant-table-cell {
  white-space: nowrap;
}

tr.col-header-row
  th.ant-table-cell.align-right
  ::ng-deep
  .ant-table-column-title {
  text-align: right;
}

tr.filter-row th.ant-table-cell {
  padding: 3px 4px;
}

tr.data-row td.ant-table-cell {
  // to ensure uniform row height, cell content wrapped
  white-space: nowrap;
  .anticon.attribute-icon {
    color: #595959;
  }
}

tr.data-row td.align-right {
  text-align: right;
}

tr.col-header-row th.ant-table-cell,
tr.data-row td.ant-table-cell,
tr.filter-row th.ant-table-cell {
  .align-right {
    text-align: right;
  }
}
