@import 'themes/global-variables.less';

:host {
  display: block;
}

:host ::ng-deep nz-page-header:first-of-type {
  background-color: white;

  border-radius: @border-radius-md;

  .card-list {
    nz-card {
      width: 100%;
      .card-grid-cell {
        width: 50%;
      }
    }
  }

  nz-page-header-title.flagged {
    padding-left: .75em;
  }

  .ant-page-header-content {
    padding-top: 0;
    padding-bottom: @default-padding-sm;
  }

  .ant-page-header-heading-extra {
    nz-space-item:last-child {
      margin-right: 0 !important;
    }
  }

  #section-tabs {
    margin-left: -@default-padding-md;
    margin-right: -@default-padding-md;
    margin-top: 0;
    margin-bottom: @default-padding-sm;
    .ant-tabs-nav-wrap {
      // background: #efefef;
      padding-left: @default-padding-md;
      padding-right: @default-padding-md;
      line-height: 24px;
      .ant-tabs-tab {
        padding: 1px 8px;
        .anticon {
          margin-right: 0; // TODO figure out why this is needed, example doesn't have a margin
        }
      }
    }
    .ant-tabs-extra-content {
      margin-right: @default-padding-md;
    }
  }
}
