@import 'global-variables.less';

:host {
  display: block;
}

:host ::ng-deep nz-page-header:first-of-type {
  background-color: white;

  border-radius: @border-radius-md;

  .card-list {
    nz-card {
      width: 100%;
      .card-grid-cell {
        width: 50%;
      }
    }
  }

  nz-page-header-title.flagged {
    padding-left: .75em;
  }

  .ant-page-header-content {
    padding-top: 0;
  }

  .ant-page-header-heading-extra {
    nz-space-item:last-child {
      margin-right: 0 !important;
    }
  }

  #section-tabs {
    margin-left: -@default-padding-md;
    margin-right: -@default-padding-md;
    margin-top: 0;
    margin-bottom: @default-padding-sm;
    .ant-tabs-nav-wrap {
      // background: #efefef;
      padding-left: @default-padding-md;
      padding-right: @default-padding-md;
      line-height: 24px;
      .ant-tabs-tab {
        padding: 1px 8px;
        .anticon {
          margin-right: 0; // TODO figure out why this is needed, example doesn't have a margin
        }
      }
    }
    .ant-tabs-extra-content {
      margin-right: @default-padding-md;
    }
  }

  .revision-list {
    .revision-description-diff {
      .diff {
        border: 1px solid red;
        overflow:auto;
        ul{
          background:#fff;
          overflow:auto;
          font-size:13px;
          list-style:none;
          margin:0;
          padding:0;
          display:table;
          width: 100%;
        }
        del, .diff ins{display:block;text-decoration:none;}
        li{padding:0; display:table-row;margin: 0;height:1em;}
        li.ins{background:#ddf; color:#008}
        li.del{background:#fee; color:#b00}
        li:hover{background:#ffc}
        /* try 'whitespace:pre;' if you don't want lines to wrap */
        del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
        del strong{font-weight:normal;background:#fcc;}
        ins strong{font-weight:normal;background:#99f;}
        li.diff-comment { display: none; }
        li.diff-block-info { background: none repeat scroll 0 0 gray; }
      }
    }
  }
}
