<ng-container
  *ngIf="existingSubscription$ | ngrxPush as subscription; else noSub">
  <button
    nz-button
    nz-tooltip="Unsubscribe"
    nzSize="small"
    (click)="unsubscribe()"
    [nzLoading]="isSubmitting">
    <i
      nz-icon
      nzType="bell"
      nzTheme="fill"></i>
  </button>
</ng-container>
<ng-template #noSub>
  <button
    nz-button
    nz-tooltip="Subscribe"
    nzSize="small"
    (click)="subscribe()"
    [nzLoading]="isSubmitting">
    <i
      nz-icon
      nzType="bell"
      nzTheme="outline"></i>
  </button>
</ng-template>
