@import "themes/global-variables.less";

:host ::ng-deep {
  .ant-card-body {
    // remove card body padding
    padding: 0;
    // card title has a -1 bottom margin for some reason, partially occluding nz-description's top border
    margin-top: 1px;
  }
}

.help-text {
  padding: 6px 8px;
  border: 1px solid #efefef;
  background: white;
  border-radius: 6px;
}
