<nz-list nzBordered="false" nzSplit="false">
  <nz-list-item>
    <form action="/api/auth/google?origin={{ location }}" method="post">
      <input type="hidden" name="authenticity_token" value="{{ xsrfToken }}" />
      <button type="submit" nz-button nzBlock
        nzType="default" nzSize="large" nzShape="round">
        <i nz-icon nzType="google"></i> Sign In with a Google Account
      </button>
    </form>
  </nz-list-item>
  <nz-list-item>
    <form action="/api/auth/orcid?origin={{ location }}" method="post">
      <input type="hidden" name="authenticity_token" value="{{ xsrfToken }}" />
      <button type="submit" nz-button nzBlock
        nzType="default" nzSize="large" nzShape="round">
        Sign In with an ORCID Account
      </button>
    </form>
  </nz-list-item>
  <nz-list-item>
    <form action="/api/auth/github?origin={{ location }}" method="post">
      <input type="hidden" name="authenticity_token" value="{{ xsrfToken }}" />
      <button type="submit" nz-button nzBlock
        nzType="default" nzSize="large" nzShape="round">
        <i nz-icon nzType="github"></i> Sign In with a Github Account
      </button>
    </form>
  </nz-list-item>
</nz-list>
