<ng-container *ngIf=" (feature$ | ngrxPush) as feature">
  <nz-row [nzGutter]="[8,16]">
    <ng-container [ngSwitch]="feature.featureInstance.__typename">
      <span *ngSwitchCase="'Gene'">
        <cvc-genes-summary [gene]="feature.featureInstance"></cvc-genes-summary>
      </span>
    </ng-container>

    <!-- variant menu row -->
    <nz-col [nzSpan]="24">
      <nz-tabset nzType="card">
        <nz-tab nzTitle="Molecular Profiles">
          <cvc-molecular-profile-menu
            [featureId]="feature.id"></cvc-molecular-profile-menu>
        </nz-tab>
        <nz-tab nzTitle="Variants">
          <cvc-variant-menu [feature]="feature"></cvc-variant-menu>
        </nz-tab>
      </nz-tabset>
    </nz-col>
  </nz-row>
</ng-container>
