<nz-alert *ngIf="errorMessages" nzType="error" nzShowIcon [nzDescription]="errorContents" nzMessage="Error Resolving Flag"> </nz-alert>
<ng-template #errorContents>
  <ul>
    <li *ngFor="let error of errorMessages">
      {{ error }}
    </li>
  </ul>
</ng-template>

<nz-card nzType="inner">
    <form nz-form
      [formGroup]="formGroup"
      (ngSubmit)="resolveFlag(formModel)"
      nzLayout="vertical">
      <formly-form [form]="formGroup"
        [fields]="formFields"
        [model]="formModel"
        [options]="formOptions"></formly-form>
      <nz-form-item>
        <nz-form-control>
          <cvc-form-buttons>
            <cvc-org-selector-btn-group (selectedOrgChange)="onOrgSelected($event)">
              <button type="submit"
                nz-button
                cvcOrgSelectorBtn
                nzType="primary"
                nzSize="small"
                [disabled]="!formGroup.valid">
                Resolve
              </button>
            </cvc-org-selector-btn-group>
          </cvc-form-buttons>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>

<button (click)="closeModal()">Cancel</button>