<nz-row [nzGutter]="[8, 12]">
  <nz-col nzFlex="auto">
    @if (showFinder()) {
      <cvc-mp-finder (cvcOnSelect)="onMolecularProfileSelected($event)" />
    }

    @if (editorOpen()) {
      <div class="editor-message">
        &nbsp;
        <span
          nz-typography
          nzEllipsis
          nzType="secondary">
          <i>
            Select or create a Molecular Profile with the expression editor
          </i>
        </span>
      </div>
    }

    @if (showSelect() && !editorOpen()) {
      <!-- the select shrinks to its tag's width rather than filling the row,
           so clicking the empty space beside it cannot open a dropdown the
           user did not ask for -->
      <div class="select-container">
        <div class="limit-select-width">
          <nz-select
            cvcEntitySelect
            nzBorderless
            [formControl]="formControl"
            [formlyAttributes]="field"
            [class.ng-dirty]="showError"
            [nzMode]="props.isMultiSelect ? 'multiple' : 'default'"
            [nzPlaceHolder]="props.placeholder || 'Search Molecular Profiles'"
            [nzDisabled]="!!props.disabled"
            [nzLoading]="isLoading()"
            [nzOpen]="open()!"
            [nzAllowClear]="false"
            [nzShowArrow]="false"
            [nzSuffixIcon]="null"
            [nzCustomTemplate]="selectedTpl"
            [nzNotFoundContent]="notFoundTpl"
            (nzOnSearch)="search.set($event)"
            (nzOpenChange)="onOpenChange($event)">
            @for (result of results(); track result.id) {
              <nz-option
                nzCustomContent
                [nzValue]="result.id"
                [nzLabel]="result.name">
                <cvc-tag
                  [ref]="refFor(result)"
                  [linked]="false"
                  [emphasize]="searchTerm()" />
                <span
                  nz-typography
                  nzType="secondary">
                  Aliases:
                  @if (result.molecularProfileAliases.length > 0) {
                    <em>
                      <cvc-highlight
                        [text]="result.molecularProfileAliases.join(', ')"
                        [emphasize]="searchTerm()" />
                    </em>
                  } @else {
                    --
                  }
                </span>
              </nz-option>
            }
          </nz-select>
        </div>
      </div>
    }
  </nz-col>

  <nz-col nzFlex="50px">
    <button
      type="button"
      nz-button
      nzBlock
      class="expression-button"
      nz-tooltip
      nzTooltipTitle="Add/Edit Complex MP Expression"
      (click)="toggleEditor()">
      <span
        nz-icon
        nzType="caret-right"
        [class.show]="editorOpen()"
        [class.hide]="!editorOpen()"></span>
      Editor
    </button>
  </nz-col>

  @if (editorOpen()) {
    <nz-col
      class="editor-drawer"
      nzSpan="24">
      <cvc-mp-expression-editor
        [cvcPrepopulateWithId]="selectedId()"
        (cvcOnSelect)="onMolecularProfileSelected($event)" />
    </nz-col>
  }
</nz-row>

<!-- selected item: nz-select hands back only the bare id, the tag renders
     itself from the Apollo cache -->
<ng-template
  #selectedTpl
  let-selected>
  <div class="ant-select-selection-item-content">
    @if (refForId(selected.nzValue); as ref) {
      <cvc-tag
        [ref]="ref"
        [context]="props.isMultiSelect ? 'multi-select-item' : 'select-item'"
        (closed)="onTagClose()" />
    }
  </div>
</ng-template>

<ng-template #notFoundTpl>
  <cvc-select-messages [display]="notFound()" />
</ng-template>
