<ng-container *ngIf="previewMpName$ | ngrxPush as mpName">
  <cvc-mp-tag-name *ngIf="this.displayPreview" [nameSegments]="mpName"></cvc-mp-tag-name>
</ng-container>

<ng-container *ngIf="parseError">
  {{parseError}}
</ng-container>


<nz-mention [nzStatus]="this.parseError ? 'warning' : ''" [nzSuggestions]="this.suggestions"
  (nzOnSearchChange)="onSearchChange($event)" nzPrefix="#" nzNotFoundContent="No matches..."
  [nzValueWith]="autoCompleteValueFor" (nzOnSelect)="this.suggestions = []">

  <textarea nz-input rows="1" style="width: 100%" [(ngModel)]="mpName"
    (ngModelChange)="onMpNameChanged($event)"></textarea>

  <ng-container *nzMentionSuggestion="let variant">
    <span>{{variant.displayName}}</span>
  </ng-container>

</nz-mention>