<ng-container *ngIf="source$ | ngrxPush as source" >
  <nz-page-header class="site-page-header">
    <nz-page-header-title>
      <nz-space nzDirection="horizontal">
        <nz-space-item>
          <i nz-icon nzType="civic:source"></i>
        </nz-space-item>
        {{ source.citation }}
      </nz-space>
    </nz-page-header-title>
    <nz-page-header-extra>
      <cvc-link-tag [href]="source.sourceUrl" [tooltip]="'View on ' + source.displayType">
        {{ source.displayType + ': ' + source.citationId }}
      </cvc-link-tag>
    </nz-page-header-extra>
    <nz-page-header-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</ng-container>
