<div id="popover-content">
  @if (user$ | ngrxPush; as user) {
    <nz-card
      [nzTitle]="cardTitle"
      [nzExtra]="cardExtra"
      nzBordered="false"
      id="card-content"></nz-card>
    <ng-template #cardTitle>
      <cvc-user-avatar
        [user]="user"
        size="default"></cvc-user-avatar>
      <span
        nz-typography
        nzStyle="default"
        class="display-name"
        >{{ user.displayName }}</span
      >
    </ng-template>
    <ng-template #cardExtra>
      <i
        nz-icon
        nzType="civic-admin"></i>
      {{ user.role | titlecase }}
    </ng-template>
    <nz-row>
      <nz-col nzSpan="24">
        <div class="popover-text">
          <p nz-typography>
            @if (user.bio; as bio) {
              <span>{{ bio }}</span>
            } @else {
              User has not provided a biography.
            }
          </p>
        </div>
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-col nzSpan="24">
        <nz-descriptions
          nzSize="small"
          [nzColumn]="2"
          nzBordered="true">
          <nz-descriptions-item nzTitle="Organizations">
            @if (user.organizations.length > 0) {
              <cvc-tag-list>
                @for (o of user.organizations; track o) {
                  <cvc-organization-tag
                    [enablePopover]="false"
                    [org]="o"></cvc-organization-tag>
                }
              </cvc-tag-list>
            } @else {
              <span
                nz-typography
                nzStyle="secondary"
                >--</span
              >
            }
          </nz-descriptions-item>
        </nz-descriptions>
      </nz-col>
    </nz-row>
    <nz-row>
      @if (metadataTemplateRef) {
        <nz-divider></nz-divider>
      }
      <ng-container
        [ngTemplateOutlet]="metadataTemplateRef || null"
        [ngTemplateOutletContext]="{ $implicit: user }">
      </ng-container>
    </nz-row>
  }
</div>
