default: &default
  adapter: postgresql
  pool: 5
  encoding: unicode
  host: localhost

development:
  <<: *default
  database: civic_development

test:
  <<: *default
  database: civic_test
  <% if ENV['CI_BUILD'] %>
  username: postgres
  password: 'ci'
  <% end %>

production:
  <<: *default
  pool: 20
  username: <%=  Rails.application.credentials.dig(:database, :username) %>
  password: <%=  Rails.application.credentials.dig(:database, :password) %>

staging:
  <<: *default
  pool: 20
  database: civic_staging
  username: <%=  Rails.application.credentials.dig(:database, :username) %>
  password: <%=  Rails.application.credentials.dig(:database, :password) %>

headless:
  <<: *default
  pool: 20

