@if (ncitDetails) {
  <nz-card nzTitle="NCI Thesaurus">
    <nz-col [nzSpan]="24">
      <nz-descriptions
        nzTitle="Synonyms"
        nzSize="small"
        [nzBordered]="true"
        [nzColumn]="2">
        @for (synonym of synonymsBySource.keys(); track $index) {
          <nz-descriptions-item
            [nzTitle]="synonym"
            [nzSpan]="2">
            <cvc-tag-list>
              @for (source of synonymsBySource.get(synonym); track $index) {
                <nz-tag>{{ source }}</nz-tag>
              }
            </cvc-tag-list>
          </nz-descriptions-item>
        }
      </nz-descriptions>
    </nz-col>
  </nz-card>
}
<ng-template #noValue>
  <span
    nz-typography
    nzType="secondary">
    Not Found
  </span>
</ng-template>
