@if (ncitDetails) {
  <nz-card nzTitle="NCI Thesaurus">
    <nz-col [nzSpan]="24">
      <nz-tabs [nzAnimated]="false">
        <nz-tab nzTitle="Definitions">
          @if (ncitDetails.definitions.length > 0) {
            <nz-descriptions
              nzSize="small"
              nzLayout="vertical"
              [nzBordered]="true"
              [nzColumn]="1">
              @for (definition of ncitDetails.definitions; track $index) {
                <nz-descriptions-item
                  [nzTitle]="definition.source"
                  [nzSpan]="1">
                  {{ definition.definition }}
                </nz-descriptions-item>
              }
            </nz-descriptions>
          } @else {
            <span
              nz-typography
              nzType="secondary">
              None
            </span>
          }
        </nz-tab>
        <nz-tab nzTitle="Synonyms">
          @if (ncitDetails.synonyms.length > 0) {
            <nz-descriptions
              nzSize="small"
              [nzBordered]="true"
              [nzColumn]="2">
              @for (synonym of synonymsBySource.keys(); track $index) {
                <nz-descriptions-item
                  [nzTitle]="synonym"
                  [nzSpan]="2">
                  <cvc-tag-list>
                    @for (
                      source of synonymsBySource.get(synonym);
                      track $index
                    ) {
                      <nz-tag>{{ source }}</nz-tag>
                    }
                  </cvc-tag-list>
                </nz-descriptions-item>
              }
            </nz-descriptions>
          } @else {
            <span
              nz-typography
              nzType="secondary">
              None
            </span>
          }
        </nz-tab>
      </nz-tabs>
    </nz-col>
  </nz-card>
}
<ng-template #noValue>
  <span
    nz-typography
    nzType="secondary">
    Not Found
  </span>
</ng-template>
