<nz-space nzSize="middle"
  *ngIf="(variant$ | ngrxPush) as variant"
  nzDirection="vertical"
  class="space-align-block">

  <!-- variant description, details, myvariantinfo row -->
  <nz-space-item>
    <nz-row [nzGutter]="16">

      <!-- description, details col -->
      <nz-col [nzSpan]="12">
        <nz-space nzDirection="vertical">

          <!-- description -->
          <nz-space-item>
            <nz-descriptions nzLayout="vertical"
              nzSize="small"
              nzBordered="true"
              [nzColumn]="1">

              <nz-descriptions-item nzTitle="Description">
                <p *ngIf="variant.description; else noDescription" nz-typography
                  nzEllipsis
                  nzExpandable
                  [nzEllipsisRows]="14">{{ variant.description }}</p>

                <!-- noDescription Tpl -->
                <ng-template #noDescription>
                  <cvc-empty-revisable notification="No description provided"> </cvc-empty-revisable>
                </ng-template>

              </nz-descriptions-item>

              <!-- sources -->
              <nz-descriptions-item nzTitle="Sources">
                <ng-container *ngIf="variant.sources.length > 0; else noSources">
                  <cvc-tag-list>
                    <cvc-source-tag *ngFor="let source of variant.sources"
                      [source]="source"></cvc-source-tag>
                  </cvc-tag-list>
                </ng-container>
                <ng-template #noSources>
                  <span nz-typography
                    nzType="secondary">None specified</span>
                </ng-template>
              </nz-descriptions-item>

            </nz-descriptions>
          </nz-space-item>

          <!-- aliases -->
          <nz-space-item>
            <!-- show in vertical layout if more than 4 aliases -->
            <nz-descriptions [nzLayout]="variant.variantAliases.length > 4 ? 'vertical' : 'horizontal'"
              nzSize="small"
              nzBordered="true">

              <nz-descriptions-item nzTitle="Aliases">
                <ng-container *ngIf="variant.variantAliases.length > 0; else noAliases">
                  <ng-container *ngFor="let alias of variant.variantAliases; last as isLast">
                    {{ alias }}<span *ngIf="!isLast">,&nbsp;</span>
                  </ng-container>
                </ng-container>
                <ng-template #noAliases>
                  <span nz-typography
                    nzType="secondary">None specified</span>
                </ng-template>
              </nz-descriptions-item>

            </nz-descriptions>
          </nz-space-item>

          <!-- variant type-->
          <nz-space-item>
            <!-- show with vertical layout if more than 3 variant types -->
            <nz-descriptions [nzLayout]="variant.variantTypes.length > 2 ? 'vertical' : 'horizontal'"
              nzSize="small"
              nzBordered="true">

              <nz-descriptions-item [nzTitle]="variant.variantTypes.length > 1 ? 'Variant Types' : 'Variant Type'">
                <ng-container *ngIf="variant.variantTypes.length > 0; else noTypes">
                  <cvc-tag-list>
                    <ng-container *ngFor="let type of variant.variantTypes">
                      <cvc-variant-type-tag [variantType]="type"></cvc-variant-type-tag>
                    </ng-container>
                  </cvc-tag-list>
                </ng-container>
                <ng-template #noTypes>
                  <span nz-typography
                    nzType="secondary">None specified</span>
                </ng-template>
              </nz-descriptions-item>
            </nz-descriptions>
          </nz-space-item>

          <!-- HGVS descriptions -->
          <nz-space-item>
            <!-- show in vertical layout if more than 1 expression -->
            <nz-descriptions [nzLayout]="variant.hgvsDescriptions.length > 1 ? 'vertical' : 'horizontal'"
              nzSize="small"
              nzBordered="true">

              <nz-descriptions-item [nzTitle]="variant.hgvsDescriptions.length > 1 ? 'HGVS Descriptions' : 'HGVS Description'">
                <ng-container *ngIf="variant.hgvsDescriptions.length > 0; else noDescriptions">
                  <ng-container *ngFor="let desc of variant.hgvsDescriptions; last as isLast">
                    {{ desc }}<span *ngIf="!isLast">,&nbsp;</span>
                  </ng-container>
                </ng-container>
                <ng-template #noDescriptions>
                  <span nz-typography
                    nzType="secondary">None specified</span>
                </ng-template>
              </nz-descriptions-item>

            </nz-descriptions>
          </nz-space-item>

        </nz-space>
      </nz-col>

      <!-- allele/clinvar ids, coordinates, myvariantinfo col -->
      <nz-col nzSpan="12">
        <nz-space nzDirection="vertical">

          <!-- allele registry id, clinvar IDs -->
          <nz-space-item>
            <nz-descriptions nzLayout="horizontal"
              nzSize="small"
              [nzColumn]="2"
              nzBordered="true">

              <!-- allele reg. id -->
              <nz-descriptions-item nzTitle="Allele Registry ID">
                <cvc-link-tag *ngIf="variant.alleleRegistryId; else noAlleleRegistry"
                  [href]="'https://reg.genome.network/allele/' + variant.alleleRegistryId + '.html'"
                  tooltip="View on ClinGen Allele Registry">
                  {{ variant.alleleRegistryId }}
                </cvc-link-tag>
                <ng-template #noAlleleRegistry>
                  <span nz-typography
                    nzType="secondary">None provided</span>
                </ng-template>
              </nz-descriptions-item>

              <!-- CIViC Score-->
              <nz-descriptions-item nzTitle="CIViC Variant Evidence Score">
                <span nz-typography>{{ variant.evidenceScore }}</span>
              </nz-descriptions-item>

              <!-- clinvar ids-->
              <nz-descriptions-item [nzTitle]="variant.clinvarIds.length > 1 ? 'ClinVar IDs' : 'ClinVar ID'"
                nzSpan="2">
                <ng-container *ngIf="variant.clinvarIds.length > 0 else noClinvarIds">
                  <ng-container *ngFor="let id of variant.clinvarIds; let last = last">
                    <cvc-tag-list *ngIf="id !== 'N/A', else clinvarNotApplicable">
                      <cvc-link-tag [href]="'https://www.ncbi.nlm.nih.gov/clinvar/variation/' + id"
                        tooltip="View on ClinVar">
                        {{ id }}
                      </cvc-link-tag>
                    </cvc-tag-list>
                    <ng-container *ngIf="!last">, </ng-container>
                  </ng-container>
                </ng-container>

                <ng-template #clinvarNotApplicable>
                  <span nz-typography
                    nzType="secondary">N/A</span>
                </ng-template>

                <ng-template #noClinvarIds>
                  <span nz-typography
                    nzType="secondary">None provided</span>
                </ng-template>
              </nz-descriptions-item>

            </nz-descriptions>
          </nz-space-item>


          <!-- coordinates -->
          <nz-space-item>
            <nz-card nzTitle="Representative Variant Coordinates">
              <!-- check for reference build, display empty msg if missing -->
              <ng-container *ngIf="variant.referenceBuild else noCoordinates">

                <!-- ref build, ensembl version -->
                <nz-descriptions nzLayout="horizontal"
                  [nzColumn]="2"
                  nzBordered="true"
                  nzSize="small">

                  <nz-descriptions-item nzTitle="Ref. Build">
                    {{ variant.referenceBuild }}
                  </nz-descriptions-item>

                  <nz-descriptions-item nzTitle="Ensembl Version">
                    {{ variant.ensemblVersion}}
                  </nz-descriptions-item>

                </nz-descriptions>

                <!-- 5' coordinates -->
                <ng-container *ngIf="variant.fivePrimeCoordinates?.chromosome">
                  <!-- <ng-container *ngIf="variant.fivePrimeCoordinates?.chromosome; else noCoordinates"> -->
                  <nz-descriptions *ngIf="variant.fivePrimeCoordinates as coords" nzTitle="5' Coordinates"
                    nzLayout="horizontal" nzBordered="true" nzSize="small" [nzColumn]="5">

                    <!-- chromosome -->
                    <nz-descriptions-item nzTitle="Chr." nzColumn="1">
                      {{ coords.chromosome }}
                    </nz-descriptions-item>

                    <!-- start -->
                    <nz-descriptions-item nzTitle="Start" nzColumn="1">
                      {{ coords.start }}
                    </nz-descriptions-item>

                    <!-- stop -->
                    <nz-descriptions-item nzTitle="Stop" nzColumn="1">
                      {{ coords.stop }}
                    </nz-descriptions-item>

                    <!-- reference bases -->
                    <nz-descriptions-item nzTitle="Ref. Bases" nzColumn="1">
                      {{ coords.referenceBases | ifEmpty: '--'}}
                    </nz-descriptions-item>

                    <!-- variant bases-->
                    <nz-descriptions-item nzTitle="Var. Bases" nzColumn="1">
                      {{ coords.variantBases | ifEmpty: '--'}}
                    </nz-descriptions-item>

                    <!-- representative transcript -->
                    <nz-descriptions-item nzTitle="Transcript" nzColumn="5">
                      <cvc-link-tag tooltip="View on Esembl"
                        [href]="'http://www.ensembl.org/Homo_sapiens/transview?transcript=' + coords.representativeTranscript">
                        {{ coords.representativeTranscript }}
                      </cvc-link-tag>
                    </nz-descriptions-item>

                  </nz-descriptions>
                </ng-container>

                <!-- 3' coordinates -->
                <ng-container *ngIf="variant.threePrimeCoordinates?.chromosome">
                  <nz-descriptions *ngIf="variant.threePrimeCoordinates as coords" nzTitle="3' Coordinates"
                    nzLayout="horizontal" nzBordered="true" nzSize="small" [nzColumn]="5">

                    <!-- chr. -->
                    <nz-descriptions-item nzTitle="Chr." nzColumn="1">
                      {{ coords.chromosome }}
                    </nz-descriptions-item>

                    <!-- start -->
                    <nz-descriptions-item nzTitle="Start" nzColumn="1">
                      {{ coords.start }}
                    </nz-descriptions-item>

                    <!-- stop -->
                    <nz-descriptions-item nzTitle="Stop" nzColumn="1">
                      {{ coords.stop }}
                    </nz-descriptions-item>

                    <!-- reference bases -->
                    <nz-descriptions-item nzTitle="Ref. Bases" nzColumn="1">
                      {{ coords.referenceBases | ifEmpty: '--'}}
                    </nz-descriptions-item>

                    <!-- variant bases-->
                    <nz-descriptions-item nzTitle="Var. Bases" nzColumn="1">
                      {{ coords.variantBases | ifEmpty: '--'}}
                    </nz-descriptions-item>

                    <!-- representative transcript -->
                    <nz-descriptions-item nzTitle="Transcript" nzColumn="5">
                      <cvc-link-tag tooltip="View on Esembl"
                        [href]="'http://www.ensembl.org/Homo_sapiens/transview?transcript=' + coords.representativeTranscript">
                        {{ coords.representativeTranscript }}
                      </cvc-link-tag>
                    </nz-descriptions-item>

                  </nz-descriptions>
                </ng-container>
              </ng-container>

              <!-- empty template -->
              <ng-template #noCoordinates>
                <cvc-empty-revisable notification="No coordinates specified"> </cvc-empty-revisable>
              </ng-template>

            </nz-card>
          </nz-space-item>
          <!-- myvariant info -->
          <nz-space-item>
            <ng-container *ngIf="variantInfo$ | ngrxPush as variantInfo else noVariantInfo">
              <cvc-my-variant-info [variantInfo]="variantInfo"></cvc-my-variant-info>
            </ng-container>
            <ng-template #noVariantInfo>
              <nz-card nzTitle="MyVariantInfo" >
                <cvc-empty-revisable notification="Not available, provide HGVS coordinates"> </cvc-empty-revisable>
              </nz-card>
            </ng-template>
          </nz-space-item>
        </nz-space>


      </nz-col>

    </nz-row>
  </nz-space-item>

  <!-- event feed row -->
  <nz-space-item>
    <div nz-row
      [nzGutter]="16">
      <nz-col [nzSpan]="24">
        <cvc-event-feed [subscribable]="subscribable"
          tagDisplay="hideSubject"></cvc-event-feed>
      </nz-col>
    </div>
  </nz-space-item>

  <!-- evidence table row -->
  <nz-space-item>
    <cvc-evidence-browse [displayGeneAndVariant]="false"
      [variantId]="variant.id"></cvc-evidence-browse>
  </nz-space-item>
  <nz-space-item>
    <cvc-assertions-browse [variantId]="variant.id"></cvc-assertions-browse>
  </nz-space-item>
</nz-space>
