<nz-select nzShowSearch
  nzServerSearch
  [formControl]="formControl"
  [formlyAttributes]="field"
  [nzPlaceHolder]="!to.placeholder ? null : to.placeholder"
  [nzNotFoundContent]="notFound"
  [nzShowArrow]="false"
  (nzOnSearch)="to.onSearch($event)">
  <ng-container *ngrxLet="this.genes$ as genes">
    <nz-option *ngFor="let opt of genes"
      nzCustomContent
      [nzLabel]="opt.tooltip"
      [nzValue]="opt.gene">
      <nz-space>
        <span *nzSpaceItem>{{ opt.label }}</span>
        <ng-container *ngIf="opt.gene.geneAliases.length > 0">
          <span nz-typography
            nzType="secondary"
            *nzSpaceItem>
            {{ opt.gene.geneAliases.join(', ') }}
          </span>
        </ng-container>
      </nz-space>
    </nz-option>
  </ng-container>
</nz-select>
<ng-template #notFound>
    <!-- prompt user to enter search string if none entered, or it is of insufficient length -->
  <ng-container [ngSwitch]="to.searchLength >= 0 && to.searchLength >= to.minSearchlength">
    <div *ngSwitchCase="false"
      class="ant-form-item-explain">
      Enter an ENTREZ gene ID to search CIViC Genes.
    </div>
    <!-- if valid search, but no results returned, show notice -->
    <div *ngSwitchCase="true" class="ant-form-item-explain">
      No gene found in CIViC that matches the string provided.
    </div>
  </ng-container>

</ng-template>
