<nz-card
  [nzTitle]="feedTitle"
  style="height: 100%"
  nzSize="small"
  class="home-card"
  [nzExtra]="cardExta">
  <nz-row [nzGutter]="[8, 8]">
    <nz-col [nzSpan]="cvcFilterDisplay === 'list' ? 18 : 24">
      <cvc-activity-feed
        [cvcFeedSettings]="feedSettings()"
        [cvcFeedFilters]="feedFilters()"
        (cvcFeedInfo)="feedInfo.set($event)"></cvc-activity-feed>
    </nz-col>
    <nz-col
      *ngIf="cvcFilterDisplay === 'list'"
      nzSpan="6"
      class="feed-facet-sidebar">
      <nz-card
        nzSize="small"
        [nzTitle]="typeTitle"
        nzBordered="true"
        *ngIf="feedInfo()?.types"
        [nzExtra]="eventType() !== null ? typeExtra : undefined">
        <ul class="facet-menu">
          <li
            (click)="eventType.set(null)"
            [ngClass]="{ selected: !eventType() }">
            Show All
          </li>
          <li
            *ngFor="let type of feedInfo()?.types"
            (click)="eventType.set(type)"
            [ngClass]="{ selected: type === eventType() }">
            {{ type | eventVerbiage : 'action-filter' }}
          </li>
        </ul>
        <ng-template #typeTitle>
          <div class="facet-title">Action Type</div>
        </ng-template>
        <ng-template #typeExtra>
          <span
            nz-icon
            nzType="clear"
            nzTheme="outline"
            (click)="eventType.set(null)"
            class="clear-filter"></span>
        </ng-template>
      </nz-card>
      <nz-card
        nzSize="small"
        [nzTitle]="curatorsTitle"
        nzBordered="true"
        *ngIf="feedInfo()?.participants"
        [nzExtra]="originatingUserId() != null ? curatorExtra : undefined">
        <pre>ID {{ originatingUserId() != null | json }}</pre>
        <ul class="facet-menu">
          <li
            (click)="originatingUserId.set(null)"
            [ngClass]="{ selected: !originatingUserId() }">
            Show All
          </li>
          <li
            *ngFor="let user of feedInfo()?.participants"
            (click)="originatingUserId.set(user.id)"
            [ngClass]="{ selected: user.id === originatingUserId() }">
            {{ user.displayName }}
          </li>
        </ul>
        <ng-template #curatorsTitle>
          <div class="facet-title">Curator</div>
        </ng-template>
        <ng-template #curatorExtra>
          extra
          <span
            nz-icon
            nzCurator="clear"
            nzTheme="outline"
            (click)="originatingUserId.set(null)"
            class="clear-filter"></span>
        </ng-template>
      </nz-card>
      <nz-card
        nzSize="small"
        [nzTitle]="orgsTitle"
        nzBordered="true"
        *ngIf="feedInfo()?.organizations">
        <ul class="facet-menu">
          <li
            (click)="organizationId.set(null)"
            [ngClass]="{ selected: !organizationId() }">
            Show All
          </li>
          <li
            *ngFor="let organization of feedInfo()?.organizations"
            (click)="organizationId.set(organization.id)"
            [ngClass]="{ selected: organization.id === organizationId() }">
            {{ organization.name }}
          </li>
        </ul>
        <ng-template #orgsTitle>
          <div class="facet-title">Organization</div>
        </ng-template>
      </nz-card>
    </nz-col>
  </nz-row>
</nz-card>
<ng-template #feedTitle>
  <span>Live Curation Activity</span>
  <span> ({{ feedInfo()?.actionCount?.unfiltered | number }} total) </span>
</ng-template>
<ng-template #cardExta>
  <nz-space nzDirection="horizontal">
    <ng-container *ngIf="cvcFilterDisplay === 'select'">
      <nz-select
        [ngModel]="eventType()"
        (ngModelChange)="eventType.set($event)"
        [nzDropdownMatchSelectWidth]="false"
        nzPlaceHolder="Type"
        [nzAllowClear]="true"
        [nzOptionHeightPx]="28"
        nzSize="small"
        *nzSpaceItem>
        <nz-option
          *ngFor="let type of feedInfo()?.types"
          [nzValue]="type"
          [nzLabel]="type"></nz-option>
      </nz-select>
      <nz-select
        [ngModel]="organizationId()"
        (ngModelChange)="organizationId.set($event)"
        [nzDropdownMatchSelectWidth]="false"
        nzPlaceHolder="Organization"
        [nzAllowClear]="true"
        [nzOptionHeightPx]="28"
        nzSize="small"
        *nzSpaceItem>
        <nz-option
          *ngFor="let organization of feedInfo()?.organizations"
          [nzValue]="organization.id"
          [nzLabel]="organization.name"></nz-option>
      </nz-select>
      <nz-select
        [ngModel]="originatingUserId()"
        (ngModelChange)="originatingUserId.set($event)"
        [nzDropdownMatchSelectWidth]="false"
        nzPlaceHolder="User"
        [nzAllowClear]="true"
        [nzOptionHeightPx]="28"
        nzSize="small"
        *nzSpaceItem>
        <nz-option
          *ngFor="let user of feedInfo()?.participants"
          [nzValue]="user.id"
          [nzLabel]="user.displayName"></nz-option>
      </nz-select>
    </ng-container>
    <button
      nz-button
      nz-popover
      [nzPopoverContent]="settingsPopover"
      [nzPopoverTrigger]="'click'"
      type="button"
      nzType="default"
      nzSize="small"
      *nzSpaceItem>
      <span
        nz-icon
        nzType="setting"
        nzTheme="outline"></span>
    </button>
  </nz-space>
  <!-- SETTINGS POPOVER -->
  <ng-template #settingsPopover>
    <div class="settings-popover-content">
      <nz-row [nzGutter]="[8, 8]">
        <!-- INCLUDE AUTOMATED EVENTS -->
        <nz-col
          nzSpan="12"
          class="option-key">
          Include Automated Events
        </nz-col>
        <nz-col
          nzSpan="12"
          class="option-input">
          <label></label>
          <label
            nz-checkbox
            [ngModel]="includeAutomatedEvents()"
            (ngModelChange)="includeAutomatedEvents.set($event)"></label>
        </nz-col>
        <!-- PAGE SIZE -->
        <nz-col
          nzSpan="12"
          style="text-align: right">
          Page Size
        </nz-col>
        <nz-col nzSpan="12">
          <nz-select
            [ngModel]="pageSize()"
            (ngModelChange)="pageSize.set($event)"
            [nzOptionHeightPx]="28"
            nzSize="small">
            <nz-option
              *ngFor="let size of settingsOptions.pageSizes"
              [nzValue]="size"
              [nzLabel]="size"></nz-option>
          </nz-select>
        </nz-col>
      </nz-row>
    </div>
  </ng-template>
</ng-template>
