<nz-space nzSize="middle" *ngIf="(source$ | ngrxPush) as source" nzDirection="vertical" class="space-align-block">
  <nz-space-item>
    <h2>{{ source.title }}</h2>
  </nz-space-item>
  <nz-space-item>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-row>
          <nz-col [nzSpan]="24">
            {{ source.abstract }}
          </nz-col>
        </nz-row>
        <nz-row>
          <nz-col [nzSpan]="24">
            {{ source.abstract }}
          </nz-col>
        </nz-row>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-row><b>Published:&nbsp;</b>{{ source.publicationDate }}</nz-row>
        <nz-row><b>{{ source.displayType }} ID:&nbsp;</b>{{ source.citationId }}</nz-row>
        <nz-row><b>Journal:&nbsp;</b>{{ source.fullJournalTitle }}</nz-row>
        <nz-row>
          <b>PMC ID:&nbsp;</b>
          <span *ngIf="source.pmcId; else pmcIdElse">
            {{ source.pmcId }}
          </span>
          <ng-template #pmcIdElse>
            -
          </ng-template>
        </nz-row>
        <nz-row *ngIf="source.clinicalTrials" [ngPlural]="source.clinicalTrials.length">
          <ng-template ngPluralCase="=0"><b>Clinical Trial:&nbsp;</b> <i>-</i></ng-template>
          <ng-template ngPluralCase="=1"><b>Clinical Trial:&nbsp;</b></ng-template>
          <ng-template ngPluralCase="other"><b>Clinical Trials:&nbsp;</b></ng-template>
          <ng-container *ngFor="let t of source.clinicalTrials">
            <a routerLink="/clinical-trials/{{t.id}}">
              <cvc-clinical-trial-tag [clinicalTrial]="t"></cvc-clinical-trial-tag>
            </a>
          </ng-container>
        </nz-row>
      </div>
      <div nz-col [nzSpan]="6">
        <b>Authors:</b> {{ source.authorString }}
      </div>
    </div>
  </nz-space-item>
  <nz-space-item>
    <cvc-evidence-browse [sourceId]="sourceId"></cvc-evidence-browse>
  </nz-space-item>
</nz-space>