<nz-page-header class="site-page-header">

  <!--avatar-->
  <!-- <nz-avatar nz-page-header-avatar nzIcon="civic:gene"> </nz-avatar> -->

  <!--title-->
  <nz-page-header-title><i nz-icon nzType="civic:gene"></i> Genes</nz-page-header-title>

  <!--subtitle-->
  <!-- <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle> -->

  <!--tags-->
  <!-- <nz-page-header-tags>
       <nz-tag [nzColor]="'blue'">Running</nz-tag>
       </nz-page-header-tags> -->

  <!--extra-->
  <!-- <nz-page-header-extra>
       <button nz-button>Operation</button>
       <button nz-button>Operation</button>
       <button nz-button nzType="primary">Primary</button>
       <button nz-button nzNoAnimation nz-dropdown [nzDropdownMenu]="menu" style="border: none; padding: 0">
       <i nz-icon nzType="ellipsis" nzTheme="outline" style="font-size: 20px; vertical-align: top;"></i>
       </button>
       <nz-dropdown-menu #menu="nzDropdownMenu">
       <ul nz-menu>
       <li nz-menu-item>1st menu item length</li>
       <li nz-menu-item>2nd menu item length</li>
       <li nz-menu-item>3rd menu item length</li>
       </ul>
       </nz-dropdown-menu>
       </nz-page-header-extra> -->

  <!--content-->
  <nz-page-header-content>
    <div nz-row>
      <div class="content">
        <nz-table #genesTable [nzData]="genes$ | async"
          nzWidth="100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Aliases</th>
              <th>Diseases</th>
              <th>Drugs</th>
              <th><i nz-icon nzType="civic:variant" nz-tooltip nzTooltipTitle="Variant count"></i></th>
              <th><i nz-icon nzType="civic:evidence" nz-tooltip nzTooltipTitle="Evidence count"></i></th>
              <th><i nz-icon nzType="civic:assertion" nz-tooltip nzTooltipTitle="Assertion count"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gene of genesTable.data">
              <td>
                <a routerLink="/genes/{{gene.id}}">{{gene.name}}</a>
              </td>
              <td>
                <span *ngFor="let alias of gene.geneAliases; last as isLast" >
                  {{ alias.name }}{{ isLast ? '' : ', ' }}
                </span>
              </td>
              <td>
                <span *ngFor="let disease of gene.diseases; last as isLast" >
                  {{ disease.name }}{{ isLast ? '' : ', ' }}
                </span>
              </td>
              <td>
                <span *ngFor="let drug of gene.drugs; last as isLast" >
                  {{ drug.name }}{{ isLast ? '' : ', ' }}
                </span>
              </td>
              <td>{{gene.variantCount}}</td>
              <td>{{gene.evidenceItemCount}}</td>
              <td>{{gene.assertionCount}}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8" >
          <pre>Genes: {{ genes$ | async | json }}</pre>
        </div>
        <div nz-col nzSpan="8" >
          <pre>PageInfo: {{ pageInfo | json }}</pre>
        </div>
        <div nz-col nzSpan="8" >
          <pre>Error:</pre>
        </div>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>
