.btn-aligner {
  display: inline-block;
  &.btn-right,
  &.btn-left,
  &.btn-center {
    width: 100%;
  }
  &.btn-right {
    text-align: right;
  }
  &.btn-left {
    text-align: left;
  }
  &.btn-center {
    text-align: center;
  }
}

:host-context(cvc-form-footer) .btn-aligner {
  margin-top: 8px;
}
