<nz-select
  [formControl]="formControl"
  [formlyAttributes]="field"
  [class.ng-dirty]="showError"
  [nzMode]="props.isMultiSelect ? 'multiple' : 'default'"
  [nzPlaceHolder]="props.placeholder || 'Select Evidence Level'"
  [nzDisabled]="!!props.disabled"
  [nzCustomTemplate]="selectedTpl">
  @for (level of optionValues(); track level) {
    <nz-option
      nzCustomContent
      [nzValue]="level"
      [nzLabel]="level">
      <nz-tag>
        <strong>{{ level }}</strong> -
        {{ level | enumTooltip: 'evidenceLevelBrief' }}
      </nz-tag>
    </nz-option>
  }
</nz-select>

<ng-template
  #selectedTpl
  let-selected>
  <div class="ant-select-selection-item-content">
    @if (props.isMultiSelect) {
      <strong>{{ selected.nzValue }}</strong> -
      {{ selected.nzValue | enumTooltip: 'evidenceLevelBrief' }}
    } @else {
      <nz-tag
        nzMode="closeable"
        (nzOnClose)="onTagClose()">
        <strong>{{ selected.nzValue }}</strong> -
        {{ selected.nzValue | enumTooltip: 'evidenceLevelBrief' }}
      </nz-tag>
    }
  </div>
</ng-template>
