<cvc-section-navigation [actionsTpl]="assertionActions"> </cvc-section-navigation>
<ng-template #assertionActions>
  <ng-container *ngrxLet="viewer$ as viewer">
    <button routerLink="/assertions/add/submit"
      *ngIf="viewer.signedIn"
      nz-button
      nzSize="small">
      <i nz-icon nzType="plus-circle"></i>
      Submit New Assertion
    </button>
  </ng-container>
</ng-template>

<nz-page-header class="site-page-header">
  <nz-page-header-title>
    <i nz-icon
      nzType="civic:assertion"></i> Assertions
  </nz-page-header-title>

  <nz-page-header-content>
    <nz-row>
      <nz-col [nzSpan]="24">
        <div class="content">
          <cvc-assertions-table></cvc-assertions-table>
        </div>
      </nz-col>
    </nz-row>
  </nz-page-header-content>
</nz-page-header>
