<nz-page-header class="site-page-header">

  <!--title-->
  <nz-page-header-title>
    Contact
  </nz-page-header-title>

  <!--content-->
  <nz-page-header-content>
    <nz-row>
      <nz-col [nzSpan]="24">
        <div class="content" style="min-height: 600px">
          <nz-space nzDirection="vertical" style="width: 100%">
            <nz-row [nzGutter]="24" *nzSpaceItem>
              <nz-col [nzSpan]="8">
                <nz-card nzType="inner" nzTitle="News and Updates" style="width: 100%">
                  Please follow our twitter account <a href="https://twitter.com/CIViCdb" target="_blank">@CIVICdb</a>.
                </nz-card>
              </nz-col>
              <nz-col [nzSpan]="8">
                <nz-card nzType="inner" nzTitle="General Inquiries" style="width: 100%">
                  Please email <a href="mailto:help@civicdb.org" target="_blank">help@civicdb.org</a>.
                </nz-card>
              </nz-col>
              <nz-col [nzSpan]="8">
                <nz-card nzType="inner" nzTitle="Bug Reports and Feature Requests" style="width: 100%">
                  Please create an issue in the <a href="https://github.com/griffithlab/civic-v2/issues" target="_blank">civic-v2 GitHub repo</a>.
                </nz-card>
              </nz-col>
            </nz-row>
          </nz-space>
        </div>
      </nz-col>
    </nz-row>
  </nz-page-header-content>
</nz-page-header>
