<nz-space
  nzDirection="vertical"
  nzSize="middle"
  class="space-container">
  <nz-row *nzSpaceItem>
    <nz-col [nzSpan]="24">
      <nz-space
        nzDirection="vertical"
        nzSize="middle"
        class="space-container">
        <nz-carousel
          nzAutoPlay
          nzAutoPlaySpeed="10000"
          *nzSpaceItem>
          <div nz-carousel-content>
            <h1>Welcome to CIViC</h1>
            <h2>
              an open-source platform supporting crowdsourced and
              expert-moderated cancer variant curation.
            </h2>
          </div>
          <div nz-carousel-content>
            <h1>
              Discover supported clinical interpretations <br />
              of mutations related to cancer.
            </h1>
          </div>
          <div nz-carousel-content>
            <h1>
              Participate with colleagues <br />to add variants and support
              <br />for cancer-related mutations.
            </h1>
          </div>
          <div nz-carousel-content>
            <h1>
              <a
                class="header-link"
                href="https://civic.readthedocs.io/en/latest/curating/editor.html"
                target="_blank"
                >Become an Editor! <br />Help moderate updates to CIViC</a
              >
            </h1>
          </div>
        </nz-carousel>
      </nz-space>
    </nz-col>
  </nz-row>
  <nz-row
    *nzSpaceItem
    [nzGutter]="16">
    <nz-col [nzSpan]="24">
      <cvc-site-stats-card></cvc-site-stats-card>
    </nz-col>
  </nz-row>
  <nz-row
    [nzGutter]="16"
    *nzSpaceItem>
    <nz-col [nzSpan]="12">
      <nz-card
        style="height: 100%"
        nzTitle="News & Events"
        nzSize="small"
        class="home-card">
        <cvc-news-item-list [cvcNewsItems]="newsItems"></cvc-news-item-list>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-card
        [nzTitle]="feedTitle"
        style="height: 100%"
        nzSize="small"
        class="home-card"
        [nzExtra]="feedParameters">
        <cvc-activity-feed
          [cvcFeedPrefs]="feedPrefs()"
          [cvcFeedFilters]="feedFilters()"
          (cvcFeedInfo)="feedInfo.set($event)"></cvc-activity-feed>
      </nz-card>
      <ng-template #feedTitle>
        <span>Live Curation Activity</span>
        <span>
          ({{ feedInfo()?.actionCount?.unfiltered | number }} total)
        </span>
      </ng-template>
      <ng-template #feedParameters>
        <nz-select
          [ngModel]="eventType()"
          (ngModelChange)="eventType.set($event)"
          [nzDropdownMatchSelectWidth]="false"
          nzPlaceHolder="Type"
          [nzAllowClear]="true"
          [nzOptionHeightPx]="28"
          nzSize="small">
          <nz-option
            *ngFor="let type of feedInfo()?.types"
            [nzValue]="type"
            [nzLabel]="type"></nz-option>
        </nz-select>
        &nbsp;
        <nz-select
          [ngModel]="organizationId()"
          (ngModelChange)="organizationId.set($event)"
          [nzDropdownMatchSelectWidth]="false"
          nzPlaceHolder="Organization"
          [nzAllowClear]="true"
          [nzOptionHeightPx]="28"
          nzSize="small">
          <nz-option
            *ngFor="let organization of feedInfo()?.organizations"
            [nzValue]="organization.id"
            [nzLabel]="organization.name"></nz-option>
        </nz-select>
        &nbsp;
        <nz-select
          [ngModel]="originatingUserId()"
          (ngModelChange)="originatingUserId.set($event)"
          [nzDropdownMatchSelectWidth]="false"
          nzPlaceHolder="User"
          [nzAllowClear]="true"
          [nzOptionHeightPx]="28"
          nzSize="small">
          <nz-option
            *ngFor="let user of feedInfo()?.participants"
            [nzValue]="user.id"
            [nzLabel]="user.displayName"></nz-option>
        </nz-select>
        &nbsp;
        <button
          nz-button
          nz-popover
          [nzPopoverContent]="settingsPopover"
          [nzPopoverTrigger]="'click'"
          type="button"
          nzType="default"
          nzSize="small">
          <span
            nz-icon
            nzType="setting"
            nzTheme="outline"></span>
        </button>
        <ng-template #settingsPopover>
          <nz-row [nzGutter]="[8, 8]">
            <nz-col
              nzSpan="12"
              style="text-align: right">
              Include Automated
            </nz-col>
            <nz-col nzSpan="12">
              <label
                nz-checkbox
                [ngModel]="includeAutomatedEvents()"
                (ngModelChange)="includeAutomatedEvents.set($event)"></label>
            </nz-col>
            <nz-col
              nzSpan="12"
              style="text-align: right">
              Page Size
            </nz-col>
            <nz-col nzSpan="12">
              <nz-select
                [ngModel]="pageSize()"
                (ngModelChange)="pageSize.set($event)"
                [nzOptionHeightPx]="28"
                nzSize="small">
                <nz-option
                  *ngFor="let size of pageSizes"
                  [nzValue]="size"
                  [nzLabel]="size"></nz-option>
              </nz-select>
            </nz-col>
          </nz-row>
        </ng-template>
      </ng-template>
    </nz-col>
  </nz-row>
  <nz-row
    *nzSpaceItem
    [nzGutter]="16">
    <nz-col [nzSpan]="24">
      <nz-card
        nzTitle="Medical Disclaimer: This resource is intended for purely research purposes. It should not be used for emergencies or medical or professional advice."
        nzSize="small"
        class="home-card">
        <p>
          CIViC is a community-edited forum for discussion and interpretation of
          peer-reviewed publications pertaining to the clinical relevance of
          variants (or biomarker alterations) in cancer. These interpretations
          may include associations between molecular alterations (or lack of
          alteration) and one or more therapies, diagnoses, prognoses or other
          treatment decisions. These interpretations of clinical significance
          (or lack of clinical significance) are purely for research purposes. A
          finding of no interpretation does not necessarily indicate lack of
          relevance for any specific variant or biomarker alteration.
          Interpretations are not presented in ranked order of potential or
          predicted importance. These interpretations make no promise or
          guarantee of any clinical benefit (or lack of clinical benefit).
        </p>
        <p>
          The civicdb.org website does not provide any medical or healthcare
          products, services or advice, and is not for medical emergencies or
          urgent situations.
          <strong
            >IF YOU THINK YOU MAY HAVE A MEDICAL EMERGENCY, CALL YOUR DOCTOR OR
            911 IMMEDIATELY</strong
          >. Information contained on this website is not a substitute for a
          doctor's medical judgment or advice. We recommend that you discuss
          your specific, individual health concerns with your doctor or health
          care professional.
        </p>
      </nz-card>
    </nz-col>
  </nz-row>
  <ng-container *ngIf="this.release$ | async as release">
    <nz-row
      *nzSpaceItem
      nzAlign="middle"
      nzJustify="center">
      <div
        id="release-info"
        nz-typography>
        CIViC {{ release.name }} ({{ release.published_at | date }}) &bull;
        <a
          [href]="release.html_url"
          target="_blank">
          Release Notes
        </a>
        &bull;
        <a
          href="https://github.com/griffithlab/civic-v2/releases/"
          target="_blank">
          History
        </a>
      </div>
    </nz-row>
  </ng-container>
</nz-space>
