<ng-container *ngIf="linked; else unlinked">
  <a [routerLink]="assertion.link">
    <ng-template [ngTemplateOutlet]="tag"></ng-template>
  </a>
</ng-container>

<ng-template #tag>
  <nz-tag
    [ngClass]="{
      rejected: assertion.status === 'REJECTED',
      submitted: assertion.status === 'SUBMITTED',
      accepted: assertion.status === 'ACCEPTED',
    }"
    nz-popover
    [nzPopoverMouseEnterDelay]="0.5"
    [nzPopoverContent]="enablePopover ? assertionPopover : undefined"
    nzPopoverPlacement="right">
    <ng-template [ngTemplateOutlet]="tagContent"></ng-template>
  </nz-tag>

  <ng-template #assertionPopover>
    <cvc-assertion-popover [assertionId]="assertion.id"></cvc-assertion-popover>
  </ng-template>
</ng-template>

<ng-template #unlinked>
  <ng-template [ngTemplateOutlet]="tag"></ng-template>
</ng-template>

<ng-template #tagContent>
  <cvc-icon-badges
    [flagged]="assertion.flagged"
    [entityColor]="iconColor">
    <i
      nz-icon
      nzType="civic-assertion"
      nzTheme="twotone"
      [nzTwotoneColor]="
        assertion.status === 'REJECTED'
          ? ('Rejected' | entityColor)
          : ('Assertion' | entityColor)
      ">
    </i>
  </cvc-icon-badges>
  {{ assertion.name }}
</ng-template>
