<div id="popover-content">
  <ng-container *ngIf="drug$ | ngrxPush as d" >
    <nz-card [nzTitle]="cardTitle" nzBordered="false"
      id="card-content"
      [nzExtra]="linkout">
      <ng-template #cardTitle>
        <i nz-icon nzType="civic-intervention" nzTheme="twotone" nzTwotoneColor="#AC3996"></i>
        {{ d.name | truncate: 50}}
      </ng-template>
      <ng-template #linkout>
        <cvc-link-tag *ngIf="d.ncitId; else noNcitId" [href]="d.drugUrl" tooltip="View on NCI Thesaurus">
          {{ d.ncitId }}
        </cvc-link-tag>
      </ng-template>
      <ng-template #noNcitId>
        <span nz-typography nzType="secondary">No NCIt ID</span>
      </ng-template>

      <nz-descriptions nzSize="small"
        [nzColumn]="2"
        nzBordered="true">
        <nz-descriptions-item *ngIf="d.name.length > 50" nzTitle="Name" nzSpan="2">
          {{ d.name }}
        </nz-descriptions-item>
        <nz-descriptions-item *ngIf="d.drugAliases.length > 0" nzTitle="Aliases" nzSpan="2">
          {{ d.drugAliases.join(', ') }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Assertions"
          nzSpan="2">
          {{d.assertionCount}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Evidence"
          nzSpan="2">
          {{d.evidenceItemCount}}
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-card>
  </ng-container>
</div>
