<nz-tag
  nz-popover
  nzPopoverPlacement="top"
  nzPopoverTrigger="click"
  [nzPopoverContent]="revisionsPopover">
  <nz-icon
    nzType="civic-revision"
    nzTheme="twotone"
    [nzTwotoneColor]="'Revision' | entityColor"></nz-icon>
  Show Revisions
</nz-tag>
<ng-template #revisionsPopover>
  <div
    class="revisions-container"
    #revisionsContainer>
    <cvc-activity-feed
      [cvcFilters]="feedFilters(cvcEndorsement())"
      [cvcShowFilters]="false"
      [cvcAutoHeightTarget]="revisionsContainer"
      [cvcAutoHeightOffset]="20"
      cvcTitle="Post Endorsement Changes"></cvc-activity-feed>
  </div>
</ng-template>
