<form
  *ngIf="hideMpSelect$ | ngrxPush"
  nz-form
  [nzLayout]="simpleMpLayout"
  [formGroup]="simpleMpForm">
  <formly-form
    [form]="simpleMpForm"
    [fields]="simpleMpConfig"
    [model]="simpleMpModel"
    [options]="simpleMpOptions"
    (modelChange)="simpleMpFormChange$.next($event)">
  </formly-form>
</form>
<cvc-entity-select
  *ngIf="!(hideMpSelect$ | ngrxPush)"
  [cvcSelectMode]="props.isMultiSelect ? 'multiple' : 'default'"
  [cvcCustomTemplate]="selectedTemplate"
  [cvcFormControl]="formControl"
  [cvcFormlyAttributes]="field"
  [cvcEntityName]="props.entityName"
  [cvcPlaceholder]="(placeholder$ | ngrxPush)!"
  [cvcResults]="result$ | ngrxPush"
  [cvcDisabled]="props.disabled"
  [cvcOptions]="selectOption$ | ngrxPush"
  [cvcShowError]="showError"
  [cvcLoading]="isLoading$ | ngrxPush"
  (cvcOnSearch)="onSearch$.next($event)"
  (cvcOnModelChange)="props.change && props.change(field, $event)">
</cvc-entity-select>
<!-- select option templates -->
<!-- result$ updates generate an array of #optionTemplates. entity-tag-field.mixin watches #optionTemplates changes, and attaches each to an NzSelectOptionTemplateInterface object, which are emitted from selectOption$. selectOption$ is passed to <cvc-entity-select> via [cvcOptions] above -->
<ng-container *ngrxLet="onSearch$ as searchString">
  <ng-container *ngFor="let result of result$ | ngrxPush; index as i">
    <ng-template #optionTemplates>
      <cvc-entity-tag
        [cvcDisableLink]="true"
        [cvcCacheId]="result.__typename + ':' + result.id"
        [cvcEmphasize]="searchString"></cvc-entity-tag>
      <span
        nz-typography
        nzType="secondary">
        Aliases:
        <ng-container
          *ngIf="result.molecularProfileAliases.length > 0; else noAliases">
          <em>
            <span
              nz-typography
              nzType="secondary"
              [innerHtml]="
                result.molecularProfileAliases.join(', ')
                  | highlightTypeahead : searchString
              "></span
          ></em>
        </ng-container>
        <ng-template #noAliases>--</ng-template>
      </span>
    </ng-template>
  </ng-container>
</ng-container>

<!-- selected option item template -->
<!-- displays entity tag, specifying context and mode depending on
    if field is multi-select or single -->
<ng-template
  #selectedTemplate
  let-selected>
  <div class="ant-select-selection-item-content">
    <cvc-entity-tag
      [cvcCacheId]="'MolecularProfile:' + selected.nzValue"
      [cvcContext]="props.isMultiSelect ? 'multi-select-item' : 'select-item'"
      [cvcMode]="props.isMultiSelect ? 'default' : 'closeable'"
      (cvcOnClose)="onTagClose$.next(selected.nzValue)"></cvc-entity-tag>
  </div>
</ng-template>

<!-- quick-add button's popup template -->
<!-- <ng-template
  #addVariant
  let-searchStr
  let-createMsg>
  <cvc-variant-quick-add-form
    [cvcSearchString]="searchStr"
    (cvcOnCreate)="onCreate$.next($event)">
  </cvc-variant-quick-add-form>
</ng-template> -->
