@import 'themes/overrides/entity-page-header.overrides.less';
@import 'themes/overrides/descriptions-overrides.less';
@import 'themes/global-variables.less';

.profile-content {
  flex-wrap: nowrap;
}

.org-pseudo-tag {
  text-align: center;
  background-color: #f4f4f4;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  line-height: 14px;
  padding: 3px;
}

.calculation-info {
  max-width: 300px;
  p:last-of-type {
    margin-bottom: 0;
  }
}
