<nz-page-header class="site-page-header">
  <nz-page-header-title>
    <i nz-icon nzType="civic:organization"></i>
    Organization
    <span nz-typography nzType="secondary"  *ngIf="(isLoading$ | ngrxPush)">Loading...</span>
  </nz-page-header-title>
  <nz-page-header-extra>
    Card View <nz-switch [(ngModel)]="tableView" (ngModelChange)="refresh()"></nz-switch> Table View
  </nz-page-header-extra>

  <nz-page-header-content>
    <div *ngIf="tableView" nz-row>
      <div nz-col [nzSpan]="24">
        <div class="content">
          <nz-table #organizationsTable
            [nzData]="(organizations$ | ngrxPush)"
            [nzLoading]="(isLoading$ | ngrxPush)"
            [nzFrontPagination]="false"
            [nzShowPagination]="false">

            <thead (nzSortOrderChange)="onSortChanged($event)">
              <tr>
                <th nzWidth="10%" [nzColumnKey]="sortColumns.Id" [nzSortFn]="true">
                  ID
                </th>
                <th nzWidth="40%" [nzColumnKey]="sortColumns.Name" [nzSortFn]="true">
                  Name
                </th>
                <th>
                  Members
                </th>
                <th>
                  Actions
                </th>
                <th>
                  Last Action
                </th>
              </tr>
              <tr>
                <th>
                  <cvc-clearable-text-filter [(inputModel)]="idInput" placeholderText="Search ID" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                </th>
                <th>
                  <cvc-clearable-text-filter [(inputModel)]="orgNameInput" placeholderText="Search Name" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let organization of organizationsTable.data">
                <td>
                  <a routerLink="/organizations/{{organization.id}}">{{organization.id}}</a>
                </td>
                <td>
                  <a href="{{organization.url}}" target="_blank">{{organization.name}}</a>
                </td>
                <td>
                  {{ organization.memberCount }}
                </td>
                <td>
                  {{ organization.eventCount }}
                </td>
                <td>
                  {{ organization.mostRecentEvent.createdAt}}
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
    <div *ngIf="!tableView" nz-row>
      <div nz-col [nzSpan]="24">
        <ng-container *ngFor="let organization of organizations$ | ngrxPush">
          <cvc-organization-card [organization]="organization"></cvc-organization-card>
        </ng-container>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>