@if (variant$ | ngrxPush; as variant) {
  <cvc-section-navigation
    [displayName]="variant.feature.name + ' ' + variant.name"
    [relationsTpl]="variantRelations">
  </cvc-section-navigation>
  <ng-template #variantRelations>
    <nz-space nzDirection="horizontal">
      <!-- parent relations -->
      <span
        nz-typography
        class="label"
        *nzSpaceItem
        ><strong>{{ variant.name }}</strong> Parent:</span
      >
      <span
        *nzSpaceItem
        class="tags">
        <a routerLink="/features/{{ variant.feature.id }}">
          <cvc-feature-tag [feature]="variant.feature"></cvc-feature-tag>
        </a>
      </span>
    </nz-space>
  </ng-template>
  <div
    cvcFlaggable
    [flags]="flagsTotal$ | ngrxPush">
    <nz-page-header class="site-page-header">
      <!-- title -->
      <nz-page-header-title
        cvcFlaggableOptions
        [ngClass]="{ flagged: variant.flags.totalCount > 0 }">
        <i
          nz-icon
          nzTheme="twotone"
          [nzTwotoneColor]="'Variant' | entityColor"
          nzType="civic-variant"></i>
        <span
          nz-typography
          style="color: #bbb">
          {{ variant.feature.name }}
        </span>
        {{ variant.name }}
      </nz-page-header-title>
      <!-- subtitle -->
      @if (variant.variantAliases.length > 0) {
        <nz-page-header-subtitle>
          @for (
            alias of variant.variantAliases;
            track alias;
            let isLast = $last
          ) {
            <span>
              {{ alias }}
              @if (!isLast) {
                <span>,&nbsp;</span>
              }
            </span>
          }
        </nz-page-header-subtitle>
      }
      <!-- header action btns, actions menu -->
      <nz-page-header-extra *ngrxLet="viewer$ as viewer">
        <nz-space
          nzDirection="horizontal"
          nzSize="small"
          *ngrxLet="viewer$ as viewer">
          <!-- add revision btn -->
          <span *nzSpaceItem>
            @if (viewer?.signedIn) {
              <button
                [routerLink]="['/variants', variant.id, 'revise']"
                [queryParams]="{ variantType: variant.__typename }"
                routerLinkActive
                #rlaComments="routerLinkActive"
                [nzType]="rlaComments.isActive ? 'primary' : 'default'"
                nz-button
                nzSize="small">
                Revise
              </button>
            }
          </span>
          <!-- add flag btn -->
          <!-- TODO implement as flag form within popover window -->
          <span *nzSpaceItem>
            @if (viewer.signedIn) {
              <button
                routerLink="flags"
                routerLinkActive
                #rlaComments="routerLinkActive"
                [nzType]="rlaComments.isActive ? 'primary' : 'default'"
                nz-button
                nzSize="small">
                Flag
              </button>
            }
          </span>
          <!-- deprecate variant btn -->
          <span *nzSpaceItem>
            @if (viewer.isEditor) {
              <button
                nz-button
                nzSize="small"
                [disabled]="variant.deprecated"
                nz-popover
                nzPopoverTitle="Deprecate Variant"
                nzPopoverTrigger="click"
                [nzPopoverContent]="deprecateVariantForm"
                nzPopoverPlacement="bottomRight">
                Deprecate
                <ng-template #deprecateVariantForm>
                  <div class="deprecateVariant">
                    <cvc-variant-deprecate-form
                      [variantId]="variant.id"></cvc-variant-deprecate-form>
                  </div>
                </ng-template>
              </button>
            }
          </span>
          <span *nzSpaceItem>
            @if (viewer.signedIn && subscribable) {
              <cvc-entity-subscription-button
                [viewer]="viewer"
                [subscribableId]="subscribable.id"
                typename="Variant">
              </cvc-entity-subscription-button>
            }
          </span>
        </nz-space>
      </nz-page-header-extra>
      <nz-page-header-content>
        @if (variant.deprecated) {
          <nz-alert
            nzBanner
            [nzMessage]="deprecationMessageTemplate"
            nzType="error"></nz-alert>
        }
        <ng-template #deprecationMessageTemplate>
          This Variant has been deprecated for reason:
          {{ variant.deprecationReason | enumToTitle }}.
          <cvc-comment-body
            [commentBodySegments]="
              variant.deprecationActivity?.parsedNote || []
            "></cvc-comment-body>
        </ng-template>
        <cvc-tab-navigation [tabs]="tabs$ | ngrxPush">
          <ng-template #tabBarExtraContent>
            <nz-col id="contributors-col">
              <cvc-contributor-avatars
                [subscribable]="subscribable"></cvc-contributor-avatars>
            </nz-col>
          </ng-template>
        </cvc-tab-navigation>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </nz-page-header-content>
    </nz-page-header>
  </div>
}
