<ng-container *ngIf="variant$ | ngrxPush as variant">
  <cvc-section-navigation [displayName]="variant.name" [relationsTpl]="variantRelations">
  </cvc-section-navigation>
  <ng-template #variantRelations>
    <nz-space nzDirection="horizontal">

      <!-- parent relations -->
      <nz-space-item>
        <span nz-typography
          class="label"><strong>{{ variant.name }}</strong> Parent:</span>
      </nz-space-item>
      <nz-space-item class="tags">
        <a routerLink="/genes/{{ variant.gene.id }}">
          <cvc-gene-tag [gene]="variant.gene"></cvc-gene-tag>
        </a>
      </nz-space-item>

      <!-- contained/involved relations -->
      <!-- <ng-container *ngIf="evidence.assertions.length > 0">
           <nz-space-item>
           <span nz-typography
           class="label">Supports:</span>
           </nz-space-item>
           <nz-space-item class="tags">
           <cvc-assertion-tag *ngFor="let assertion of evidence.assertions"
           [assertion]="assertion"></cvc-assertion-tag>
           </nz-space-item>
           </ng-container> -->

    </nz-space>
  </ng-template>

  <div cvcFlaggable
    [flags]="flagsTotal$ | ngrxPush">
    <nz-page-header class="site-page-header">
      <!-- title -->
      <nz-page-header-title cvcFlaggableOptions
        [ngClass]="{ 'flagged': variant.flags.totalCount > 0 }">
        <i nz-icon
          nzType="civic:variant"></i>
        {{ variant.name }}
      </nz-page-header-title>

      <!-- subtitle -->
      <nz-page-header-subtitle *ngIf="variant.variantAliases.length > 0">
        <span *ngFor="let alias of variant.variantAliases; last as isLast">
          {{alias}}<span *ngIf="!isLast">,&nbsp;</span>
        </span>
      </nz-page-header-subtitle>

      <!-- header action btns, actions menu -->
      <nz-page-header-extra *ngrxLet="viewer$ as viewer">
        <nz-space nzDirection="horizontal"
          nzSize="small"
          *ngrxLet="viewer$ as viewer">

          <!-- add revision btn -->
          <nz-space-item>
            <button routerLink="suggest-revision"
              *ngIf="viewer.signedIn"
              routerLinkActive
              #rlaComments="routerLinkActive"
              [nzType]="rlaComments.isActive ? 'primary' : 'default'"
              nz-button
              nzSize="small">
              Revise
            </button>
          </nz-space-item>

          <!-- add flag btn -->
          <!-- TODO implement as flag form within popover window -->
          <nz-space-item>
            <button routerLink="flags"
              *ngIf="viewer.signedIn"
              routerLinkActive
              #rlaComments="routerLinkActive"
              [nzType]="rlaComments.isActive ? 'primary' : 'default'"
              nz-button
              nzSize="small">
              Flag
            </button>
          </nz-space-item>

        </nz-space>
      </nz-page-header-extra>
      <nz-page-header-content>
        <cvc-details-navigation [entity]="subscribable"></cvc-details-navigation>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </nz-page-header-content>
    </nz-page-header>
  </div>
</ng-container>
