:host {
  display: block;
}

@source-selector-width: 10em;
@input-spacer: 0.5em;
@add-button-width: 8em;

// viewEncapsulation off for this type, so styles scoped to its element:
cvc-source-input {
  .formly-form {
    width: 100%;
  }

  .source-type-field {
    display: inline-block;
    width: @source-selector-width;
  }

  .citation-id-field {
    display: inline-block;
    margin-left: @input-spacer;
    width: calc(~'100% - @{source-selector-width} - 2*@{input-spacer} - @{add-button-width}')
  }

  .add-button {
    display: inline-block;
    margin-left: @input-spacer;
    width: @add-button-width;
  }
}
