<nz-row [nzGutter]="[8, 8]">
  @if (props.showExistenceOptions) {
    <nz-col nzSpan="24">
      <nz-radio-group
        [ngModel]="existence()"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="onExistenceChange($event)"
        nzName="existence">
        @for (option of selectOptions; track option.label) {
          <label
            nz-radio-button
            [nzValue]="option.value"
            nz-tooltip
            [nzTooltipTitle]="option.tooltip">
            {{ option.label }}
          </label>
        }
      </nz-radio-group>
    </nz-col>
  }
  @if (showTagSelect()) {
    <nz-col nzSpan="24">
      <nz-select
        nzMode="tags"
        nzPlaceHolder="Enter ClinVar IDs"
        nzAllowClear
        [formControl]="formControl"
        [formlyAttributes]="field"
        nzDropdownClassName="hide-dropdown">
        @for (item of formControl.value; track item) {
          <nz-option
            [nzLabel]="item"
            [nzValue]="item"
            [nzHide]="true"></nz-option>
        }
      </nz-select>
    </nz-col>
  }
</nz-row>
