@import "~ng-zorro-antd/style/color/colors.less";

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// removed padding
// TODO: figure out how to use antd less variables here (removed padding)
.inner-content {
  padding: 0;
  background: #fff;
  // height: 100%;
}

// schematic generated styles, modified for fixed header, sidebar
.app-layout {
  min-height: 100vh;
}
.right-layout {
  margin-left: 170px;
}

.menu-sidebar {
  position: fixed;
  height: 100%;
  left: 0;
  // min-height: 100vh;
  // box-shadow: 2px 0 6px rgba(0,21,41,.35);
}

nz-content {
  margin: 12px;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}


.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  color: @geekblue-2;
  transition: all .3s,padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

nz-header {
  padding: 0;
  width: 100%;
}

.app-header {
  position: relative;
  // height: 64px;
  padding: 0;
}
