:host {
  ::ng-deep > *:first-child {
    ::ng-deep nz-tag {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: 0;
      border-right: none;
    }
  }
  ::ng-deep > *:last-child {
    ::ng-deep nz-tag {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
