:host {
    display: block;
    background-color: #FCFCFC;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 8px;
}

.expression-preview {
    width: 100%;
    padding: 4px;
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}

.finder-label {
  font-weight: 500;
  line-height: 28px;
  text-align: right;
}
