:host {
    display: block;
    background-color: #F6F6F6;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    padding: 8px;
}

.expression-preview {
    width: 100%;
    padding: 8px;
    margin: 4px 0 8px 0;
    // background-color: #FFF;
    // border: 1px solid #EFEFEF;
    // border-radius: 8px;
    // &.active {
    //   background-color: white;
    // }
}

.finder-label {
  font-weight: 500;
  line-height: 26px;
  text-align: right;
}
.info-row {
  flex-wrap: nowrap;
}
.preview-row {
  padding-top: 6px;
  flex-wrap: nowrap;
}
.action-buttons {
  button {
    height: 38px;
  }
}
