<cvc-form-submission-status-display
  [mutationState]="state"
  entityType="Molecular Profile"
  [successMessage]="success">
  <ng-template #success>Added new Molecular Profile</ng-template>

  <!-- PREVIEW ROW -->
  <nz-row [nzGutter]="[6, 8]">
    <!-- preview row -->
    <nz-col nzSpan="24">
      <div
        class="expression-preview"
        [ngClass]="{ active: (expressionSegment$ | ngrxPush) !== undefined }">
        <ng-container *ngrxLet="expressionSegment$ | ngrxPush as segments">
          <cvc-mp-tag-name
            *ngIf="segments"
            [nameSegments]="segments"></cvc-mp-tag-name>
          <span
            *ngIf="!segments"
            nz-typography
            nzType="secondary">
            Valid Molecular Profile expressions will be previewed here.
          </span>
        </ng-container>
      </div>
    </nz-col>
    <nz-col nzSpan="24">
      <!-- ERROR -->
      <ng-container *ngIf="expressionError$ | ngrxPush as error">
        <nz-alert
          nzType="error"
          [nzMessage]="error.errorMessage"
          [nzAction]="errorAction"
          nzShowIcon></nz-alert>
        <ng-template #errorAction>
          <button
            nz-button
            nzDanger
            nzType="dashed"
            nzSize="small"
            nzShape="round">
            <span
              *ngIf="error.errorHelp as helptext"
              nz-tooltip
              [nzTooltipTitle]="helptext">
              <span
                nz-icon
                nzType="question-circle"
                nzTheme="fill"></span>
              SYNTAX ASSISTANCE
            </span>
          </button>
        </ng-template>
      </ng-container>

      <!-- MESSAGE -->
      <ng-container *ngIf="expressionMessage$ | ngrxPush as message">
        <nz-alert
          nzType="info"
          [nzMessage]="message"
          [nzAction]="messageAction"
          nzShowIcon></nz-alert>

        <ng-template #messageAction>
          <button
            nz-button
            nzType="dashed"
            nzSize="small"
            nzShape="round">
            <span
              nz-tooltip
              [nzTooltipTitle]="
                'Enter #VID[id] and boolean tokens to construct a Molecular Profile expression.'
              ">
              <span
                nz-icon
                nzType="question-circle"
                nzTheme="fill"></span>
              GETTING STARTED
            </span>
          </button>
        </ng-template>
      </ng-container>
      <!-- SUCCESS -->
      <ng-container *ngrxLet="existingMp$ as mp">
        <ng-container
          *ngIf="
            !(expressionError$ | ngrxPush) && !(expressionMessage$ | ngrxPush)
          ">
          <!-- FOUND EXISTING MP -->
          <ng-container *ngIf="mp !== undefined">
            <nz-alert
              nzType="success"
              [nzMessage]="foundMessage"
              [nzAction]="selectAction"
              nzShowIcon></nz-alert>
            <ng-template #selectAction>
              <button
                (click)="cvcOnSelect.next(mp)"
                type="button"
                nz-button
                nzType="primary"
                nzSize="small"
                nzBlock>
                Select this MP
              </button>
            </ng-template>
            <ng-template #foundMessage>
              Molecular Profile <strong>{{ mp.name }}</strong> found.
            </ng-template>
          </ng-container>

          <!-- CREATE NEW MP -->
          <ng-container *ngIf="mp === undefined">
            <nz-alert
              nzType="success"
              [nzMessage]="createMessage"
              [nzAction]="createAction"
              nzShowIcon></nz-alert>
            <ng-template #createAction>
              <button
                (click)="onCreateNewMp$.next()"
                type="button"
                nz-button
                nzSize="small"
                nzType="primary"
                nzBlock>
                Create New MP
              </button>
            </ng-template>
            <ng-template #createMessage>
              Molecular Profile not found, create it?
            </ng-template>
          </ng-container>
        </ng-container>
      </ng-container>
    </nz-col>
    <!-- input textarea -->
    <nz-col nzSpan="24">
      <textarea
        #expressionEditor
        nz-input
        rows="1"
        style="width: 100%"
        placeholder="Enter or edit a Molecular Expression here."
        [ngModel]="inputValue$ | ngrxPush"
        (ngModelChange)="onInputChange$.next($event)"></textarea>
    </nz-col>
    <nz-col nzFlex="80px">
      <button
        nzBlock
        nz-button
        nzType="default"
        nzShape="round"
        nzSize="small"
        nz-popover
        nzPopoverTitle="Select a Profile to view its expression"
        nzPopoverTrigger="click"
        [nzPopoverContent]="expressionExamples"
        nzPopoverPlacement="bottom">
        Examples
      </button>
    </nz-col>
    <nz-col
      nzFlex="auto"
      style="text-align: right">
      <nz-space>
        <span
          *nzSpaceItem
          nz-typography
          nzType="secondary">
          Append:
        </span>
        <button
          *nzSpaceItem
          type="button"
          nz-button
          nz-popover
          nzPopoverTitle="Append Variant #VID"
          nzPopoverTrigger="click"
          nzSize="small"
          nzShape="round"
          nzType="primary"
          [nzPopoverContent]="appendVariant"
          nzPopoverPlacement="bottom">
          <strong>Variant</strong>
        </button>
        <button
          *nzSpaceItem
          type="button"
          nz-button
          nz-popover
          nzPopoverTitle="Append Variant NOT #VID"
          nzPopoverTrigger="click"
          nzSize="small"
          nzShape="round"
          nzType="primary"
          [nzPopoverContent]="appendNotVariant"
          nzPopoverPlacement="bottom">
          <strong>NOT Variant</strong>
        </button>
        <span
          *nzSpaceItem
          class="btn-divider">
          |
        </span>
        <button
          *nzSpaceItem
          type="button"
          nz-button
          nzType="primary"
          nzSize="small"
          nzShape="round"
          (click)="onAppendInput$.next('AND')">
          <strong>AND</strong>
        </button>
        <button
          *nzSpaceItem
          type="button"
          nz-button
          nzType="primary"
          nzSize="small"
          nzShape="round"
          (click)="onAppendInput$.next('OR')">
          <strong>OR</strong>
        </button>
        <button
          *nzSpaceItem
          type="button"
          nz-button
          nzType="primary"
          nzSize="small"
          nzShape="round"
          (click)="onAppendInput$.next('NOT')">
          <strong>NOT</strong>
        </button>
        <span
          *nzSpaceItem
          class="btn-divider">
          |
        </span>
        <button
          *nzSpaceItem
          type="button"
          nz-button
          nzType="primary"
          nzSize="small"
          nzShape="round"
          (click)="onAppendInput$.next('(')">
          <strong>(</strong>
        </button>
        <button
          *nzSpaceItem
          type="button"
          nz-button
          nzType="primary"
          nzSize="small"
          nzShape="round"
          (click)="onAppendInput$.next(')')">
          <strong>)</strong>
        </button>
      </nz-space>
    </nz-col>
  </nz-row>
</cvc-form-submission-status-display>

<!--
     APPEND BUTTON POPOVER TEMPLATES
-->

<!-- append #VID -->
<ng-template #appendVariant>
  <div class="append-popover-contents">
    <nz-row [nzGutter]="[6, 8]">
      <nz-col nzSpan="24">
        <p
          nz-typography
          nzType="secondary"
          style="margin: 0; padding-bottom: 2px">
          Select a Gene and Variant to append its #VID.
        </p>
      </nz-col>
      <nz-col nzSpan="24">
        <cvc-mp-finder
          (cvcOnVariantSelect)="
            onVariantSelect$.next({ variant: $event, prependNot: false })
          ">
        </cvc-mp-finder>
      </nz-col>
    </nz-row>
  </div>
</ng-template>

<!-- append NOT + #VID -->
<ng-template #appendNotVariant>
  <div class="append-popover-contents">
    <nz-row [nzGutter]="[6, 8]">
      <nz-col nzSpan="24">
        <p
          nz-typography
          nzType="secondary"
          style="margin: 0; padding-bottom: 2px">
          Select a Gene and Variant to append its #VID, prepended with NOT
          boolean.
        </p>
      </nz-col>
      <nz-col nzSpan="24">
        <cvc-mp-finder
          (cvcOnVariantSelect)="
            onVariantSelect$.next({ variant: $event, prependNot: true })
          ">
        </cvc-mp-finder>
      </nz-col>
    </nz-row>
  </div>
</ng-template>

<!-- MP examples popover template -->
<ng-template #expressionExamples>
  <div style="min-width: 500px; margin: -8px -12px">
    <nz-list
      nzSize="small"
      nzItemLayout="horizontal">
      <nz-list-item *ngFor="let example of exampleExpressions">
        <nz-list-item-meta>
          <nz-list-item-meta-title>
            <cvc-entity-tag [cvcLinkableEntity]="example.mp"></cvc-entity-tag>
          </nz-list-item-meta-title>
          <nz-list-item-meta-description>
            {{ example.description }}
          </nz-list-item-meta-description>
        </nz-list-item-meta>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <button
              type="button"
              nz-button
              nzType="primary"
              nzSize="small"
              (click)="onSelectExample$.next(example)">
              Select
            </button>
          </nz-list-item-action>
        </ul>
      </nz-list-item>
    </nz-list>
  </div>
</ng-template>
