<nz-row [nzGutter]="[8, 8]">
  <nz-col nzSpan="24">
    <ng-container
      *ngTemplateOutlet="
        filterTitle;
        context: { $implicit: 'Activity Type', value: eventType() }
      "></ng-container>
    <nz-select
      nzPlaceHolder="Select Type"
      nzMode="multiple"
      [nzDropdownMatchSelectWidth]="false"
      [ngModel]="eventType()"
      (ngModelChange)="eventType.set($event)"
      [nzCustomTemplate]="typeLabel"
      [nzOptionHeightPx]="28">
      <nz-option
        *ngFor="let activity of cvcFilterOptions().activityTypes"
        nzCustomContent
        [nzLabel]="activity | enumToTitle"
        [nzValue]="activity">
        <ng-container
          *ngTemplateOutlet="
            typeLabel;
            context: {
              $implicit: { nzLabel: activity | enumToTitle, nzValue: activity }
            }
          "></ng-container>
      </nz-option>
      <ng-template
        #typeLabel
        let-selected>
        <i
          class="select-icon"
          nz-icon
          [nzType]="selected.nzValue | iconNameForActivityTypeInput"></i>
        {{ selected.nzLabel }}
      </ng-template>
    </nz-select>
  </nz-col>
  @if (cvcScope().mode !== 'SUBJECT') {
    <nz-col nzSpan="24">
      <ng-container
        *ngTemplateOutlet="
          filterTitle;
          context: { $implicit: 'Subject Type', value: subjectType() }
        "></ng-container>
      <nz-select
        nzPlaceHolder="Select Subject Type"
        nzMode="multiple"
        [ngModel]="subjectType()"
        (ngModelChange)="subjectType.set($event)"
        [nzOptionHeightPx]="28">
        <nz-option
          *ngFor="let subject of cvcFilterOptions().subjectTypes"
          nzCustomContent
          [nzLabel]="subject | enumToTitle"
          [nzValue]="subject">
          <span
            nz-icon
            [nzType]="subject | iconNameForSubscribableEntity"></span>
          {{ subject | enumToTitle }}
        </nz-option>
      </nz-select>
    </nz-col>
  }
  @if (cvcScope().mode !== 'USER') {
    <nz-col nzSpan="24">
      <ng-container
        *ngTemplateOutlet="
          filterTitle;
          context: { $implicit: 'Participating User', value: userId() }
        "></ng-container>
      <nz-select
        nzPlaceHolder="Select User"
        nzMode="multiple"
        [ngModel]="userId()"
        (ngModelChange)="userId.set($event)"
        [nzOptionHeightPx]="28">
        <nz-option
          *ngFor="let user of cvcFilterOptions().uniqueParticipants"
          nzCustomContent
          [nzLabel]="user.displayName"
          [nzValue]="user.id">
          <span
            nz-icon
            nzType="civic-curator"></span>
          {{ user.displayName }}
        </nz-option>
      </nz-select>
    </nz-col>
  }
  @if (cvcScope().mode !== 'ORGANIZATION') {
    <nz-col nzSpan="24">
      <ng-container
        *ngTemplateOutlet="
          filterTitle;
          context: {
            $implicit: 'Participating Organization',
            value: organizationId()
          }
        "></ng-container>
      <nz-select
        nzPlaceHolder="Select Organization"
        nzMode="multiple"
        [ngModel]="organizationId()"
        (ngModelChange)="organizationId.set($event)"
        [nzOptionHeightPx]="28">
        <nz-option
          *ngFor="
            let organization of cvcFilterOptions().participatingOrganizations
          "
          nzCustomContent
          [nzLabel]="organization.name"
          [nzValue]="organization.id">
          <span
            nz-icon
            nzType="civic-organization"></span>
          {{ organization.name }}
        </nz-option>
      </nz-select>
    </nz-col>
  }
</nz-row>

<!-- TEMPLATES -->

<!-- filter title -->
<ng-template
  #filterTitle
  let-title
  let-value="value">
  <h4>{{ title }}{{ value.length > 1 ? 's' : '' }}</h4>
</ng-template>
