:host {
  display: block;
  ::ng-deep nz-select {
    width: 100%;
  }
  ::ng-deep nz-select-item {
    .select-icon {
      line-height: 18px;
      margin-right: 4px;
      padding-top: 2px;
      svg {
        line-height: 18px;
      }
    }
  }
}
