<ng-container *ngIf="gene$ | async as gene">
  <cvc-section-navigation [displayName]="gene.name"> </cvc-section-navigation>

  <nz-page-header class="site-page-header">

    <!-- title -->
    <nz-page-header-title cvcFlaggableOptions
      [ngClass]="{ 'flagged': gene.flags.totalCount > 0 }">
      <i nz-icon
        nzType="civic:gene"></i> {{ gene.name }}
    </nz-page-header-title>

    <!-- subtitle -->
    <nz-page-header-subtitle>
      {{ gene.officialName }}
    </nz-page-header-subtitle>

    <nz-page-header-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</ng-container>
