<nz-card *ngIf="flags$ | ngrxPush as flags" nzTitle="Flags" nz-type="inner" style="margin-bottom: 1em;">
    Show
    <nz-radio-group [(ngModel)]="stateFilter" (ngModelChange)="fetchFlags($event)">
        <label nz-radio-button nzValue="open"><span>Open Only</span></label>
        <label nz-radio-button nzValue="resolved"><span>Resolved Only</span></label>
        <label nz-radio-button nzValue="all"><span>All</span></label>
      </nz-radio-group>
    <nz-list nzDirection="vertical" style="width: 100%">
      <nz-list-item *ngFor="let f of flags.edges">
        <nz-card style="width: 100%">
            <cvc-user-tag [user]="f.node.flaggingUser"></cvc-user-tag>
            flagged this entity
            {{ f.node.createdAt|timeago }}
            <p>{{ f.node.openComment.comment }}</p>
            <span *ngIf="f.node.state === 'RESOLVED'">
                <cvc-user-tag [user]="f.node.resolvingUser"></cvc-user-tag>
                resolved flag
                {{ f.node.resolvedAt|timeago }}
                <p>{{ f.node.resolutionComment?.comment }}</p>
            </span>
            <ng-container *ngIf="userId$ | ngrxPush as loggedInUserId" >
            <ng-container *ngrxLet="canResolveOtherFlags$ as canResolveOtherFlags" >
                <button *ngIf="f.node.state === 'OPEN' && canResolve(f.node.flaggingUser.id, canResolveOtherFlags, loggedInUserId)" (click)="resolveClicked(f.node.id)" nz-button>Resolve</button>
            </ng-container>
            </ng-container>
        </nz-card>
      </nz-list-item>
    </nz-list>
 </nz-card>
<ng-container *ngIf="userId$ | ngrxPush as loggedInUserId" >
  <nz-card nzTitle="Add a Flag" nz-type="inner" style="min-height: 150px;">
      <cvc-flag-entity [flaggable]="flaggable" [flagAddedCallback]="refresh"></cvc-flag-entity>
  </nz-card>
</ng-container>