  <nz-card nzTitle="Revisions"
    class="card-list">
    <nz-list [nzDataSource]="revisions"
      class="revision-list"
      [nzRenderItem]="revision">
      <ng-template #revision
        let-revision>
        <nz-list-item>
          <!-- Revision Card -->
          <nz-card nzType="inner"
            nzSize="small"
            style="width: 100%"
            [nzTitle]="revCardHeaderTitle"
            [nzExtra]="revCardHeaderExtra">

            <ng-container [ngSwitch]="revision.fieldName">
              <ng-container *ngSwitchCase="'source_ids'">
                <cvc-revision-list-diff
                  [diffObject]="revision.linkoutData.diffValue"
                  entityType="Source">
                  <ng-template #itemTemplate let-item>
                    <cvc-source-tag [source]="item"></cvc-source-tag>
                  </ng-template>
                </cvc-revision-list-diff>
              </ng-container>
              <ng-container *ngSwitchCase="'description'">
                <ng-container *ngTemplateOutlet="revDiffDescription"></ng-container>
              </ng-container>
            </ng-container>
            <nz-card-meta [nzDescription]="moderationButtons">
            </nz-card-meta>
            <ng-template #moderationButtons>
              <div nz-row
                style="margin-top: 1em;">
                <div nz-col
                  nzSpan="24"
                  style="text-align: right;">
                  <nz-space nzDirection="horizontal">
                    <nz-space-item>
                      <cvc-org-selector-btn-group [(selectedOrg)]="this.mostRecentOrg">
                        <button type="submit"
                          nz-button
                          cvcOrgSelectorBtn
                          nzType="primary"
                          nzSize="small">
                          Reject Revision
                        </button>
                      </cvc-org-selector-btn-group>
                    </nz-space-item>
                    <nz-space-item>
                      <cvc-org-selector-btn-group [(selectedOrg)]="this.mostRecentOrg">
                        <button type="submit"
                          nz-button
                          cvcOrgSelectorBtn
                          nzType="primary"
                          nzSize="small">
                          Accept Revision
                        </button>
                      </cvc-org-selector-btn-group>

                    </nz-space-item>
                  </nz-space>

                </div>
              </div>
            </ng-template>
          </nz-card>

          <!-- Revision Card Templates -->
          <!-- header title -->
          <ng-template #revCardHeaderTitle>
            <i nz-icon
              nzType="civic:revision"></i> RID{{ revision.id }}
            <span>{{ revision.linkoutData.name }} Updated</span>
          </ng-template>
          <!-- header secondary & status -->
          <ng-template #revCardHeaderExtra>
            <nz-space nzSize="small">
              <nz-space-item>
                <span nz-typography nzType="secondary">Submitted By</span>
                <cvc-user-tag [user]="revision.revisor"></cvc-user-tag>
                <span nz-typography nzType="secondary">{{ revision.createdAt | timeago }}</span>
              </nz-space-item>
              <nz-space-item>
                <nz-tag>{{ revision.status }}</nz-tag>
              </nz-space-item>
            </nz-space>
          </ng-template>
        </nz-list-item>

        <!-- Field Diff Templates -->
        <!-- description -->
        <ng-template #revDiffDescription>
          <cvc-revision-value-diff
            [currentValue]="revision.currentValue"
            [suggestedValue]="revision.suggestedValue"
            [left]="revision.linkoutData.diffValue.left"
            [right]="revision.linkoutData.diffValue.right"
            entityType="Description"
          ></cvc-revision-value-diff>
        </ng-template>

      </ng-template>
    </nz-list>
  </nz-card>