<ng-container *ngIf="!model.id; else sourceListItem">
  <cvc-source-selector [(source)]="model"></cvc-source-selector>
</ng-container>
<ng-template #sourceListItem>
  <cvc-source-list-item [source]="model"></cvc-source-list-item>
</ng-template>
<!-- <ngx-json-viewer [json]="field" ></ngx-json-viewer> -->
<!-- <p>Multi-Field Field Model:</p>
     <ngx-json-viewer [json]="field.model" ></ngx-json-viewer> -->

<!--
     <formly-form [form]="sourceForm"
     [model]="sourceModel"
     [fields]="sourceFields"
     [options]="formOptions"></formly-form> -->
