<nz-row [nzGutter]="[16, 8]">
  @if(specificationFormFields && assertionId) {
    <nz-col nzSpan="24">
      <form
        nz-form
        nzLayout="vertical"
        [formGroup]="specificationForm"
        (ngSubmit)="onSubmit()">
        <formly-form
          [form]="specificationForm"
          [fields]="specificationFormFields"
          [model]="specificationModel"
          [options]="{}"
          (modelChange)="onSpecificationSelected($event)">
        </formly-form>
      </form>
    </nz-col>
  }

  @if (this.specificationInfo) {
    <nz-col nzSpan="24">
      <nz-card [nzTitle]="'Selected Specification: ' + specificationInfo.name + '(v' + specificationInfo.version + ')'">
        <nz-descriptions nzBordered nzLayout="horizontal" nzSize="small">
          <nz-descriptions-item nzTitle="Publication Date">
            {{ specificationInfo.publishedOn }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Links">
            <cvc-link-tag
              [href]="specificationInfo.specificationUrl"
              tooltip="View Specification Document">
              Specification Document
            </cvc-link-tag>
            <cvc-link-tag
              [href]="'https://pubmed.ncbi.nlm.nih.gov/' + specificationInfo.sopPubmedId"
              tooltip="View Publication">
              Publication
            </cvc-link-tag>
          </nz-descriptions-item>
        </nz-descriptions>
      </nz-card>
    </nz-col>

    @if (this.specificationInfo.evaluationMethod != "ONE") {
      <nz-col nzSpan="24">
        <nz-card nzTitle="Evaluation Summary" [nzExtra]="evaluationSummaryExtraTemplate">
          @if (evaluationSummaryDisplayMode() == 'group') {
            <nz-descriptions nzBordered nzLayout="vertical" [nzColumn]="(perGroupCodesModel | keyvalue).length" nzSize="small">
              @for (item of perGroupCodesModel | keyvalue: preserveOrder; track item.key) {
                <nz-descriptions-item [nzTitle]="item.key">
                  <div style="white-space: nowrap;">
                  @for (code of item.value | keyvalue: preserveOrder; track code.key) {
                    <ng-container [ngTemplateOutlet]="codeTag" [ngTemplateOutletContext]="{code: code.key, values: code.value}" />
                  }
                  </div>
                </nz-descriptions-item>
              }
            </nz-descriptions>
          } @else if (evaluationSummaryDisplayMode() == 'strength') {
            @let strengthSortedCodesModel = sortByStrength(perGroupCodesModel);
            @for (code of strengthSortedCodesModel | keyvalue: preserveOrder; track code.key) {
              <ng-container [ngTemplateOutlet]="codeTag" [ngTemplateOutletContext]="{code: code.key, values: code.value}" />
            }
          }
          <ng-template #evaluationSummaryExtraTemplate>
            Display Mode:
            <nz-radio-group [(ngModel)]="evaluationSummaryDisplayMode">
              <label nz-radio-button nzValue="group">By Group</label>
              <label nz-radio-button nzValue="strength">By Strength</label>
            </nz-radio-group>
          </ng-template>
        </nz-card>
      </nz-col>
    }
  }

  @if(codesFields) {
    @if (this.specificationInfo && this.specificationInfo.evaluationMethod == "ONE") {
      <nz-col nzSpan="24">
        <nz-card nzTitle="Evaluation">
          <form
            nz-form
            nzLayout="vertical"
            [formGroup]="codesForm"
            (ngSubmit)="onSubmit()">
            <formly-form
              [form]="codesForm"
              [fields]="codesFields"
              [model]="oneCodeModel"
              [options]="{}"
              (modelChange)="oneCodeModel = $event">
            </formly-form>
          </form>
        </nz-card>
      </nz-col>
    } @else {
      <nz-col nzSpan="24">
        <nz-card nzTitle="Evaluation">
          <form
            nz-form
            nzLayout="vertical"
            [formGroup]="codesForm"
            (ngSubmit)="onSubmit()">
            <formly-form
              [form]="codesForm"
              [fields]="codesFields"
              [model]="perGroupCodesModel"
              [options]="{}"
              (modelChange)="perGroupCodesModel = $event">
            </formly-form>
          </form>
        </nz-card>
      </nz-col>
    }

    <nz-col nzSpan="24">
      <form
        nz-form
        nzLayout="vertical"
        [formGroup]="submitForm"
        (ngSubmit)="onSubmit()">
        <fieldset [disabled]="!codesForm.valid">
          <formly-form
            [form]="submitForm"
            [fields]="submitFields"
            [model]="submitModel"
            (modelChange)="submitModel = $event">
          </formly-form>
        </fieldset>
      </form>
    </nz-col>
  }
</nz-row>

<ng-template #codeTag let-code="code" let-values="values">
  <cvc-specification-evaluation-tag
    [specificationEvaluation]="{
      'code': code,
      'modifier': values.modifier,
      'justification': values.justification,
      'evidenceItemIds': values.evidenceItemIds,
      'evaluation': values.evaluation,
      'criteriumDescription': descriptionForCode(code)}">
  </cvc-specification-evaluation-tag>
</ng-template>
