<nz-space nzSize="middle"
  *ngIf=" (gene$ | ngrxPush) as gene"
  nzDirection="vertical"
  class="space-align-block">

  <!-- gene description, details row -->
  <nz-row [nzGutter]="16" *nzSpaceItem>

    <!-- gene description, sources col -->
    <nz-col nzSpan="12">
      <nz-space nzDirection="vertical">

        <!-- description, sources -->
        <nz-descriptions nzLayout="vertical"
          nzSize="small"
          nzBordered="true"
          [nzColumn]="1" *nzSpaceItem>

          <!-- description -->
          <nz-descriptions-item nzTitle="Description">
            <p *ngIf="gene.description; else noDescription"
              nz-typography
              nzEllipsis
              nzExpandable
              [nzEllipsisRows]="8">{{ gene.description }}</p>

            <!-- noDescription Tpl -->
            <ng-template #noDescription>
              <cvc-empty-revisable notification="No description provided"> </cvc-empty-revisable>
            </ng-template>

          </nz-descriptions-item>

          <!-- sources -->
          <nz-descriptions-item nzTitle="Sources">
            <ng-container *ngIf="gene.sources.length > 0; else noSources">
              <cvc-tag-list>
                <cvc-source-tag *ngFor="let source of gene.sources"
                  [source]="source"></cvc-source-tag>
              </cvc-tag-list>
            </ng-container>
            <ng-template #noSources>
              <span nz-typography
                nzType="secondary">None specified</span>
            </ng-template>
          </nz-descriptions-item>
        </nz-descriptions>

        <!-- aliases -->
        <nz-descriptions nzLayout="horizontal"
          nzSize="small"
          nzBordered="true"
          [nzColumn]="1" *nzSpaceItem>

          <nz-descriptions-item nzTitle="Aliases"
            nzSpan="1"
            *ngIf="gene.geneAliases.length > 0; else noAliases">
            <ng-container *ngFor="let alias of gene.geneAliases; last as isLast">
              {{ alias }}<span *ngIf="!isLast">,</span>
            </ng-container>
          </nz-descriptions-item>
          <ng-template #noAliases>
            <span nz-typography
              nzType="secondary">None specified</span>
          </ng-template>
        </nz-descriptions>

        <!-- dgidb, proteinpaint links -->
        <nz-descriptions nzLayout="horizontal"
          nzSize="small"
          nzBordered="true"
          [nzColumn]="1" *nzSpaceItem>
          <nz-descriptions-item nzTitle="Resources">
            <cvc-tag-list>
              <cvc-link-tag [href]="'http://dgidb.org/genes/' + gene.name"
                [tooltip]="'View ' + gene.name + ' on DGIdb'">
                DGIdb
              </cvc-link-tag>
              <cvc-link-tag [href]="'https://pecan.stjude.cloud/proteinpaint/' + gene.name + '/hg19/civic'"
                [tooltip]="'View ' + gene.name + ' on ProteinPaint'">
                ProteinPaint
              </cvc-link-tag>
            </cvc-tag-list>
          </nz-descriptions-item>
        </nz-descriptions>
      </nz-space>

    </nz-col>

    <!-- last revision submitted/accepted, mygeneinfo col -->
    <nz-col nzSpan="12">
      <!-- mygeneinfo -->
      <cvc-my-gene-info [geneInfo]="myGeneInfo$ | ngrxPush"></cvc-my-gene-info>

    </nz-col>
  </nz-row>

  <!-- variant menu row -->
  <nz-row [nzGutter]="16" *nzSpaceItem>
    <nz-col [nzSpan]="24">
      <cvc-variant-menu [geneId]="gene.id"
        [geneName]="gene.name"></cvc-variant-menu>
    </nz-col>
  </nz-row>
</nz-space>
