@if (participantList && participantList.length > 0) {
  <nz-card
    [nzTitle]="listTitle"
    nz-type="inner"
    style="margin-bottom: 1em">
    <nz-list>
      @for (u of participantList; track u; let i = $index) {
        @if (i + 1 <= defaultListSize) {
          <nz-list-item
            nzSize="small"
            [class.selected-participant]="u.id == selectedItem?.id"
            (click)="onParticipantSelected(u)"
            class="participant-list-item">
            <ng-container
              [ngTemplateOutlet]="itemTemplateRef || null"
              [ngTemplateOutletContext]="{ $implicit: u }">
            </ng-container>
          </nz-list-item>
        }
      }
    </nz-list>
    @if (participantList.length > defaultListSize) {
      <button
        nz-button
        nzType="default"
        nzSize="small"
        (click)="onExpandClicked()">
        <i
          nz-icon
          nzType="vertical-align-bottom"></i>
        Expand
      </button>
    }
    @if (isExpanded) {
      <button
        nz-button
        nzType="default"
        nzSize="small"
        (click)="onCollapseClicked()">
        <i
          nz-icon
          nzType="vertical-align-top"></i>
        Collapse
      </button>
    }
  </nz-card>
}
