.participant-list-item:hover {
    border: 1px solid #40a9ff;
    cursor: pointer;
}

.participant-list-item {
    padding: 5px;
    margin: 5px;
}

.selected-participant {
    background: #40a9ff;
    color: #fff;
}