:host {
  display: block;
  margin: -8px;
}

nz-card {
  width: 100%;
}

.key-col {
  text-align: right;
  font-weight: bold;
}
.button-col {
  text-align: right;
}

.tab-content {
  margin: 12px;
  max-height: 260px;
  overflow-y: auto;
}
