:host {
  display: block;
  margin: -8px;
}

.key-col {
  text-align: right;
  font-weight: bold;
}
.button-col {
  text-align: right;
}

.tab-content {
  margin: 8px 8px 8px 0;
  max-height: 350px;
  overflow-y: auto;
}
