<nz-select
  [formControl]="formControl"
  [formlyAttributes]="field"
  [class.ng-dirty]="showError"
  [nzMode]="props.isMultiSelect ? 'multiple' : 'default'"
  [nzPlaceHolder]="props.placeholder || 'Select Variant Name'"
  [nzDisabled]="!!props.disabled"
  [nzCustomTemplate]="selectedTpl">
  @for (name of optionValues(); track name) {
    <nz-option
      nzCustomContent
      [nzValue]="name"
      [nzLabel]="name">
      <nz-tag>
        <strong>{{ name }}</strong>
      </nz-tag>
    </nz-option>
  }
</nz-select>

<ng-template
  #selectedTpl
  let-selected>
  <div class="ant-select-selection-item-content">
    @if (props.isMultiSelect) {
      {{ selected.nzValue }}
    } @else {
      <nz-tag
        nzMode="closeable"
        (nzOnClose)="onTagClose()">
        <strong>{{ selected.nzValue }}</strong>
      </nz-tag>
    }
  </div>
</ng-template>
