<ng-container *ngIf="{ gene: gene$ | async } as obs">
  <nz-page-header class="site-page-header">
    <nz-page-header-title><i nz-icon nzType="civic:gene"></i> {{ obs.gene?.name }}</nz-page-header-title>
    <nz-page-header-subtitle>{{ obs.gene?.officialName }}</nz-page-header-subtitle>
    <nz-page-header-tags>
      <nz-tag [nzColor]="'red'">Flagged</nz-tag>
    </nz-page-header-tags>

    <!--extra-->
    <nz-page-header-extra>
      <button nz-button>Suggest Revision</button>
      <button nz-button nzNoAnimation nz-dropdown [nzDropdownMenu]="menu" style="border: none; padding: 0">
        <i nz-icon nzType="ellipsis" nzTheme="outline" style="font-size: 20px; vertical-align: top;"></i>
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>1st menu item length</li>
          <li nz-menu-item>2nd menu item length</li>
          <li nz-menu-item>3rd menu item length</li>
        </ul>
      </nz-dropdown-menu>
    </nz-page-header-extra>

    <nz-page-header-content>
      <div class="content">
        <div nz-row [nzGutter]="16">
          <div nz-col nzSpan="12">
            {{ obs.gene?.description }}
          </div>
          <div nz-col nzSpan="12" >
            <cvc-my-gene-info [geneInfo]="myGeneInfo$ | async"></cvc-my-gene-info>
          </div>
        </div>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</ng-container>
<!-- <div nz-row>
     <div nz-col [nzSpan]="12" >
     <pre>
     {{ gene$ | async | json }}
     </pre>
     </div>
     <div nz-col [nzSpan]="12" >
     <pre>
     {{ myGeneInfo$ | async | json }}
     </pre>
     </div>

     </div> -->
