<ng-container *ngIf="!formControl.value?.id; else variantListItem">
  <nz-select
    nzShowSearch
    nzServerSearch
    style="width: 300px"
    autofocus="click"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [nzPlaceHolder]="!to.placeholder ? null : to.placeholder"
    [nzDropdownRender]="to.allowCreate? addVariantTmpl : null"
    [nzShowArrow]="to.showArrow"
    [nzNotFoundContent]="variantNotFound"
    (nzOnSearch)="to.onSearch($event)">
    <nz-option
      *ngFor="let opt of variants$ | ngrxPush"
      nzCustomContent
      [nzValue]="opt.variant">
      <nz-space>
        <span
          *nzSpaceItem
          [innerHtml]="opt.label | highlightTypeahead: this.to.searchString"></span>
        <span
          *nzSpaceItem
          nz-typography
          nzType="secondary">
          ID: {{opt.variant.id}}
          <span *ngIf="opt.variant.variantAliases.length > 0">
            - Aliases:&nbsp;
          </span>
          <span
            [innerHtml]="opt.variant.variantAliases.join(', ')  | highlightTypeahead: this.to.searchString"></span>
        </span>
      </nz-space>
    </nz-option>
  </nz-select>
</ng-container>
<ng-template #variantListItem>
  <cvc-variant-tag [variant]="formControl.value"></cvc-variant-tag>
</ng-template>

<ng-template #variantNotFound>
  <nz-empty
    nzNotFoundImage="simple"
    [nzNotFoundContent]="notFoundContent">
  </nz-empty>
  <ng-template #notFoundContent>
    No Existing CIViC Variant&nbsp;<strong>{{ to.searchString }}</strong
    >&nbsp;found.
  </ng-template>
</ng-template>

<ng-template #addVariantTmpl>
  <ng-container *ngIf="this.displayAdd$ | ngrxPush">
    <ng-container *ngIf="this.to.searchString !== ''">
      <nz-space nzDirection="vertical">
        <cvc-form-errors-alert
          nzSpaceItem
          *ngIf="this.errorMessages.length > 0"
          [errors]="errorMessages">
        </cvc-form-errors-alert>
        <button
          nzSpaceItem
          *ngIf="this.errorMessages.length == 0"
          nz-button
          nzSize="small"
          [nzLoading]="this.loading"
          (click)="addVariant(to.searchString)">
          <i
            nz-icon
            nzType="plus"
            nzTheme="outline"></i
          >Create&nbsp;<strong>{{ to.searchString }}</strong>?
        </button>
      </nz-space>
    </ng-container>
  </ng-container>
</ng-template>
