<ng-container *ngIf="!formControl.value?.id; else variantListItem">
  <nz-select nzShowSearch
    nzServerSearch
    [formControl]="formControl"
    [formlyAttributes]="field"
    [nzPlaceHolder]="!to.placeholder ? null : to.placeholder"
    [nzDropdownRender]="addVariantTmpl"
    [nzNotFoundContent]="sourceLoader"
    [nzShowArrow]="to.showArrow"
    (nzOnSearch)="to.onSearch($event)">
      <nz-option *ngFor="let opt of variants$ | ngrxPush"
        nzCustomContent
        [nzValue]="opt.variant">
        {{ opt.label}}
      </nz-option>
  </nz-select>
  <ng-template #sourceLoader>
    No variant found in CIViC that matches the string provided.
  </ng-template>
</ng-container>
<ng-template #variantListItem>
  <cvc-variant-tag [variant]="formControl.value"></cvc-variant-tag>
</ng-template>

<ng-template #addVariantTmpl>
  <ng-container *ngIf="this.displayAdd && this.to.searchString !== ''">
      <cvc-form-errors-alert *ngIf="this.errorMessages.length > 0" [errors]="errorMessages"> </cvc-form-errors-alert>
      <button *ngIf="this.errorMessages.length == 0" nz-button nzSize="small" [nzLoading]="this.loading" (click)="addVariant(to.searchString)">
        <i nz-icon nzType="plus" nzTheme="outline"></i>No Existing CIViC Variant&nbsp;<strong>{{ to.searchString }}</strong>&nbsp;found. Create A New Variant?
      </button>
  </ng-container>
</ng-template>

