@import "themes/global-variables.less";

:host {
  display: block;
}

.status-tags ::ng-deep {
  nz-tag {
    margin-right: 0;
  }
  .ant-descriptions-item-label {
    white-space: nowrap;
  }
}

::ng-deep .ant-descriptions-item-label {
  font-weight: bold;
}
