<cvc-section-navigation> </cvc-section-navigation>
<nz-page-header class="site-page-header">

  <!--title-->
  <nz-page-header-title>
    <i nz-icon nzType="civic:variant"></i>
    CIViC Variants
  </nz-page-header-title>

  <!--content-->
  <nz-page-header-content>
    <nz-row>
      <nz-col [nzSpan]="24">
        <div class="content">
          <cvc-variants-table cvcTitle="Browse Variants"></cvc-variants-table>
        </div>
      </nz-col>
    </nz-row>
  </nz-page-header-content>
</nz-page-header>
