@switch (cvcEndorsement().status) {
  @case ('ACTIVE') {
    <nz-tag
      nzColor="success"
      nz-popover
      nzPopoverPlacement="left"
      nzPopoverTrigger="click"
      [nzPopoverContent]="endorsementDetailsPopover">
      <nz-icon nzType="safety-certificate"></nz-icon>
      Endorsement Details
    </nz-tag>
  }
  @case ('REQUIRES_REVIEW') {
    <nz-tag
      nz-popover
      nzPopoverPlacement="left"
      nzPopoverTrigger="click"
      nzColor="processing"
      [nzPopoverContent]="revisionsPopover">
      <nz-icon nzType="info-circle"></nz-icon>
      Unendorsed Revisions
    </nz-tag>
  }
  @case ('REVOKED') {
    <nz-tag
      nz-popover
      nzPopoverPlacement="left"
      nzPopoverTrigger="click"
      nzColor="error"
      [nzPopoverContent]="revocationDetailsPopover">
      <nz-icon nzType="exclamation-circle"></nz-icon>
      Revocation Details
    </nz-tag>
  }
}

<!-- Endorsement Details Popover -->
<ng-template #endorsementDetailsPopover>
  <div class="details-container">
    <nz-descriptions
      nzBordered
      nzLayout="vertical"
      nzSize="small"
      [nzColumn]="1">
      <nz-descriptions-item nzTitle="Endorsing Organization">
        <cvc-organization-tag
          [org]="cvcEndorsement().organization"
          [enablePopover]="false"></cvc-organization-tag>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Endorsed by">
        <cvc-user-tag
          [user]="cvcEndorsement().user"
          [enablePopover]="false"></cvc-user-tag>
        <span
          nz-typography
          nzType="secondary">
          {{ cvcEndorsement().lastReviewed | timeAgo }}
        </span>
      </nz-descriptions-item>
    </nz-descriptions>
  </div>
</ng-template>

<!-- Unendorsed Revisions Popover -->
<ng-template #revisionsPopover>
  <nz-space nzDirection="vertical">
    <nz-descriptions
      *nzSpaceItem
      nzBordered
      nzLayout="horizontal"
      nzSize="small"
      [nzColumn]="2">
      <nz-descriptions-item nzTitle="Endorsing Organization">
        <cvc-organization-tag
          [org]="cvcEndorsement().organization"
          [enablePopover]="false"></cvc-organization-tag>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Endorsed by">
        <cvc-user-tag
          [user]="cvcEndorsement().user"
          [enablePopover]="false"></cvc-user-tag>
        <span
          nz-typography
          nzType="secondary">
          {{ cvcEndorsement().lastReviewed | timeAgo }}
        </span>
      </nz-descriptions-item>
    </nz-descriptions>
    <div
      *nzSpaceItem
      class="feed-container"
      #revisionsContainer>
      <cvc-activity-feed
        [cvcFilters]="feedFilters(cvcEndorsement())"
        [cvcSettings]="feedSettings()"
        [cvcShowFilters]="false"
        [cvcAutoHeightTarget]="revisionsContainer"
        [cvcAutoHeightOffset]="50"
        cvcTitle="Unendorsed Revisions"></cvc-activity-feed>
    </div>
  </nz-space>
</ng-template>

<!-- Revocation Details Popover -->
<ng-template #revocationDetailsPopover>
  <div class="details-container">
    <nz-descriptions
      nzBordered
      nzLayout="vertical"
      nzSize="small"
      [nzColumn]="2">
      <nz-descriptions-item
        nzTitle="Revoking Organization"
        nzSpan="2">
        <cvc-organization-tag
          [org]="cvcEndorsement().organization"
          [enablePopover]="false"></cvc-organization-tag>
      </nz-descriptions-item>
      <nz-descriptions-item
        nzTitle="Revoked By"
        nzSpan="2">
        <cvc-user-tag
          [user]="cvcEndorsement().user"
          [enablePopover]="false"></cvc-user-tag>
        <span
          nz-typography
          nzType="secondary">
          {{ cvcEndorsement().lastReviewed | timeAgo }}
        </span>
      </nz-descriptions-item>
      <nz-descriptions-item
        nzTitle="Revocation Note"
        nzSpan="2">
        @if (cvcEndorsement().revocationActivity?.note) {
          <p nz-typography>
            {{ cvcEndorsement().revocationActivity?.note }}
          </p>
        } @else {
          <p
            nz-typography
            nzType="secondary">
            No note provided
          </p>
        }
      </nz-descriptions-item>
    </nz-descriptions>
  </div>
</ng-template>
