:host {
  .rate-block {
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    padding: 2px 4px;
    margin-top: -4px;
  }
  ::ng-deep nz-rate .anticon {
    font-size: 160%;
  }
}
