<nz-form-item *ngFor="let field of field.fieldGroup; let i = index;">
  <ng-container *ngIf="i === 0 && to.label && to.hideLabel !== true">
    <nz-form-label [nzRequired]="to.required && to.hideRequiredMarker !== true" [nzFor]="id">
      {{ to.label }}
    </nz-form-label>
  </ng-container>
  <nz-form-control [nzXs]="24">
    <formly-field [field]="field"></formly-field>
    <i nz-icon
      nzType="minus-circle-o"
      class="dynamic-delete-button"
      (click)="remove(i)"></i>
  </nz-form-control>
</nz-form-item>
<nz-form-item>
  <nz-form-control [nzXs]="24">
    <button nz-button
      nzType="dashed"
      class="add-button"
      (click)="addField($event)">
      <i nz-icon
        nzType="plus"></i> {{ to.addText }}
    </button>
  </nz-form-control>
</nz-form-item>
