:host {
  display: block;
  margin-bottom: 1em;
}

@delete-btn-width: 24px;
@delete-btn-margin: 1em;

.ant-form-item {
  margin-bottom: .25em;
}

.field-col {
  display: inline-block;
  width: calc(~'100% - @{delete-btn-width} - @{delete-btn-margin}');
}
.field-delete-btn {
  display: inline-block;
  margin-left: @delete-btn-margin;
  i {
    top: 5px;
    position: relative;
    cursor: pointer;
    font-size: @delete-btn-width;
    color: #999;
    transition: all 0.3s;
  }
}

.dynamic-delete-button:hover {
  color: #777;
}
