<!-- display full description row unless Comment type -->
<nz-row
  class="timeline-item"
  *ngIf="event.originatingObject; else noOriginating">
  <!-- default to full description -->
  <nz-col
    nzFlex="auto"
    class="description">
    <!-- user tag -->
    <cvc-user-tag
      [user]="event.originatingUser"
      *ngIf="tagDisplay != 'hideUser'"></cvc-user-tag>

    <!-- verb -->
    <span nz-typography>{{ event.action | eventVerbiage: 'feed' }}&nbsp;</span>

    <!-- originating object -->
    <ng-container *ngIf="event.originatingObject as object">
      <ng-container [ngSwitch]="object.__typename">
        <span *ngSwitchCase="'Revision'">
          <cvc-revision-tag
            [revision]="$any(object)"
            [subject]="event.subject"></cvc-revision-tag>
          <span
            nz-typography
            *ngIf="tagDisplay != 'hideSubject'"
            >{{ event.action | prepositionForSubject }}&nbsp;</span
          >
        </span>
        <span *ngSwitchCase="'Comment'">
          <cvc-comment-tag
            [comment]="object"
            [subject]="event.subject"></cvc-comment-tag>
          <span
            nz-typography
            *ngIf="tagDisplay != 'hideSubject'"
            >{{ event.action | prepositionForSubject }}&nbsp;</span
          >
        </span>
        <span *ngSwitchCase="'Flag'">
          <cvc-flag-tag
            [flag]="object"
            [subject]="event.subject"></cvc-flag-tag>
          <span
            nz-typography
            *ngIf="tagDisplay != 'hideSubject'"
            >{{ event.action | prepositionForSubject }}&nbsp;</span
          >
        </span>
        <span *ngSwitchCase="'SourceSuggestion'">
          <nz-tag
            style="cursor: pointer"
            [routerLink]="object.link">
            {{ object.name }}
          </nz-tag>
          <span
            nz-typography
            *ngIf="tagDisplay != 'hideSubject'"
            >{{ event.action | prepositionForSubject }}&nbsp;</span
          >
        </span>
      </ng-container>
    </ng-container>

    <!-- subject -->
    <ng-container
      *ngIf="tagDisplay != 'hideSubject' && event.subject as subject"
      [ngSwitch]="subject.__typename">
      <cvc-feature-tag
        *ngSwitchCase="'Feature'"
        [feature]="subject"></cvc-feature-tag>
      <cvc-assertion-tag
        *ngSwitchCase="'Assertion'"
        [assertion]="subject"></cvc-assertion-tag>
      <cvc-evidence-tag
        *ngSwitchCase="'EvidenceItem'"
        [evidence]="subject"></cvc-evidence-tag>
      <cvc-feature-variant-tag
        *ngSwitchCase="'GeneVariant'"
        [variant]="subject"></cvc-feature-variant-tag>
      <cvc-feature-variant-tag
        *ngSwitchCase="'FactorVariant'"
        [variant]="subject"></cvc-feature-variant-tag>
      <cvc-feature-variant-tag
        *ngSwitchCase="'FusionVariant'"
        [variant]="subject"></cvc-feature-variant-tag>
      <cvc-revision-tag
        *ngSwitchCase="'Revision'"
        [revision]="$any(subject)"></cvc-revision-tag>
      <cvc-variant-group-tag
        *ngSwitchCase="'VariantGroup'"
        [variantgroup]="subject"></cvc-variant-group-tag>
      <cvc-source-tag
        *ngSwitchCase="'Source'"
        mode="concise"
        [source]="$any(subject)"></cvc-source-tag>
      <cvc-molecular-profile-tag
        *ngSwitchCase="'MolecularProfile'"
        [molecularProfile]="subject"></cvc-molecular-profile-tag>
      <span *ngSwitchDefault>{{ subject.name }}</span>
    </ng-container>

    <!-- user organization -->
    <ng-container *ngIf="tagDisplay != 'hideOrg' && event.organization as org">
      <span nz-typography>for&nbsp;</span>
      <cvc-organization-tag [org]="org"></cvc-organization-tag>
    </ng-container>
  </nz-col>
  <nz-col
    nzFlex="100px"
    class="timestamp">
    <span
      nz-tooltip
      nzTooltipPlacement="top"
      [nzTooltipTitle]="event.createdAt | date">
      {{ event.createdAt | timeAgo }}
    </span>
  </nz-col>
</nz-row>

<ng-template #noOriginating>
  Event database entry is malformed and cannot be displayed
</ng-template>
