<cvc-string-tag
  *ngIf="tagLabel$ | ngrxPush as tagLabel"
  [cvcMode]="'closeable'"
  [cvcLabel]="tagLabel"
  (cvcOnClose)="onTagClose$.next($event)"></cvc-string-tag>

<ng-container *ngIf="!(tagLabel$ | ngrxPush)">
  <input
    *ngIf="props.type !== 'number'; else numberTmp"
    nz-input
    #baseInputTxt
    [formControl]="formControl"
    (keydown.enter)="baseInputTxt.blur()"
    [type]="props.type || 'text'"
    [formlyAttributes]="field" />
  <ng-template #numberTmp>
    <nz-input-number
      #baseInputNum
      (keydown.enter)="baseInputNum.blur()"
      [formControl]="formControl"
      [formlyAttributes]="field"></nz-input-number>
  </ng-template>
</ng-container>
