<ng-container *ngIf="linked; else unlinked">
  <a [routerLink]="molecularProfile.link">
    <ng-template [ngTemplateOutlet]="tag"></ng-template>
  </a>
</ng-container>

<ng-template #tag>
  <nz-tag
    *ngIf="enablePopover; else noPopover"
    [ngClass]="{ deprecated: molecularProfile.deprecated }"
    nz-popover
    [nzPopoverMouseEnterDelay]="this.onCloseClicked ? 0 : 0.5"
    [nzPopoverContent]="popoverContent"
    nzPopoverTrigger="hover"
    [nzMode]="this.onCloseClicked ? 'closeable' : 'default'"
    (nzOnClose)="itemClosed($event)">
    <ng-template [ngTemplateOutlet]="tagContent"></ng-template>
  </nz-tag>
  <ng-template #popoverContent>
    <cvc-molecular-profile-popover
      *ngIf="enablePopover"
      [molecularProfileId]="
        molecularProfile.id
      "></cvc-molecular-profile-popover>
  </ng-template>
</ng-template>

<ng-template #noPopover>
  <nz-tag
    [nzMode]="this.onCloseClicked ? 'closeable' : 'default'"
    [ngClass]="{ deprecated: molecularProfile.deprecated }"
    (nzOnClose)="itemClosed($event)">
    <ng-template [ngTemplateOutlet]="tagContent"></ng-template>
  </nz-tag>
</ng-template>

<ng-template #unlinked>
  <ng-template [ngTemplateOutlet]="tag"></ng-template>
</ng-template>

<ng-template #tagContent>
  <cvc-icon-badges
    [flagged]="molecularProfile.flagged"
    [entityColor]="iconColor">
    <i
      nz-icon
      nzType="civic-molecularprofile"
      nzTheme="twotone"
      [nzTwotoneColor]="'MolecularProfile' | entityColor"></i>
  </cvc-icon-badges>
  <!-- molecular profile name length mean: 12; mode: 5 (825); max: 68 -->
  <ng-container *ngIf="truncateLongName; else fullName">
    {{ molecularProfile.name! | truncate : this.truncationLength }}
  </ng-container>
  <ng-template #fullName>
    {{ molecularProfile.name }}
  </ng-template>
</ng-template>
