@if (linked) {
  <a [routerLink]="molecularProfile.link">
    <ng-template [ngTemplateOutlet]="tag"></ng-template>
  </a>
} @else {
  <ng-template [ngTemplateOutlet]="tag"></ng-template>
}

<ng-template #tag>
  @if (enablePopover) {
    <nz-tag
      [ngClass]="{ deprecated: molecularProfile.deprecated }"
      nz-popover
      [nzPopoverMouseEnterDelay]="0.5"
      [nzPopoverPlacement]="popoverPlacement"
      [nzPopoverContent]="enablePopover ? popoverContent : undefined">
      <ng-template [ngTemplateOutlet]="tagContent"></ng-template>
    </nz-tag>
  } @else {
    <nz-tag [ngClass]="{ deprecated: molecularProfile.deprecated }">
      <ng-template [ngTemplateOutlet]="tagContent"></ng-template>
    </nz-tag>
  }
  <ng-template #popoverContent>
    <cvc-molecular-profile-popover
      [molecularProfileId]="molecularProfile.id"
      (contentRendered)="updatePopoverPosition()">
    </cvc-molecular-profile-popover>
  </ng-template>
</ng-template>

<ng-template #tagContent>
  <cvc-icon-badges
    [flagged]="molecularProfile.flagged"
    [entityColor]="iconColor">
    <i
      nz-icon
      nzType="civic-molecularprofile"
      nzTheme="twotone"
      [nzTwotoneColor]="'MolecularProfile' | entityColor"></i>
  </cvc-icon-badges>
  <!-- molecular profile name length mean: 12; mode: 5 (825); max: 68 -->
  @if (truncateLongName) {
    {{ molecularProfile.name! | truncate: truncationLength }}
  } @else {
    {{ molecularProfile.name }}
  }
</ng-template>
