<nz-page-header class="site-page-header">

  <!--avatar-->
  <!-- <nz-avatar nz-page-header-avatar nzIcon="civic:gene"> </nz-avatar> -->

  <!--title-->
  <nz-page-header-title>
    <i nz-icon nzType="civic:gene"></i>
    Genes
    <span nz-typography nzType="secondary"  *ngIf="(isLoading$ | async)">Loading...</span>
  </nz-page-header-title>

  <!--content-->
  <nz-page-header-content>
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <div class="content">
          <ng-container *ngIf="{ value: data$ | ngrxPush } as data">
            <nz-table #genesTable
              [nzData]="(genes$ | ngrxPush)"
              [nzLoading]="(isLoading$ | ngrxPush)"
              [nzFrontPagination]="false"
              [nzShowPagination]="false">
              <thead>
                <tr>
                  <th nzWidth="10%">Name</th>
                  <th nzWidth="20%">Aliases</th>
                  <th nzWidth="25%">Diseases</th>
                  <th nzWidth="25%">Drugs</th>
                  <th nzWidth="3%" nzRight><i nz-icon nzType="civic:variant" nz-tooltip nzTooltipTitle="Variant count"></i></th>
                  <th nzWidth="3%" nzRight><i nz-icon nzType="civic:evidence" nz-tooltip nzTooltipTitle="Evidence count"></i></th>
                  <th nzWidth="3%" nzRight><i nz-icon nzType="civic:assertion" nz-tooltip nzTooltipTitle="Assertion count"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let gene of genesTable.data">
                  <td>
                    <a routerLink="/genes/{{gene.id}}">{{gene.name}}</a>
                  </td>
                  <td>
                    <span *ngFor="let alias of gene.aliases; last as isLast" >
                      {{ alias.name }}{{ isLast ? '' : ', ' }}
                    </span>
                  </td>
                  <td>
                    <p nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="3">
                      <span *ngFor="let disease of gene.diseases; last as isLast" >
                        {{ disease.name }}{{ isLast ? '' : ', ' }}
                      </span>
                    </p>
                  </td>
                  <td>
                    <p nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="3">
                      <span *ngFor="let drug of gene.drugs; last as isLast" >
                        {{ drug.name }}{{ isLast ? '' : ', ' }}
                      </span>
                    </p>
                  </td>
                  <td nzRight>{{gene.variantCount}}</td>
                  <td nzRight>{{gene.evidenceItemCount}}</td>
                  <td nzRight>{{gene.assertionCount}}</td>
                </tr>
              </tbody>
            </nz-table>
          </ng-container>
          <ng-template #loadingTemplate><i nz-icon nzType="loading"></i></ng-template>
        </div>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>

<ng-container *ngrxLet="pageInfo$ as pageInfo">
  <button *ngIf="pageInfo.hasNextPage" nz-button (click)="loadMore(pageInfo.endCursor)">Load More</button>
</ng-container>