<svg xmlns="http://www.w3.org/2000/svg" class="<%= css %>" viewBox="0 0 24 24" fill="currentColor">
  <% if defined?(title) && title.present? %><title><%= title %></title><% end %>
  <path d="M3 5.25A2.25 2.25 0 015.25 3h13.5A2.25 2.25 0 0121 5.25v7.5A2.25 2.25 0 0118.75 15H15l-3.75 3.75L7.5 15H5.25A2.25 2.25 0 013 12.75v-7.5z" />
</svg>
