@if (linked) {
  <a [routerLink]="source.link">
    <ng-template [ngTemplateOutlet]="tag"></ng-template>
  </a>
} @else {
  <ng-template [ngTemplateOutlet]="tag"></ng-template>
}

<ng-template #tag>
  <nz-tag
    nz-popover
    [ngClass]="{ deprecated: source.deprecated }"
    [nzPopoverMouseEnterDelay]="0.5"
    [nzPopoverContent]="enablePopover ? sourcePopover : undefined"
    [nzPopoverPlacement]="popoverPlacement">
    <ng-template [ngTemplateOutlet]="tagContent"></ng-template>
  </nz-tag>

  <ng-template #sourcePopover>
    <cvc-source-popover
      [sourceId]="source.id"
      (contentRendered)="updatePopoverPosition()"></cvc-source-popover>
  </ng-template>
</ng-template>

<ng-template #tagContent>
  <i
    nz-icon
    nzTheme="twotone"
    [nzTwotoneColor]="'Source' | entityColor"
    nzType="civic-source"></i>
  @if (mode === 'normal') {
    @if (truncateLongName) {
      {{ displayName | truncate: 50 }}
    }
    @if (!truncateLongName) {
      {{ displayName }}
    }
  } @else {
    SID:{{ source.id }}
  }
</ng-template>
