@import 'themes/global-variables.less';
@import 'ng-zorro-antd/style/color/colors.less';

:host {
  display: inline-block;
}

.topMenuIcon:hover {
  cursor: pointer;
}

.topMenuIcon {
  font-size: 16px;

  .topBarBadge {
    margin-right: -10px;
    margin-top: -16px;
  }
  .topMenuSecondary {
    font-size: 10px;
    margin-left: 2px;
  }
}

@button-background: #0050b3;
@button-border: #096dd9;

.add-btn {
  margin-right: 0;
  background-color: @layout-header-background;
  border: none;
  color: @text-color-secondary-dark;
}

.notification-btn {
  background-color: @layout-header-background;
  border: 1px solid @button-border;
}

li {
  .org-name {
    margin-left: 4px;
  }
}

.viewer-btn {
  background-color: @button-background;
  border: none;
  color: #ccc;
  padding-left: 5px;
  padding-right: 10px;
  cvc-user-avatar,
  cvc-organization-avatar {
    position: relative;
    top: -1px;
    left: 1px;
    ::ng-deep nz-avatar {
      border-width: 1.5px;
      border-style: solid;
      border-color: @button-border;
    }
  }
  cvc-user-avatar.update-coi ::ng-deep nz-avatar {
    border-color: #f5222d;
  }
  .org-label {
    margin: 0 -4px 0 0;
    color: #aaaabb;
  }
}
