:host {
  display: inline-block;
}

.topMenuIcon:hover {
  cursor: pointer;
}

.topMenuIcon {
  font-size: 16px;

  .topBarBadge {
    margin-right: -10px;
    margin-top: -16px;
  }
  .topMenuSecondary {
    font-size: 10px;
    margin-left: 2px;
  }
}
