#change environment as appproriate
#/etc/systemd/system/puma.service
[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/civic/current
Environment=RAILS_ENV=staging

ExecStart=/home/ubuntu/.rbenv/shims/bundle exec puma
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
