<nz-space nzSize="middle"
  *ngIf="drugId"
  nzDirection="vertical"
  class="space-align-block">
  <!-- assertions table card -->
  <cvc-assertions-table *nzSpaceItem[drugId]="drugId" [cvcTitleTemplate]="assertionsCardTitle"></cvc-assertions-table>
  <ng-template #assertionsCardTitle>
    <i nz-icon
      nzType="civic:intervention"></i> Drug Assertions
  </ng-template>

  <!-- evidence table card -->
  <cvc-entity-table-card [cvcTitle]="evidenceCardTitle"
    *nzSpaceItem>
    <cvc-evidence-table [drugId]="drugId"></cvc-evidence-table>
  </cvc-entity-table-card>
  <ng-template #evidenceCardTitle>
    <i nz-icon
      nzType="civic:intervention"></i> Drug Evidence
  </ng-template>
</nz-space>
