@if (molecularProfile$ | async; as mp) {
  <cvc-section-navigation [displayName]="mp.name"> </cvc-section-navigation>
  <nz-page-header class="site-page-header">
    <!-- title -->
    <nz-page-header-title cvcFlaggableOptions>
      REVISE
      <i
        nz-icon
        nzType="civic:molecularprofile"></i>
      {{ mp.name }}
    </nz-page-header-title>
    <!-- subtitle -->
    @if (mp.molecularProfileAliases.length > 0) {
      <nz-page-header-subtitle>
        @for (
          alias of mp.molecularProfileAliases;
          track alias;
          let isLast = $last
        ) {
          <span>
            {{ alias }}
            @if (!isLast) {
              <span>,&nbsp;</span>
            }
          </span>
        }
      </nz-page-header-subtitle>
    }
    <nz-page-header-content>
      <div class="content">
        @if (isSignedIn$ | ngrxPush; as isSignedIn) {
          <div>
            <router-outlet></router-outlet>
          </div>
        } @else {
          <nz-row
            nzSpan="24"
            nzJustify="center">
            <div
              nz-col
              nzSpan="6">
              <cvc-login-prompt></cvc-login-prompt>
            </div>
          </nz-row>
        }
      </div>
    </nz-page-header-content>
  </nz-page-header>
}
