<nz-row [nzGutter]="[8, 8]">
  <ng-container *ngFor="let member of members$ | ngrxPush">
    <nz-col
      *ngIf="member"
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="12"
      [nzLg]="8"
      [nzXl]="6"
      [nzXXl]="4">
      <cvc-user-card [user]="member"></cvc-user-card>
    </nz-col>
  </ng-container>
  <nz-col
    nzSpan="24"
    *ngrxLet="pageInfo$ as pageInfo">
    <button
      *ngIf="pageInfo && pageInfo.hasNextPage && pageInfo.endCursor"
      (click)="loadMore(pageInfo.endCursor)"
      nz-button
      nzBlock>
      Load {{ initialPageSize }} More
    </button>
  </nz-col>
</nz-row>
<!--
<nz-spin [nzSpinning]="loading$ | ngrxPush">
  <ng-container *ngIf="!(loading$ | ngrxPush)">
    <nz-space
      nzSize="middle"
      nzDirection="vertical"
      class="space-align-block">
      <div
        nz-row
        [nzGutter]="[16, 16]"
        *nzSpaceItem>
        <div
          *ngFor="let member of members$ | ngrxPush"
          nz-col
          [nzSpan]="6">
          <cvc-user-card
            *ngIf="member"
            [user]="member"></cvc-user-card>
        </div>
      </div>
      <ng-container *nzSpaceItem>
        <ng-container *ngrxLet="pageInfo$ as pageInfo">
          <ng-container
            *ngIf="pageInfo && pageInfo.hasNextPage && pageInfo.endCursor">
            <button
              (click)="loadMore(pageInfo.endCursor)"
              nz-button
              nzBlock>
              Load {{ initialPageSize }} More
            </button>
          </ng-container>
        </ng-container>
      </ng-container>
    </nz-space>
  </ng-container>
</nz-spin>
-->
