<ng-container *ngIf="!formControl.value?.id; else drugListItem">
  <nz-select nzShowSearch
    nzServerSearch
    [formControl]="formControl"
    [formlyAttributes]="field"
    [nzPlaceHolder]="!to.placeholder ? null : to.placeholder"
    [nzNotFoundContent]="sourceLoader"
    [nzShowArrow]="to.showArrow"
    [nzFilterOption]="to.filterOption"
    (nzOnSearch)="to.onSearch($event)">
    <ng-container *ngrxLet="this.drugs$ as drugs">
      <nz-option *ngFor="let opt of drugs"
        nzCustomContent
        [nzLabel]="opt.tooltip"
        [nzValue]="opt.drug">
        <nz-space>
          <nz-space-item>
            {{ opt.label }}
          </nz-space-item>
          <nz-space-item *ngIf="opt.drug.drugAliases.length > 0">
            <span nz-typography nzType="secondary">{{ opt.drug.drugAliases.join(', ') }}</span>
          </nz-space-item>
        </nz-space>
      </nz-option>
    </ng-container>
  </nz-select>
  <ng-template #sourceLoader>
    No drug found in CIViC that matches the string provided.
  </ng-template>
</ng-container>
<ng-template #drugListItem>
  <cvc-drug-tag [drug]="formControl.value"></cvc-drug-tag>
</ng-template>
