:host {
  display: block;
}

.detail {
  // min-height: 150px;
  max-height: 250px;
  border: 1px solid #EFEFEF;
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
  overflow-y: scroll;
  pre {
    font-size: 80%;
  }
}
