<ng-container *ngIf="!formControl.value?.id; else diseaseListItem">
  <nz-select nzShowSearch
    nzServerSearch
    [formControl]="formControl"
    [formlyAttributes]="field"
    [nzPlaceHolder]="!to.placeholder ? null : to.placeholder"
    [nzNotFoundContent]="sourceLoader"
    [nzShowArrow]="to.showArrow"
    [nzFilterOption]="to.filterOption"
    (nzOnSearch)="to.onSearch($event)">
    <ng-container *ngrxLet="this.diseases$ as diseases">
      <nz-option *ngFor="let opt of diseases"
        nzCustomContent
        [nzLabel]="opt.tooltip"
        [nzValue]="opt.disease">
        <nz-space>
          <span *nzSpaceItem>{{ opt.label }}</span>
          <span nz-typography nzType="secondary" *nzSpaceItem>
            {{ opt.disease.diseaseAliases.join(', ') }}
          </span>
        </nz-space>
      </nz-option>
    </ng-container>
  </nz-select>
  <ng-template #sourceLoader>
    No disease found in CIViC that matches the string provided.
  </ng-template>
</ng-container>
<ng-template #diseaseListItem>
  <cvc-disease-tag [disease]="formControl.value"></cvc-disease-tag>
</ng-template>
