<nz-space nzDirection="vertical">
  <nz-card *nzSpaceItem>
    <nz-typography>
      To add an assertion, please complete the following form, provide a short
      statement supporting its inclusion into the CIViC database, then click the
      'Submit Assertion for Inclusion' button.
      <br />
      <br />
      <strong
        >Please ensure that your submission contains no
        <a
          href="http://www.hipaa.com/hipaa-protected-health-information-what-does-phi-include/"
          target="_blank"
          >Protected Health Information</a
        >, and is your own original work. By contributing to CIViC you agree to
        release your contributions to the public domain as described by the
        <a
          href="https://creativecommons.org/publicdomain/zero/1.0/"
          target="_blank"
          >Creative Commons Public Domain Dedication (CC0 1.0 Universal)</a
        >.</strong
      >
    </nz-typography>
  </nz-card>
  <nz-spin nzTip="Submitting" [nzSpinning]="this.loading" *nzSpaceItem>
    <form
      nz-form
      [formGroup]="formGroup"
      (ngSubmit)="submitAssertion(formModel)"
      nzLayout="vertical"
    >
      <ng-container *ngTemplateOutlet="formMessages"></ng-container>

      <formly-form
        *ngIf="!this.success"
        [form]="formGroup"
        [fields]="formFields"
        [model]="formModel"
        [options]="formOptions"
        (modelChange)="formModel = $event"
      ></formly-form>
    </form>

    <ng-template #formMessages>
      <nz-form-item *ngIf="this.errorMessages.length > 0">
        <cvc-form-errors-alert [errors]="this.errorMessages">
        </cvc-form-errors-alert>
      </nz-form-item>
      <ng-container *ngIf="this.success">
        <nz-alert
          nzType="success"
          nzMessage="Assertion Submitted"
          [nzDescription]="successMessage"
          nzShowIcon
        ></nz-alert>
        <ng-template #successMessage nzSize="small">
          <p>
            View
            <a routerLink="/assertions/{{this.newId}}/summary">its details</a>.
          </p>
        </ng-template>
      </ng-container>
    </ng-template>
  </nz-spin>
  <!-- 
<div nz-row>
  <div nz-col
    nzSpan="24">
    <ngx-json-viewer *ngIf="formModel"
      [json]="formModel"></ngx-json-viewer>
  </div>
</div>
 -->
</nz-space>
