<ng-container *ngIf="linked; else unlinked">
  <a routerLink="/drugs/{{drug.id}}">
    <ng-template [ngTemplateOutlet]="tag"></ng-template>
  </a>
</ng-container>

<ng-template #tag>
  <nz-tag *ngIf="enablePopover; else noPopover" 
  nz-popover
  [nzPopoverMouseEnterDelay]="0.5"
  [nzPopoverContent]="drugPopover"
  nzPopoverPlacement="right"
  nzPopoverTrigger="hover">
    <ng-template [ngTemplateOutlet]="tagContent"></ng-template>
  </nz-tag>

  <ng-template #drugPopover>
    <cvc-drug-popover [drugId]="drug.id"></cvc-drug-popover>
  </ng-template>
</ng-template>

<ng-template #noPopover>
  <nz-tag>
    <ng-template [ngTemplateOutlet]="tagContent"></ng-template>
  </nz-tag>
</ng-template>

<ng-template #unlinked>
  <ng-template [ngTemplateOutlet]="tag"></ng-template>
</ng-template>

<ng-template #tagContent>
  <i nz-icon nzType="civic-intervention" nzTheme="twotone" nzTwotoneColor="#AC3996"></i>
  {{ drug.name }}
</ng-template>