<ng-container *ngIf="clinicalTrial$ | ngrxPush as t" >
  <nz-page-header class="site-page-header">
    <nz-page-header-title>
      <nz-space nzDirection="horizontal">
        <nz-space-item>
          <i nz-icon nzType="audit"></i>
        </nz-space-item>
        {{ t.name }}
      </nz-space>
    </nz-page-header-title>
    <nz-page-header-extra>
      <cvc-link-tag-r [href]="t.url" tooltip="View on clinicaltrials.gov">
        {{ t.nctId }}
      </cvc-link-tag-r>
    </nz-page-header-extra>
    <nz-page-header-content>
      <div class="content">
        {{ t.description }}
        <router-outlet></router-outlet>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</ng-container>
