<ng-container *ngIf="clinicalTrial$ | ngrxPush as t" >
  <nz-page-header class="site-page-header">
    <nz-page-header-title>
      <i nz-icon nzType="audit"></i>
      {{ t.name }}
    </nz-page-header-title>
    <nz-page-header-extra>
      <cvc-link-tag [href]="t.url" tooltip="View on clinicaltrials.gov">
        {{ t.nctId }}
      </cvc-link-tag>
    </nz-page-header-extra>
    <nz-page-header-content>
      <div class="content">
        {{ t.description }}
        <router-outlet></router-outlet>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</ng-container>
