<ng-container *ngIf="assertion$ | ngrxPush as assertion">
  <cvc-section-navigation [displayName]="assertion.name"
    [relationsTpl]="assertionRelations">
  </cvc-section-navigation>
  <ng-template #assertionRelations>
    <nz-space nzDirection="horizontal">

      <!-- parent relations -->
      <nz-space-item>
        <span nz-typography
          class="label">Related to <strong>{{ assertion.name }}</strong>:</span>
      </nz-space-item>
      <nz-space-item class="tags">
        <a routerLink="/genes/{{ assertion.gene.id }}">
          <cvc-gene-tag [gene]="assertion.gene"></cvc-gene-tag>
        </a>
        <a routerLink="/variants/{{ assertion.variant.id }}">
          <cvc-variant-tag [variant]="assertion.variant"></cvc-variant-tag>
        </a>
      </nz-space-item>

    </nz-space>
  </ng-template>
  <div cvcFlaggable
    [flags]="flagsTotal$ | ngrxPush">
    <nz-page-header *ngrxLet="viewer$ as viewer" class="site-page-header">

      <!-- title -->
      <nz-page-header-title cvcFlaggableOptions
        [ngClass]="{ 'flagged': assertion.flags.totalCount > 0 }">
        <i nz-icon
          nzType="civic:assertion"></i> {{ assertion.name }}
      </nz-page-header-title>

      <!-- header action btns, actions menu -->
      <nz-page-header-extra >
        <nz-space nzDirection="horizontal"
          nzSize="small" >

          <!-- add revision btn -->
          <nz-space-item>
            <button routerLink="suggest-revision"
              *ngIf="viewer.signedIn"
              routerLinkActive
              #rlaComments="routerLinkActive"
              [nzType]="rlaComments.isActive ? 'primary' : 'default'"
              nz-button
              nzSize="small">
              Revise
            </button>
          </nz-space-item>

          <!-- add flag btn -->
          <!-- TODO implement as flag form within popover window -->
          <nz-space-item>
            <button routerLink="flags"
              *ngIf="viewer.signedIn"
              routerLinkActive
              #rlaComments="routerLinkActive"
              [nzType]="rlaComments.isActive ? 'primary' : 'default'"
              nz-button
              nzSize="small">
              Flag
            </button>
          </nz-space-item>

          <nz-space-item>
            <cvc-entity-subscription-button *ngIf="viewer.signedIn && subscribable" [viewer]="viewer" [subscribableId]="subscribable.id" typename="Assertion">
            </cvc-entity-subscription-button>
          </nz-space-item>

          <nz-space-item>
            <cvc-revert-entity-button *ngIf="viewer.canModerate && assertion.status !='SUBMITTED'" entityType="Assertion" [entityId]="assertion.id" (onReverted)="onRevertCompleted($event)">
            </cvc-revert-entity-button>
          </nz-space-item>
        </nz-space>
      </nz-page-header-extra>

      <nz-page-header-content>
        <nz-alert *ngFor="let error of this.errors" nzBanner [nzMessage]="error" nzType="error" nzCloseable (nzOnClose)="onErrorBannerClose(error)"></nz-alert>
        <nz-alert *ngIf="this.successMessage" nzBanner [nzMessage]="this.successMessage" nzType="success" nzCloseable (nzOnClose)="onSuccessBannerClose()"></nz-alert>
        <nz-alert *ngIf="this.assertion.status == 'SUBMITTED'" nzBanner nzMessage="This Assertion is in a 'submitted' state and has not yet been reviewed by an editor." nzType="warning"></nz-alert>
        <cvc-tab-navigation [tabs]="this.tabs">
          <ng-template #tabBarExtraContent>
            <nz-col id="contributors-col">
              <cvc-contributor-avatars [subscribable]="subscribable"></cvc-contributor-avatars>
            </nz-col>
          </ng-template>
        </cvc-tab-navigation>
        <nz-space nzDirection="vertical">
          <nz-space-item>
            <cvc-moderate-entity-buttons *ngIf="viewer.canModerate && assertion.status == 'SUBMITTED'" entityType="Assertion" [entityId]="assertion.id" (onModerated)="onModerateCompleted($event)" [viewer]="viewer">
            </cvc-moderate-entity-buttons>
          </nz-space-item>
        </nz-space>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </nz-page-header-content>
    </nz-page-header>
  </div>
</ng-container>
