<ng-container *ngIf="assertion$ | ngrxPush as assertion">
  <cvc-section-navigation [displayName]="assertion.name"
    [relationsTpl]="assertionRelations">
  </cvc-section-navigation>
  <ng-template #assertionRelations>
    <nz-space nzDirection="horizontal">

      <!-- parent relations -->
      <span nz-typography
        class="label"
        *nzSpaceItem>Related to <strong>{{ assertion.name }}</strong>:</span>
      <span *nzSpaceItem
        class="tags">
        <a routerLink="/genes/{{ assertion.gene.id }}">
          <cvc-gene-tag [gene]="assertion.gene"></cvc-gene-tag>
        </a>
        <a routerLink="/variants/{{ assertion.variant.id }}">
          <cvc-variant-tag [variant]="assertion.variant"></cvc-variant-tag>
        </a>
      </span>

    </nz-space>
  </ng-template>
  <div cvcFlaggable
    [flags]="flagsTotal$ | ngrxPush">
    <nz-page-header *ngrxLet="viewer$ as viewer"
      class="site-page-header">

      <!-- title -->
      <nz-page-header-title cvcFlaggableOptions
        [ngClass]="{ 'flagged': assertion.flags.totalCount > 0 }">
        <i nz-icon
          nzType="civic:assertion"></i> {{ assertion.name }}
      </nz-page-header-title>

      <!-- header action btns, actions menu -->
      <nz-page-header-extra>
        <nz-space nzDirection="horizontal"
          nzSize="small">

          <!-- add revision btn -->
          <ng-container *ngIf="viewer.signedIn">
            <button routerLink="suggest-revision"
              routerLinkActive
              #rlaComments="routerLinkActive"
              [nzType]="rlaComments.isActive ? 'primary' : 'default'"
              nz-button
              nzSize="small"
              *nzSpaceItem>
              Revise
            </button>
          </ng-container>

          <!-- add flag btn -->
          <!-- TODO implement as flag form within popover window -->
          <ng-container *ngIf="viewer.signedIn">
            <button routerLink="flags"
              routerLinkActive
              #rlaComments="routerLinkActive"
              [nzType]="rlaComments.isActive ? 'primary' : 'default'"
              nz-button
              nzSize="small"
              *nzSpaceItem>
              Flag
            </button>
          </ng-container>

          <ng-container *ngIf="viewer.signedIn && subscribable">
            <cvc-entity-subscription-button
              [viewer]="viewer"
              [subscribableId]="subscribable.id"
              typename="Assertion"
              *nzSpaceItem>
            </cvc-entity-subscription-button>
          </ng-container>

          <ng-container *ngIf="viewer.canModerate && assertion.status !='SUBMITTED'">
            <cvc-revert-entity-button
              entityType="Assertion"
              [entityId]="assertion.id"
              (onReverted)="onRevertCompleted($event)"
              *nzSpaceItem>
            </cvc-revert-entity-button>
          </ng-container>
        </nz-space>
      </nz-page-header-extra>

      <nz-page-header-content>
        <nz-alert *ngFor="let error of this.errors"
          nzBanner
          [nzMessage]="error"
          nzType="error"
          nzCloseable
          (nzOnClose)="onErrorBannerClose(error)"></nz-alert>
        <nz-alert *ngIf="this.successMessage"
          nzBanner
          [nzMessage]="this.successMessage"
          nzType="success"
          nzCloseable
          (nzOnClose)="onSuccessBannerClose()"></nz-alert>
        <nz-alert *ngIf="this.assertion.status == 'SUBMITTED'"
          nzBanner
          nzMessage="This Assertion is in a 'submitted' state and has not yet been reviewed by an editor."
          nzType="warning"></nz-alert>
        <cvc-tab-navigation [tabs]="this.tabs">
          <ng-template #tabBarExtraContent>
            <nz-col id="contributors-col">
              <cvc-contributor-avatars [subscribable]="subscribable"></cvc-contributor-avatars>
            </nz-col>
          </ng-template>
        </cvc-tab-navigation>
        <nz-space nzDirection="vertical">
          <ng-container *ngIf="viewer.canModerate && assertion.status == 'SUBMITTED'">
            <cvc-moderate-entity-buttons entityType="Assertion"
              [entityId]="assertion.id"
              (onModerated)="onModerateCompleted($event)"
              [viewer]="viewer"
              *nzSpaceItem>
            </cvc-moderate-entity-buttons>
          </ng-container>
        </nz-space>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </nz-page-header-content>
    </nz-page-header>
  </div>
</ng-container>
