<ng-container *ngIf="assertion$ | ngrxPush as assertion">
  <cvc-section-navigation
    [displayName]="assertion.name"
    [relationsTpl]="assertionRelations">
  </cvc-section-navigation>
  <ng-template #assertionRelations>
    <nz-space nzDirection="horizontal">
      <!-- parent relations -->
      <span
        nz-typography
        class="label"
        *nzSpaceItem
        >Related to <strong>{{ assertion.name }}</strong>:</span
      >
      <span
        *nzSpaceItem
        class="tags">
        <cvc-molecular-profile-tag
          [molecularProfile]="assertion.molecularProfile"
          [enablePopover]="false"></cvc-molecular-profile-tag>
      </span>
    </nz-space>
  </ng-template>
  <div
    cvcFlaggable
    [flags]="flagsTotal$ | ngrxPush">
    <nz-page-header
      *ngrxLet="viewer$ as viewer"
      class="site-page-header">
      <!-- title -->
      <nz-page-header-title
        cvcFlaggableOptions
        [ngClass]="{ 'flagged': assertion.flags.totalCount > 0 }">
        <i
          nz-icon
          nzTheme="twotone"
          [nzTwotoneColor]="'Assertion' | entityColor"
          nzType="civic-assertion"></i>
        {{ assertion.name }}
      </nz-page-header-title>

      <!-- header action btns, actions menu -->
      <nz-page-header-extra>
        <nz-space
          nzDirection="horizontal"
          nzSize="small">
          <!-- add revision btn -->
          <span *nzSpaceItem>
            <button
              [routerLink]="['/assertions', assertion.id, 'revise']"
              *ngIf="viewer.signedIn"
              routerLinkActive
              #rlaComments="routerLinkActive"
              [nzType]="rlaComments.isActive ? 'primary' : 'default'"
              nz-button
              nzSize="small">
              Revise
            </button>
          </span>

          <!-- add flag btn -->
          <!-- TODO implement as flag form within popover window -->
          <span *nzSpaceItem>
            <button
              routerLink="flags"
              routerLinkActive
              #rlaComments="routerLinkActive"
              [nzType]="rlaComments.isActive ? 'primary' : 'default'"
              nz-button
              nzSize="small">
              Flag
            </button>
          </span>

          <span *nzSpaceItem>
            <ng-container *ngIf="viewer.signedIn && subscribable">
              <cvc-entity-subscription-button
                [viewer]="viewer"
                [subscribableId]="subscribable.id"
                typename="Assertion">
              </cvc-entity-subscription-button>
            </ng-container>
          </span>

          <span *nzSpaceItem>
            <ng-container
              *ngIf="viewer.canModerate && assertion.status !='SUBMITTED'">
              <cvc-revert-entity-button
                entityType="Assertion"
                [entityId]="assertion.id"
                (onReverted)="onRevertCompleted($event)">
              </cvc-revert-entity-button>
            </ng-container>
          </span>
        </nz-space>
      </nz-page-header-extra>

      <nz-page-header-content>
        <nz-alert
          *ngFor="let error of errors"
          nzBanner
          [nzMessage]="error"
          nzType="error"
          nzCloseable
          (nzOnClose)="onErrorBannerClose(error)"></nz-alert>
        <nz-alert
          *ngIf="successMessage"
          nzBanner
          [nzMessage]="successMessage"
          nzType="success"
          nzCloseable
          (nzOnClose)="onSuccessBannerClose()"></nz-alert>
        <nz-alert
          *ngIf="assertion.status == 'SUBMITTED'"
          nzBanner
          nzMessage="This Assertion is in a 'submitted' state and has not yet been reviewed by an editor."
          nzType="warning"></nz-alert>
        <nz-alert
          *ngIf="assertion.status == 'REJECTED'"
          nzBanner
          nzMessage="This Assertion has been rejected."
          nzType="error">
        </nz-alert>
        <cvc-tab-navigation [tabs]="tabs$ | ngrxPush">
          <ng-template #tabBarExtraContent>
            <nz-col id="contributors-col">
              <cvc-contributor-avatars
                [subscribable]="subscribable"></cvc-contributor-avatars>
            </nz-col>
          </ng-template>
        </cvc-tab-navigation>
        <nz-space
          nzDirection="vertical"
          *ngIf="(viewer.canModerate || (viewer.signedIn && viewer.id == assertion.submissionEvent?.originatingUser?.id )) && assertion.status == 'SUBMITTED'">
          <span *nzSpaceItem>
            <cvc-moderate-entity-buttons
              entityType="Assertion"
              [entityId]="assertion.id"
              (onModerated)="onModerateCompleted($event)">
            </cvc-moderate-entity-buttons>
          </span>
          <span *nzSpaceItem></span>
        </nz-space>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </nz-page-header-content>
    </nz-page-header>
  </div>
</ng-container>
