<nz-row [nzGutter]="16">
  <nz-col nzSpan="18">
    <ng-container *ngIf="service.revisions$ | ngrxPush as revisions">
      <cvc-revision-list [revisions]="revisions" [mostRecentOrg]="mostRecentOrg"></cvc-revision-list>
    </ng-container>
  </nz-col>
  <nz-col nzSpan="6">
    <cvc-participant-list listTitle="Revisors" [participantList]="service.uniqueRevisors$ | ngrxPush" (participantSelectedEvent)="onRevisorSelected($event)">
      <ng-template #itemTemplate let-user>
        <nz-avatar *ngIf="user.profileImagePath; else noAvatar" nz-comment-avatar [nzSrc]="user.profileImagePath">
        </nz-avatar>
        <ng-template #noAvatar>
            <nz-avatar nz-comment-avatar [nzText]="user.username.charAt(0) | uppercase"></nz-avatar>
        </ng-template>
        <span>{{user.username}}</span>
      </ng-template>
    </cvc-participant-list>
    <cvc-participant-list listTitle="Fields Revised" [participantList]="service.revisionFields$ | ngrxPush" (participantSelectedEvent)="onFieldNameSelected($event)">
      <ng-template #itemTemplate let-field>
        <span>{{field.displayName}}</span>
      </ng-template>
    </cvc-participant-list>
  </nz-col>
</nz-row>
