@if (tagStatus) {
  <nz-tag
    [nzColor]="tagStatus"
    nz-popover
    [nzPopoverMouseEnterDelay]="0.5"
    [nzPopoverContent]="retractionPopover"
    [nzPopoverTitle]="
      'This Source has been identified by Retraction Watch as status: ' +
      (retractionNature | titlecase)
    "
    nzPopoverPlacement="left"
    [nzPopoverTrigger]="enablePopover ? 'hover' : null">
    @if (tagStatus == 'error') {
      <i
        nz-icon
        nzType="close-circle"></i>
    }
    @if (tagStatus == 'warning') {
      <i
        nz-icon
        nzType="exclamation-circle"></i>
    }
    {{ retractionNature | titlecase }}
  </nz-tag>
}

<ng-template #retractionPopover>
  <nz-descriptions
    nzBordered
    nzSize="small"
    [nzColumn]="1">
    @if (retractionDate) {
      <nz-descriptions-item nzTitle="Date">{{
        retractionDate | timeAgo
      }}</nz-descriptions-item>
    }
    @if (retractionReasons) {
      <nz-descriptions-item nzTitle="Reasons">
        <nz-list nzSize="small">
          @for (reason of retractionReasons.split(';'); track reason) {
            <nz-list-item>
              {{ reason.replace('+', '') }}
            </nz-list-item>
          }
        </nz-list>
      </nz-descriptions-item>
    }
    <nz-descriptions-item nzTitle="Links">
      <cvc-link-tag href="https://retractionwatch.com/">
        Retraction Watch Homepage
      </cvc-link-tag>
      <cvc-link-tag href="http://retractiondatabase.org/RetractionSearch.aspx?">
        Retraction Watch Database
      </cvc-link-tag>
    </nz-descriptions-item>
  </nz-descriptions>
</ng-template>
