<nz-layout class="app-layout">
  <nz-sider
    class="app-sider"
    nzCollapsible
    [nzWidth]="170"
    [nzCollapsedWidth]="80"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <a routerLink="/">
      <div
        class="sidebar-logo"
        [ngClass]="{ 'is-collapsed': isCollapsed }">
        <img
          src="assets/images/civic-logo_sidebar-expanded.png"
          *ngIf="!isCollapsed"
          alt="CIViC - Clinical Interpretations of Variants in Cancer" />
        <img
          src="assets/images/civic-logo_sidebar-collapsed.png"
          *ngIf="isCollapsed"
          alt="CIViC - Clinical Interpretations of Variants in Cancer" />
      </div>
    </a>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      class="sidebar-menu"
      [ngClass]="{ 'is-collapsed': isCollapsed }"
      [nzInlineCollapsed]="isCollapsed">
      <li
        nz-menu-group
        [nzTitle]="isCollapsed ? 'KNOW' : 'KNOWLEDGEBASE'">
        <ul>
          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
            [nzTooltipTitle]="isCollapsed ? 'Assertions' : ''"
            nzMatchRouter>
            <i
              nz-icon
              nzType="civic-assertion"></i>
            <a routerLink="/assertions"><span>Assertions</span></a>
          </li>

          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
            [nzTooltipTitle]="isCollapsed ? 'Evidence' : ''"
            nzMatchRouter>
            <i
              nz-icon
              nzType="civic-evidence"></i>
            <a routerLink="/evidence"><span>Evidence</span></a>
          </li>

          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
            [nzTooltipTitle]="isCollapsed ? 'Molecular Profiles' : ''"
            nzMatchRouter>
            <i
              nz-icon
              nzType="civic-molecularprofile"></i>
            <a routerLink="/molecular-profiles"
              ><span>Molecular Profiles</span></a
            >
          </li>

          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
            [nzTooltipTitle]="isCollapsed ? 'Features' : ''"
            nzSelected
            nzMatchRouter>
            <i
              nz-icon
              nzType="civic-feature"></i>
            <a routerLink="/features"><span>Features</span></a>
          </li>

          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
            [nzTooltipTitle]="isCollapsed ? 'Variants' : ''"
            nzSelected
            nzMatchRouter>
            <i
              nz-icon
              nzType="civic-variant"></i>
            <a routerLink="/variants"><span>Variants</span></a>
          </li>

          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
            [nzTooltipTitle]="isCollapsed ? 'Variant Groups' : ''"
            nzSelected
            nzMatchRouter>
            <i
              nz-icon
              nzType="civic-variantgroup"></i>
            <a routerLink="/variant-groups"><span>Variant Groups</span></a>
          </li>
        </ul>
      </li>

      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Clinical Trials' : ''"
        nzMatchRouter>
        <i
          nz-icon
          nzType="civic-clinicaltrial"></i>
        <a routerLink="/clinical-trials"><span>Clinical Trials</span></a>
      </li>

      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Diseases' : ''"
        nzMatchRouter>
        <i
          nz-icon
          nzType="civic-disease"></i>
        <a routerLink="/diseases"><span>Diseases</span></a>
      </li>

      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Therapies' : ''"
        nzMatchRouter>
        <i
          nz-icon
          nzType="civic-therapy"></i>
        <a routerLink="/therapies"><span>Therapies</span></a>
      </li>

      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Phenotypes' : ''"
        nzMatchRouter>
        <i
          nz-icon
          nzType="civic-phenotype"></i>
        <a routerLink="/phenotypes"><span>Phenotypes</span></a>
      </li>

      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Sources' : ''"
        nzSelected
        nzMatchRouter>
        <i
          nz-icon
          nzType="civic-source"></i>
        <a routerLink="/sources"><span>Sources</span></a>
      </li>

      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Variant Types' : ''"
        nzMatchRouter>
        <i
          nz-icon
          nzType="civic-varianttype"></i>
        <a routerLink="/variant-types"><span>Variant Types</span></a>
      </li>

      <li
        nz-menu-group
        [nzTitle]="isCollapsed ? 'CURATE' : 'CURATION'">
        <ul>
          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
            [nzTooltipTitle]="isCollapsed ? 'Activity' : ''"
            nzMatchRouter>
            <i
              nz-icon
              nzType="civic-event"></i>
            <a routerLink="/curation/activity"><span>Activity</span></a>
          </li>
          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
            [nzTooltipTitle]="isCollapsed ? 'Pending Queues' : ''"
            nzMatchRouter>
            <i
              nz-icon
              nzType="civic-queue"></i>
            <a routerLink="/curation/queues"><span>Queues</span></a>
          </li>
        </ul>
      </li>
      <li
        nz-menu-group
        [nzTitle]="isCollapsed ? 'COMM' : 'COMMUNITY'">
        <ul>
          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
            [nzTooltipTitle]="isCollapsed ? 'Users' : ''"
            nzMatchRouter>
            <i
              nz-icon
              nzType="civic-curator"></i>
            <a
              routerLink="/users"
              id="main-users">
              <span>Contributors</span>
            </a>
          </li>

          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
            [nzTooltipTitle]="isCollapsed ? 'Organizations' : ''"
            nzMatchRouter>
            <i
              nz-icon
              nzType="civic-organization"></i>
            <a
              routerLink="/organizations"
              id="main-organization">
              <span>Organizations</span>
            </a>
          </li>
        </ul>
      </li>
      <li
        nz-menu-group
        [nzTitle]="isCollapsed ? 'RES' : 'RESOURCES'">
        <ul>
          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
            [nzTooltipTitle]="isCollapsed ? 'Data Releases' : ''"
            nzMatchRouter>
            <i
              nz-icon
              nzType="download"></i>
            <a
              routerLink="/releases/main"
              id="releases">
              <span>Data Releases</span>
            </a>
          </li>
          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
            [nzTooltipTitle]="isCollapsed ? 'Data Licensing' : ''"
            nzMatchRouter>
            <i
              nz-icon
              nzType="copyright-circle"
              nzTheme="fill"></i>
            <a routerLink="releases/licensing">
              <span>Data Licensing</span>
            </a>
          </li>
          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
            [nzTooltipTitle]="isCollapsed ? 'AI Integrations' : ''"
            nzMatchRouter>
            <i
              nz-icon
              nzType="robot"
              nzTheme="outline"></i>
            <a routerLink="pages/ai-integrations-policies">
              <span>AI Integrations</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div
      class="cc-notice"
      [ngClass]="{ 'is-collapsed': isCollapsed }"
      nz-tooltip
      nzTooltipPlacement="rightTop"
      nzTooltipTitle="By marking the work with a CC0 public domain dedication, the creator is giving up their copyright and allowing reusers to distribute, remix, adapt, and build upon the material in any medium or format, even for commercial purposes.">
      <img
        src="assets/images/CC0-notice-glyph.svg"
        class="cc-glyph"
        alt="CC0 1.0 Universal" />
      <img
        src="assets/images/CC0-notice-txt.svg"
        class="cc-txt"
        alt="This work has been marked as dedicated to the public domain." />
    </div>
  </nz-sider>
  <nz-layout
    class="right-layout"
    [ngClass]="{ 'is-collapsed': isCollapsed }">
    <nz-header [ngClass]="{ 'is-collapsed': isCollapsed }">
      <div
        nz-row
        id="header-row">
        <!-- sidebar collapse/show trigger -->
        <div
          nz-col
          nzFlex="40px">
          <span
            class="header-trigger"
            (click)="isCollapsed = !isCollapsed">
            <i
              class="trigger"
              nz-icon
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </span>
        </div>
        <div
          nz-col
          [nzFlex]="isCollapsed ? '90px' : '150px'"
          id="header-search">
          <cvc-quicksearch></cvc-quicksearch>
        </div>
        <div
          nz-col
          nzFlex="1 0 auto"
          id="header-menu">
          <ul
            nz-menu
            nzMode="horizontal"
            nzTheme="dark">
            <li
              nz-menu-item
              nzSelected
              nzMatchRouter>
              <a routerLink="/welcome">Home</a>
            </li>
            <li
              nz-menu-item
              nzSelected
              nzMatchRouter>
              <a routerLink="/pages/about">{{
                isCollapsed ? 'About' : 'About CIViC'
              }}</a>
            </li>
            <li
              nz-menu-item
              nzSelected
              nzMatchRouter>
              <a routerLink="/pages/help">Help</a>
            </li>
            <li
              nz-menu-item
              nzSelected
              nzMatchRouter>
              <a
                target="_blank"
                href="https://docs.civicdb.org/">
                {{ isCollapsed ? 'Docs' : 'Documentation' }}
                <i
                  nz-icon
                  nzType="link"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- header user -->
        <div
          nz-col
          nzFlex="1 0 auto"
          id="header-viewer">
          @let viewer = viewer$ | ngrxPush;
          <cvc-login-button
            *ngIf="!viewer || viewer.signedOut"></cvc-login-button>
          <cvc-viewer-button
            *ngIf="viewer && viewer.signedIn"
            [cvcCollapsed]="isCollapsed"></cvc-viewer-button>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
