<nz-space nzDirection="vertical">
  <nz-card *nzSpaceItem>
    <nz-typography>
      If you have a source publication that you believe to contain research
      relevant to CIViC's curation efforts, the community would appreciate your
      input! Please specify as many details as you can using the form below
      (only the Pubmed ID and Comment are required). Your suggested source will
      be placed in the
      <a routerLink="/curation/queues/pending-sources">source curation queue</a
      >, and you will be given a suggestion credit if your suggestion results in
      a new Evidence Item added to the CIViC database.
    </nz-typography>
  </nz-card>
  <nz-spin nzTip="Submitting" *nzSpaceItem [nzSpinning]="this.loading">
    <form
      nz-form
      [formGroup]="formGroup"
      (ngSubmit)="submitSourceSuggestion(formModel)"
      nzLayout="vertical"
    >
      <ng-container *ngTemplateOutlet="formMessages"></ng-container>

      <formly-form
        *ngIf="!this.success"
        [form]="formGroup"
        [fields]="formFields"
        [model]="formModel"
        [options]="formOptions"
        (modelChange)="formModel = $event"
      ></formly-form>
    </form>

    <ng-template #formMessages>
      <nz-form-item *ngIf="this.errorMessages.length > 0">
        <cvc-form-errors-alert [errors]="this.errorMessages">
        </cvc-form-errors-alert>
      </nz-form-item>
      <ng-container *ngIf="this.success">
        <nz-alert
          nzType="success"
          nzMessage="Source Suggestion Submitted"
          [nzDescription]="successMessage"
          nzShowIcon
        ></nz-alert>
        <ng-template #successMessage nzSize="small">
          <p>
            Thank You! Your source will now appear in the
            <a routerLink="/curation/queues/pending-sources">
              Source Suggestion curation queue
            </a>
            or you could <a routerLink="/sources/add">submit another.</a>
          </p>
        </ng-template>
      </ng-container>
    </ng-template>
  </nz-spin>
</nz-space>
