<nz-empty
  [nzNotFoundContent]="notFound"
  [nzNotFoundImage]="notFoundImg">
</nz-empty>

<ng-template #notFound>
  <span
    *ngIf="notification; else defaultNotification"
    nz-typography
    nzType="secondary"
    >{{ notification }}</span
  >
  <ng-template #defaultNotification> Not specified </ng-template>
</ng-template>
<ng-template #notFoundImg>
  @if (reviseFormPath) {
    <a
      target="_blank"
      [href]="reviseFormPath">
      <i
        nz-icon
        nzType="civic-revision"
        nzTheme="twotone"
        nzTwotoneColor="#dfdfdf"></i>
    </a>
  } @else {
    <i
      nz-icon
      nzType="civic-revision"
      nzTheme="twotone"
      nzTwotoneColor="#dfdfdf"></i>
  }
</ng-template>
