@import 'themes/global-variables.less';

:host ::ng-deep {
  display: block;

  .ant-empty-image {
    height: 35px;
    margin-top: @margin-xs;
    margin-bottom: @margin-xs;
    i, svg {
      height: 100%;
      width: 100%;
    }
  }
}
