<ng-container *ngIf="linked; else unlinked">
  <a [routerLink]="evidence.link">
    <ng-template [ngTemplateOutlet]="tag"></ng-template>
  </a>
</ng-container>

<ng-template #tag>
  <nz-tag nz-popover
    [nzPopoverMouseEnterDelay]="0.5"
    [nzPopoverContent]="evidencePopover"
    nzPopoverPlacement="right"
    nzPopoverTrigger="hover"
    [nzColor]="evidence.status | colorNameForStatus">
    <ng-template [ngTemplateOutlet]="tagContent"></ng-template>
  </nz-tag>
  <ng-template #evidencePopover>
    <cvc-evidence-popover *ngIf="enablePopover"
      [evidenceId]="evidence.id"></cvc-evidence-popover>
  </ng-template>
</ng-template>

<ng-template #noPopover>
  <nz-tag [nzColor]="evidence.status | colorNameForStatus">
    <ng-template [ngTemplateOutlet]="tagContent"></ng-template>
  </nz-tag>
</ng-template>

<ng-template #unlinked>
  <ng-template [ngTemplateOutlet]="tag"></ng-template>
</ng-template>

<ng-template #tagContent>
  <i nz-icon
    nzType="civic-evidence"
    nzTheme="twotone"
    nzTwotoneColor="#F68F37"></i> {{ evidence.name }}
</ng-template>
