<nz-select
  [class.ng-dirty]="showError"
  [nzPlaceHolder]="props.placeholder !== undefined ? props.placeholder : null"
  [nzSize]="props.size || 'default'"
  [nzVariant]="props.variant || 'outlined'"
  [nzOptionHeightPx]="props.optionHeightPx || 28"
  [nzOptionOverflowSize]="props.optionOverflowSize || 8"
  [formControl]="formControl"
  [formlyAttributes]="field"
  [nzMode]="props.isMultiSelect ? 'multiple' : 'default'"
  (ngModelChange)="props.change && props.change(field, $event)">
  @for (
    item of props.options | formlySelectOptions: field | async;
    track item
  ) {
    @if (item.group) {
      <nz-option-group [nzLabel]="item.label">
        @for (child of item.group; track child) {
          <nz-option
            [nzValue]="child.value"
            [nzDisabled]="child.disabled"
            [nzLabel]="child.label">
          </nz-option>
        }
      </nz-option-group>
    }
    @if (!item.group) {
      <nz-option
        [nzValue]="item.value"
        [nzDisabled]="item.disabled"
        [nzLabel]="item.label"></nz-option>
    }
  }
</nz-select>
