@import 'themes/global-variables.less';

:host {
  display: inline-block;
}

.role-group-label {
  margin-left: @default-padding-sm;
}
.role-group {
  display: inline-block;
  .avatar {
    display: inline-block;
    margin-left: 2px;
  }
}
