<span
  class="role-group-label"
  nz-typography
  nzType="secondary"
  >Curators:</span
>
<div class="role-group">
  @if (curators$ | ngrxPush; as curators) {
    <cvc-contributor-stack [contributors]="curators"></cvc-contributor-stack>
  } @else {
    None
  }
</div>
<span
  class="role-group-label"
  nz-typography
  nzType="secondary"
  >Editors:</span
>
<div class="role-group">
  @if (editors$ | ngrxPush; as editors) {
    <cvc-contributor-stack [contributors]="editors"></cvc-contributor-stack>
  } @else {
    None
  }
</div>
