@if (variant.__typename == 'FactorVariant') {
  <nz-card
    [nzTitle]="cardTitle"
    nzType="inner"
    nzSize="small">
    <ng-template #cardTitle>
      <i
        nz-icon
        nzType="civic-variant"
        nzTheme="twotone"
        [nzTwotoneColor]="'Variant' | entityColor"></i>
      <span
        nz-typography
        nzType="secondary">
        {{ variant.feature.name }}
      </span>
      <span nz-typography>
        {{ variant.name }}
      </span>
    </ng-template>
    <nz-row [nzGutter]="[8, 16]">
      <nz-col [nzSpan]="24">
        <nz-row [nzGutter]="[8, 8]">
          <!-- gene attributes block -->
          <nz-col nzSpan="24">
            <nz-descriptions
              nzLayout="horizontal"
              nzSize="small"
              [nzColumn]="4"
              nzBordered="true">
              <nz-descriptions-item
                [nzSpan]="4"
                nzTitle="Factor Variant">
                <cvc-feature-variant-tag
                  [variant]="variant"></cvc-feature-variant-tag>
              </nz-descriptions-item>
              <!-- aliases -->
              <nz-descriptions-item
                [nzSpan]="2"
                nzTitle="Aliases">
                @if (variant.variantAliases.length > 0) {
                  <cvc-tag-list>
                    @for (alias of variant.variantAliases; track alias) {
                      <nz-tag>{{ alias }}</nz-tag>
                    }
                  </cvc-tag-list>
                } @else {
                  <span
                    nz-typography
                    nzType="secondary"
                    >None specified</span
                  >
                }
              </nz-descriptions-item>

              <!-- variant type(s) -->
              <nz-descriptions-item
                [nzSpan]="2"
                [nzTitle]="
                  variant.variantTypes.length > 1
                    ? 'Variant Types'
                    : 'Variant Type'
                ">
                @if (variant.variantTypes.length > 0) {
                  <cvc-tag-list>
                    @for (type of variant.variantTypes; track type) {
                      <cvc-variant-type-tag [variantType]="type">
                      </cvc-variant-type-tag>
                    }
                  </cvc-tag-list>
                } @else {
                  <span
                    nz-typography
                    nzType="secondary"
                    >None specified</span
                  >
                }
              </nz-descriptions-item>

              @if (displayMps.length > 0) {
                <nz-descriptions-item
                  [nzSpan]="4"
                  nzTitle="Other Molecular Profiles">
                  <cvc-tag-list>
                    @for (mp of displayMps; track mp) {
                      <cvc-molecular-profile-tag
                        [molecularProfile]="mp"
                        [truncateLongName]="true"></cvc-molecular-profile-tag>
                    }
                    @if (
                      variant.molecularProfiles.totalCount >
                      displayMps.length + 1
                    ) {
                      <a routerLink="/variants/{{ variant.id }}/summary">
                        + view
                        {{
                          variant.molecularProfiles.totalCount -
                            displayMps.length
                        }}
                        more
                      </a>
                    }
                  </cvc-tag-list>
                </nz-descriptions-item>
              }
            </nz-descriptions>
          </nz-col>
        </nz-row>
      </nz-col>
      <nz-col [nzSpan]="24">
        @if (variant.ncitId) {
          <cvc-ncit-details
            [ncitDetails]="variant.ncitDetails"></cvc-ncit-details>
        } @else {
          <nz-col [nzSpan]="24">
            <nz-card nzTitle="">
              <cvc-empty-revisable
                notification="Not available, please provide an NCIt Code">
              </cvc-empty-revisable>
            </nz-card>
          </nz-col>
        }
      </nz-col>
    </nz-row>
  </nz-card>
}
