@import "global-variables.less";

:host {
  display: block;
}

.card-content {
  margin-top: -(@default-padding-sm - 1);
  margin-bottom: -(@default-padding-sm + 1);
  margin-left: -@default-padding-sm;
  margin-right: -@default-padding-sm;
}
