<div id="popover-content">
  <ng-container *ngIf="variant$ | ngrxPush as variant">
    <nz-card
      [nzTitle]="cardTitle"
      nzBordered="false"
      id="card-content"
      [nzExtra]="feature">
      <ng-template #cardTitle>
        <i
          nz-icon
          nzTheme="twotone"
          [nzTwotoneColor]="'Variant' | entityColor"
          nzType="civic-variant"></i>
        {{ variant.name }}
      </ng-template>
      <ng-template #feature>
        <cvc-feature-tag
          [enablePopover]="false"
          [feature]="variant.feature"></cvc-feature-tag>
      </ng-template>

      <nz-descriptions
        nzSize="small"
        [nzColumn]="2"
        nzBordered="true">
        <!-- aliases -->
        <nz-descriptions-item
          nzTitle="Aliases"
          nzSpan="2"
          *ngIf="variant.variantAliases.length > 0">
          <nz-tag *ngFor="let alias of variant.variantAliases">{{
            alias
          }}</nz-tag>
        </nz-descriptions-item>

        <!-- allele registry-->
        <nz-descriptions-item
          nzTitle="Allele Registry ID"
          nzSpan="2"
          *ngIf="
            variant.__typename == 'GeneVariant' &&
            variant.alleleRegistryId &&
            variant.alleleRegistryId != 'unregistered'
          ">
          <cvc-link-tag
            href="https://reg.genome.network/allele/{{
              variant.alleleRegistryId
            }}.html"
            tooltip="View on the ClinGen Allele Registry">
            {{ variant.alleleRegistryId }}
          </cvc-link-tag>
        </nz-descriptions-item>

        <!-- evidence item count -->
        <nz-descriptions-item
          nzTitle="Molecular Profiles"
          nzSpan="2">
          {{ variant.molecularProfiles.totalCount }}
        </nz-descriptions-item>
      </nz-descriptions>

      <!-- entity comment, flags, etc. tags -->
      <nz-row id="entity-child-counts">
        <nz-col nzSpan="24">
          <nz-space nzSize="small">
            <a
              routerLink="/variants/{{ variant.id }}/flags"
              *nzSpaceItem>
              <nz-tag nzColor="red">
                <i
                  nz-icon
                  nzType="civic-flag"></i>
                Flags ({{ variant.flags.totalCount }})
              </nz-tag>
            </a>
            <a
              routerLink="/variants/{{ variant.id }}/revisions"
              *nzSpaceItem>
              <nz-tag nzColor="orange">
                <i
                  nz-icon
                  nzType="civic-revision"></i>
                Revisions ({{ variant.revisions.totalCount }})
              </nz-tag>
            </a>
            <a
              routerLink="/variants/{{ variant.id }}/comments"
              *nzSpaceItem>
              <nz-tag nzColor="blue">
                <i
                  nz-icon
                  nzType="civic-comment"></i>
                Comments ({{ variant.comments.totalCount }})
              </nz-tag>
            </a>
          </nz-space>
        </nz-col>
      </nz-row>
    </nz-card>
  </ng-container>
</div>
