@switch (cvcEmptyCategory) {
  @case ('not-applicable') {
    <span
      class="empty-symbol not-applicable"
      nz-tooltip
      nzTooltipTitle="Value is not applicable">
      @switch (cvcDisplayMode) {
        @case ('small') {
          N/A
        }
        @default {
          Not applicable
        }
      }
    </span>
  }
  @case ('unspecified') {
    <span
      nz-tooltip
      nzTooltipTitle="Unspecified"
      class="empty-symbol unspecified"
      nz-tooltip
      nzTooltipTitle="Value is unspecified">
      @switch (cvcDisplayMode) {
        @case ('small') {
          &ndash;&nbsp;&ndash;
        }
        @default {
          Not specified
        }
      }
    </span>
  }
  @case ('invalid') {
    <span
      nz-tooltip
      nzTooltipTitle="INVALID"
      class="empty-symbol invalid"
      nz-tooltip
      nzTooltipTitle="Error: value requires specification">
      @switch (cvcDisplayMode) {
        @case ('small') {
          !?
        }
        @default {
          Unspecified
        }
      }
    </span>
  }
}
