<nz-select
  nzShowSearch
  nzServerSearch
  nzAllowClear
  [class.ng-dirty]="cvcShowError"
  [formControl]="cvcFormControl"
  [formlyAttributes]="cvcFormlyAttributes"
  [nzMode]="cvcSelectMode"
  [nzPlaceHolder]="cvcPlaceholder || 'Search ' + cvcEntityName.plural"
  [nzCustomTemplate]="cvcCustomTemplate || null"
  [nzOptionHeightPx]="30"
  [nzDisabled]="cvcDisabled"
  [nzLoading]="cvcLoading"
  [nzAllowClear]="cvcAllowClear"
  [nzBorderless]="cvcBorderless"
  [nzSuffixIcon]="'search'"
  [nzShowArrow]="cvcShowArrow || true"
  [nzAutoClearSearchValue]="cvcAutoClearSearchValue"
  [nzOptions]="cvcOptions || []"
  [nzDropdownRender]="cvcDropdownExtra || null"
  [nzNotFoundContent]="searchMessages"
  [nzOpen]="cvcSelectOpen"
  (nzOpenChange)="cvcOnOpenChange.next($event)"
  (nzOnSearch)="cvcOnSearch.next($event)"
  (ngModelChange)="cvcOnModelChange.next($event)">
</nz-select>
<ng-template #searchMessages>
  <ng-container *ngrxLet="onSearchMessage$ as msg">
    {{ msg }}
    <ng-container
      *ngrxLet="cvcOnSearch as searchStr"
      [ngTemplateOutlet]="this.cvcAddEntity"
      [ngTemplateOutletContext]="{
        $implicit: searchStr,
        createMsg: msg,
        model: cvcAddEntityModel
      }">
    </ng-container>
  </ng-container>
</ng-template>
