<nz-select
  nzShowSearch
  nzServerSearch
  nzAllowClear
  [class.ng-dirty]="cvcShowError"
  [formControl]="cvcFormControl"
  [formlyAttributes]="cvcFormlyAttributes"
  [nzMode]="cvcSelectMode"
  [nzPlaceHolder]="cvcPlaceholder || 'Search ' + cvcEntityName.plural"
  [nzCustomTemplate]="cvcCustomTemplate || null"
  [nzOptionHeightPx]="30"
  [nzDisabled]="cvcDisabled"
  [nzLoading]="onLoading$ | ngrxPush"
  [nzAllowClear]="cvcAllowClear"
  [nzBorderless]="cvcBorderless"
  [nzSuffixIcon]="'search'"
  [nzShowArrow]="cvcShowArrow || true"
  [nzAutoClearSearchValue]="cvcAutoClearSearchValue"
  [nzOptions]="cvcOptions || []"
  [nzDropdownRender]="cvcDropdownExtra || null"
  [nzNotFoundContent]="searchMessages"
  [nzOpen]="cvcSelectOpen"
  (nzOpenChange)="onOpenChange$.next($event)"
  (nzOnSearch)="cvcOnSearch.next($event)"
  (ngModelChange)="cvcOnModelChange.next($event)">
</nz-select>
<ng-template #searchMessages>
  <ng-container *ngrxLet="notFoundDisplay$ as display">
    <span
      *ngIf="display.showSpinner"
      nz-icon
      [nzType]="'loading'"></span>
    {{ display.message }}
    <ng-container
      *ngIf="display.showAddForm"
      [ngTemplateOutlet]="this.cvcAddEntity"
      [ngTemplateOutletContext]="{
        $implicit: display.searchStr,
        createMsg: display.message,
        model: cvcAddEntityModel
      }">
    </ng-container>
  </ng-container>
</ng-template>
