<ul nz-menu>
  <li
    nz-menu-item
    *ngFor="let filter of cvcFilterOptions"
    [nzSelected]="cvcOption?.value === filter.value"
    (click)="
      cvcOptionChange.next({
        key: cvcColumnKey,
        value: filter.value
      })
    ">
    <cvc-attribute-tag
      [cvcAttrValue]="filter.value"></cvc-attribute-tag>
  </li>
  <li style="padding: 3px">
    <button
      nz-button
      nzType="primary"
      nzBlock
      nzSize="small"
      (click)="cvcOptionChange.next({ key: cvcColumnKey, value: null })"
      [disabled]="cvcOption?.value === null">
      Reset
    </button>
  </li>
</ul>
