@if (mode == 'endorse') {
  <button
    nz-button
    nz-tooltip="Endorse This Assertion"
    nzSize="small"
    (click)="showConfirm = true"
    [nzLoading]="isSubmitting">
    <i
      nz-icon
      nzType="check-circle"></i>
    Endorse
  </button>

  <nz-modal
    [(nzVisible)]="showConfirm"
    [nzContent]="confirmModalContent"
    [nzTitle]="confirmModalTitle"
    [nzFooter]="null"
    (nzOnCancel)="handleConfirmModalCancel()">
    <ng-template #confirmModalTitle
      ><span>Endorse This Assertion</span></ng-template
    >
    <ng-template #confirmModalContent>
      <nz-spin [nzSpinning]="isSubmitting">
        <span>
          You are about to formally
          <strong>
            Endorse this Assertion on behalf of
            {{ mostRecentOrg?.name }}</strong
          >. Are you sure you wish to proceed?
        </span>
        <nz-divider></nz-divider>
        <nz-space nzDirection="horizontal">
          <span *nzSpaceItem>
            <button
              nzType="primary"
              nzSize="small"
              nz-button
              (click)="perform()"
              nz-tooltip
              [nzTooltipTrigger]="mostRecentOrg ? 'hover' : null"
              [nzTooltipTitle]="'For ' + mostRecentOrg?.name">
              Endorse
            </button>
          </span>
          <span *nzSpaceItem>
            <button
              nz-button
              (click)="showConfirm = false"
              nzSize="small">
              Cancel
            </button>
          </span>
        </nz-space>
      </nz-spin>
    </ng-template>
  </nz-modal>
} @else {
  <button
    nz-button
    nz-tooltip="Revoke This Assertion's Endorsement"
    nzSize="small"
    (click)="showRevokeConfirm = true"
    [nzLoading]="isSubmitting">
    <i
      nz-icon
      nzType="stop"></i>
    Revoke Endorsement
  </button>

  <nz-modal
    [(nzVisible)]="showRevokeConfirm"
    [nzContent]="revokeModalContent"
    [nzTitle]="revokeModalTitle"
    [nzFooter]="null"
    (nzOnCancel)="handleConfirmModalCancel()">
    <ng-template #revokeModalTitle
      ><span>Revoke This Assertion's Endorsement</span></ng-template
    >
    <ng-template #revokeModalContent>
      <nz-spin [nzSpinning]="isSubmitting">
        <span>
          You are about to formally
          <strong>
            Revoke {{ mostRecentOrg?.name }}'s Endorsement of this
            Assertion</strong
          >. Are you sure you wish to proceed?
        </span>
        <nz-divider class="endorsement-divider"></nz-divider>
        <textarea
          placeholder="Enter a reason for revoking this Endorsement"
          rows="4"
          nz-input
          [(ngModel)]="revocationComment"></textarea>
        <nz-divider class="endorsement-divider"></nz-divider>
        <nz-space nzDirection="horizontal">
          <span *nzSpaceItem>
            <button
              [disabled]="
                revocationComment == undefined || revocationComment.length < 10
              "
              nzType="primary"
              nzSize="small"
              nz-button
              (click)="perform()"
              nz-tooltip
              [nzTooltipTrigger]="mostRecentOrg ? 'hover' : null"
              [nzTooltipTitle]="'For ' + mostRecentOrg?.name">
              Revoke Endorsement
            </button>
          </span>
          <span *nzSpaceItem>
            <button
              nz-button
              (click)="showRevokeConfirm = false"
              nzSize="small">
              Cancel
            </button>
          </span>
        </nz-space>
      </nz-spin>
    </ng-template>
  </nz-modal>
}
