<cvc-section-navigation> </cvc-section-navigation>
<nz-page-header class="site-page-header">

  <!--title-->
  <nz-page-header-title>
    <i nz-icon nzType="civic:source"></i>
    Sources
    <span nz-typography nzType="secondary"  *ngIf="(isLoading$ | ngrxPush)">Loading...</span>
  </nz-page-header-title>

  <!--content-->
  <nz-page-header-content>
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <div class="content">
          <ng-container *ngIf="{ value: data$ | ngrxPush } as data">
            <nz-table #sourcesTable
              [nzData]="(sources$ | ngrxPush)"
              [nzLoading]="(isLoading$ | ngrxPush)"
              [nzFrontPagination]="false"
              [nzShowPagination]="false"
              >
              <thead (nzSortOrderChange)="onSortChanged($event)" >
                <tr>
                  <th nzWidth="10%">
                    Citation
                  </th>
                  <th nzWidth="10%" [nzColumnKey]="sortColumns.SourceType" [nzSortFn]="true">
                    Source Type
                  </th>
                  <th nzWidth="5%" [nzColumnKey]="sortColumns.CitationId" [nzSortFn]="true">
                    Citation ID
                  </th>
                  <th nzWidth="25%" [nzColumnKey]="sortColumns.Authors" [nzSortFn]="true">
                    Authors
                  </th>
                  <th nzWidth="5%" [nzColumnKey]="sortColumns.Year" [nzSortFn]="true">
                    Year
                  </th>
                  <th nzWidth="10%" [nzColumnKey]="sortColumns.Journal" [nzSortFn]="true">
                    Journal
                  </th>
                  <th nzWidth="25%" [nzColumnKey]="sortColumns.Journal" [nzSortFn]="true">
                    Name
                  </th>
                  <th nzWidth="3%" nzRight [nzColumnKey]="sortColumns.EvidenceCount" [nzSortFn]="true"><i nz-icon nzType="civic:evidence" nz-tooltip nzTooltipTitle="Evidence Count"></i></th>
                </tr>
                <tr>
                  <th></th>
                  <th>
                    <nz-select nzAllowClear nzPlaceHolder="Choose" (ngModelChange)="onModelChanged()" [(ngModel)]="sourceTypeInput">
                      <nz-option nzValue="PUBMED" nzLabel="PubMed"></nz-option>
                      <nz-option nzValue="ASCO" nzLabel="ASCO"></nz-option>
                    </nz-select>
                  </th>
                  <th>
                    <cvc-clearable-text-filter [(inputModel)]="citationIdInput" placeholderText="Citation ID" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                  </th>
                  <th>
                    <cvc-clearable-text-filter [(inputModel)]="authorInput" placeholderText="Authors" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                  </th>
                  <th>
                    <cvc-clearable-text-filter [(inputModel)]="yearInput" placeholderText="Year" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                  </th>
                  <th>
                    <cvc-clearable-text-filter [(inputModel)]="journalInput" placeholderText="Journal" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                  </th>
                  <th>
                    <cvc-clearable-text-filter [(inputModel)]="nameInput" placeholderText="Name" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let source of sourcesTable.data">
                  <td>
                    <cvc-source-tag [source]="source"></cvc-source-tag>
                  </td>
                  <td>
                    {{ source.displayType }}
                  </td>
                  <td>
                    {{ source.citationId}}
                  </td>
                  <td>
                    <p nz-typography>
                      <span *ngFor="let author of source.authors; last as isLast" >
                        {{ author }}{{ isLast ? '' : ', ' }}
                      </span>
                    </p>
                  </td>
                  <td>
                    {{ source.publicationYear }}
                  </td>
                  <td>
                    {{ source.journal }}
                  </td>
                  <td>
                    {{ source.name }}
                  </td>
                  <td nzRight>{{source.evidenceItemCount}}</td>
                </tr>
              </tbody>
            </nz-table>
          </ng-container>
          <ng-template #loadingTemplate><i nz-icon nzType="loading"></i></ng-template>
        </div>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>

<ng-container *ngrxLet="pageInfo$ as pageInfo">
  <button *ngIf="pageInfo.hasNextPage" nz-button (click)="loadMore(pageInfo.endCursor)">Load More</button>
</ng-container>
