<div nz-row [nzGutter]="[16, 8]">
  <div
    nz-col
    nzSpan="4">
    <nz-steps
      nzDirection="vertical"
      [nzCurrent]="currentStep()"
      (nzIndexChange)="onIndexChange($event)">
      @for (step of field.fieldGroup; track step.key; let i = $index) {
        <nz-step [nzTitle]="titleTemplate" [nzIcon]="iconTemplate"> </nz-step>
        <ng-template #titleTemplate>
          {{ step.props?.stepLabel }}
          @if (step.props?.infoString) {
            <span
              nz-typography
              nzType="secondary">
              <i
                nz-icon
                nzType="info-circle"
                nz-tooltip
                [nzTooltipTitle]="step.props?.infoString">
              </i>
            </span>
          }
        </ng-template>
        <ng-template #iconTemplate>
          @if (isValid(step)) {
            @if (i == currentStep()) {
              <p style="font-size: 12px;">&#11044;</p>
            } @else {
              <p style="font-size: 8px;">&#11044;</p>
            }
          } @else {
            <nz-icon nzType="warning" nzTheme="twotone" nzTwotoneColor="#CD1C18" />
          }
        </ng-template>
      }
    </nz-steps>
  </div>
  <div
    nz-col
    nzSpan="20">
    <nz-row [nzGutter]="[16, 8]">
      @let stepField =
        field.fieldGroup ? field.fieldGroup[currentStep()] : undefined;
      @if (stepField) {
        @for (subField of stepField.fieldGroup; track subField.key) {
          <nz-col nzSpan="24">
            <formly-field [field]="subField"></formly-field>
          </nz-col>
          @if (!$last) {
            <nz-divider nzText="OR"></nz-divider>
          }
        }
      }
      <nz-col nzSpan="24">
        @if (currentStep() > 0) {
          <button
            nz-button
            nzType="default"
            (click)="previousStep()">
            <span>Previous</span>
          </button>
        }
        @if (currentStep() < field.fieldGroup!.length - 1) {
          <button
            nz-button
            nzType="default"
            (click)="nextStep()"
            style="float: right;">
            <span>Next</span>
          </button>
        }
      </nz-col>
    </nz-row>
  </div>
</div>
