<div nz-row>
  <div
    nz-col
    nzSpan="4">
    <nz-steps
      nzProgressDot
      nzDirection="vertical"
      [nzCurrent]="currentStep()">
      @for (step of field.fieldGroup; track step.key) {
        <nz-step [nzTitle]="step.props?.stepLabel"> </nz-step>
      }
    </nz-steps>
  </div>
  <div
    nz-col
    nzSpan="20">
    @let stepField =
      field.fieldGroup ? field.fieldGroup[currentStep()] : undefined;
    @if (stepField) {
      @for (subField of stepField.fieldGroup; track subField.key) {
        <formly-field [field]="subField"></formly-field>
        @if (!$last) {
          <nz-divider nzText="OR"></nz-divider>
        }
      }
    }
    @if (currentStep() > 0) {
      <button
        nz-button
        nzType="default"
        (click)="previousStep()">
        <span>Previous</span>
      </button>
    }
    @if (currentStep() < field.fieldGroup!.length - 1) {
      <button
        nz-button
        nzType="default"
        (click)="nextStep()"
        style="float: right;">
        <span>Next</span>
      </button>
    }
  </div>
</div>
