<ng-container *ngIf="!formControl.value?.id; else geneListItem">
  <nz-select #focusInput nzShowSearch
    nzServerSearch
    [formControl]="formControl"
    [formlyAttributes]="field"
    [nzPlaceHolder]="!to.placeholder ? null : to.placeholder"
    [nzNotFoundContent]="sourceLoader"
    [nzShowArrow]="to.showArrow"
    [nzFilterOption]="to.filterOption"
    (nzOnSearch)="to.onSearch($event)">
    <ng-container *ngrxLet="this.genes$ as genes">
      {{genes | json}}
      <nz-option *ngFor="let opt of genes"
        nzCustomContent
        [nzLabel]="opt.tooltip"
        [nzValue]="opt.gene">
        <nz-space>
          <span *nzSpaceItem [innerHtml]="opt.label | highlightTypeahead: this.to.searchString"></span>
          <ng-container *ngIf="opt.gene.geneAliases.length > 0">
            <span nz-typography nzType="secondary" *nzSpaceItem [innerHtml]="opt.gene.geneAliases.join(', ') | highlightTypeahead: this.to.searchString">
            </span>
          </ng-container>
        </nz-space>
      </nz-option>
    </ng-container>
  </nz-select>
  <ng-template #sourceLoader>
    No gene found in CIViC that matches the string provided.
  </ng-template>
</ng-container>
<ng-template #geneListItem>
  <cvc-gene-tag [gene]="formControl.value"></cvc-gene-tag>
</ng-template>
