@if (variant.__typename == 'RegionVariant') {
  <nz-card
    [nzTitle]="cardTitle"
    nzType="inner"
    nzSize="small">
    <ng-template #cardTitle>
      <i
        nz-icon
        nzType="civic-variant"
        nzTheme="twotone"
        [nzTwotoneColor]="'Variant' | entityColor"></i>
      {{ variant.name }}
    </ng-template>
    <nz-row [nzGutter]="[8, 16]">
      <nz-col [nzSpan]="24">
        <nz-row [nzGutter]="[8, 8]">
          <!-- region attributes block -->
          <nz-col nzSpan="24">
            <nz-descriptions
              nzLayout="horizontal"
              nzSize="small"
              [nzColumn]="4"
              nzBordered="true">
              <nz-descriptions-item
                [nzSpan]="4"
                nzTitle="Region Variant">
                <cvc-feature-variant-tag
                  [variant]="variant"></cvc-feature-variant-tag>
              </nz-descriptions-item>
              <!-- aliases -->
              <nz-descriptions-item
                [nzSpan]="2"
                nzTitle="Aliases">
                @if (variant.variantAliases.length > 0) {
                  <cvc-tag-list>
                    @for (alias of variant.variantAliases; track alias) {
                      <nz-tag>{{ alias }}</nz-tag>
                    }
                  </cvc-tag-list>
                } @else {
                  <span
                    nz-typography
                    nzType="secondary"
                    >None specified</span
                  >
                }
              </nz-descriptions-item>

              <!-- variant type(s) -->
              <nz-descriptions-item
                [nzSpan]="2"
                [nzTitle]="
                  variant.variantTypes.length > 1
                    ? 'Variant Types'
                    : 'Variant Type'
                ">
                @if (variant.variantTypes.length > 0) {
                  <cvc-tag-list>
                    @for (type of variant.variantTypes; track type) {
                      <cvc-variant-type-tag [variantType]="type">
                      </cvc-variant-type-tag>
                    }
                  </cvc-tag-list>
                } @else {
                  <span
                    nz-typography
                    nzType="secondary"
                    >None specified</span
                  >
                }
              </nz-descriptions-item>

              <nz-descriptions-item
                [nzSpan]="2"
                nzTitle="ISCN Name">
                {{ variant.iscnName }}
              </nz-descriptions-item>
            </nz-descriptions>
          </nz-col>
        </nz-row>
      </nz-col>
    </nz-row>
  </nz-card>
}
