<nz-row [nzGutter]="8">
  <nz-col
    nzFlex="150px"
    styles="padding-top: 4px">
    <nz-select
      [ngModel]="props.selectedKey"
      (ngModelChange)="onKeyChange($event)"
      [nzOptionHeightPx]="28"
      nzPlaceHolder="Select Filter">
      @for (option of filterSelectOptions(); track option.value) {
        <nz-option
          [nzLabel]="option.label"
          [nzValue]="option.value">
        </nz-option>
      }
    </nz-select>
  </nz-col>
  <nz-col nzFlex="auto">
    @for (childField of field.fieldGroup; track childField.key) {
      <formly-field [field]="childField"></formly-field>
    }
  </nz-col>
</nz-row>
