<nz-row
  [nzGutter]="8"
  class="filter-row">
  <nz-col
    nzFlex="150px"
    [ngClass]="{ 'select-col-small': !props.isRootFilter }">
    <nz-select
      [ngModel]="props.selectedKey"
      [nzSize]="props.isRootFilter ? 'default' : 'small'"
      (ngModelChange)="onKeyChange($event)"
      [nzOptionHeightPx]="28"
      nzPlaceHolder="Select Filter">
      @for (option of filterSelectOptions(); track option.value) {
        <nz-option
          [nzLabel]="option.label"
          [nzValue]="option.value">
        </nz-option>
      }
    </nz-select>
  </nz-col>
  <nz-col
    nzFlex="auto"
    class="field-col">
    @for (childField of field.fieldGroup; track childField.key) {
      <formly-field [field]="childField"></formly-field>
    }
  </nz-col>
</nz-row>
