<ng-container *ngIf="!formControl.value?.id; else drugListItem">
  <nz-select nzShowSearch
    nzServerSearch
    [formControl]="formControl"
    [formlyAttributes]="field"
    [nzPlaceHolder]="!to.placeholder ? null : to.placeholder"
    [nzNotFoundContent]="sourceLoader"
    [nzShowArrow]="to.showArrow"
    [nzFilterOption]="to.filterOption"
    (nzOnSearch)="to.onSearch($event)">
    <ng-container *ngrxLet="this.phenotypes$ as phenotypes">
      <nz-option *ngFor="let opt of phenotypes"
        nzCustomContent
        nzLabel="{{opt.name}} ({{opt.hpoId}})"
        [nzValue]="opt">
        {{ opt.name }} ({{opt.hpoId }})
      </nz-option>
    </ng-container>
  </nz-select>
  <ng-template #sourceLoader>
    No phenotype found in CIViC that matches the string provided.
  </ng-template>
</ng-container>
<ng-template #drugListItem>
  <cvc-phenotype-tag [phenotype]="formControl.value"></cvc-phenotype-tag>
</ng-template>
