<form
  [formGroup]="form"
  nz-form
  nzLayout="horizontal"
  (ngSubmit)="submitDisease()">
  <nz-row [nzGutter]="[0, 0]">
    <nz-col nzSpan="24">
      <formly-form
        [form]="form"
        [fields]="fields"
        [model]="model"
        [options]="options"
        (modelChange)="model = $event">
      </formly-form>
    </nz-col>
    <nz-col nzSpan="24">
      <button
        nz-button
        nzType="primary"
        [disabled]="!form.valid"
        nzBlock>
        <span
          *ngIf="isSubmitting$ | ngrxPush"
          nz-icon
          nzType="loading"
          nzTheme="outline"></span>
        Add Disease
        <ng-container *ngIf="model.name"> "{{ model.name }}" </ng-container>
      </button>
    </nz-col>
  </nz-row>
</form>
