@import 'themes/global-variables.less';

:host {
  display: block;
  ::ng-deep .news-cover-card {
    .ant-card-meta-description {
      color: @text-color;
    }
    // adjust cover-card title styles to match standard card's styles
    .ant-card-meta-title {
      font-size: 12px;
      line-height: 20px;
    }
  }
  ::ng-deep .news-post img {
    max-width: 100%;
    height: auto;
  }
}

nz-divider {
  margin: 12px 0 8px 0;
}
.cover-card-date {
  text-align: right;
  font-weight: normal;
}
