<div id="popover-content">
  <ng-container *ngIf="variant$ | ngrxPush as variant">
    <nz-card [nzTitle]="cardTitle" nzBordered="false"
      id="card-content">
      <ng-template #cardTitle>
        <i nz-icon
          nzType="civic:variant"></i> {{ variant.name }}
      </ng-template>

      <!-- aliases -->
      <nz-descriptions nzSize="small"
        [nzColumn]="2"
        nzBordered="true">
        <nz-descriptions-item nzTitle="Aliases"
          nzSpan="2"
          *ngIf="variant.variantAliases.length > 0">
          <span *ngFor="let alias of variant.variantAliases; last as isLast">
            {{alias}}<span *ngIf="!isLast">,&nbsp;</span>
          </span>
        </nz-descriptions-item>

        <!-- allele registry-->
        <nz-descriptions-item nzTitle="Allele Registry ID"
          *ngIf="variant.alleleRegistryId">
          <a href="https://reg.genome.network/allele/{{variant.alleleRegistryId}}.html"
            target="_blank">{{variant.alleleRegistryId}}</a>
        </nz-descriptions-item>

        <!-- gene -->
        <nz-descriptions-item nzTitle="Gene">
          <i nz-icon
            nzType="civic:gene"></i> {{ variant.gene.name }}
        </nz-descriptions-item>
      </nz-descriptions>

      <!-- entity comment, flags, etc. tags -->
      <nz-row id="entity-child-counts">
        <nz-col nzSpan="24">
          <nz-space nzSize="small">
            <nz-space-item>
              <nz-tag nzColor="gold" >
                <i nz-icon nzType="civic-evidence"></i>
                Evidence ({{ variant.evidenceItems.totalCount }})
              </nz-tag>
            </nz-space-item>
            <nz-space-item>
              <nz-tag nzColor="red" >
                <i nz-icon nzType="civic-flag"></i>
                Flags ({{ variant.flags.totalCount }})
              </nz-tag>
            </nz-space-item>
            <nz-space-item>
              <nz-tag nzColor="orange">
                <i nz-icon nzType="civic-revision"></i>
                Revisions ({{ variant.revisions.totalCount }})
              </nz-tag>
            </nz-space-item>
            <nz-space-item>
              <nz-tag nzColor="blue" >
                <i nz-icon nzType="civic-comment"></i>
                Comments ({{ variant.comments.totalCount }})
              </nz-tag>
            </nz-space-item>
          </nz-space>
        </nz-col>
      </nz-row>
    </nz-card>
  </ng-container>
</div>
