<div id="popover-content">
  <ng-container *ngIf="feature$ | ngrxPush as feature">
    <nz-card
      [nzTitle]="cardTitle"
      nzBordered="false"
      id="card-content">
      <ng-template #cardTitle>
        <i
          nz-icon
          nzTheme="twotone"
          [nzTwotoneColor]="'Feature' | entityColor"
          nzType="civic-feature"></i>
        {{ feature.featureInstance.__typename }} - {{ feature.name }}
      </ng-template>

      <nz-descriptions
        nzSize="small"
        [nzColumn]="2"
        nzBordered="true">
        <nz-descriptions-item
          *ngIf="feature.fullName"
          nzSpan="2"
          nzTitle="Full Name">
          {{ feature.fullName }}
        </nz-descriptions-item>
        <!-- aliases -->
        <nz-descriptions-item
          nzTitle="Aliases"
          nzSpan="2"
          *ngIf="feature.featureAliases.length > 0">
          <nz-tag *ngFor="let alias of feature.featureAliases">{{
            alias
          }}</nz-tag>
        </nz-descriptions-item>

        <!-- variant count-->
        <nz-descriptions-item nzTitle="Variants">
          {{ feature.variants.totalCount }}
        </nz-descriptions-item>
      </nz-descriptions>

      <!-- entity comment, flags, etc. tags -->
      <nz-row id="entity-child-counts">
        <nz-col nzSpan="24">
          <nz-space nzSize="small">
            <a
              routerLink="/features/{{ feature.id }}/flags"
              *nzSpaceItem>
              <nz-tag nzColor="red">
                <i
                  nz-icon
                  nzType="civic-flag"></i>
                Flags ({{ feature.flags.totalCount }})
              </nz-tag>
            </a>
            <a
              routerLink="/features/{{ feature.id }}/revisions"
              *nzSpaceItem>
              <nz-tag nzColor="orange">
                <i
                  nz-icon
                  nzType="civic-revision"></i>
                Revisions
                <!-- ({{ feature.revisions.totalCount }}) -->
              </nz-tag>
            </a>
            <a
              routerLink="/features/{{ feature.id }}/comments"
              *nzSpaceItem>
              <nz-tag nzColor="blue">
                <i
                  nz-icon
                  nzType="civic-comment"></i>
                Comments
                <!-- ({{ feature.comments.totalCount }}) -->
              </nz-tag>
            </a>
          </nz-space>
        </nz-col>
      </nz-row>
    </nz-card>
  </ng-container>
</div>
