<ng-container *ngrxLet="isOpen$ as isOpen">
    <nz-card [nzTitle]="header" [nzExtra]="expandButton">
        <ng-container *ngIf="isOpen && contents">
            <div class="animate-slide-in">
                <ng-container *ngTemplateOutlet="contents"></ng-container>
            </div>
        </ng-container>
    </nz-card>

    <ng-template #expandButton>
        <button nz-button (click)="toggle$.next()">
            <span *ngIf="isOpen" nz-icon nzType="down" nzTheme="outline"></span>
            <span *ngIf="!isOpen" nz-icon nzType="right" nzTheme="outline"></span>
        </button>
    </ng-template>
</ng-container>