:host {
  display: block;
}

.timeline {
  // timeline's base styles pull it up and left of its container,
  // this padding adds them back b/c in the event feed card it looks to cramped
  padding-top: 6px;
  padding-left: 6px;
}

#event-filters {
  // all form items get a right margin which creates an unsightly gap on the right :(
  // so we remove that here
  nz-form-item:last-child {
    margin-right: 0;
  }
  // need to specify selector widths or else item names clipped
  #participant-filter {
    width: 200px;
  }
  #organization-filter {
    width: 250px;
  }
}
