<div id="popover-content">
  @if (source$ | ngrxPush; as s) {
    <nz-card
      [nzTitle]="cardTitle"
      nzBordered="false"
      id="card-content"
      [nzExtra]="linkout">
      <ng-template #cardTitle>
        <i
          nz-icon
          nzType="civic-source"
          nzTheme="twotone"
          nzTwotoneColor="#F9BA45"></i>
        {{ s.displayType }}:&nbsp;{{ s.citation }}
      </ng-template>
      <ng-template #linkout>
        <cvc-link-tag
          [href]="s.sourceUrl"
          [tooltip]="'View on ' + s.displayType">
          {{ s.displayType + ':' + s.citationId }}
        </cvc-link-tag>
        @if (s.retractionNature && s.retractionDate && s.retractionReasons) {
          <cvc-retraction-status-tag
            [retractionNature]="s.retractionNature"
            [retractionDate]="s.retractionDate"
            [retractionReasons]="s.retractionReasons"
            [enablePopover]="false"></cvc-retraction-status-tag>
        }
      </ng-template>
      <nz-descriptions
        nzSize="small"
        [nzColumn]="2"
        nzBordered="true">
        <nz-descriptions-item
          nzTitle="Title"
          nzSpan="2">
          {{ s.title }}
        </nz-descriptions-item>
        <nz-descriptions-item
          nzTitle="Journal"
          nzSpan="2">
          {{ s.fullJournalTitle }}
        </nz-descriptions-item>
        <nz-descriptions-item
          nzTitle="Evidence"
          nzSpan="2">
          {{ s.evidenceItemCount }}
        </nz-descriptions-item>
        <nz-descriptions-item
          nzTitle="Clinical Trials:"
          nzSpan="2">
          @if (s.clinicalTrials && s.clinicalTrials.length > 0) {
            <cvc-tag-list>
              @for (t of s.clinicalTrials; track t) {
                <cvc-clinical-trial-tag
                  [clinicalTrial]="t"
                  [enablePopover]="false"></cvc-clinical-trial-tag>
              }
            </cvc-tag-list>
          } @else {
            --
          }
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-card>
  }
</div>
