<nz-page-header class="site-page-header">

  <!--title-->
  <nz-page-header-title>
    <i nz-icon nzType="civic:disease"></i>
    Diseases
    <span nz-typography nzType="secondary"  *ngIf="(isLoading$ | ngrxPush)">Loading...</span>
  </nz-page-header-title>

  <!--content-->
  <nz-page-header-content>
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <div class="content">
          <ng-container *ngIf="{ value: data$ | ngrxPush } as data">
            <nz-table #diseasesTable
              [nzData]="(diseases$ | ngrxPush)"
              [nzLoading]="(isLoading$ | ngrxPush)"
              [nzFrontPagination]="false"
              [nzShowPagination]="false"
              >
              <thead (nzSortOrderChange)="onSortChanged($event)" >
                <tr>
                  <th nzWidth="20%" [nzColumnKey]="sortColumns.Name" [nzSortFn]="true">
                    Name
                  </th>
                  <th nzWidth="20%" [nzColumnKey]="sortColumns.Doid" [nzSortFn]="true">
                    DOID
                  </th>
                  <th nzWidth="30%" [nzColumnKey]="sortColumns.GeneNames" [nzSortFn]="true">
                    Genes
                  </th>
                  <th nzWidth="10%" [nzColumnKey]="sortColumns.VariantCount" [nzSortFn]="true">
                    <i nz-icon nzType="civic:variant" nz-tooltip nzTooltipTitle="Variant Count"></i>
                  </th>
                  <th nzWidth="10%" [nzColumnKey]="sortColumns.EvidenceItemCount" [nzSortFn]="true">
                    <i nz-icon nzType="civic:evidence" nz-tooltip nzTooltipTitle="Evidence Count"></i>
                  </th>
                  <th nzWidth="10%" [nzColumnKey]="sortColumns.AssertionCount" [nzSortFn]="true">
                    <i nz-icon nzType="civic:assertion" nz-tooltip nzTooltipTitle="Assertion Count"></i>
                  </th>
                </tr>
                <tr>
                  <th>
                    <cvc-clearable-text-filter [(inputModel)]="nameInput" placeholderText="Name" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                  </th>
                  <th>
                    <cvc-clearable-text-filter [(inputModel)]="doidInput" placeholderText="DOID" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                  </th>
                  <th>
                    <cvc-clearable-text-filter [(inputModel)]="geneNameInput" placeholderText="Gene Name" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                  </th>
                  <th>
                  </th>
                  <th>
                  </th>
                  <th>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of diseasesTable.data">
                  <td>
                    <a routerLink="/diseases/{{d.id}}">{{ d.name }}</a>
                  </td>
                  <td>
                    {{ d.doid }}
                  </td>
                  <td>
                    <p nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="3">
                      <span *ngFor="let gene of d.geneNames; last as isLast" >
                        {{ gene }}{{ isLast ? '' : ', ' }}
                      </span>
                    </p>
                  </td>
                  <td>
                    {{ d.variantCount }}
                  </td>
                  <td>
                    {{ d.evidenceItemCount }}
                  </td>
                  <td>
                    {{ d.assertionCount }}
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </ng-container>
          <ng-template #loadingTemplate><i nz-icon nzType="loading"></i></ng-template>
        </div>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>

<ng-container *ngrxLet="pageInfo$ as pageInfo">
  <button *ngIf="pageInfo.hasNextPage" nz-button (click)="loadMore(pageInfo.endCursor)">Load More</button>
</ng-container>