<nz-select nzShowSearch
  nzServerSearch
  [formControl]="formControl"
  [formlyAttributes]="field"
  [nzPlaceHolder]="!to.placeholder ? null : to.placeholder"
  [nzNotFoundContent]="notFound"
  [nzShowArrow]="false"
  (nzOnSearch)="to.onSearch($event)">
  <ng-container *ngrxLet="this.drugs$ as drugs">
    <nz-option *ngFor="let opt of drugs"
      nzCustomContent
      [nzLabel]="opt.tooltip"
      [nzValue]="opt.drug">
      {{ opt.label }}
      <ng-container *ngIf="opt.drug.drugAliases.length > 0">
        <span nz-typography
          nzType="secondary">
          Aliases: {{ opt.drug.drugAliases.join(', ') }}
        </span>
      </ng-container>
    </nz-option>
  </ng-container>
</nz-select>

<ng-template #notFound>
  <!-- prompt user to enter search string if none entered, or it is of insufficient length -->
  <ng-container [ngSwitch]="to.searchLength >= 0 && to.searchLength >= to.minSearchLength">
    <div *ngSwitchCase="false"
      class="ant-form-item-explain">
      Search for diseases known to CIViC.
    </div>
    <!-- if valid search, but no results returned, show notice -->
    <!-- TODO: create component to search for and/or add new drugs  -->
    <div *ngSwitchCase="true" class="ant-form-item-explain">
      No disease found in CIViC that matches {{ to.searchString }}
    </div>
  </ng-container>
</ng-template>
