<div id="popover-content">
  <ng-container *ngIf="disease$ | ngrxPush as d" >
    <nz-card [nzTitle]="cardTitle" nzBordered="false"
      id="card-content"
      [nzExtra]="linkout">
      <ng-template #cardTitle>
      <i nz-icon nzType="civic-disease" nzTheme="twotone" nzTwotoneColor="#E62F76"></i>
         {{ d.name }}
      </ng-template>
      <ng-template #linkout>
        <cvc-link-tag-r [href]="d.diseaseUrl" tooltip="View on disease-ontology.org">
          DOID: {{ d.doid }}
        </cvc-link-tag-r>
      </ng-template>
      <nz-descriptions nzSize="small"
        [nzColumn]="1"
        nzBordered="true">

        <nz-descriptions-item nzTitle="Assertions" nzSpan="1">
          {{d.assertionCount}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Evidence" nzSpan="1">
          {{d.evidenceItemCount}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Variants" nzSpan="1">
          {{d.variantCount}}
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-card>
  </ng-container>
</div>
