@if (variantGroup$ | ngrxPush; as variantGroup) {
  <nz-space
    nzSize="middle"
    nzDirection="vertical"
    class="space-align-block">
    <!-- variantGroup description, details row -->
    <nz-row
      [nzGutter]="16"
      *nzSpaceItem>
      <!-- variantGroup description, sources col -->
      <nz-col nzSpan="12">
        <nz-space nzDirection="vertical">
          <!-- description, sources -->
          <nz-descriptions
            nzLayout="vertical"
            nzSize="small"
            nzBordered="true"
            [nzColumn]="1"
            *nzSpaceItem>
            <!-- description -->
            <nz-descriptions-item nzTitle="Description">
              @if (variantGroup.description) {
                <p
                  nz-typography
                  nzEllipsis
                  nzExpandable
                  [nzEllipsisRows]="14">
                  {{ variantGroup.description }}
                </p>
              } @else {
                <cvc-empty-revisable notification="No description provided">
                </cvc-empty-revisable>
              }
              <!-- noDescription Tpl -->
            </nz-descriptions-item>
          </nz-descriptions>
        </nz-space>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-space nzDirection="vertical">
          <nz-descriptions
            nzLayout="vertical"
            nzSize="small"
            nzBordered="true"
            [nzColumn]="1"
            *nzSpaceItem>
            <!-- sources -->
            <nz-descriptions-item nzTitle="Sources">
              @if (variantGroup.sources.length > 0) {
                <cvc-tag-list>
                  @for (source of variantGroup.sources; track source) {
                    <cvc-source-tag [source]="source"></cvc-source-tag>
                  }
                </cvc-tag-list>
              } @else {
                <span
                  nz-typography
                  nzType="secondary"
                  >None specified</span
                >
              }
            </nz-descriptions-item>
          </nz-descriptions>
        </nz-space>
      </nz-col>
    </nz-row>
    <!-- variant menu row -->
    <nz-row
      [nzGutter]="16"
      *nzSpaceItem>
      <nz-col [nzSpan]="24">
        <ng-container *ngrxLet="variantGroup$ as variantGroup">
          <cvc-variants-table
            [variantGroupId]="variantGroup?.id"
            cvcTitle="Variants in Variant Group {{
              variantGroup?.name
            }}"></cvc-variants-table>
        </ng-container>
      </nz-col>
    </nz-row>
  </nz-space>
}
