<nz-card nzType="inner" nzTitle="Add a Comment">
  <form nz-form
    [formGroup]="addCommentForm"
    (ngSubmit)="submitComment(addCommentForm.value)"
    nzLayout="vertical">
    <nz-form-item>
      <!-- <nz-form-label nzRequired>Comment</nz-form-label> -->
      <nz-form-control nzErrorTip="Please enter comment text.">
        <textarea formControlName="body" nz-input rows="4" placeholder="Add your comment here."></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <cvc-org-selector-btn
          [organizations]="(viewer$ | async)?.organizations"
          [mostRecentOrgId]="1">
          <button nz-button nzType="primary">Submit</button>
        </cvc-org-selector-btn>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
