@if (gene) {
  <nz-row [nzGutter]="[8, 8]">
    <!-- gene description, sources block -->
    <nz-col nzSpan="24">
      <!-- description, sources -->
      <nz-descriptions
        nzLayout="vertical"
        nzSize="small"
        nzBordered="true"
        [nzColumn]="1">
        <!-- description -->
        <nz-descriptions-item nzTitle="Description">
          @if (gene.description) {
            <p
              nz-typography
              nzEllipsis
              nzExpandable
              [nzEllipsisRows]="8">
              {{ gene.description }}
            </p>
          } @else {
            <cvc-empty-revisable notification="No description provided">
            </cvc-empty-revisable>
          }
          <!-- noDescription Tpl -->
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-col>
    <!-- sources, aliases, resource block -->
    <nz-col nzSpan="24">
      <nz-descriptions
        nzLayout="horizontal"
        nzSize="small"
        [nzColumn]="1"
        nzBordered="true">
        <!-- sources -->
        <nz-descriptions-item nzTitle="Sources">
          @if (gene.sources.length > 0) {
            <cvc-tag-list>
              @for (source of gene.sources; track source) {
                <cvc-source-tag [source]="source"></cvc-source-tag>
              }
            </cvc-tag-list>
          } @else {
            <span
              nz-typography
              nzType="secondary"
              >None specified</span
            >
          }
        </nz-descriptions-item>
        <!-- aliases -->
        @if (gene.featureAliases.length > 0) {
          <nz-descriptions-item nzTitle="Aliases">
            @for (alias of gene.featureAliases; track alias) {
              <nz-tag>{{ alias }}</nz-tag>
            }
          </nz-descriptions-item>
        } @else {
          <span
            nz-typography
            nzType="secondary"
            >None specified</span
          >
        }
        <!-- resource links -->
        <nz-descriptions-item nzTitle="Resources">
          <cvc-tag-list>
            <cvc-link-tag
              [href]="
                'https://dgidb.org/results?searchType=gene&searchTerms=' +
                gene.name
              "
              [tooltip]="'View ' + gene.name + ' on DGIdb'">
              DGIdb
            </cvc-link-tag>
            <cvc-link-tag
              [href]="
                'https://proteinpaint.stjude.org/?genome=hg19&gene=' +
                gene.name +
                '&dataset=CIViC'
              "
              [tooltip]="'View ' + gene.name + ' on ProteinPaint'">
              ProteinPaint
            </cvc-link-tag>
          </cvc-tag-list>
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-col>
  </nz-row>
}
