<nz-timeline *ngIf="events?.length">
  <ng-container *ngFor="let event of events">
    <nz-timeline-item
      [nzDot]="timelineDotTemplate">
    <ng-template #timelineDotTemplate>
      <cvc-user-avatar [user]="event.originatingUser"
        size="small"></cvc-user-avatar>

      <!-- <ng-container *ngIf="iconColorForEventAction(event.action) !== 'default'; else defaultPrimaryColor">
           <i nz-icon
           [nzType]="iconNameForEventAction(event.action)"
           [nzTwotoneColor]="iconColorForEventAction(event.action)"
           nzTheme="twotone"
           class="item-icon"></i>
           </ng-container>
           <ng-template #defaultPrimaryColor>
           <i nz-icon
           [nzType]="iconNameForEventAction(event.action)"
           nzTheme="twotone"
           class="item-icon"></i>
           </ng-template> -->
    </ng-template>
    <nz-card nzBordered="false"
      [nzTitle]="eventCardTitle"
      [nzExtra]="eventCardExtra"
      class="event-feed-card">

      <ng-template #eventCardTitle>

        <!-- user tag -->
        <cvc-user-tag [user]="event.originatingUser"></cvc-user-tag>

        <!-- event action -->
        <span nz-typography>{{ verbiageForEvent(event) }}&nbsp;</span>

        <!-- event subject -->
        <ng-container [ngSwitch]="event.subject.__typename">
          <ng-container *ngSwitchCase="'Gene'">
            <cvc-gene-tag [gene]="event.subject"></cvc-gene-tag>
          </ng-container>
          <ng-container *ngSwitchCaseDefault>{{ event.subject.name }}</ng-container>
        </ng-container>

        <!-- user organization -->
        <ng-container *ngIf="event.organization">
          <span nz-typography>on behalf of&nbsp;</span>
          <cvc-org-tag [org]="event.organization"></cvc-org-tag>
        </ng-container>
      </ng-template>

      <!-- timestamp template -->
      <ng-template #eventCardExtra>
        {{ event.createdAt | timeago }}
      </ng-template>
    </nz-card>

    <!-- <div class="event-feed-item">
         <nz-divider nz-tooltip
         [nzTooltipTitle]="event.createdAt | date"
         nzTooltipPlacement="topRight"
         [nzText]="event.createdAt | timeago"
         nzPlain="true"
         nzOrientation="right"></nz-divider>
         <nz-space>
         <nz-space-item>
         <cvc-user-pill [user]="event.originatingUser"></cvc-user-pill>
         </nz-space-item>
         <nz-space-item>
         <span>{{ verbiageForEvent(e) }}</span>
         </nz-space-item>
         <nz-space-item>
         <ng-container [ngSwitch]="event.subject.__typename">
         <span *ngSwitchCase="'Gene'"><cvc-gene-pill [gene]="event.subject"></cvc-gene-pill></span>
         <span *ngSwitchDefault>{{ event.subject.name }}</span>
         </ng-container>
         </nz-space-item>
         <nz-space-item>
         <span *ngIf="event.organization"> on behalf of <cvc-org-pill [org]="event.organization"></cvc-org-pill>
         </span>
         </nz-space-item>
         </nz-space>
         </div> -->
    <!-- <ng-container *ngIf="event.originatingObject"
         [ngSwitch]="event.originatingObject.__typename">
         <nz-card *ngSwitchCase="'Comment'"> {{ event.originatingObject.comment }} </nz-card>
         <nz-card *ngSwitchCase="'Flag'"> {{ commentForFlagEvent(e) }} </nz-card>
         <nz-card *ngSwitchCase="'Revision'">
         <cvc-user-pill [user]="event.originatingObject.revisor"></cvc-user-pill>
         {{ event.originatingObject.name }} to {{ event.originatingObject.linkoutData.name }}
         </nz-card>
         </ng-container> -->
  </nz-timeline-item>
  </ng-container>
</nz-timeline>
