:host {
  display: block;
}

:host ::ng-deep {
  .ant-timeline-item {
    .item-icon {
      font-size: 24px;
    }
  }
}

@event-feed-card-padding-top: .25em;
.event-feed-card ::ng-deep {
  width: 100%;
  .ant-card-head-title, .ant-card-extra {
    // remove card title  & extra padding so title is more or less centered w/ timeline's avatar circle
    padding-top: @event-feed-card-padding-top;
  }
  .ant-card-head {
    // reduce left padding so title is a bit closer to timeline avatar circle
    padding-left: .25em;
  }
}
