<nz-table #organizationsTable
  [nzData]="(organizations$ | ngrxPush)"
  [nzLoading]="(isLoading$ | ngrxPush)"
  [nzFrontPagination]="false"
  [nzShowPagination]="false">

  <thead (nzSortOrderChange)="onSortChanged($event)">
    <tr>
      <th nzWidth="25%"
        [nzColumnKey]="sortColumns.Name"
        [nzSortFn]="true">
        Name
      </th>
      <th>
        Members
      </th>
      <th>
        Sub Organizations
      </th>
      <th>
        Actions
      </th>
      <th>
        Last Action
      </th>
    </tr>
    <tr>
      <th>
        <cvc-clearable-input-filter [(inputModel)]="orgNameInput"
          placeholderText="Search Name"
          [onInputChanged]="textInputCallback"></cvc-clearable-input-filter>
      </th>
      <th>
      </th>
      <th>
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let organization of organizationsTable.data">
      <td>
        <cvc-organization-tag [org]="organization"></cvc-organization-tag>
      </td>
      <td>
        {{ organization.memberCount }}
      </td>
      <td>
        <cvc-tag-overflow [maxDisplayCount]="3" tagType='organization' [tags]="organization.subGroups"> </cvc-tag-overflow>
      </td>
      <td>
        {{ organization.eventCount }}
      </td>
      <td>
        <!--This field is nullable. probably needs and ngIf-->
        {{ organization.mostRecentEvent.createdAt}}
      </td>
    </tr>
  </tbody>
</nz-table>
