<!-- adjust nz-card's cvcAutoHeightCard to equalize padding around this table's container e.g. entity-home's nz-page-header components -->
<nz-card [nzTitle]="titleTemplate"
  [nzExtra]="extraTemplate"
  nzSize="small"
  [cvcAutoHeightCard]="35">
  <!-- adjust nz-table's cvcAutoHeightTable to ensure that table's column header rows are not clipped when table is scrolled to bottom -->
  <!-- nzVirtualItemSize can be determined by inspecting the row element in Dev tools, and noting the height calculated in its Styles tab. this probably shouldn't change much, if at all. -->
  <!-- nzScroll x value is set to the height of the rendered nz-table-inner-scroll element, and determines the height of the table before the auto-height directives resize them.  -->
  <!-- nzScroll y value has something to do with the width of the horizontal scrollable area between nzLeft and nzRight columns, but I have not figured out exactly how they're related. -->
  <nz-table #virtualTable
    nzSize="small"
    [cvcAutoHeightTable]="29"
    [nzVirtualItemSize]="29"
    [nzData]="organizations$ | ngrxPush"
    [nzLoading]="isLoading"
    [nzVirtualForTrackBy]="trackByIndex"
    [nzScroll]="{ x: '680px', y: '800px' }"
    [nzFrontPagination]="false"
    [nzShowPagination]="false">
    <thead (nzSortOrderChange)="onSortChanged($event)">
      <tr class="col-header-row">
        <th nzWidth="300px"
          nzLeft
          [nzColumnKey]="sortColumns.Name"
          [nzSortFn]="true">
          Organization
        </th>
        <th nzWidth="100px">
          Members
        </th>
        <th nzWidth="320px">
          Sub Organizations
        </th>
        <th nzWidth="80px" nzRight nzAlign="right">
          Actions
        </th>
        <th nzWidth="125px" nzRight nzAlign="right">
          Last Action
        </th>
      </tr>
      <tr>
        <th nzLeft>
          <cvc-clearable-input-filter [(inputModel)]="orgNameInput"
            placeholderText="Search Name"
            [onInputChanged]="textInputCallback"></cvc-clearable-input-filter>
        </th>
        <th>
        </th>
        <th>
        </th>
        <th nzRight>
        </th>
        <th nzRight>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template nz-virtual-scroll
        let-organization
        let-index="index">
        <tr class="data-row">
        <tr>
          <td nzLeft>
            <cvc-organization-tag [org]="organization"></cvc-organization-tag>
          </td>
          <td>
            {{ organization.memberCount | number }}
          </td>
          <td>
            <cvc-tag-overflow [maxDisplayCount]="1" tagType='organization' [tags]="organization.subGroups"> </cvc-tag-overflow>
          </td>
          <td nzRight nzAlign="right">
            {{ organization.eventCount | number}}
          </td>
          <td nzRight nzAlign="right">
            {{ organization.mostRecentEvent?.createdAt | timeago }}
          </td>
        </tr>
      </ng-template>
      <!-- Load More button row -->
      <ng-container *ngrxLet="pageInfo$ as pageInfo">
        <tr *ngIf="pageInfo.hasNextPage">
          <td colspan="7">
            <button *ngIf="pageInfo.hasNextPage"
              (click)="loadMore(pageInfo.endCursor)"
              nz-button
              nzBlock>Load {{this.fetchMorePageSize}} More</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #titleTemplate>
  <i nz-icon nzType="civic:organization"></i>
  <ng-container *ngIf="this.cvcTitleTemplate">
    <ng-template [ngTemplateOutlet]="cvcTitleTemplate"></ng-template>
  </ng-container>
  <ng-container *ngIf="this.cvcTitle">
    {{ this.cvcTitle }}
  </ng-container>
  <span *ngIf="(filteredCount$ | ngrxPush) as filteredCount; else noData" nz-typography nzType="secondary">
    ({{totalCount}} total, showing {{visibleCount}}<span *ngIf="totalCount && filteredCount < totalCount"> of {{filteredCount}} filtered</span>)
  </span>
  <ng-template #noData>
    <span nz-typography nzType="secondary">
      (0 total)
    </span>
  </ng-template>
</ng-template>

<ng-template #extraTemplate>
  <nz-tag nzColor="warning"
    *ngIf="noMoreRows$ | ngrxPush">
    <i nz-icon
      nzType="exclamation-circle"></i>
    <span>End of results reached</span>
  </nz-tag>
</ng-template>
