@if (molecularProfile$ | ngrxPush; as mp) {
  <cvc-section-navigation
    [displayName]="mp.name"
    [actionsTpl]="mpActions">
  </cvc-section-navigation>
  <ng-template #mpActions>
    <ng-container *ngrxLet="viewer$ as viewer">
      @if (viewer.canCurate) {
        <button
          routerLink="/evidence/add/submit"
          [queryParams]="{ molecularProfileId: mp.id }"
          nz-button
          nzSize="small">
          <i
            nz-icon
            nzType="plus-circle"></i>
          Add Evidence For This Molecular Profile
        </button>
      }
    </ng-container>
  </ng-template>
  <div
    cvcFlaggable
    [flags]="flagsTotal$ | ngrxPush">
    <nz-page-header class="site-page-header">
      <!-- title -->
      <nz-page-header-title
        cvcFlaggableOptions
        [ngClass]="{ flagged: mp.flags.totalCount > 0 }">
        <i
          nz-icon
          nzType="civic:molecularprofile"></i>
        {{ mp.name }}
      </nz-page-header-title>
      <!-- subtitle -->
      @if (mp.molecularProfileAliases.length > 0) {
        <nz-page-header-subtitle>
          @for (
            alias of mp.molecularProfileAliases;
            track alias;
            let isLast = $last
          ) {
            <span>
              {{ alias }}
              @if (!isLast) {
                <span>,&nbsp;</span>
              }
            </span>
          }
        </nz-page-header-subtitle>
      }
      <!-- header action btns, actions menu -->
      <nz-page-header-extra *ngrxLet="viewer$ as viewer">
        <nz-space
          nzDirection="horizontal"
          nzSize="small"
          *ngrxLet="viewer$ as viewer">
          <!-- add revision btn -->
          <span *nzSpaceItem>
            @if (viewer.signedIn) {
              <button
                [routerLink]="['/molecular-profiles', mp.id, 'revise']"
                routerLinkActive
                #rlaComments="routerLinkActive"
                [nzType]="rlaComments.isActive ? 'primary' : 'default'"
                nz-button
                nzSize="small">
                Revise
              </button>
            }
          </span>
          <!-- add flag btn -->
          <!-- TODO implement as flag form within popover window -->
          <span *nzSpaceItem>
            @if (viewer.signedIn) {
              <button
                routerLink="flags"
                routerLinkActive
                #rlaComments="routerLinkActive"
                [nzType]="rlaComments.isActive ? 'primary' : 'default'"
                nz-button
                nzSize="small">
                Flag
              </button>
            }
          </span>
          <!-- deprecate molecular profile btn -->
          <span *nzSpaceItem>
            @if (viewer.isEditor) {
              <button
                nz-button
                nzSize="small"
                [disabled]="mp.deprecated || mp.variants.length == 1"
                nz-popover
                nzPopoverTitle="Deprecate Molecular Profile"
                nzPopoverTrigger="click"
                [nzPopoverContent]="deprecateMolecularProfileForm"
                nzPopoverPlacement="bottomRight">
                Deprecate
                <ng-template #deprecateMolecularProfileForm>
                  <div class="deprecateMolecularProfile">
                    <cvc-complex-molecular-profile-deprecate-form
                      [molecularProfileId]="
                        mp.id
                      "></cvc-complex-molecular-profile-deprecate-form>
                  </div>
                </ng-template>
              </button>
            }
          </span>
          <span *nzSpaceItem>
            @if (viewer.signedIn && subscribable) {
              <cvc-entity-subscription-button
                [viewer]="viewer"
                [subscribableId]="subscribable.id"
                typename="MolecularProfile">
              </cvc-entity-subscription-button>
            }
          </span>
        </nz-space>
      </nz-page-header-extra>
      <nz-page-header-content>
        @if (mp.deprecated) {
          <nz-alert
            nzBanner
            [nzMessage]="deprecationMessageTemplate"
            nzType="error"></nz-alert>
        }
        <ng-template #deprecationMessageTemplate>
          @if (mp.deprecationReason == 'VARIANT_DEPRECATED') {
            This Molecular Profile has been deprecated because one or more of
            its underlying variants are deprecated
            @for (v of mp.deprecatedVariants; track v) {
              <br />
              <cvc-feature-variant-tag [variant]="v"></cvc-feature-variant-tag>
              {{ v.deprecationReason | enumToTitle }}.
              @if (v.deprecationActivity) {
                <cvc-comment-body
                  [commentBodySegments]="
                    v.deprecationActivity.parsedNote
                  "></cvc-comment-body>
              }
            }
          } @else {
            This Molecular Profile has been deprecated for reason:
            {{ mp.deprecationReason | enumToTitle }}.
            <cvc-comment-body
              [commentBodySegments]="
                mp.complexMolecularProfileDeprecationActivity?.parsedNote || []
              "></cvc-comment-body>
          }
        </ng-template>
        <cvc-tab-navigation [tabs]="tabs$ | ngrxPush">
          <ng-template #tabBarExtraContent>
            <nz-col id="contributors-col">
              <cvc-contributor-avatars
                [subscribable]="subscribable"></cvc-contributor-avatars>
            </nz-col>
          </ng-template>
        </cvc-tab-navigation>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </nz-page-header-content>
    </nz-page-header>
  </div>
}
