<nz-card [nzTitle]="titleTemplate">
  <nz-table #sourcesTable
    nzSize="small"
    [nzData]="(sources$ | ngrxPush)"
    [nzLoading]="(isLoading$ | ngrxPush)"
    [nzFrontPagination]="false"
    [nzShowPagination]="false">
    <thead (nzSortOrderChange)="onSortChanged($event)">
      <tr>
        <th nzWidth="15%">
          Citation
        </th>
        <th [nzColumnKey]="sortColumns.SourceType"
          [nzSortFn]="true">
          Source Type
        </th>
        <th [nzColumnKey]="sortColumns.CitationId"
          [nzSortFn]="true">
          ID
        </th>
        <th nzWidth="25%" [nzColumnKey]="sortColumns.Name"
          [nzSortFn]="true">
          Name
        </th>
        <th [nzColumnKey]="sortColumns.Authors"
          [nzSortFn]="true">
          Authors
        </th>
        <th [nzColumnKey]="sortColumns.Year"
          [nzSortFn]="true">
          Year
        </th>
        <th [nzColumnKey]="sortColumns.Journal"
          [nzSortFn]="true">
          Journal
        </th>
        <th nzRight
          [nzColumnKey]="sortColumns.EvidenceCount"
          [nzSortFn]="true"
          nz-tooltip
          nzTooltipTitle="Evidence Count">
          <i nz-icon nzType="civic:evidence"></i>
        </th>
      </tr>
      <tr>
        <th></th>
        <th>
          <nz-select nzAllowClear
            nzPlaceHolder="Choose"
            (ngModelChange)="onModelChanged()"
            [(ngModel)]="sourceTypeInput">
            <nz-option nzValue="PUBMED"
              nzLabel="PubMed"></nz-option>
            <nz-option nzValue="ASCO"
              nzLabel="ASCO"></nz-option>
          </nz-select>
        </th>
        <th>
          <cvc-clearable-input-filter [(inputModel)]="citationIdInput"
            placeholderText="ID"
            [onInputChanged]="textInputCallback"></cvc-clearable-input-filter>
        </th>
        <th>
          <cvc-clearable-input-filter [(inputModel)]="nameInput"
            placeholderText="Name"
            [onInputChanged]="textInputCallback"></cvc-clearable-input-filter>
        </th>
        <th>
          <cvc-clearable-input-filter [(inputModel)]="authorInput"
            placeholderText="Authors"
            [onInputChanged]="textInputCallback"></cvc-clearable-input-filter>
        </th>
        <th>
          <cvc-clearable-input-filter [(inputModel)]="yearInput"
            placeholderText="Year"
            [onInputChanged]="textInputCallback"></cvc-clearable-input-filter>
        </th>
        <th>
          <cvc-clearable-input-filter [(inputModel)]="journalInput"
            placeholderText="Journal"
            [onInputChanged]="textInputCallback"></cvc-clearable-input-filter>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let source of sourcesTable.data">
        <td>
          <cvc-source-tag [source]="source"></cvc-source-tag>
        </td>
        <td>
          {{ source.displayType }}
        </td>
        <td>
          {{ source.citationId}}
        </td>
        <td>
          {{ source.name }}
        </td>
        <td>
          <cvc-plain-tag-overflow
          [tags]="source.authors"
          [matchingText]="authorInput"> </cvc-plain-tag-overflow>
        </td>
        <td>
          {{ source.publicationYear }}
        </td>
        <td>
          {{ source.journal }}
        </td>
        <td nzRight>{{source.evidenceItemCount}}</td>
      </tr>
      <!-- Load More button row -->
      <ng-container *ngrxLet="pageInfo$ as pageInfo">
        <tr *ngIf="pageInfo.hasNextPage">
          <td colspan="8">
            <button *ngIf="pageInfo.hasNextPage"
              (click)="loadMore(pageInfo.endCursor)"
              nz-button
              nzBlock>Load {{this.pageSize}} More</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #titleTemplate>
  <i nz-icon nzType="civic:source"></i>
  <ng-container *ngIf="this.cvcTitleTemplate">
    <ng-template [ngTemplateOutlet]="cvcTitleTemplate"></ng-template>
  </ng-container>
  <ng-container *ngIf="this.cvcTitle">
    {{ this.cvcTitle }}
  </ng-container>
  <span *ngIf="(filteredCount$ | ngrxPush) as filteredCount; else noData" nz-typography nzType="secondary">
    ({{totalCount}} total, showing {{visibleCount}}<span *ngIf="totalCount && filteredCount < totalCount"> of {{filteredCount}} filtered</span>)
  </span>
  <ng-template #noData>
    <span nz-typography nzType="secondary">
      (0 total)
    </span>
  </ng-template>
</ng-template>
