<nz-list
  [nzDataSource]="endorsements$ | ngrxPush"
  [nzLoading]="loading$ | ngrxPush"
  [nzRenderItem]="endorsement"
  nzSize="small"
  nzItemLayout="vertical">
  <ng-template
    #endorsement
    let-endorsement>
    <nz-list-item [nzExtra]="itemExtra">
      <nz-list-item-meta
        [nzAvatar]="itemAvatar"
        [nzTitle]="itemTitle"
        [nzDescription]="itemDescription">
      </nz-list-item-meta>
    </nz-list-item>
    <ng-template #itemAvatar>
      <div class="organization-image-container">
        <img
          class="organization-image"
          src="{{ endorsement.organization.profileImagePath }}" />
      </div>
    </ng-template>
    <ng-template #itemTitle>
      <span class="endorsement-title">
        Endorsed by {{ endorsement.organization.name }}
      </span>
    </ng-template>
    <ng-template #itemDescription>
      <span
        nz-typography
        nzType="secondary"
        class="endorsement-details">
        @switch (endorsement.status) {
          @case ('ACTIVE') {
            <strong>AID{{ assertionId }}</strong> has been endorsed by
            <strong>{{ endorsement.organization.name }}</strong> under the
            authority of editor
            <strong>
              {{ endorsement.user.displayName }} </strong
            >.
          }
          @case ('REVOKED') {
            <strong>AID{{ assertionId }}</strong> endorsement has been revoked
            by <strong>{{ endorsement.organization.name }}</strong> under the
            authority of editor
            <strong> {{ endorsement.user.displayName }} </strong>.
          }
          @case ('REQUIRES_REVIEW') {
            <strong>AID{{ assertionId }}</strong> post-endorsement changes
            <strong>require review by an endorsing editor.</strong>
          }
        }
      </span>
      @if (endorsement.status == 'REQUIRES_REVIEW') {
        <nz-collapse [nzBordered]="false">
          <nz-collapse-panel nzHeader="Show Unendorsed Changes">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
              quos. Adipisci accusamus doloremque quaerat quos quibusdam.
            </p>
          </nz-collapse-panel>
        </nz-collapse>
      }
    </ng-template>
    <ng-template #itemExtra>
      <cvc-endorsement-status-tag
        [cvcEndorsement]="endorsement"></cvc-endorsement-status-tag>
    </ng-template>
  </ng-template>
  <ng-container *ngIf="pageInfo$ | ngrxPush as pageInfo">
    <nz-list-footer *ngIf="pageInfo.hasNextPage">
      <div nz-list-load-more>
        <button
          nz-button
          nzType="link"
          nzSize="small"
          nzBlock
          (click)="onLoadMore(pageInfo.startCursor)">
          Load more
        </button>
      </div>
    </nz-list-footer>
  </ng-container>
</nz-list>
