@import 'ng-zorro-antd/style/color/colors.less';
:host {
  display: block;
}

.active {
  background-color: @gold-1;
  border: 1px solid @gold-4;
  color: @gold-8;
}

.revoked {
  background-color: @red-1;
  border: 1px solid @red-5;
  color: @red-8;
}

.review {
  background-color: @geekblue-1;
  border: 1px solid @geekblue-5;
  color: @geekblue-8;
}

// nz-list-header {
//   padding: 0;
//   margin: 0;
//   [nz-list-load-more] {
//     margin-top: -0.5em;
//     padding-bottom: 0.5em;
//   }
// }
