<nz-list
  [nzDataSource]="endorsements$ | ngrxPush"
  [nzLoading]="loading$ | ngrxPush"
  [nzRenderItem]="endorsement"
  nzSize="small"
  nzItemLayout="vertical">
  <ng-template
    #endorsement
    let-endorsement>
    <nz-list-item [nzExtra]="itemExtra">
      <nz-list-item-meta
        [nzAvatar]="itemAvatar"
        [nzTitle]="itemTitle"
        [nzDescription]="itemDescription">
      </nz-list-item-meta>
    </nz-list-item>
    <ng-template #itemAvatar>
      <div class="organization-image-container">
        <img
          class="organization-image"
          src="{{ endorsement.organization.profileImagePath }}" />
      </div>
    </ng-template>
    <ng-template #itemTitle>
      <span class="endorsement-title">
        Endorsed by {{ endorsement.organization.name }}
      </span>
    </ng-template>
    <ng-template #itemDescription>
      <!-- endorsement summary -->
      <span
        nz-typography
        nzType="secondary"
        class="endorsement-summary">
        @switch (endorsement.status) {
          @case ('ACTIVE') {
            <strong>AID{{ assertionId }}</strong> has been endorsed by
            <strong>{{ endorsement.organization.name }}</strong> under the
            authority of editor
            <strong> {{ endorsement.user.displayName }}.</strong>
          }
          @case ('REVOKED') {
            <strong>AID{{ assertionId }}</strong> endorsement has been revoked
            by <strong>{{ endorsement.organization.name }}</strong> under the
            authority of editor
            <strong> {{ endorsement.user.displayName }}.</strong>
          }
          @case ('REQUIRES_REVIEW') {
            Post-endorsement changes to
            <strong>AID{{ assertionId }}</strong> require
            <strong>review by an endorsing editor.</strong>
          }
        }
      </span>
      @switch (endorsement.status) {
        @case ('ACTIVE') {
          <nz-collapse [nzBordered]="false">
            <nz-collapse-panel
              nzHeader="Show Endorsement Details"
              [nzExtra]="statusTag">
              <div
                nz-flex
                nzVertical
                [nzGap]="8">
                <ng-container
                  *ngTemplateOutlet="endorsementDetails"></ng-container>
              </div>
            </nz-collapse-panel>
          </nz-collapse>
        }
        @case ('REVOKED') {
          <nz-collapse [nzBordered]="false">
            <nz-collapse-panel
              nzHeader="Show Revocation Details"
              [nzExtra]="statusTag">
              <div
                nz-flex
                nzVertical
                [nzGap]="8">
                <ng-container
                  *ngTemplateOutlet="endorsementDetails"></ng-container>
              </div>
            </nz-collapse-panel>
          </nz-collapse>
        }
        @case ('REQUIRES_REVIEW') {
          <nz-collapse [nzBordered]="false">
            <nz-collapse-panel
              nzHeader="Show Unendorsed Changes"
              [nzExtra]="statusTag">
              <div
                nz-flex
                nzVertical
                [nzGap]="8">
                <ng-container
                  *ngTemplateOutlet="endorsementDetails"></ng-container>
                <div
                  class="revisions-container"
                  #revisionsContainer>
                  <cvc-activity-feed
                    [cvcFilters]="feedFilters(endorsement)"
                    [cvcSettings]="feedSettings()"
                    [cvcShowFilters]="false"
                    [cvcAutoHeightTarget]="revisionsContainer"
                    [cvcAutoHeightOffset]="-40"
                    cvcTitle="Unendorsed Changes"></cvc-activity-feed>
                </div>
              </div>
            </nz-collapse-panel>
          </nz-collapse>
        }
      }
      <!-- status tag template -->
      <ng-template #statusTag>
        Endorsement Status:
        @switch (endorsement.status) {
          @case ('ACTIVE') {
            <nz-tag nzColor="success"> Active </nz-tag>
          }
          @case ('REQUIRES_REVIEW') {
            <nz-tag nzColor="processing"> Unreviewed </nz-tag>
          }
          @case ('REVOKED') {
            <nz-tag nzColor="error"> Revoked </nz-tag>
          }
        }
      </ng-template>
      <!-- details template-->
      <ng-template #endorsementDetails>
        <nz-descriptions
          nzBordered
          nzLayout="horizontal"
          nzSize="small"
          [nzColumn]="2">
          <nz-descriptions-item nzTitle="Endorsing Organization">
            <cvc-organization-tag
              [org]="endorsement.organization"
              [enablePopover]="false"></cvc-organization-tag>
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Endorsed by">
            <cvc-user-tag
              [user]="endorsement.user"
              [enablePopover]="false"></cvc-user-tag>
            <span
              nz-typography
              nzType="secondary">
              {{ endorsement.lastReviewed | timeAgo }}
            </span>
          </nz-descriptions-item>
        </nz-descriptions>
      </ng-template>
    </ng-template>
    <!-- endorsement status & action button -->
    <ng-template #itemExtra> </ng-template>
  </ng-template>
  <ng-container *ngIf="pageInfo$ | ngrxPush as pageInfo">
    <nz-list-footer *ngIf="pageInfo.hasNextPage">
      <div nz-list-load-more>
        <button
          nz-button
          nzType="link"
          nzSize="small"
          nzBlock
          (click)="onLoadMore(pageInfo.startCursor)">
          Load more
        </button>
      </div>
    </nz-list-footer>
  </ng-container>
</nz-list>
