@input-height: 16px;
:host {
  display: block;
  height: @input-height+ 6px;
  ::ng-deep nz-input-group {
    padding: 2px;
    height: @input-height + 6px;
    input {
      height: 16px;
    }
  }
}
