@import 'global-variables.less';

:host {
  display: block;
}

#variant-filters {

  #name-filter-group {
    width: 175px;
  }

  nz-form-item:last-child {
    margin-right: 0;
  }
}

#variant-tags {
  cvc-variant-pill {
    margin-bottom: @default-padding-xs;
  }
  margin-bottom: @default-padding-xs;
}
