<nz-card [nzTitle]="titleTemplate">
  <nz-table #phenotypesTable
    nzSize="small"
    [nzData]="(phenotypes$ | ngrxPush)"
    [nzLoading]="(isLoading$ | ngrxPush)"
    [nzFrontPagination]="false"
    [nzShowPagination]="false">

    <thead (nzSortOrderChange)="onSortChanged($event)">
      <tr>
        <th nzWidth="40%"
          [nzColumnKey]="sortColumns.Name"
          [nzSortFn]="true">
          Name
        </th>
        <th nzWidth="40%"
          [nzColumnKey]="sortColumns.HpoId"
          [nzSortFn]="true">
          HPO ID
        </th>
        <th nzWidth="10%"
          nzRight
          [nzColumnKey]="sortColumns.EvidenceItemCount"
          [nzSortFn]="true"
          [nzSortDirections]="['descend', 'ascend', null]"
          nz-tooltip
          nzTooltipTitle="Evidence Count">
          <i nz-icon nzType="civic:evidence"></i>
        </th>
        <th nzWidth="10%"
          nzRight
          [nzColumnKey]="sortColumns.AssertionCount"
          [nzSortFn]="true"
          [nzSortDirections]="['descend', 'ascend', null]"
          nz-tooltip
          nzTooltipTitle="Assertion Count">
          <i nz-icon nzType="civic:assertion"></i>
        </th>
      </tr>
      <tr>
        <th>
          <cvc-clearable-input-filter [(inputModel)]="hpoNameFilter"
            placeholderText="Search Name"
            [onInputChanged]="textInputCallback"></cvc-clearable-input-filter>
        </th>
        <th>
          <cvc-clearable-input-filter [(inputModel)]="hpoIdFilter"
            placeholderText="Search HPO ID"
            [onInputChanged]="textInputCallback"></cvc-clearable-input-filter>
        </th>
        <th>
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of phenotypesTable.data">
        <td>
          <cvc-phenotype-tag [phenotype]="p"></cvc-phenotype-tag>
        </td>
        <td>
          <cvc-link-tag *ngIf="p.hpoId; else noHpo"
            [href]="p.url"
            tooltip="View in the HPO">
            {{ p.hpoId }}
          </cvc-link-tag>
          <ng-template #noHpo>--</ng-template>
        </td>
        <td>
          {{ p.evidenceCount }}
        </td>
        <td>
          {{ p.assertionCount }}
        </td>
      </tr>
      <!-- Load More button row -->
      <ng-container *ngrxLet="pageInfo$ as pageInfo">
        <tr *ngIf="pageInfo.hasNextPage">
          <td colspan="7">
            <button *ngIf="pageInfo.hasNextPage"
              (click)="loadMore(pageInfo.endCursor)"
              nz-button
              nzBlock>Load {{this.initialPageSize}} More</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #titleTemplate>
  <i nz-icon nzType="civic:phenotype"></i>
  <ng-container *ngIf="this.cvcTitleTemplate">
    <ng-template [ngTemplateOutlet]="cvcTitleTemplate"></ng-template>
  </ng-container>
  <ng-container *ngIf="this.cvcTitle">
    {{ this.cvcTitle }}
  </ng-container>
  <span *ngIf="(filteredCount$ | ngrxPush) as filteredCount; else noData" nz-typography nzType="secondary">
    ({{totalCount}} total, showing {{visibleCount}}<span *ngIf="totalCount && filteredCount < totalCount"> of {{filteredCount}} filtered</span>)
  </span>
  <ng-template #noData>
    <span nz-typography nzType="secondary">
      (0 total)
    </span>
  </ng-template>
</ng-template>
