<!-- adjust nz-card's cvcAutoHeightCard to equalize padding around this table's container e.g. entity-home's nz-page-header components -->
<nz-card [nzTitle]="titleTemplate"
  [nzExtra]="extraTemplate"
  nzSize="small"
  cvcAutoHeightCard="35">
  <!-- adjust nz-table's cvcAutoHeightTable to ensure that table's column header rows are not clipped when table is scrolled to bottom -->
  <nz-table #virtualTable
    nzSize="small"
    [cvcAutoHeightTable]="25"
    [nzVirtualItemSize]="29"
    [nzData]="phenotypes$ | ngrxPush"
    [nzLoading]="isLoading"
    [nzVirtualForTrackBy]="trackByIndex"
    [nzScroll]="{ x: '400px', y: '800px' }"
    [nzFrontPagination]="false"
    [nzShowPagination]="false">
    <thead (nzSortOrderChange)="onSortChanged($event)">
      <tr class="col-header-row">
        <th nzWidth="350px"
          nzLeft
          [nzColumnKey]="sortColumns.Name"
          [nzSortFn]="true">
          Name
        </th>
        <th nzWidth="100%"
          [nzColumnKey]="sortColumns.HpoId"
          [nzSortFn]="true">
          HPO ID
        </th>
        <th nzWidth="75px"
          nzRight
          nzAlign="right"
          [nzColumnKey]="sortColumns.EvidenceItemCount"
          [nzSortFn]="true"
          [nzSortDirections]="['descend', 'ascend', null]"
          nz-tooltip
          nzTooltipTitle="Evidence Count">
          <i nz-icon nzType="civic:evidence"></i> Count
        </th>
        <th nzWidth="75px"
          nzRight
          nzAlign="right"
          [nzColumnKey]="sortColumns.AssertionCount"
          [nzSortFn]="true"
          [nzSortDirections]="['descend', 'ascend', null]"
          nz-tooltip
          nzTooltipTitle="Assertion Count">
          <i nz-icon nzType="civic:assertion"></i> Count
        </th>
      </tr>
      <tr class="filter-row">
        <th nzLeft>
          <cvc-clearable-input-filter [(inputModel)]="hpoNameFilter"
            placeholderText="Search Name"
            [onInputChanged]="textInputCallback"></cvc-clearable-input-filter>
        </th>
        <th>
          <cvc-clearable-input-filter [(inputModel)]="hpoIdFilter"
            placeholderText="Search HPO ID"
            [onInputChanged]="textInputCallback"></cvc-clearable-input-filter>
        </th>
        <th nzRight>
        </th>
        <th nzRight>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template nz-virtual-scroll
        let-phenotype
        let-index="index">
        <tr class="data-row">
          <td nzLeft>
            <cvc-phenotype-tag [phenotype]="phenotype"></cvc-phenotype-tag>
          </td>
          <td>
            <cvc-link-tag *ngIf="phenotype.hpoId; else noHpo"
              [href]="phenotype.url">
              {{ phenotype.hpoId }}
            </cvc-link-tag>
            <ng-template #noHpo>--</ng-template>
          </td>
          <td nzRight nzAlign="right">
            {{ phenotype.evidenceCount }}
          </td>
          <td nzRight nzAlign="right">
            {{ phenotype.assertionCount }}
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #titleTemplate>
  <i nz-icon nzType="civic:phenotype"></i>
  <ng-container *ngIf="this.cvcTitleTemplate">
    <ng-template [ngTemplateOutlet]="cvcTitleTemplate"></ng-template>
  </ng-container>
  <ng-container *ngIf="this.cvcTitle">
    {{ this.cvcTitle }}
  </ng-container>
  <span *ngIf="(filteredCount$ | ngrxPush) as filteredCount; else noData" nz-typography nzType="secondary">
    ({{totalCount}} total, showing {{visibleCount}}<span *ngIf="totalCount && filteredCount < totalCount"> of {{filteredCount}} filtered</span>)
  </span>
  <ng-template #noData>
    <span nz-typography nzType="secondary">
      (0 total)
    </span>
  </ng-template>
</ng-template>

<ng-template #extraTemplate>
  <nz-tag nzColor="warning"
    *ngIf="noMoreRows$ | ngrxPush">
    <i nz-icon
      nzType="exclamation-circle"></i>
    <span>End of results reached</span>
  </nz-tag>
</ng-template>
