<nz-card
  [nzTitle]="cardTitle"
  nzSize="small">
  <nz-table
    #virtualTable
    *ngrxLet="tableData$ as data"
    [nzData]="data.rows"
    [nzScroll]="{ x: '100px', y: '500px' }"
    [nzVirtualForTrackBy]="trackByIndex"
    [nzVirtualItemSize]="29"
    [nzFrontPagination]="false"
    [nzLoading]="loading$ | ngrxPush"
    nzSize="small"
    (nzCheckedChange)="onCheckedChange$.next($event)"
    (nzQueryParams)="onParamsChange$.next($event)">
    <thead>
      <tr class="col-header-row">
        <th
          *ngFor="let col of data.cols"
          nzColumnKey="col.key"
          [nzSortFn]="col.sortFn || null">
          {{ col.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template
        nz-virtual-scroll
        let-row>
        <tr class="data-row">
          <td *ngFor="let col of data.cols">
            <!-- eid col -->
            <ng-container [ngSwitch]="col.key">
              <ng-container *ngSwitchCase="'id'">
                <cvc-entity-tag
                  [cvcCacheId]="'EvidenceItem:' + row.id"></cvc-entity-tag>
              </ng-container>
              <ng-container *ngSwitchCase="'molecularProfile'">
                <cvc-entity-tag
                  [cvcCacheId]="
                    'MolecularProfile:' + row.molecularProfile.id
                  "></cvc-entity-tag>
              </ng-container>
              <ng-container *ngSwitchCase="'disease'">
                <cvc-entity-tag
                  *ngIf="row.disease; else emptyCell"
                  [cvcCacheId]="'Disease:' + row.disease.id"></cvc-entity-tag>
              </ng-container>
              <ng-container *ngSwitchCase="'therapies'">
                <cvc-entity-tag
                  *ngFor="let therapy of row.therapies; else: emptyCell"
                  [cvcCacheId]="'Therapy:' + therapy.id"></cvc-entity-tag>
              </ng-container>
              <span *ngSwitchDefault>
                {{ row[col.key] }}
              </span>
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #emptyCell
  ><span
    nz-typeography
    nzType="secondary"
    >--</span
  ></ng-template
>
<ng-template #cardTitle> Evidence Manager </ng-template>
