<nz-card
  [nzTitle]="cardTitle"
  nzSize="small">
  <nz-table
    #virtualTable
    #columnTable
    #rowSelectionTable
    cvcTableScroller
    (cvcTableScrollerOnScroll)="scrollEvent$.next($event)"
    [cvcTableScrollerQueryRef]="queryRef"
    [cvcTableScrollerPageInfo]="pageInfo$ | ngrxPush"
    [cvcTableScrollerToIndex]="(scrollIndex$ | ngrxPush)!"
    *ngrxLet="row$ as data"
    [nzData]="data || []"
    [nzScroll]="{ x: '1024px', y: '200px' }"
    [nzVirtualForTrackBy]="trackByIndex"
    [nzVirtualItemSize]="28"
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
    [nzLoading]="loading$ | ngrxPush"
    nzSize="small"
    (nzQueryParams)="onParamsChange$.next($event)">
    <thead>
      <tr
        class="col-header-row"
        *ngrxLet="col$ as cols">
        <th
          *ngIf="!cols.selected.hide"
          nzAlign="left"
          nzLeft
          [nzWidth]="cols.selected.width"
          [nzShowCheckbox]="false"
          [nzChecked]="allSelected"
          [nzIndeterminate]="allIndeterminate"
          (nzCheckedChange)="onAllSelected$.next($event)">
          Evidence Item
        </th>
        <th
          *ngIf="!cols.id.hide"
          [nzWidth]="cols.id.width"
          nzColumnKey="id">
          {{ cols.id.name }}
        </th>
        <th
          *ngIf="!cols.evidenceItem.hide"
          [nzWidth]="cols.evidenceItem.width"
          nzColumnKey="evidenceItem">
          {{ cols.evidenceItem.name }}
        </th>
        <th
          *ngIf="!cols.molecularProfile.hide"
          [nzWidth]="cols.molecularProfile.width"
          nzColumnKey="molecularProfile">
          {{ cols.molecularProfile.name }}
        </th>
        <th
          *ngIf="!cols.disease.hide"
          [nzWidth]="cols.disease.width"
          nzColumnKey="disease">
          {{ cols.disease.name }}
        </th>
        <th
          *ngIf="!cols.therapies.hide"
          [nzWidth]="cols.therapies.width"
          nzColumnKey="therapies">
          {{ cols.therapies.name }}
        </th>
        <!-- TODO: INTERACTION TYPE -->
        <!-- TODO: DESCRIPTION -->
        <th
          *ngIf="!cols.evidenceLevel.hide"
          [nzWidth]="cols.evidenceLevel.width"
          nzColumnKey="evidenceLevel">
          {{ cols.evidenceLevel.name }}
        </th>
        <th
          *ngIf="!cols.evidenceType.hide"
          [nzWidth]="cols.evidenceType.width"
          nzColumnKey="evidenceType">
          {{ cols.evidenceType.name }}
        </th>
        <th
          *ngIf="!cols.evidenceDirection.hide"
          [nzWidth]="cols.evidenceDirection.width"
          nzColumnKey="evidenceDirection">
          {{ cols.evidenceDirection.name }}
        </th>
        <th
          *ngIf="!cols.significance.hide"
          [nzWidth]="cols.significance.width"
          nzColumnKey="significance">
          {{ cols.significance.name }}
        </th>
        <th
          *ngIf="!cols.variantOrigin.hide"
          [nzWidth]="cols.variantOrigin.width"
          nzColumnKey="variantOrigin">
          {{ cols.variantOrigin.name }}
        </th>
        <th
          *ngIf="!cols.evidenceRating.hide"
          [nzWidth]="cols.evidenceRating.width"
          nzColumnKey="evidenceRating">
          {{ cols.evidenceRating.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template
        nz-virtual-scroll
        let-row>
        <tr
          class="data-row"
          *ngrxLet="col$ as cols">
          <td
            *ngIf="!cols.selected.hide"
            nzLeft
            [nzChecked]="row.selected"
            nzAlign="left"
            (nzCheckedChange)="
              onRowSelected$.next({ id: row.id, selected: $event })
            ">
            <cvc-entity-tag
              [cvcCacheId]="
                'EvidenceItem' + ':' + row.evidenceItem.id
              "></cvc-entity-tag>
          </td>

          <td *ngIf="!cols.id.hide">
            {{ row.id }}
          </td>

          <td *ngIf="!cols.evidenceItem.hide">
            <cvc-entity-tag
              [cvcCacheId]="
                'EvidenceItem' + ':' + row.evidenceItem.id
              "></cvc-entity-tag>
          </td>

          <td *ngIf="!cols.molecularProfile.hide">
            <cvc-entity-tag
              [cvcCacheId]="
                'MolecularProfile' + ':' + row.molecularProfile.id
              "></cvc-entity-tag>
          </td>

          <td *ngIf="!cols.disease.hide">
            <cvc-entity-tag
              [cvcCacheId]="'Disease' + ':' + row.disease.id"></cvc-entity-tag>
          </td>

          <td *ngIf="!cols.therapies.hide">
            <cvc-entity-tag
              *ngFor="let therapy of row.therapies"
              [cvcCacheId]="'Therapy' + ':' + therapy.id"></cvc-entity-tag>
          </td>

          <td *ngIf="!cols.evidenceLevel.hide">
            {{ row.evidenceLevel }}
          </td>

          <td *ngIf="!cols.evidenceType.hide">
            <cvc-attribute-tag
              [cvcAttrValue]="row.evidenceType"
              [cvcShowLabel]="false"
              [cvcTooltip]="
                row.evidenceType | evidenceEnumDisplay
              "></cvc-attribute-tag>
          </td>

          <td *ngIf="!cols.evidenceDirection.hide">
            <cvc-attribute-tag
              [cvcAttrValue]="row.evidenceDirection"
              [cvcShowLabel]="false"
              [cvcTooltip]="
                row.evidenceDirection | evidenceEnumDisplay
              "></cvc-attribute-tag>
          </td>

          <td *ngIf="!cols.significance.hide">
            <cvc-attribute-tag
              [cvcAttrValue]="row.significance"
              [cvcShowLabel]="false"
              [cvcTooltip]="
                row.significance | evidenceEnumDisplay
              "></cvc-attribute-tag>
          </td>

          <td *ngIf="!cols.variantOrigin.hide">
            <cvc-attribute-tag
              [cvcAttrValue]="row.variantOrigin"
              [cvcShowLabel]="false"
              [cvcTooltip]="
                row.variantOrigin | evidenceEnumDisplay
              "></cvc-attribute-tag>
          </td>

          <td *ngIf="!cols.evidenceRating.hide">
            {{ row.evidenceRating }}
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #emptyCell
  ><span
    nz-typeography
    nzType="secondary"
    >--</span
  ></ng-template
>
<ng-template #cardTitle>Use checkboxes to select or deselect EIDs</ng-template>
