<nz-card [nzTitle]="titleTemplate">
  <nz-table #diseasesTable
    [nzData]="(diseases$ | ngrxPush)"
    [nzLoading]="(isLoading$ | ngrxPush)"
    [nzFrontPagination]="false"
    [nzShowPagination]="false">
    <thead (nzSortOrderChange)="onSortChanged($event)">
      <tr>
        <th nzWidth="20%"
          [nzColumnKey]="sortColumns.Name"
          [nzSortFn]="true">
          Name
        </th>
        <th nzWidth="20%"
          [nzColumnKey]="sortColumns.Doid"
          [nzSortFn]="true">
          DOID
        </th>
        <th nzWidth="30%">
          Genes
        </th>
        <th nzWidth="8%"
          [nzColumnKey]="sortColumns.GeneCount"
          [nzSortFn]="true">
          <i nz-icon
            nzType="civic:gene"
            nz-tooltip
            nzTooltipTitle="Gene Count"></i>
        </th>
        <th nzWidth="8%"
          [nzColumnKey]="sortColumns.VariantCount"
          [nzSortFn]="true">
          <i nz-icon
            nzType="civic:variant"
            nz-tooltip
            nzTooltipTitle="Variant Count"></i>
        </th>
        <th nzWidth="8%"
          [nzColumnKey]="sortColumns.EvidenceItemCount"
          [nzSortFn]="true">
          <i nz-icon
            nzType="civic:evidence"
            nz-tooltip
            nzTooltipTitle="Evidence Count"></i>
        </th>
        <th nzWidth="8%"
          [nzColumnKey]="sortColumns.AssertionCount"
          [nzSortFn]="true">
          <i nz-icon
            nzType="civic:assertion"
            nz-tooltip
            nzTooltipTitle="Assertion Count"></i>
        </th>
      </tr>
      <tr>
        <th>
          <cvc-clearable-input-filter [(inputModel)]="nameInput"
            placeholderText="Name"
            [onInputChanged]="textInputCallback"></cvc-clearable-input-filter>
        </th>
        <th>
          <cvc-clearable-input-filter [(inputModel)]="doidInput"
            placeholderText="DOID"
            [onInputChanged]="textInputCallback"></cvc-clearable-input-filter>
        </th>
        <th>
          <cvc-clearable-input-filter [(inputModel)]="geneNameInput"
            placeholderText="Gene Name"
            [onInputChanged]="textInputCallback"></cvc-clearable-input-filter>
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of diseasesTable.data">
        <td>
          <cvc-disease-tag [disease]="d"></cvc-disease-tag>
        </td>
        <td>
          <cvc-link-tag *ngIf="d.doid; else noDoid"
            [href]="d.diseaseUrl"
            tooltip="View on disease-ontology.org">
            {{ 'DOID:' + d.doid }}
          </cvc-link-tag>

          <ng-template #noDoid>
            --
          </ng-template>
        </td>
        <td>
          <p nz-typography>
            <span *ngFor="let gene of d.geneNames; last as isLast">
                          {{ gene }}{{ isLast ? '' : ', ' }}
                        </span>
          </p>
        </td>
        <td>
          {{ d.geneCount }}
        </td>
        <td>
          {{ d.variantCount }}
        </td>
        <td>
          {{ d.evidenceItemCount }}
        </td>
        <td>
          {{ d.assertionCount }}
        </td>
      </tr>
      <!-- Load More button row -->
      <ng-container *ngrxLet="pageInfo$ as pageInfo">
        <tr *ngIf="pageInfo.hasNextPage">
          <td colspan="7">
            <button *ngIf="pageInfo.hasNextPage"
              (click)="loadMore(pageInfo.endCursor)"
              nz-button
              nzBlock>Load {{this.initialPageSize}} More</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #titleTemplate>
  <i nz-icon nzType="civic:disease"></i>
  <ng-container *ngIf="this.cvcTitleTemplate">
    <ng-template [ngTemplateOutlet]="cvcTitleTemplate"></ng-template>
  </ng-container>
  <ng-container *ngIf="this.cvcTitle">
    {{ this.cvcTitle }}
  </ng-container>
  <span *ngIf="(filteredCount$ | ngrxPush) as filteredCount; else noData" nz-typography nzType="secondary">
    ({{totalCount}} total, showing {{visibleCount}} of {{filteredCount}} filtered)
  </span>
  <ng-template #noData>
    <span nz-typography nzType="secondary">
      (0 total)
    </span>
  </ng-template>
</ng-template>