<div id="popover-content">
  <ng-container *ngIf="comment$ | ngrxPush as c" >
    <nz-card [nzTitle]="cardTitle" nzBordered="false"
      id="card-content">
      <ng-template #cardTitle>
        <span class="comment-card-title">
        <cvc-user-tag [enablePopover]="false" [user]="c.commenter"></cvc-user-tag>commented on
        <ng-container [ngSwitch]="c.commentable.__typename">
          <cvc-gene-tag-r *ngSwitchCase="'Gene'" [enablePopover]="false" [gene]="c.commentable"></cvc-gene-tag-r>
          <cvc-assertion-tag *ngSwitchCase="'Assertion'" [enablePopover]="false" [assertion]="c.commentable"></cvc-assertion-tag>
          <cvc-evidence-tag *ngSwitchCase="'EvidenceItem'" [enablePopover]="false" [evidence]="c.commentable"></cvc-evidence-tag>
          <cvc-variant-tag *ngSwitchCase="'Variant'" [enablePopover]="false" [variant]="c.commentable"></cvc-variant-tag>
          <span *ngSwitchDefault>{{ c.commentable.name }}</span>
        </ng-container>
        {{ c.createdAt | timeago }}
        </span>
      </ng-template>
      <nz-row>
        <nz-col nzSpan="24">
          <div class="popover-text">
            <p nz-typography *ngIf="c.title">
              <b>{{c.title}}</b>
            </p>
            <p>
              {{c.comment}}
            </p>
          </div>
        </nz-col>
      </nz-row>
    </nz-card>
  </ng-container>
</div>
