<ng-container *ngFor="let s of nameSegments">
    <ng-container *ngIf="s.__typename == 'MolecularProfileTextSegment'">
        <span [innerHtml]="s.text">
        </span>&nbsp;
    </ng-container>
    <ng-container *ngIf="s.__typename == 'Gene'">
        <cvc-gene-tag [gene]="s" [enablePopover]="this.enablePopover"></cvc-gene-tag>
    </ng-container>
    <ng-container *ngIf="s.__typename == 'Variant'">
        <cvc-variant-tag [variant]="s" [enablePopover]="this.enablePopover"></cvc-variant-tag>
    </ng-container>
</ng-container>