@import "themes/global-variables.less";

.text-segment {
  display: inline-block;
  margin-right: @margin-sm;
  font-weight: 700;
  color: fade(@black, 60%);
  font-size: @font-size-lg;
  line-height: @font-size-sm;
}
