<nz-card nzTitle="Comments">
  <nz-list [nzDataSource]="commentsService.comments$ | ngrxPush"
    [nzLoading]="commentsService.isLoading$ | ngrxPush"
    [nzRenderItem]="comment"
    nzSize="small"
    nzItemLayout="horizontal">
    <nz-list-header *ngrxLet="commentsService.pageInfo$ as pageInfo">
      <div nz-list-load-more *ngIf="pageInfo.hasPreviousPage">
        <button nz-button nzType="link" nzSize="small" nzBlock (click)="onLoadMore()">Load older comments</button>
      </div>
    </nz-list-header>
    <ng-template #comment let-comment>
      <nz-list-item>
        <cvc-comment-display [comment]="comment.node"></cvc-comment-display>
      </nz-list-item>
    </ng-template>
  </nz-list>
  <cvc-comment-add id="addComment" *ngIf="viewer.canCurate$ | ngrxPush" [subject]="commentsService.subject"></cvc-comment-add>
</nz-card>
<ngx-json-viewer *ngIf="commentsService.comments$ | ngrxPush as comments" [json]="comments" ></ngx-json-viewer>
