@if (props.isMultiInput) {
  <nz-select
    nzMode="tags"
    nzPlaceHolder="Please select"
    nzAllowClear
    [formControl]="formControl"
    [formlyAttributes]="field"
    nzDropdownClassName="hide-dropdown">
    @for (item of formControl.value; track item) {
      <nz-option
        [nzLabel]="item"
        [nzValue]="item"
        [nzHide]="true"></nz-option>
    }
  </nz-select>
} @else if (props.type !== 'number') {
  <input
    nz-input
    #baseInputTxt
    [formControl]="formControl"
    (keydown.enter)="baseInputTxt.blur()"
    [type]="props.type || 'text'"
    [formlyAttributes]="field" />
} @else {
  <nz-input-number
    #baseInputNum
    (keydown.enter)="baseInputNum.blur()"
    [formControl]="formControl"
    [formlyAttributes]="field"></nz-input-number>
}
