:host {
  display: block;
  margin: -8px;
  // border: 1px solid red;
}

.key-col {
  text-align: right;
  font-weight: bold;
}
.button-col {
  text-align: right;
}

.tab-content {
  max-height: 350px;
  overflow-y: auto;
}
