:host {
  display: block;
}

@source-selector-width: 10em;
@input-spacer: 0.5em;

cvc-source-input {
  .formly-form {
    width: 100%;
  }

  .source-type-field {
    display: inline-block;
    width: @source-selector-width;
  }

  .citation-id-field {
    display: inline-block;
    margin-left: @input-spacer;
    width: calc(~'100% - @{source-selector-width} - @{input-spacer}')
  }
}
