<nz-spin [nzSpinning]="mutationState?.isSubmitting$ | ngrxPush">
  @if (mutationState?.submitError$ | ngrxPush; as errors) {
    @if (errors.length > 0) {
      <nz-alert
        nzType="error"
        nzShowIcon
        nzMessage="Error Submitting {{ entityType }}"
        [nzDescription]="errorList"></nz-alert>
    }
    <ng-template #errorList>
      <ul>
        @for (error of errors; track error) {
          <li>
            {{ error }}
          </li>
        }
      </ul>
    </ng-template>
  }
  @if (mutationState?.submitSuccess$ | ngrxPush) {
    <nz-alert
      nzType="success"
      nzShowIcon
      nzMessage="{{ entityType }} Submitted"
      [nzDescription]="successMessage ? successMessage : null"></nz-alert>
  } @else {
    <ng-content></ng-content>
  }
</nz-spin>
