<cvc-section-navigation [actionsTpl]="vargroupActions"> </cvc-section-navigation>
<ng-template #vargroupActions>
  <ng-container *ngrxLet="viewer$ as viewer">
    <button routerLink="/variant-groups/add/submit"
      *ngIf="viewer.signedIn"
      nz-button
      nzSize="small">
      <i nz-icon
        nzType="plus-circle"></i> Submit New Variant Group
    </button>
  </ng-container>
</ng-template>
<nz-page-header class="site-page-header">
  <!--content-->
  <nz-page-header-content>
    <!-- title, description, docs links -->
    <nz-row class="header-content">
      <nz-col nzFlex="64px"
        class="header-icon">
        <i nz-icon
          nzTheme="twotone"
          [nzTwotoneColor]="'VariantGroup' | entityColor"
          nzType="civic-variantgroup"></i>
      </nz-col>
      <nz-col nzFlex="0 1 600px"
        class="header-description">
        <h2>Variant Groups</h2>
        <p nz-typography
          nzEllipsis
          nzExpandable
          [nzEllipsisRows]="2">Variant Groups provide user-defined grouping of Variants within and between genes based on unifying characteristics.</p>
      </nz-col>
      <nz-col nzFlex="auto"
        class="header-links">
        <nz-space nzDirection="vertical"
          class="docs-buttons">
          <a nz-button
            href="https://civic.readthedocs.io/en/latest/model/variant_groups.html"
            target="_blank"
            nzSize="small"
            nzBlock
            *nzSpaceItem>
            <i nz-icon
              nzType="link"
              nzTheme="outline"></i>
            View Variant Group Model Docs
        </a>
          <a nz-button
            href="https://civic.readthedocs.io/en/latest/model/variant_groups.html#curating-variant-groups"
            target="_blank"
            nzSize="small"
            nzBlock
            *nzSpaceItem>
            <i nz-icon
              nzType="link"
              nzTheme="outline"></i>
            View Variant Group Curation Docs
        </a>
        </nz-space>
      </nz-col>
    </nz-row>
    <!-- variant groups table -->
    <div nz-row>
      <div nz-col
        [nzSpan]="24">
        <div class="content">
          <cvc-variant-groups-table cvcTitle="Browse All Variant Groups"></cvc-variant-groups-table>
        </div>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>
