<nz-row>
  <nz-col nzSpan="24">
    <strong>Last Revised</strong> by
    <nz-tag nzColor="blue">
      <i nz-icon nzType="civic-editor"></i>&nbsp;<strong>BobEditor</strong>
    </nz-tag>
    <strong>Last Comment</strong> by
    <nz-tag nzColor="blue">
      <i nz-icon nzType="civic-curator"></i>&nbsp;<strong>AliceCurator</strong>
    </nz-tag>
    <strong>Last Reviewed</strong> by
    <nz-tag nzColor="blue">
      <i nz-icon nzType="civic-admin"></i>&nbsp;<strong>CarolAdmin</strong>
    </nz-tag>
  </nz-col>
</nz-row>
