<ng-container *ngIf="linked; else unlinked">
  <a [routerLink]="disease.link">
    <ng-template [ngTemplateOutlet]="tag"></ng-template>
  </a>
</ng-container>

<ng-template #tag>
  <nz-tag
    [ngClass]="{ deprecated: disease.deprecated }"
    nz-popover
    [nzPopoverMouseEnterDelay]="this.onCloseClicked ? 0 : 0.5"
    [nzPopoverContent]="diseasePopover"
    nzPopoverPlacement="right"
    [nzPopoverTrigger]="enablePopover ? 'hover' : null"
    [nzMode]="this.onCloseClicked ? 'closeable' : 'default'"
    (nzOnClose)="itemClosed($event)">
    <ng-template [ngTemplateOutlet]="tagContent"></ng-template>
  </nz-tag>

  <ng-template #diseasePopover>
    <cvc-disease-popover [diseaseId]="disease.id"></cvc-disease-popover>
  </ng-template>
</ng-template>

<ng-template #unlinked>
  <ng-template [ngTemplateOutlet]="tag"></ng-template>
</ng-template>

<ng-template #tagContent>
  <i
    nz-icon
    nzType="civic-disease"
    nzTheme="twotone"
    nzTwotoneColor="#E62F76"></i>
  <ng-container *ngIf="truncateLongName; else fullName">
    {{ disease.name | truncate : 27 }}
  </ng-container>
  <ng-template #fullName>
    {{ disease.name }}
  </ng-template>
</ng-template>
