<ng-container *ngIf="linked; else unlinked">
  <a [routerLink]="drug.link">
    <ng-template [ngTemplateOutlet]="tag"></ng-template>
  </a>
</ng-container>

<ng-template #tag>
  <nz-tag *ngIf="enablePopover; else noPopover"
    nz-popover
    [nzPopoverMouseEnterDelay]="this.onCloseClicked ? 0 : 0.5"
    [nzPopoverContent]="drugPopover"
    nzPopoverPlacement="right"
    nzPopoverTrigger="hover"
    [nzMode]="this.onCloseClicked ? 'closeable' : 'default'" (nzOnClose)="itemClosed($event)">
    <ng-template [ngTemplateOutlet]="tagContent"></ng-template>
  </nz-tag>

  <ng-template #drugPopover>
    <cvc-drug-popover [drugId]="drug.id"></cvc-drug-popover>
  </ng-template>
</ng-template>

<ng-template #noPopover>
  <nz-tag [nzMode]="this.onCloseClicked ? 'closeable' : 'default'" (nzOnClose)="itemClosed($event)">
    <ng-template [ngTemplateOutlet]="tagContent"></ng-template>
  </nz-tag>
</ng-template>

<ng-template #unlinked>
  <ng-template [ngTemplateOutlet]="tag"></ng-template>
</ng-template>

<ng-template #tagContent>
  <i nz-icon nzType="civic-intervention" nzTheme="twotone" nzTwotoneColor="#AC3996"></i>
  <ng-container *ngIf="truncateLongName; else fullName">
    {{ drug.name | truncate: 21 }}
  </ng-container>
  <ng-template #fullName>
    {{ drug.name }}
  </ng-template>
</ng-template>
