<ng-container *ngIf="contributors">
  <a *ngFor="let u of contributors" routerLink="/users/{{u.user.id}}" class="avatar">
    <nz-avatar [nzSize]="14" nz-popover [nzPopoverMouseEnterDelay]="0.5" [nzPopoverContent]="curatorPopover"
      nzPopoverTrigger="hover" nzPopoverPlacement="bottomRight" nzIcon="user" [nzSrc]="u.user.profileImagePath"
      nzSize="small"></nz-avatar>
    <ng-template #curatorPopover>
      <cvc-user-popover [userId]="u.user.id">
        <ng-template #additionalMetadata>
          <nz-list nzHeader="Activity">
            <nz-list-item>
              Contribution Types:
              <ng-container *ngFor="let a of u.uniqueActions; last as isLast">
                {{a | eventVerbiage:'contributor-card' }}<ng-container *ngIf="! isLast">, </ng-container>
              </ng-container>
            </nz-list-item>
            <nz-list-item>
              Last Contribution:
              {{u.lastActionDate | date }}
            </nz-list-item>
          </nz-list>
        </ng-template>
      </cvc-user-popover>
    </ng-template>
  </a>
</ng-container>