name: Build CIViC Frontend

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string

jobs:
  build_frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          ref: ${{ inputs.branch }}

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          working-directory: ./server
          bundler-cache: true
          ruby-version: '3.0'

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - run: npm install -g yarn
        working-directory: ./client

      - run: yarn install
        working-directory: ./client

      - run: rm -f public/*.js
        working-directory: ./server

      - run: yarn build --prod
        working-directory: ./client

      - run: bundle exec rails assets:precompile
        working-directory: ./server

      - if: ${{ inputs.branch == 'staging' }}
        run: mv -f lib/assets/favicon.staging.ico public/favicon.ico
        working-directory: ./server

      - name: Commit and push build
        uses: EndBug/add-and-commit@v7
        with:
          add: server/public/*
          branch: ${{ inputs.branch }}
          message: Automated frontend build
