<div [ngClass]="{ 'hidden': to.hidden === true }">
    <nz-form-item>
        <ng-container *ngIf="to.label && to.hideLabel !== true">
            <nz-form-label [nzRequired]="to.required && to.hideRequiredMarker !== true" [nzFor]="id">
                <nz-space>
                    <span *nzSpaceItem>{{ to.label }}</span>
                    <ng-container *ngIf="to.helpText">
                        <i *nzSpaceItem nz-icon nzType="question-circle" nzTheme="outline" nz-popover [nzPopoverContent]="help"></i>
                        <ng-template #help>
                            <span [innerHtml]="to.helpText | sanitizeHtml"></span>
                        </ng-template>
                    </ng-container>
                </nz-space>
            </nz-form-label>
        </ng-container>
        <nz-form-control [nzValidateStatus]="errorState" [nzErrorTip]="errorTpl">
            <ng-container #fieldComponent></ng-container>
            <ng-template #errorTpl let-control>
            <formly-validation-message [field]="field"></formly-validation-message>
            </ng-template>
        </nz-form-control>
        <nz-typography nzType="secondary">
            {{to.optionText}}
        </nz-typography>
    </nz-form-item>
</div>