@import '../shared/comment-container.mixin.less';
:host {
  display: block;
}

.comment-container {
  .comment-container-mixin();
  text-decoration: line-through;
  opacity: 0.7; // Optional: to make the struck-through text slightly faded
}
