<nz-page-header class="site-page-header">
  <nz-page-header-title>
    <i nz-icon nzType="civic:intervention"></i>
    Drugs
    <span nz-typography nzType="secondary"  *ngIf="(isLoading$ | ngrxPush)">Loading...</span>
  </nz-page-header-title>

  <nz-page-header-content>
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <div class="content">
          <nz-table #drugsTable
            [nzData]="(drugs$ | ngrxPush)"
            [nzLoading]="(isLoading$ | ngrxPush)"
            [nzFrontPagination]="false"
            [nzShowPagination]="false">

            <thead (nzSortOrderChange)="onSortChanged($event)">
              <tr>
                <th nzWidth="40%" [nzColumnKey]="sortColumns.Name" [nzSortFn]="true">
                  Name
                </th>
                <th nzWidth="40%" [nzColumnKey]="sortColumns.NcitId" [nzSortFn]="true">
                  NCIt ID
                </th>
                <th nzWidth="10%" nzRight [nzColumnKey]="sortColumns.EvidenceItemCount" [nzSortFn]="true"><i nz-icon nzType="civic:evidence" nz-tooltip nzTooltipTitle="Evidence count"></i></th>
                <th nzWidth="10%" nzRight [nzColumnKey]="sortColumns.AssertionCount" [nzSortFn]="true"><i nz-icon nzType="civic:assertion" nz-tooltip nzTooltipTitle="Assertion count"></i></th>
              </tr>
              <tr>
                <th>
                  <cvc-clearable-text-filter [(inputModel)]="nameFilter" placeholderText="Search Name" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                </th>
                <th>
                  <cvc-clearable-text-filter [(inputModel)]="ncitIdFilter" placeholderText="Search NCIt ID" [onInputChanged]="textInputCallback"></cvc-clearable-text-filter>
                </th>
                <th>
                </th>
                <th>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of drugsTable.data">
                <td>
                  <a routerLink="/drugs/{{d.id}}">
                    <cvc-drug-tag [drug]="d"></cvc-drug-tag>
                  </a>
                </td>
                <td>
                  <a *ngIf="d.ncitId; else noNcit" href="https://ncit.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI_Thesaurus&ns=ncit&code={{d.ncitId}}" target="_blank">
                    {{ d.ncitId}}
                  </a>
                  <ng-template #noNcit>--</ng-template>
                </td>
                <td>
                  {{ d.evidenceCount }}
                </td>
                <td>
                  {{ d.assertionCount }}
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>
<ng-container *ngrxLet="pageInfo$ as pageInfo">
  <button *ngIf="pageInfo.hasNextPage" nz-button (click)="loadMore(pageInfo.endCursor)">Load More</button>
</ng-container>