<nz-row id="nav-container" [ngClass]="{ 'has-relations': relationsTpl !== undefined }">

  <!-- breadcrumbs -->
  <nz-col nzSpan="8" id="breadcrumbs">
    <nz-breadcrumb [nzAutoGenerate]="true"
      [nzRouteLabelFn]="getRouteLabel"></nz-breadcrumb>
  </nz-col>

  <!-- relations summary -->
  <nz-col nzSpan="16" id="relations-summary">
    <ng-template [ngTemplateOutlet]="relationsTpl || noRelations"></ng-template>

    <ng-template #noRelations>
      <!-- show nothing if no relations tpl provided -->
    </ng-template>

  </nz-col>

</nz-row>
