<nz-row id="nav-container"
  [ngClass]="{ 'has-relations': relationsTpl !== undefined }">

  <!-- breadcrumbs -->
  <nz-col nzSpan="10"
    id="breadcrumbs">
    <nz-breadcrumb [nzAutoGenerate]="true"
      [nzRouteLabelFn]="getRouteLabel"></nz-breadcrumb>
  </nz-col>

  <!-- entity action buttons -->
  <nz-col *ngIf="actionsTpl"
    [nzSpan]="relationsTpl ? 5 : 14"
    id="action-btns">
    <ng-template [ngTemplateOutlet]="actionsTpl"></ng-template>
  </nz-col>

  <!-- relations summary -->
  <nz-col *ngIf="relationsTpl"
    [nzSpan]="actionsTpl ? 9 : 14"
    id="relations-summary">
    <ng-template [ngTemplateOutlet]="relationsTpl"></ng-template>
  </nz-col>

</nz-row>
