@if (tagStatus) {
  <nz-tag [nzColor]="tagStatus">
    @switch (tagStatus) {
      @case ('success') {
        <i
          nz-icon
          nzType="check-circle"></i>
      }
      @case ('error') {
        <i
          nz-icon
          nzType="close-circle"></i>
      }
      @case ('warning') {
        <i
          nz-icon
          nzType="exclamation-circle"></i>
      }
      @case ('processing') {
        <i nz-icon></i>
      }
      @case ('default') {
        <i nz-icon></i>
      }
    }
    {{ status | titlecase }}
  </nz-tag>
}
